<!--
/**
 * Template overwritten to:
 * - add 'discount' classname to totals
 * Aligned with Magento 2.4.6 at 04/2023
 */
-->
<!-- ko if: isDisplayed() -->
<tr class="totals discount">
    <th colspan="1" style="" class="mark" scope="row">
        <span class="title" data-bind="text: getTitle()"></span>
        <span class="discount coupon" data-bind="text: getCouponLabel()"></span>
    </th>
    <td class="amount" data-bind="attr: {'data-th': title}">
        <span><span class="price" data-bind="text: getValue()"></span></span>
    </td>
</tr>
<!-- /ko -->
