@import 'config/variables';
@import 'vendors/include-media';
@import 'utils/reset-list-style';
@import 'components/pseudoicon/mixin';
@import 'components/button/mixin';
@import 'components/field/mixin';

$aftersearch-nav_gutter: $page_edge-gutter !default;
$aftersearch-nav--mobile_bleed: $page_edge-gutter !default;

$aftersearch-nav_loader-stroke: $color_border-500 !default;

$aftersearch-nav_filters-trigger-background: $color_background-500 !default;
$aftersearch-nav_filters-trigger-background--opened: $color_primary-500 !default;
$aftersearch-nav_filters-trigger-color--opened: $color_text-200 !default;
$aftersearch-nav_filters-trigger-box-shadow: 0 4px 3px -2px rgba(0, 0, 0, 0.15) !default;

$aftersearch-nav_filters-trigger-pseudoicon-width: 1rem !default;
$aftersearch-nav_filters-trigger-pseudoicon-height: 0.2rem !default;
$aftersearch-nav_filters-trigger-pseudoicon-color: currentColor !default;
$aftersearch-nav_filters--expanded-trigger-pseudoicon-color: $color_border-100 !default;

$aftersearch-nav_filter-border: 1px solid $color_border-500 !default;

$aftersearch-nav_filter-font-size: 1.3rem !default;

$aftersearch-nav_filter-title-background: $color_background-500 !default;
$aftersearch-nav_filter-title-pseudoicon-width: 1rem !default;
$aftersearch-nav_filter-title-pseudoicon-height: 0.2rem !default;
$aftersearch-nav_filter-title-pseudoicon-color: currentColor !default;
$aftersearch-nav_filter--hover-title-pseudoicon-color: currentColor !default;
$aftersearch-nav_filter--expanded-title-pseudoicon-color: currentColor !default;

$aftersearch-nav_filter-count-color: $color_text-400 !default;
$aftersearch-nav_filter-count-label-show: false !default;

$aftersearch-nav_show-more-button-type: 'secondary' !default;
$aftersearch-nav_show-more-button-icon-pos: 'no-icon' !default;

$aftersearch-nav--horizontal_item-gutter: 0.8em !default;
$aftersearch-nav--horizontal_item-font-size: 1.1rem !default;
$aftersearch-nav--horizontal_filter-line-height: $button_line-height !default;
$aftersearch-nav--horizontal_filter-padding: $button_padding !default;

$aftersearch-nav--horizontal_filter-title-box-shadow: none !default;
$aftersearch-nav--horizontal_filter-title-box-shadow-opened: 0 0px 10px 0
    rgba(0, 0, 0, 0.15) !default;
$aftersearch-nav--horizontal_filter-title-background-color: $color_background-500 !default;
$aftersearch-nav--horizontal_filter-title-border: 1px solid
    $aftersearch-nav--horizontal_filter-title-background-color !default;
$aftersearch-nav--horizontal_filter-title-background-color-active: $color_background-600 !default;
$aftersearch-nav--horizontal_filter-title-border-active: 1px solid
    $aftersearch-nav--horizontal_filter-title-background-color-active !default;
$aftersearch-nav--horizontal_filter-title-background-color-opened: $color_background-200 !default;
$aftersearch-nav--horizontal_filter-title-border-opened: 1px solid
    $aftersearch-nav--horizontal_filter-title-background-color-opened !default;

$aftersearch-nav--horizontal_filter-content-background: $color_background-200 !default;
$aftersearch-nav--horizontal_filter-content-box-shadow: 0 4px 6px 0
    rgba(0, 0, 0, 0.15) !default;

$aftersearch-nav--horizontal_toggle-button-bottom: false !default;
$aftersearch-nav--horizontal_toggle-button-type: $button_default-type !default;
$aftersearch-nav--horizontal_toggle-button-icon-pos: 'no-icon' !default;

$aftersearch-nav--horizontal_toggle-button-pseudoicon-width: 1rem !default;
$aftersearch-nav--horizontal_toggle-button-pseudoicon-height: 0.2rem !default;
$aftersearch-nav--horizontal_toggle-button-pseudoicon-color: currentColor !default;
$aftersearch-nav--horizontal_toggle-button--hover-pseudoicon-color: currentColor !default;
$aftersearch-nav--horizontal_toggle-button--expanded-pseudoicon-color: currentColor !default;

$aftersearch-nav--horizontal_cols: (
    tablet: 4,
    laptop: 5,
    desktop: 6,
) !default;
$aftersearch-nav--horizontal_rows: (
    tablet: 1,
    laptop: 1,
    desktop: 1,
) !default;

.cs-aftersearch-nav {
    $root: &;
    overflow: visible;
    width: calc(100% + #{$aftersearch-nav--mobile_bleed * 2});
    margin: 0 -#{$aftersearch-nav--mobile_bleed} 3rem;

    @include media('>=tablet') {
        width: auto;
        margin: 0;
    }

    &__loader {
        display: none;
    }

    &__loader-icon {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        stroke: $aftersearch-nav_loader-stroke;
        width: 8rem;
        height: 8rem;
    }

    &__filter-options {
        @include reset-list-style();
    }

    &__filter {
        position: relative;
        margin: 0;

        & + & {
            border-top: $aftersearch-nav_filter-border;

            @include media('>=tablet') {
                border-top: 0;
            }
        }

        &--hide-searchbox {
            .search {
                display: none;
            }
        }

        @include media('>=tablet') {
            padding-bottom: 0;
            border-bottom: $aftersearch-nav_filter-border;
        }

        &--checked {
            &:not(.active) {
                > #{$root}__filter-title {
                    &:after {
                        opacity: 0;
                    }
                }
            }

            > #{$root}__filter-title {
                &:before {
                    background: center no-repeat
                        url('../images/icons/aftersearch-nav/check.svg');
                    height: 1.3rem;
                    width: 1.3rem;
                }
            }
        }
    }

    &__filters-trigger {
        @include pseudoicon(
            $width: $aftersearch-nav_filters-trigger-pseudoicon-width,
            $height: $aftersearch-nav_filters-trigger-pseudoicon-height,
            $color: $aftersearch-nav_filters-trigger-pseudoicon-color,
            $color-expanded:
                $aftersearch-nav_filters--expanded-trigger-pseudoicon-color
        );

        margin: 0;
        display: flex;
        align-items: center;
        padding: 1em;
        background: $aftersearch-nav_filters-trigger-background;
        box-shadow: $aftersearch-nav_filters-trigger-box-shadow;
        transition-property: background-color, color, box-shadow;
        transition-duration: 0.3s;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;

        @include media('>=tablet') {
            display: none;
        }

        &[aria-expanded='true'] {
            background: $aftersearch-nav_filters-trigger-background--opened;
            color: $aftersearch-nav_filters-trigger-color--opened;
        }
    }

    &__filters {
        padding: 0;
        margin: 0;
        overflow: hidden;
        height: 0;

        &[aria-hidden] {
            height: auto;
        }

        @include media('>=tablet') {
            height: auto;
            border-bottom: none;
            overflow: visible;
        }
    }

    &__filter-title {
        @include pseudoicon(
            $width: $aftersearch-nav_filter-title-pseudoicon-width,
            $height: $aftersearch-nav_filter-title-pseudoicon-height,
            $color: $aftersearch-nav_filter-title-pseudoicon-color,
            $color-hover: $aftersearch-nav_filter--hover-title-pseudoicon-color,
            $color-expanded:
                $aftersearch-nav_filter--expanded-title-pseudoicon-color
        );

        font-size: 1.2rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-weight: 700;
        margin: 0;
        overflow: hidden;
        text-decoration: none;
        text-transform: uppercase;
        word-break: break-all;
        z-index: 1;
        width: 100%;
        background: $aftersearch-nav_filter-title-background;
        padding: 1.3rem 3rem 1.3rem $aftersearch-nav_gutter;

        @include media('>=tablet') {
            padding: 2rem 2rem 2rem 0;
            background: transparent;
        }
    }

    &__filter-content {
        width: 100%;
        margin: 0;
        padding: 2rem $aftersearch-nav_gutter;
        display: none;

        @include media('>=tablet') {
            padding: 0 0 2rem;
            width: auto;
        }

        &[aria-hidden] {
            display: block;
        }
    }
    // Filter searchbox container.
    .search {
        font-size: $aftersearch-nav_filter-font-size;
    }
    // Filter searchbox input.
    .filter-search {
        @include field-input();
        margin-bottom: 1rem;
    }

    .items {
        @include reset-list-style();
        columns: 2;

        @include media('>=tablet') {
            padding-top: 0;
            columns: 1;
        }
    }

    .item {
        margin: 1rem 0 0;
        font-size: $aftersearch-nav_filter-font-size;
        page-break-inside: avoid; /* Firefox */
        break-inside: avoid; /* IE 10+ */

        &:first-child {
            margin-top: 0;
        }

        a {
            @include field();
            align-items: center;
            font-size: 1em;
            flex-wrap: nowrap;
            align-content: center;

            &:hover {
                text-decoration: none;
            }
        }

        input[type='checkbox'] {
            @include field-checkbox();
            font-size: 1em;
        }
        // Container for filter name and counter.
        label {
            display: inline;
            align-items: center;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .count {
        display: inline-flex;
        color: $aftersearch-nav_filter-count-color;
        margin-left: 0.2em;

        @if not $aftersearch-nav_filter-count-label-show {
            &:before {
                content: '(';
            }

            &:after {
                content: ')';
            }
        }
    }

    .filter-count-label {
        display: none;

        @if $aftersearch-nav_filter-count-label-show {
            display: inline;
        }
    }

    .no-results-message {
        font-size: $aftersearch-nav_filter-font-size;
    }

    .actions {
        margin-top: 1rem;
    }

    .show-more,
    .show-less {
        @include button(
            $type: $aftersearch-nav_show-more-button-type,
            $icon_pos: $aftersearch-nav_show-more-button-icon-pos
        );
        font-size: $aftersearch-nav_filter-font-size;
    }

    &__toggle-wrapper {
        display: none;
    }

    &--horizontal {
        margin-top: 1rem;

        @include media('>=tablet') {
            z-index: 20;
            padding-bottom: 0;
            margin-bottom: 2rem;
            margin-top: 1rem;

            &#{$root}--expanded {
                #{$root}__filter {
                    display: block !important;
                }
            }

            #{$root}__filters {
                width: 100%;
                border-top: $aftersearch-nav_filter-border;
                border-bottom: $aftersearch-nav_filter-border;
            }

            #{$root}__state {
                width: 100%;
                order: 2;
            }

            #{$root}__filter-options {
                margin-top: $aftersearch-nav--horizontal_item-gutter;
                margin-right: -$aftersearch-nav--horizontal_item-gutter;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            #{$root}__toggle-wrapper {
                margin-right: auto;
                margin-bottom: $aftersearch-nav--horizontal_item-gutter;
            }

            @if $aftersearch-nav--horizontal_toggle-button-bottom {
                #{$root}__filter-options {
                    &:after {
                        content: '';
                        display: block;
                        flex: 1 1 100%;
                        order: 1;
                    }
                }

                #{$root}__filter {
                    order: 1;

                    &:nth-last-child(2) {
                        margin-right: auto;
                    }
                }

                #{$root}__toggle-wrapper {
                    order: 2;
                    margin-left: auto;
                    margin-right: auto;

                    #{$root}__toggle-button {
                        text-align: center;
                    }
                }
            }

            #{$root}__filter {
                border-bottom: none;
                margin: 0 $aftersearch-nav--horizontal_item-gutter
                    $aftersearch-nav--horizontal_item-gutter 0;
            }

            #{$root}__filter-title {
                font-size: 1.4rem;
                overflow: visible;
                background-color: $aftersearch-nav--horizontal_filter-title-background-color;
                line-height: $aftersearch-nav--horizontal_filter-line-height;
                padding: $aftersearch-nav--horizontal_filter-padding;
                border: $aftersearch-nav--horizontal_filter-title-border;
                box-shadow: $aftersearch-nav--horizontal_filter-title-box-shadow;
                transition: box-shadow 0.3s, background 0.3s, border 0.3s;
                word-break: unset;

                &:hover {
                    background-color: $aftersearch-nav--horizontal_filter-title-background-color-active;
                    border: $aftersearch-nav--horizontal_filter-title-border-active;
                }

                &[aria-expanded='true'] {
                    background-color: $aftersearch-nav--horizontal_filter-title-background-color-opened;
                    border: $aftersearch-nav--horizontal_filter-title-border-opened;
                    box-shadow: $aftersearch-nav--horizontal_filter-title-box-shadow-opened;
                }
            }

            #{$root}__filter-title-text {
                font-size: $aftersearch-nav--horizontal_item-font-size;
            }

            #{$root}__toggle-button {
                @include button(
                    $type: $aftersearch-nav--horizontal_toggle-button-type,
                    $icon_pos:
                        $aftersearch-nav--horizontal_toggle-button-icon-pos
                );

                @include pseudoicon(
                    $width:
                        $aftersearch-nav--horizontal_toggle-button-pseudoicon-width,
                    $height:
                        $aftersearch-nav--horizontal_toggle-button-pseudoicon-height,
                    $color:
                        $aftersearch-nav--horizontal_toggle-button-pseudoicon-color,
                    $color-hover:
                        $aftersearch-nav--horizontal_toggle-button--hover-pseudoicon-color,
                    $color-expanded:
                        $aftersearch-nav--horizontal_toggle-button--expanded-pseudoicon-color
                );

                width: 100%;
                border-radius: 0 !important;
                position: relative;
                display: flex;

                &[aria-expanded='true'] {
                    #{$root}__toggle-text {
                        &--less {
                            display: block;
                        }

                        &--more {
                            display: none;
                        }
                    }
                }
            }

            #{$root}__toggle-text {
                font-size: $aftersearch-nav--horizontal_item-font-size;
                text-transform: uppercase;

                &--less {
                    display: none;
                }

                &--more {
                    display: block;
                }
            }

            #{$root}__filter-content {
                position: absolute;
                min-width: 100%;
                background-color: $aftersearch-nav--horizontal_filter-content-background;
                transition: opacity 0.3s ease-in-out;
                overflow: visible; // Setting default for IE 11.
                -ms-overflow-style: -ms-autohiding-scrollbar; // Auto scroll for IE 11.
                overflow-y: auto; // Auto scroll for other browsers.
                opacity: 0;
                box-shadow: $aftersearch-nav--horizontal_filter-content-box-shadow;

                @include media('>=tablet') {
                    padding-bottom: 0;
                }

                &[aria-hidden='false'] {
                    z-index: 6;
                    opacity: 1;
                }

                > div,
                > ol {
                    // Class depends on filter type but it seems to always be one of those 2.
                    padding: 1rem 1.5rem;
                }
                // Align dropdown to the right if it is on the right side of the screen.
                &--align-right {
                    left: auto;
                    right: 0;
                }
            }

            .item:last-child,
            #{$root}__swatch {
                margin-bottom: 0;
            }
        }

        // Filters visibility setup mixin.
        @mixin aftersearch-nav_filters-visibility($cols, $range) {
            #{$root}__filter,
            #{$root}__toggle-wrapper {
                flex-basis: calc(
                    #{100% / $cols} - #{$aftersearch-nav--horizontal_item-gutter}
                );
            }

            #{$root}__filter {
                // Shows first n filters leaving space for "show more" button.
                &:nth-child(-n + #{$range - 1}) {
                    display: block;
                }

                &:nth-child(n + #{$range}) {
                    display: none;
                }

                &:nth-child(#{$range}):nth-last-child(2) {
                    display: block;
                }
            }

            #{$root}__toggle-wrapper {
                &:nth-child(n + #{$range + 2}) {
                    display: block;
                }
            }
        }

        // Calculates layout for elements in horizontal navigation for each breakpoint.
        $num-aftersearch-nav--horizontal_cols: length(
            $aftersearch-nav--horizontal_cols
        );

        @for $i from 1 through $num-aftersearch-nav--horizontal_cols {
            $cols-breakpoint: nth($aftersearch-nav--horizontal_cols, $i);
            $cols-breakpoint_name: nth($cols-breakpoint, 1);
            $cols-breakpoint_value: nth($cols-breakpoint, 2);

            $rows-breakpoint: nth($aftersearch-nav--horizontal_rows, $i);
            $rows-breakpoint_value: nth($rows-breakpoint, 2);

            $elements: $cols-breakpoint_value * $rows-breakpoint_value;
            @if $aftersearch-nav--horizontal_toggle-button-bottom {
                $elements: $elements + 1;
            }

            @if $i == $num-aftersearch-nav--horizontal_cols {
                @include media('>=#{$cols-breakpoint_name}') {
                    @include aftersearch-nav_filters-visibility(
                        $cols-breakpoint_value,
                        $elements
                    );
                }
            } @else {
                $cols-breakpoint-next: nth(
                    $aftersearch-nav--horizontal_cols,
                    $i + 1
                );
                $cols-breakpoint_name-next: nth($cols-breakpoint-next, 1);

                @include media(
                    '>=#{$cols-breakpoint_name}',
                    '<#{$cols-breakpoint_name-next}'
                ) {
                    @include aftersearch-nav_filters-visibility(
                        $cols-breakpoint_value,
                        $elements
                    );
                }
            }
        }
    }
}
