
@include export-once( 'customizations/minicart-product' ) {
    .#{$namespace}minicart-product {
        display: flex;

        &__image-container {
            display: inline-block;
            margin-right: 1rem;
        }
        &__image-wrapper {
            height: auto;
        }

        &__image {
            max-height: 100%;
            width: auto;
        }

        &__name-wrapper {
            margin-bottom: 1.3rem;
        }

        &__name {
            width: 100%;
            padding: 1.5rem 0;
            font-size: 1.5rem;
            font-weight: 700;
            text-decoration: none;
            color: $colorMineShaft;
            margin-bottom: 1.2rem;
        }


        &__options-wrapper {
            margin-top: 1.5rem;
            @include media('>=laptop') {
                display: flex;
                flex-direction: column;
            }
        }

        &__options-group {
            margin: 0 2rem 0 0;
        }

        &__options-label {
            width: 8rem;
            display: inline-block;
            font-size: 1.1rem;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 0;
        }

        &__options-value {
            margin-bottom: 0;
            display: inline-block;
            font-size: 1.2rem;
            color: $colorDoveGray;
        }

        &__price-wrapper {
            padding: 1.3rem 0 1rem;
        }

        &__price {
            color: $colorDoveGray;
            font-weight: 700;
        }

        .price {
            font-size: 1.4rem !important;/* stylelint-disable-line declaration-no-important */
            font-weight: 700;
        }
    }
}
