@import 'config/variables';
@import 'include-media/dist/include-media';

$discount_title-text: $color_dove-gray !default;
$discount_content-text: $color_dove-gray !default;
$discount_border-top: 1px solid $color_alto !default;
$discount_title-icon-after: 'images/button-arrow-dark.png' !default;
$discount_title-icon-color: $color_gray !default;

.#{$ns}discount {
    $root: &;
    
    padding: 1.5rem 1.5rem 0;
    border-top: $discount_border-top;

    @include media('>=laptop') {
        padding: 1.5rem 2rem 0 0;
        border-top: none;
        width: 30rem;
    }

    .#{$ns}checkout {
        padding: 1.5rem;
    }

    .#{$ns}cart-page &:not(:only-child) {
        width: 100%;

        @include media('>=laptop') {
            width: calc(50% - 1.5rem);
        }
    }

    &.aw-giftcard {
        margin-bottom: 0;
    }

    &--gift {
        .checkout-index-index & {
            @include media('<laptop') {
                margin-top: 1.5rem;
            }
        }
    }

    &__content {
        padding: 0.5rem 0 1rem;
        display: none;
    }

    &__title {
        border-top: none;
        padding: 0;

        @include media('>=laptop') {
            margin-bottom: 2rem;
        }

        &:after {
            content: '';
            display: inline-block;
            background-image: url(#{$discount_title-icon-after});
            background-size: contain;
            background-repeat: no-repeat;
            width: 0.6rem;
            height: 1rem;
            transform: rotate(90deg);
            transition: transform 0.3s;
            margin-left: 1rem;
        }

        #{$root}[data-collapsible="true"] & {
            cursor: pointer;
        }

        &[aria-expanded='true'] {
            &:after {
                transform: rotate(-90deg);
            }
        }

        &-text {
            font-size: 1.2rem;
            color: $discount_title-text;
        }
    }

    &__text {
        font-size: 1.2rem;
        color: $discount_content-text;
    }

    &__form {
        padding-top: 1.5rem;
        margin-bottom: 1rem;

        @include media('>=tablet') {
            padding-top: 0.5rem;
        }
    }

    &__trigger-icon {
        margin-left: 1.5rem;
        width: 6px;
        height: 10px;
        fill: $discount_title-icon-color;
        transform: rotate(90deg);
        transition: transform .3s;
        display: none;

        &--animation {
            #{$root}.active & {
                transform: rotate(-90deg);
            }
        }

        #{$root}[data-collapsible="true"] & {
            display: inline;
        }
    }
}
