@import 'config/variables';
@import 'include-media/dist/include-media';
@import 'components/button/mixin';

$discount_title-text: $color_dove-gray !default;
$discount_content-text: $color_dove-gray !default;
$discount_border-top: 1px solid $color_alto !default;
$discount_title-icon-color: $color_gray !default;

$discount_button-type: 'secondary' !default;
$discount_button-icon-pos: $button_default-icon-pos !default;

.#{$ns}discount {
    $root: &;
    
    padding: 1.5rem 1.5rem 0;
    border-top: $discount_border-top;

    @include media('>=laptop') {
        padding: 1.5rem 2rem 0 0;
        border-top: none;
        width: 30rem;
    }

    .#{$ns}cart-page &:not(:only-child) {
        width: 100%;

        @include media('>=laptop') {
            width: calc(50% - 1.5rem);
        }
    }

    &.aw-giftcard {
        margin-bottom: 0;
    }

    &--gift {
        .checkout-index-index & {
            @include media('<laptop') {
                margin-top: 1.5rem;
            }
        }
    }

    &__content {
        padding: 0.5rem 0 1rem;
        display: none;
    }

    &__title, 
    .title {
        border-top: none;
        padding: 0;

        @include media('>=laptop') {
            margin-bottom: 2rem;
        }

        #{$root}[data-collapsible="true"] & {
            cursor: pointer;
        }

        &-text {
            font-size: 1.2rem;
            color: $discount_title-text;
        }
    }

    &__text {
        font-size: 1.2rem;
        color: $discount_content-text;
    }

    &__trigger-icon {
        margin-left: 0.8rem;
        width: auto;
        height: 6px;
        width: 1.2rem;
        transition: transform .3s;
        display: none;
        
        path {
            fill: $discount_title-icon-color;
        }

        &--animation {
            #{$root}.active & {
                transform: rotate(-180deg);
            }
        }

        #{$root}[data-collapsible="true"] & {
            display: inline;
        }
    }
}

.#{$ns}discount, 
.opc-payment-additional {
    button.action {
        @include button(
            $type: $discount_button-type, 
            $icon_pos: $discount_button-icon-pos
        );

        margin-top: 1rem;

        span {
            @include button-span(
                $type: $discount_button-type, 
                $icon_pos: $discount_button-icon-pos
            );
        }

        svg {
            @include button-icon(
                $type: $discount_button-type, 
                $icon_pos: $discount_button-icon-pos
            );
        }
    }
}
