@import 'config/variables';
@import 'include-media/dist/include-media';

$messages_success-background-color: $color_success-200 !default;
$messages_info-background-color: $color_warning-200 !default;
$messages_notice-background-color: $color_warning-200 !default;
$messages_error-background-color: $color_error-200 !default;

$messages_success-border: none !default;
$messages_info-border: none !default;
$messages_notice-border: none !default;
$messages_error-border: none !default;

$messages_border-radius: $border-radius_base !default;
$messages_padding: 1.2rem 1rem 1rem !default;
$messages_text-color: $color_text-500 !default;

.#{$ns}messages {
    $root: &;

    &--space-top {
        margin-top: 1.5rem;
    }

    &__message {
        margin-bottom: 1rem;
        padding: $messages_padding;
        border-radius: $messages_border-radius;
        background-repeat: no-repeat;
        background-position: 1rem center;
        padding-left: 4.3rem;

        &--success {
            background-color: $messages_success-background-color;
            background-image: url('../images/message-success.png');
            border: $messages_success-border;
        }

        &--info {
            background-color: $messages_info-background-color;
            background-image: url('../images/message-info.png');
            border: $messages_info-border;
        }

        &--notice {
            background-color: $messages_notice-background-color;
            background-image: url('../images/message-warning.png');
            border: $messages_notice-border;
        }

        &--error {
            background-color: $messages_error-background-color;
            background-image: url('../images/message-error.png');
            border: $messages_error-border;
        }
    }

    &__text {
        color: $messages_text-color;
        font-size: 1.4rem;
    }
}
