@import 'config/variables';
@import 'vendors/include-media';
@import 'etc/view.scss';
@import 'utils/deep-get/deep-get.scss';
@import 'utils/component-spacing';
@import 'utils/reset-list-style';
@import 'utils/aspect-ratio';
@import 'utils/string-to-number';
@import 'components/typography/mixin';
@import 'components/price-box/variables.scss';

$product-teaser_2col-breakpoint: '>=tablet' !default;

$product-teaser_image-data: deep-get(
    $view-xml,
    media,
    images,
    image,
    product_teaser
) !default;
$product-teaser_image-width: to-number(
    #{map-get($product-teaser_image-data, width)}
) !default;
$product-teaser_image-height: to-number(
    #{map-get($product-teaser_image-data, height)}
) !default;
$product-teaser_image-max-width: ($product-teaser_image-width / 10) * 1rem !default;

$product-teaser_gutter: 2rem !default;
$product-teaser_section-border: 1px solid $color_border-500 !default;

$product-teaser_name-margin: 0 0 $product-teaser_gutter 0 !default;
$product-teaser_name-color: $color_text-800 !default;
$product-teaser_name-color-hover: $color_primary-500 !default;
$product-teaser_name-font-size: $font-size_paragraph !default;
$product-teaser_name-font-weight: 700 !default;

$product-teaser_description-2col-width: 60% !default;
$product-teaser_description-margin: 0 0 $product-teaser_gutter 0 !default;
$product-teaser_description-color: $color_text-800 !default;
$product-teaser_description-font-size: $font-size_paragraph !default;
$product-teaser_description-font-weight: 400 !default;

$product-teaser_swatches-margin: 0 0 $product-teaser_gutter 0 !default;

$product-teaser_price-flex-direction: row-reverse !default; // when 2 prices are displayed, they're using flex for arrangement
$product-teaser_price-flex-wrap: nowrap !default;
$product-teaser_space-between-prices: $price-box_space-between-prices !default;

$product-teaser_normal-price-font-size: $price-box_normal-price-font-size !default;
$product-teaser_old-price-font-size: $price-box_old-price-font-size !default;
$product-teaser_special-price-font-size: $price-box_special-price-font-size !default;

.#{$ns}product-teaser {
    $root: &;

    @include component-spacing();

    display: flex;
    flex-flow: column;
    flex-wrap: wrap;

    @include media(#{$product-teaser_2col-breakpoint}) {
        flex-direction: row;
    }

    &__link,
    &__details {
        flex: 1 1 auto;
        width: 100%;

        .ie11 & {
            max-width: 100%;
        }
    }

    &__link {
        @include media(#{$product-teaser_2col-breakpoint}) {
            margin-bottom: 0;
            flex: 0 0 (100% - $product-teaser_description-2col-width);

            .ie11 & {
                max-width: 100% - $product-teaser_description-2col-width;
            }
        }
    }

    &__thumbnail {
        margin: 0 auto;
        margin-bottom: 2rem;
        max-width: $product-teaser_image-max-width;

        @include aspect-ratio(
            $width: $product-teaser_image-width,
            $height: $product-teaser_image-width,
            $childClass: #{$ns}product-teaser__image,
            $autoposition: true
        );

        @include media(#{$product-teaser_2col-breakpoint}) {
            margin: 0;
            transform: translateX(-50%);
            left: 50%;
        }
    }

    &__details {
        display: flex;
        justify-content: center;
        flex-direction: column;

        @include media(#{$product-teaser_2col-breakpoint}) {
            padding-left: $product-teaser_gutter;
            flex: 0 0 $product-teaser_description-2col-width;

            .ie11 & {
                max-width: $product-teaser_description-2col-width;
            }
        }
    }

    &__name {
        @include link(
            $color: $product-teaser_name-color,
            $color-hover: $product-teaser_name-color-hover
        );

        display: inline-block;
        font-size: $product-teaser_name-font-size;
        font-weight: $product-teaser_name-font-weight;
        margin: $product-teaser_name-margin;
    }

    &__description {
        font-size: $product-teaser_description-font-size;
        font-weight: $product-teaser_description-font-weight;
        color: $product-teaser_description-color;
        margin: $product-teaser_description-margin;

        ul {
            @include reset-list-style();
        }

        li {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__swatches {
        margin: $product-teaser_swatches-margin;
    }

    &__ratings {
        display: flex;
    }

    &__info {
        display: flex;
        flex-direction: column;

        @include media('>=phoneLg') {
            flex-direction: row;
        }
    }

    &__sku {
        &:not(:only-child) {
            @include media('>=phoneLg') {
                border-left: $product-teaser_section-border;
                margin: 0 0 0 ($product-teaser_gutter / 2);
                padding-left: ($product-teaser_gutter / 2);
            }
        }
    }

    &__action {
        margin-top: $product-teaser_gutter;
        padding-top: $product-teaser_gutter;
        border-top: $product-teaser_section-border;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        @include media('>=phoneLg') {
            flex-direction: row;
        }
    }

    &__price {
        .price-box {
            display: flex;
            flex-direction: $product-teaser_price-flex-direction;
            flex-wrap: $product-teaser_price-flex-wrap;

            .price {
                font-size: $product-teaser_normal-price-font-size;
            }

            .old-price {
                .price {
                    font-size: $product-teaser_old-price-font-size;
                }
            }

            .special-price {
                .price {
                    font-size: $product-teaser_special-price-font-size;
                }
            }

            @if ($product-teaser_price-flex-direction == 'row') {
                .special-price {
                    .price {
                        margin-right: $product-teaser_space-between-prices;
                    }
                }
            } @else if ($product-teaser_price-flex-direction == 'row-reverse') {
                .old-price {
                    .price {
                        margin-right: $product-teaser_space-between-prices;
                    }
                }
            }
        }

        .minimal-price {
            display: flex;
            flex-direction: $product-teaser_price-flex-direction;
            flex-wrap: $product-teaser_price-flex-wrap;
            margin: 0;
        }
    }

    &__addtocart {
        margin-top: $product-teaser_gutter;

        @include media('>=phoneLg') {
            margin-top: 0;
        }
    }
}
