@import 'config/variables';
@import 'vendors/include-media';
@import 'utils/component-spacing';

$product-teaser_slogan-font-size: $font-size_headline-2 !default;
$product-teaser_slogan-font-weight: 700 !default;
$product-teaser_subslogan-font-size: $font-size_paragraph !default;
$product-teaser_subslogan-font-weight: 400 !default;

$product-teaser_extra-padding: 1.5rem !default;
$product-teaser_with-border-border: 1px solid $color-border-500 !default;
$product-teaser_with-shadow-shadow: $box-shadow_base !default;

.#{$ns}product-teaser {
    $root: &;

    @include component-spacing();

    &--with-background {
        padding: $product-teaser_extra-padding;
    }

    &--with-border {
        border: $product-teaser_with-border-border;
        padding: $product-teaser_extra-padding;
    }

    &--with-shadow {
        box-shadow: $product-teaser_with-shadow-shadow;
        padding: $product-teaser_extra-padding;
    }

    &__slogan-wrapper {
        div:last-child {
            padding-bottom: 1.5rem;
        }
    }

    &__slogan {
        font-size: $product-teaser_slogan-font-size;
        font-weight: $product-teaser_slogan-font-weight;
        text-align: center;
    }

    &__subslogan {
        font-size: $product-teaser_subslogan-font-size;
        font-weight: $product-teaser_subslogan-font-weight;
        text-align: center;
    }
}
