@function get-gradient-angle($x, $y) {
    @if $x == 1 {
        @if $y == 1 {
            @return 135deg;
        }

        @else if $y == 2 {
            @return 90deg;
        }

        @else if $y == 3 {
            @return 45deg;
        }
    } 

    @else if $x == 2 {
        @if $y == 1 {
            @return 180deg;
        }

        @else if $y == 2 {
            @return 90deg;
        }

        @else if $y == 3 {
            @return 0deg;
        }
    } 

    @else if $x == 3 {
        @if $y == 1 {
            @return -135deg;
        }

        @else if $y == 2 {
            @return -90deg;
        }

        @else if $y == 3 {
            @return -45deg;
        }
    } 

    @else {
        @return 135deg;
    }
}
