// cs-swiper
// Base configuration for all carousels used in our projects
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1
@import 'vendors/swiper';
@import 'config/variables';
@import 'config/breakpoints';
@import 'vendors/include-media';
@import 'utils/reset-list-style';
@import 'components/teaser/mixins/pagination';
@import 'components/teaser/mixins/contrast-optimizers/gradient';
@import 'components/teaser/mixins/contrast-optimizers/text-shadow';

@mixin teaser {
    $root: &;
    position: relative;

    &__wrapper {
        @extend .swiper-container;
    }

    &__slides {
        @extend .swiper-wrapper;
        align-items: stretch;
        margin: 0;
        padding: 0;
        box-sizing: inherit;
    }

    &__slide {
        @extend .swiper-slide;
        @include reset-list-style();
        height: auto;
        display: flex;
        justify-content: center;
    }

    &__figure {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    &__image {
        display: block;
        width: 100%;
    }

    &__nav {
        display: none;
        position: $teaser_nav-button-position;
        top: $teaser_nav-button-position-top;
        transform: $teaser_nav-button-transform;
        transition: $teaser_nav-button-transition;
        z-index: $teaser_nav-button-z-index;
        width: $teaser_nav-button-width;
        height: $teaser_nav-button-height;
        border: $teaser_nav-button-border;
        border-radius: $teaser_nav-button-border-radius;
        background: $teaser_nav-button-background;
        box-shadow: $teaser_nav-button-box-shadow;
        padding: $teaser_nav-button-padding;
        cursor: pointer;
        outline: none;

        &--hidden {
            display: none;
        }

        &--disabled {
            cursor: default;
            display: $teaser_nav-button-disabled-display;
            opacity: $teaser_nav-button-disabled-opacity;
        }

        &--prev {
            left: $teaser_nav-button-horizontal-position;

            @if $teaser_nav-button-horizontal-offset-breakpoint != '' {
                @include media(#{$teaser_nav-button-horizontal-offset-breakpoint}) {
                    left: $teaser_nav-button-horizontal-offset-desktop;
                }
            }
        }

        &--next {
            right: $teaser_nav-button-horizontal-position;

            @if $teaser_nav-button-horizontal-offset-breakpoint != '' {
                @include media(#{$teaser_nav-button-horizontal-offset-breakpoint}) {
                    right: $teaser_nav-button-horizontal-offset-desktop;
                }
            }
        }

        &:hover,
        &:active,
        &:focus {
            background: $teaser_nav-button--hover-background;
            border: $teaser_nav-button--hover-border;
            box-shadow: $teaser_nav-button--hover-box-shadow;
        }

        &:not(&--disabled) {
            #{$root}--ready & {
                display: block;
            }
        }

        @if $teaser_hide-nav-buttons-on-mobile == true {
            @include media('<tablet') {
                display: none !important;
            }
        }
    }

    &__nav-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: $teaser_nav-button-icon-width;
        height: $teaser_nav-button-icon-height;
        fill: $teaser_nav-button-icon-color;

        @if $teaser_nav-button-icon-color != $teaser_nav-button-icon--hover-color {
            #{$root}__nav:hover & {
                fill: $teaser_nav-button-icon--hover-color;
            }
        }
    }

    &__pagination {
        @include bullet-pagination-list();
    }

    &__pagination-item {
        @include bullet-pagination-item();

        &--active {
            @include bullet-pagination-item--active();
        }
    }

    &__pagination-button {
        @include bullet-pagination-button();
    }

    &__number {
        font-weight: $teaser_pagination-numbers-font-weight;

        &--current {
            color: $teaser_pagination-number--current-color;
        }
    }
}
