.#{$ns}modal {
    $root: &;

    &__header {
        padding-bottom: 0 !important; /* stylelint-disable-line declaration-no-important */
        padding-top: 1rem !important; /* stylelint-disable-line declaration-no-important */
        margin-bottom: 2rem;
    }

    &__title {
        padding: 2rem 0 1rem;
        margin-bottom: 2.5rem;
        border-bottom: 1px solid $color_alto;
    }

    &__content {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    &__close {
        padding: 0 !important; /* stylelint-disable-line declaration-no-important */
        margin: 1.5rem !important; /* stylelint-disable-line declaration-no-important */
        z-index: 1000;
    }

    &__inner {
        background: $color_white !important; /* stylelint-disable-line declaration-no-important */
    }

    &__footer {
        padding: 3rem 3rem 1.5rem !important; /* stylelint-disable-line declaration-no-important */
        border-top: 1px solid $color_alto !important; /* stylelint-disable-line declaration-no-important */

        .confirm & {
            @include media('<tablet') {
                flex-wrap: wrap;
            }

            @include media('>=tablet') {
                justify-content: space-between;
            }
        }

        button {
            // @extend .#{$ns}button;
            // @extend .#{$ns}button--look_default;

            .confirm & {
                @include media('<tablet') {
                    width: 100%;
                }
            }
        }

        .action-hide-popup,
        .action-dismiss {
            // @extend .#{$ns}button--look_light;
            padding-right: 2.5rem;
            margin-bottom: 1.5rem;
            min-width: 15rem;

            .page-layout-checkout & {
                @include media('<tablet') {
                    width: 100%;
                    max-width: 40rem;
                }
            }
        }

        .action-save-address,
        .action-accept {
            // @extend .#{$ns}button--look_default;
            padding-right: 2.5rem;
            margin-bottom: 1.5rem;
            min-width: 15rem;

            .page-layout-checkout & {
                @include media('<tablet') {
                    width: 100%;
                    max-width: 40rem;
                }
            }
        }
    }

    .#{$ns}form__field .field-tooltip .field-tooltip-content {
        background: $color_white;
        border: none;
        font-size: 1.1rem;
        padding: 0.3rem 0 0;
        width: 100%;
        display: block;
        left: auto;
        position: static;
        top: auto;
        word-wrap: break-word;
        color: $color_apple;

        &:before,
        &:after {
            display: none;
        }
    }

    .#{$ns}form__field .field-tooltip {
        cursor: default;
        position: static;
    }

    .#{$ns}form__field .field-tooltip-action {
        display: none;
    }

    &.confirm {
        .modal-inner-wrap {
            max-width: 50rem;
        }

        #{$root}__content {
            @extend .#{$ns}t-headline;
            @extend .#{$ns}t-headline--size_2;
            @extend .#{$ns}t-headline--look_light;
            text-align: center;
            margin-top: 1.5rem;
        }

        #{$root}__footer {
            border-top: none !important;
            display: flex;
            justify-content: space-between;
        }
    }

    &__block-authentication {
        display: flex;
        padding: 2rem 0;
        flex-wrap: wrap;
        @include media('>=tablet') {
            flex-wrap: nowrap;
        }
    }

    &__block-authentication-section {
        width: 100%;

        @include media('>=tablet') {
            width: 50%;
            margin-right: 3rem;
        }

        &:nth-child(2n + 2) {
            margin-top: 2rem;
            @include media('>=tablet') {
                margin-right: 0;
                border-left: 1px solid $color_alto;
                padding-left: 2.5rem;
                margin-top: 0;
            }
        }
    }

    //Packstation address fieldset styles fix

    .form-shipping-address {
        .fieldset {
            border: none;
            padding: 0;
            margin: 0;

            .ie11 & {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                flex-wrap: wrap;

                @include media('>=phone-lg') {
                    flex-wrap: nowrap;
                }
            }
        }

        .repertus_address_type_fieldset {
            width: 100%;
        }

        .repertus_address_type_field {
            width: 100%;

            @include media('>=phone-lg', '<tablet') {
                width: 51%;
                padding: 0 1rem 0 0;
                display: inline-block;
            }

            @include media('>=laptop') {
                width: 51%;
                padding: 0 1rem 0 0;
                display: inline-block;
            }
        }

        .repertus_packstation_search_button {
            @include media('>=phone-lg', '<tablet') {
                display: inline-block;
                width: 48%;

                button {
                    width: 100%;
                    margin-bottom: 0.5rem;

                    .ie11 & {
                        margin-bottom: 0;
                    }
                }
            }

            @include media('>=laptop') {
                display: inline-block;
                width: 48%;

                button {
                    width: 100%;
                    margin-bottom: 0.5rem;

                    .ie11 & {
                        margin-bottom: 0;
                    }
                }
            }

            .ie11 & {
                text-align: left;

                @include media('>=phone-lg') {
                    text-align: right;
                }
            }
        }
    }
}

.modal-custom-overlay {
    background: rgba(0, 0, 0, 0.65);
}
