@include export-once( 'customizations/modal' ) {
    .#{$namespace}modal {
        $root: &;

        &__header {
            padding-bottom: 0 !important;/* stylelint-disable-line declaration-no-important */
            padding-top: 1rem !important;/* stylelint-disable-line declaration-no-important */
            margin-bottom: 2rem;
        }

        &__title {
            padding: 2rem 0 1rem;
            margin-bottom: 2.5rem;
            border-bottom: 1px solid $colorAlto;
        }

        &__content {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        &__close {
            padding: 0 !important;/* stylelint-disable-line declaration-no-important */
            margin: 1.5rem !important;/* stylelint-disable-line declaration-no-important */
            z-index: 1000;
        }

        &__inner {
            background: $colorWhite !important;/* stylelint-disable-line declaration-no-important */
        }

        &__footer {
            padding: 3rem 3rem 1.5rem !important;/* stylelint-disable-line declaration-no-important */
            border-top: 1px solid $colorAlto !important;/* stylelint-disable-line declaration-no-important */

            button {
                @extend .#{$namespace}button;
                @extend .#{$namespace}button--look_default;
            }

            .action-hide-popup,
            .action-dismiss {
                @extend .#{$namespace}button--look_light;
                padding-right: 2.5rem;
                margin-bottom: 1.5rem;
                min-width: 15rem;
                .page-layout-checkout & {
                    @include media('<tablet') {
                        width: 100%;
                        max-width: 40rem;
                    }
                }
            }
            .action-save-address,
            .action-accept {
                @extend .#{$namespace}button--look_default;
                padding-right: 2.5rem;
                margin-bottom: 1.5rem;
                min-width: 15rem;
                .page-layout-checkout & {
                    @include media('<tablet') {
                        width: 100%;
                        max-width: 40rem;
                    }
                }
            }
        }

        .#{$namespace}form__field .field-tooltip .field-tooltip-content {
            background: $colorWhite;
            border: none;
            font-size: 1.1rem;
            padding: .3rem 0 0;
            width: 100%;
            display: block;
            left: auto;
            position: static;
            top: auto;
            word-wrap: break-word;
            color: $colorApple;

            &:before,
            &:after {
                display: none;
            }
        }

        .#{$namespace}form__field .field-tooltip {
            cursor: default;
            position: static;
        }

        .#{$namespace}form__field .field-tooltip-action {
            display: none;
        }

        &.confirm {
            .modal-inner-wrap {
                max-width: 50rem;
            }

            #{$root}__content {
                color: $colorMineShaft;
                font-weight: 700;
                text-align: center;
                font-size: 1.7rem;
                margin-top: 1.5rem;
            }

            #{$root}__footer {
                border-top: none !important;
                display: flex;
                justify-content: space-between;
            }

        }
    }

    .modal-custom-overlay {
        background: rgba( 0, 0, 0, .65 );
    }
}
