// pagination
// Pagination component for moving between pages
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1

$ns: 'cs-' !default;

.#{$ns}pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1em 0;

    &__content {
        display: flex;
        width: auto;
        margin: 0 auto;
        align-items: center;
    }

    &__prev-icon,
    &__next-icon {
        width: 24px;
        height: 40px;
        vertical-align: middle;

        &--disabled {
            opacity: .35;
        }
    }

    &__pager {
        margin: 0 1em;
    }

    &__input-wrapper {
        display: inline-block;
    }

    &__input {
        min-width: 2rem;
        text-align: center;
    }
}
