@import 'config/variables';

$vt_disable-pointer-events: true !default;
$vt-pause-button_background-playing: url('../images/icons/video/pause.svg') no-repeat center
    center / 2rem !default;
$vt-pause-button_background-paused: url('../images/icons/video/play.svg') no-repeat center center /
    2rem !default;
$vt-pause-button_border: 1px solid $color_primary-500 !default;
$vt-pause-button_border-radius: $border-radius_base !default;
$vt-pause-button_height: 4rem !default;
$vt-pause-button_width: 4rem !default;
$vt-pause-button_position-x: 'right' !default;
$vt-pause-button_position-y: 'bottom' !default;
$vt-pause-button_position-x-offset: 2rem !default;
$vt-pause-button_position-y-offset: 2rem !default;
$vt-pause-button_z-index: 1 !default;

.#{$ns}image-teaser {
    $root: &;

    &__slide--has-video-teaser {
        #{$root}__picture {
            position: relative;
        }

        // Show text-content and overlays over the video
        // If added on content-wrapper will prevent interaction with video
        #{$root}__content,
        #{$root}__overlay,
        #{$root}__gradient,
        #{$root}__optimizer-container {
            z-index: 1;
        }
    }

    &__play-pause-button {
        background: $vt-pause-button_background-paused;
        border: $vt-pause-button_border;
        border-radius: $vt-pause-button_border-radius;
        cursor: pointer;
        height: $vt-pause-button_height;
        position: absolute;
        width: $vt-pause-button_width;
        #{$vt-pause-button_position-x}: $vt-pause-button_position-x-offset;
        #{$vt-pause-button_position-y}: $vt-pause-button_position-y-offset;
        z-index: $vt-pause-button_z-index;

        &--playing {
            background: $vt-pause-button_background-playing;
        }
    }

    // Render video teaser over the image
    [data-video-teaser] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 1;

        // Hide video placeholder if video is not rendered
        &:empty {
            display: none;
        }
    }

    // If video does not fit image aspect ratio, it will center itself in the container
    [id^='video-teaser'] {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @if $vt_disable-pointer-events {
            pointer-events: none;
        }
    }
}
