@import 'config/variables';

.#{$ns}image-teaser {
    $root: &;

    [data-video-teaser] {
        // Prevent video slipping outside of aspect-ratio
        overflow: hidden;
        position: relative;

        // Safari does not support aspect-ratio, we add padding-top inline in video.phtml
        // For browsers that support aspect-ratio we have to reset padding-top
        @supports (aspect-ratio: 1 / 1) {
            padding-top: unset !important;
        }

        // Hide video placeholder if video is not rendered
        &:empty {
            display: none;
        }

        // Hide image in teaser if video has rendered
        &:not(:empty) + #{$root}__picture {
            display: none;
        }
    }

    [id^='video-teaser'] {
        // If video does not fit image aspect ratio, it will center itself in the container
        width: 100%;
        pointer-events: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
