/**
 * Base font-family that uses the best looking build-in fonts:
 * - Roboto for Android devices,
 * - San-Francisco for Apple devices,
 * - Arial for others.
 *
 * For more information about the mess below see a great resource:
 * @see http://furbo.org/2015/07/09/i-left-my-system-fonts-in-san-francisco/
 * @see https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/#approach-b
 */
/* stylelint-disable value-keyword-case */
$base-font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
$secondary-font-family: 'Libre Franklin', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
/* stylelint-enable */

body {
    /**
     * Set default font-family.
     */
    font-family: $base-font-family;
}
