<div class="cs-payment | payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="cs-payment__title | cs-input cs-input--type-radio">
        <input type="radio"
               name="payment[method]"
               class="cs-input__radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label class="cs-input__label cs-input__label--big" data-bind="attr: {'for': getCode()}">
            <span data-bind="text: getTitle()"></span>
            <span class="cs-input__label-icon-wrapper">
                <svg class="cs-input__label-icon">
                    <use xlink:href="#paypal"></use>
                </svg>
            </span>
        </label>
    </div>

    <div class="cs-payment__content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="cs-payment__billing | payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        
        <div class="fieldset">
			<!-- ko if: isShowImage() -->
				<div class="field payment-image">
					<img data-bind="attr: {'src' : getImageUrl() }" />
				</div>
			<!-- /ko -->
			<!-- ko if: getDescription() -->
				<div class="field payment-description">
					<!-- ko text: getDescription() --><!-- /ko -->
				</div>
			<!-- /ko -->
		</div>
		
		<div class="fieldset customweb-computopcw-payment-form" data-bind="attr: {'id': 'payment_form_' + getCode()}, html: getForm()"></div>
        
        <div class="cs-payment__agreements | checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="cs-payment__buttons">

            <button class="cs-button cs-button--look_default cs-button--type_long | cs-button-payment-method | checkout"
                    type="submit"
                    data-bind="
                    click: placeOrder,
                    attr: {'title': $t('Place Order')},
                    enable: (getCode() == isChecked()),
                    css: {disabled: !isPlaceOrderActionAllowed()}
                    "
                    disabled>
                <span class="cs-button__span" data-bind="i18n: 'Place Order'"></span>
                <svg class="cs-button__icon">
                    <use xlink:href="#arrow_next"></use>
                </svg>
            </button>
        </div>
    </div>
</div>

