
@import '../../../node_modules/creative-patterns/packages/components/review/src/review';

@include export-once( 'customizations/review' ) {
    .#{$namespace}review {
        $root: &;

        font-size: inherit;

        &__title {
            margin-bottom: .25em;
        }

        &__meta {
            margin: 0 0 1em;
            font-size: 1.25rem;
        }

        &__meta-item {
            padding-right: .75em;
        }
    }
}
