@import 'components/review/review';

.#{$ns}review {
    font-size: inherit;

    &__title {
        margin: 0 0 0.5rem;
        color: $color_mineshaft;
    }

    &__rating {
        margin: 0 0 0.5rem;
    }

    &__meta {
        margin: 0 0 2rem;
        font-size: 1.25rem;
    }

    &__author {
        color: $color_mineshaft;
    }

    &__date {
        margin-left: -4px;
        color: $color_gray;
    }

    &__meta-item {
        padding: 0 1rem;
        border-right: 1px solid $color_alto;
    }

    &__content {
        margin: 0;
        color: $color_gray;
    }
}
