@import '../../../node_modules/creative-patterns/packages/components/review/src/review';

.#{$namespace}review {
    font-size: inherit;

    &__title {
        margin: 0 0 .5rem;
        color: $colorMineShaft;
    }

    &__rating {
        margin: 0 0 .5rem;
    }

    &__meta {
        margin: 0 0 2rem;
        font-size: 1.25rem;
    }

    &__author {
        color: $colorMineShaft;
    }

    &__date {
        margin-left: -4px;
        color: $colorGray;
    }

    &__meta-item {
        padding: 0 1rem;
        border-right: 1px solid $colorAlto;
    }

    &__content {
        margin: 0;
        color: $colorGray;
    }
}
