@import 'config/variables';
@import 'vendors/include-media';

@import 'components/badge/mixin';
@import 'components/price-box/variables';

$autocomplete_list-background: $color_text-200 !default;
$autocomplete_list-border-radius: 3px !default;
$autocomplete_list-border: 1px solid $color_border-500 !default;
$autocomplete_list-box-shadow: 0 0 10px 0 rgba($color_text-900, 0.17) !default;

$autocomplete_title-padding: 1.2rem 3rem 1rem 1rem !default;
$autocomplete_title-margin: 0 !default;
$autocomplete_title-border: none !default;
$autocomplete_title-color: $color_text-400 !default;
$autocomplete_title-font-size: 1.29rem !default;
$autocomplete_title-font-weight: 700 !default;

$autocomplete_item-padding: 0.5rem 1rem !default;
$autocomplete_item-margin: 0 !default;
$autocomplete_item-border: 1px solid $color_border-500 !default;
$autocomplete_item-background: $autocomplete_list-background !default;
$autocomplete_item-background-hover: $color_background-500 !default;
$autocomplete_item-thumbnail-width: 4.5rem !default;
$autocomplete_item-thumbnail-height: 4.5rem !default;
$autocomplete_item-font-size: 1.29rem !default;
$autocomplete_item-font-weight: 700 !default;
$autocomplete_item-name-color: $color_text-900 !default;

$autocomplete_item-price-color: $color_primary-500 !default;
$autocomplete_item-price-font-weight: $autocomplete_item-font-weight !default;
$autocomplete_item-quantity-color: $color_text-400 !default;

$autocomplete_item_display-old-price-first: true !default;
$autocomplete_item-normal-price-color: $price-box_normal-price-color !default;
$autocomplete_item-normal-price-font-size: $price-box_normal-price-font-size !default;
$autocomplete_item-normal-price-font-weight: $price-box_normal-price-font-weight !default;
$autocomplete_item-old-price-color: $price-box_old-price-color !default;
$autocomplete_item-old-price-font-size: $price-box_old-price-font-size !default;
$autocomplete_item-old-price-font-weight: $price-box_old-price-font-weight !default;
$autocomplete_item-old-price-text-decoration: $price-box_old-price-text-decoration !default;
$autocomplete_item-special-price-color: $price-box_special-price-color !default;
$autocomplete_item-special-price-font-size: $price-box_special-price-font-size !default;
$autocomplete_item-special-price-font-weight: $price-box_special-price-font-weight !default;

.#{$ns}autocomplete {
    $root: &;

    width: 100%;
    top: 100%;
    left: 0;
    box-sizing: border-box;
    background-color: $autocomplete_list-background;
    border-radius: $autocomplete_list-border-radius;
    box-shadow: $autocomplete_list-box-shadow;
    z-index: 200;
    margin-top: -1px;

    .autocomplete-list dd,
    &__item {
        background: $autocomplete_item-background;
        padding: $autocomplete_item-padding;
        margin: $autocomplete_item-margin;
        border-bottom: $autocomplete_item-border;
        display: flex;
        align-items: center;
        transition: background-color 0.15s linear;
        font-size: $autocomplete_item-font-size;

        @include media('>=tablet', '<laptop') {
            padding: 1rem;
        }

        &:hover,
        &.selected {
            background-color: $autocomplete_item-background-hover;
            cursor: pointer;
        }

        &:last-child {
            border-bottom: none;
        }

        &-image-container {
            padding: 0;
            margin-right: 1rem;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-image {
            width: $autocomplete_item-thumbnail-width;
            height: $autocomplete_item-thumbnail-height;
        }

        &-details {
            flex: 1 1 100%;
            margin: 0;

            img {
                display: block;
            }
        }

        &-name {
            font-size: $autocomplete_item-font-size;
            color: $autocomplete_item-name-color;
            font-weight: $autocomplete_item-font-weight;
        }
    }

    .price-box {
        display: flex;
        margin: 0.3rem 0 0;

        > .price {
            color: $autocomplete_item-normal-price-color;
            font-size: $autocomplete_item-normal-price-font-size;
            font-weight: $autocomplete_item-price-font-weight;
            margin-right: 0;
        }

        .old-price {
            > .price {
                text-decoration: $autocomplete_item-old-price-text-decoration;
                color: $autocomplete_item-old-price-color;
                font-size: $autocomplete_item-old-price-font-size;
                font-weight: $autocomplete_item-old-price-font-weight;
            }
        }

        .special-price {
            > .price {
                color: $autocomplete_item-special-price-color;
                font-size: $autocomplete_item-special-price-font-size;
                font-weight: $autocomplete_item-special-price-font-weight;
            }
        }

        .minimal-price-link {
            display: none;
        }

        @if ($autocomplete_item_display-old-price-first) {
            .old-price {
                order: -1;

                .price {
                    margin-right: $price-box_space-between-prices;
                }
            }
        } @else {
            .special-price {
                .price {
                    margin-right: $price-box_space-between-prices;
                }
            }
        }
    }

    &__badges {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: 1rem;
    }

    &__badge {
        @include badge();

        .ie11 & {
            &:after {
                content: '';
                min-height: inherit;
                font-size: 0;
            }
        }

        & + & {
            margin-top: 0.5rem;
        }

        &--popular {
            @include badge_type('popular');

            #{$root}__badge-text {
                @include badge_span('popular');
            }
        }

        &--free-shipping {
            @include badge_type('free-shipping');

            #{$root}__badge-text {
                @include badge_span('free-shipping');
            }
        }
    }

    &__badge-text {
        @include badge_span();

        @include media('>=phone') {
            white-space: nowrap;
        }
    }
}

.autocomplete-list {
    margin: -1px 0 1rem;
    border-top: $autocomplete_list-border;

    &:first-child {
        border-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .amount {
        color: $autocomplete_item-quantity-color;
        font-size: $autocomplete_item-font-size;
        font-weight: $autocomplete_item-font-weight;
        margin-left: 0.5rem;

        &:not(:empty) {
            &:after {
                content: ')';
            }

            &:before {
                content: '(';
            }
        }
    }
}

.autocomplete-list-title {
    padding: $autocomplete_title-padding;
    border-bottom: $autocomplete_title-border;
    color: $autocomplete_title-color;
    font-weight: $autocomplete_title-font-weight;
    text-transform: uppercase;
    font-size: $autocomplete_title-font-size;
    letter-spacing: 1px;
    margin: $autocomplete_title-margin;

    &:hover,
    &.selected {
        background-color: transparent;
    }

    &:not(:empty) {
        &:first-child {
            border-top: transparent;
        }
    }
}
