@import '../../../../components/container/container';

$namespace: 'cs-';

body {
    overflow-x: hidden;
}

body,
html {
    height: 100%;
}

#maincontent { // stylelint-disable-line
    flex: 1;
}

.page-wrapper {
    @include container-wrapper();
    display: flex;
    flex-direction: column;
    min-height: 100%;

    &--checkout {
        .#{$namespace}information-stripe__item--login {
            display: none;
        }

        .#{$namespace}information-stripe {
            max-width: 95rem;
            margin: 0 auto;
            padding-right: 4rem;
            box-sizing: border-box;
        }
    }
}

.ie11 .page-wrapper {
    display: block;
}

.#{$namespace}checkout-header {

    max-width: 95rem;
    margin: 1.5rem auto 1rem;

    .#{$namespace}logo {
        padding-left: 1.5rem;
        @include media('>=laptop') {
            padding-left: 0;
        }
    }
}

.#{$namespace}cart-page {
    position: relative;
    @include media('<tablet') {
        max-width: 40rem;
        margin: 0 auto;
        width: 100%;
    }
}

.page-main {
    max-width: none !important; // stylelint-disable-line
    padding: 0 !important; // stylelint-disable-line
}

h2 {
    margin: 0 0 .75em;
    font-size: 2.2rem;
    font-weight: 400;
}

.columns .column.main {
    width: auto;
    padding-bottom: 0;
    max-width: 100%;
    min-height: 10rem;
}

.product-info-main .page-title-wrapper .page-title {
    margin: 0;
}

.page-layout-1column {
    .product-info-main {
        width: 100%;

        @include media('>=tablet') {
            width: 40%;
        }

        @include media( '>=laptop' ) {
            width: 30%;
        }
    }
}

.catalog-product-view .column.main {
    @include media('<tablet') {
        padding-top: 15px;
        border-top: 1px solid $colorAlto;
    }

    > section,
    > div {
        order: 3;
    }
}

.catalog-category-view .column.main {
    > .page-title-wrapper {
        @include media('>=tablet') {
            padding-bottom: 1rem;
        }
    }
}

@include media('>=tablet') {
    .page-layout-2columns-left {
        .column.main {
            width: 77.5%;
            padding-left: 50px;
        }
        .sidebar-main,
        .sidebar-additional {
            width: 22.5%;
            padding-right: 40px;
            border-right: 1px solid $colorGallery;
        }
    }
}

// Hide sidebar with products compare, wishlist and last ordered items.
.sidebar-additional {
    display: none;
}
