@import 'components/container/container';
@import 'config/variables';
@import 'components/typography/mixin';

$ns: 'cs-';

body,
html {
    height: 100%;
    max-width: 100vw;
}

.no-scroll {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.no-scroll-child {
    overflow-y: hidden !important; // Overflow has been moved to child element in order to maintain visibility of items in the background
}

#maincontent {
    flex: 1 0 auto;
}

.page-wrapper {
    display: block !important;
    min-height: 100%;

    @include media('>=tablet') {
        display: flex !important;
        flex-direction: column !important;
    }

    @if ($global_header-is-bottom-on-mobile) {
        margin-bottom: $global_header-height-mobile;

        @include media('>=tablet') {
            margin-bottom: 0;
        }
    }
}

.columns .column.main {
    width: auto;
    padding: $main-column_padding-mobile;
    max-width: 100%;
    min-height: 10rem;

    @include media('>=tablet') {
        padding: $main-column_padding;
    }
}

.cms-home .columns .column.main {
    padding: $homepage-main-column_padding-mobile;

    @include media('>=tablet') {
        padding: $homepage-main-column_padding;
    }
}

.page-layout-1column {
    .product-info-wrapper {
        width: 100%;

        @include media('>=tablet') {
            position: absolute;
            right: 0;
            height: 100%;
            width: 40%;
        }

        @include media('>=laptop') {
            width: 30%;
        }
    }
}

@include media('>=tablet') {
    .page-layout-2columns-left {
        .sidebar-main,
        .sidebar-additional {
            width: 22.5%;
            padding-right: 40px;
            border-right: 1px solid $color_gallery;
        }
    }
}

a {
    @include link(
        $color: $link-color_base,
        $color-hover: $link-color_base-hover
    );
}

.gift-options-cart-item {
    display: none;
}

//Paypal module
.paypal-express-review .page-title-wrapper {
    @include media('>=tablet') {
        padding: 0 1.5rem;
    }
}

.paypal-review.view {
    @include media('<laptop') {
        .#{$ns}cart-item__price {
            padding-left: 0 !important;
        }

        .#{$ns}cart-item__subtotal {
            padding-right: 0 !important;
        }
    }

    @include media('>=tablet') {
        padding: 0 1.5rem;
    }
}

.paypal-express-in-context-mini-cart-container {
    margin-top: 1rem;
}

.paypal-review-discount {
    border-bottom: none;
}
