@import '../../../../components/container/container';

.page-wrapper {
    @include container-wrapper();
}

.page-main {
    max-width: none !important; // stylelint-disable-line
    padding: 0 !important; // stylelint-disable-line
}

h2 {
    margin: 0 0 .75em;
    font-size: 2.2rem;
    font-weight: 400;
}

.columns .column.main {
    width: auto;
    padding-bottom: 0;
    margin-bottom: 3em;
}

.product-info-main .page-title-wrapper .page-title {
    margin: 0;
}

@include media('>=tablet') {
    .page-layout-2columns-left {
        .column.main {
            width: 77.5%;
            padding-left: 50px;
        }
        .sidebar-main,
        .sidebar-additional {
            width: 22.5%;
            padding-right: 40px;
            border-right: 1px solid $colorGallery;
        }
    }
}
