.#{$namespace}indicators {
    &__low-stock {
        margin: -0.5rem 0 0.5rem;
        background: $colorAlto;
        padding: 0.7rem 0.8rem;
        border-radius: 4px;
        position: relative;
        color: $colorCeruleanBlue;
        font-size: 1.3rem;

        &:after {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: '';
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: $colorAlto;
            border-width: 7px;
            margin-left: -7px;

            .ie11 {
                bottom: calc(100% - 0.03rem);
            }
        }

        &-icon {
            position: absolute;
            top: 50%;
            margin-top: -1.3rem;
            left: 0.7rem;
            width: 2.4rem;
            height: 2.6rem;
            fill: currentColor;
        }

        &-text {
            display: inline-block;
            padding-left: 3.3rem;
            line-height: 1.25;
        }
    }

    &__recently-bought {
        margin: 1rem 0;
        position: relative;
        color: $colorApple;

        &-icon {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            left: 0;
            width: 2.2rem;
            height: 2.3rem;
            fill: currentColor;
        }

        &-text {
            display: inline-block;
            padding-left: 3.5rem;
            line-height: 1.25;
        }
    }

    &__top-attribute {
        position: absolute;
        top: 0.3rem;
        left: 2.7rem;
    }
}
