@import 'config/variables';
@import 'vendors/include-media';

$indicator_display: flex !default;
$indicator_align-items: center !default;
$indicator_color: $color_success-500 !default;
$indicator_icon-width: 2.4em !default;
$indicator_icon-height: 1.8em !default;
$indicator_icon-margin: 0 1rem 0 0 !default;
$indicator_icon-fill: currentColor !default;
$indicator_headline-text-transform: uppercase !default;
$indicator_headline-font-weight: 600 !default;
$indicator_headline-color: inherit !default;
$indicator_text-display: block !default;
$indicator_text-color: $color_text-400 !default;

@mixin indicator {
    display: $indicator_display;
    color: $indicator_color;

    @if $indicator_display == flex or $indicator_display == inline-flex {
        align-items: $indicator_align-items;
    }
}

@mixin indicator-icon {
    width: $indicator_icon-width;
    height: $indicator_icon-height;
    margin: $indicator_icon-margin;
    fill: $indicator_icon-fill;

    * {
        fill: $indicator_icon-fill;
    }
}

@mixin indicator-headline {
    text-transform: $indicator_headline-text-transform;
    font-weight: $indicator_headline-font-weight;
    color: $indicator_headline-color;
}

@mixin indicator-text {
    display: $indicator_text-display;
    color: $indicator_text-color;
}
