@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../fonts/glyphicons-halflings-regular.eot);
    src: url(../fonts/glyphicons-halflings-regular.eot?#iefix)
            format('embedded-opentype'),
        url(../fonts/glyphicons-halflings-regular.woff) format('woff'),
        url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),
        url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular)
            format('svg');
}

.pccf.default {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 0;
}

.pccf.default button,
.pccf.default input,
.pccf.default select,
.pccf.default textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

.pccf.default button {
    overflow: visible;
}

.pccf.default button,
.pccf.default select {
    text-transform: none;
}

.pccf.default select::-ms-expand {
    display: none !important;
}

.pccf.default button {
    -webkit-appearance: button;
    cursor: pointer;
}

.pccf.default button::-moz-focus-inner,
.pccf.default input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.pccf.default input[type='checkbox'],
.pccf.default input[type='radio'] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.pccf.default input[type='number']::-webkit-inner-spin-button,
.pccf.default input[type='number']::-webkit-outer-spin-button {
    height: auto;
}

.pccf.default input[type='search']::-webkit-search-cancel-button,
.pccf.default input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

.pccf.default textarea {
    overflow: auto;
}

@media print {
    .pccf.default * {
        color: #000;
        text-shadow: none;
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .pccf.default h2,
    .pccf.default h3,
    .pccf.default p {
        orphans: 3;
        widows: 3;
    }

    .pccf.default h2,
    .pccf.default h3 {
        page-break-after: avoid;
    }

    .pccf.default select {
        background: #fff;
    }
}

.pccf.default *,
.pccf.default :after,
.pccf.default :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pccf.default {
    -webkit-tap-highlight-color: transparent;
}

.pccf.default {
    background-color: #fff;
}

.pccf.default button,
.pccf.default input,
.pccf.default select,
.pccf.default textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.pccf.default h1,
.pccf.default h2,
.pccf.default h3,
.pccf.default h4,
.pccf.default h5,
.pccf.default h6 {
    color: #212121;
    font-weight: 700;
    text-transform: uppercase;
}

.pccf.default h1 {
    font-size: 2.6rem;
}

.pccf.default h2 {
    font-size: 1.8rem;
}

.pccf.default h3 {
    font-size: 1.5rem;
}

.pccf.default h4 {
    font-size: 1.1rem;
}

.pccf.default h5 {
    font-size: 1rem;
}

.pccf.default h6 {
    font-size: 0.9rem;
}

.pccf.default .text-center {
    text-align: center;
}

.pccf.default .row {
    margin: 0;
}

.pccf.default .col-lg-6,
.pccf.default .col-lg-8,
.pccf.default .col-md-2,
.pccf.default .col-md-3,
.pccf.default .col-md-4,
.pccf.default .col-md-5,
.pccf.default .col-md-6,
.pccf.default .col-md-8 {
    width: auto;
    float: none;
    position: relative;
    min-height: 1px;
    padding: 0;
    margin: 0;
}

.pccf.default fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.pccf.default legend {
    display: block;
    width: 100%;
    padding: 0 0 0.5rem;
    margin-bottom: 2rem;
    color: #333;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    border-bottom: 1px solid #dcdcdc;
}

.pccf.default label {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
    padding: 0;
    margin: 0;
    white-space: normal;
    position: relative;
}

.pccf.default .control-label {
    display: block;
    width: auto;
    float: none;
    margin-bottom: 0.5rem;
    padding-right: 0.5rem;
    font-weight: 700;
    color: #212121;
}

.pccf .required-control .control-label:after {
    content: '*';
    color: #e41f12;
    font-size: 1.2rem;
    margin: 0 0 0 0.4rem;
}

.pccf.default input[type='checkbox'],
.pccf.default input[type='radio'] {
    margin: 4px 0 0;
    line-height: normal;
}

.pccf.default select[multiple] {
    height: auto;
}

.pccf.default input[type='checkbox']:focus,
.pccf.default input[type='radio']:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}

.pccf.default .form-control {
    display: block;
    width: 100%;
    height: 4rem;
    min-width: 4rem;
    max-width: 800px;
    padding: 0 0.9rem;
    color: #212121;
    font-size: 1.4rem;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color 0.15s linear;
    transition: border-color 0.15s linear;
    background-color: #fff;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    outline: none;
}

.pccf.default .form-control.mage-error {
    border-color: #e41f12;
}

.pccf.default .form-control:focus {
    border-color: #324dcf;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    outline: none;
}

.pccf.default .form-control:hover:not(:disabled):not(:focus) {
    border-color: #324dcf;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    outline: none;
}

.pccf.default .form-control:disabled {
    border-color: #d4d4d4;
    background-color: #f0f0f0;
    cursor: not-allowed;
    opacity: 0.5;
}

.pccf.default .form-control::-moz-placeholder {
    opacity: 1;
}

.pccf.default select:not([multiple]).form-control {
    font-size: 1.4rem;
    width: 100%;
    max-width: 100%;
    padding: 0.7rem 4rem 0.38rem 1rem;
    background-image: url('../../img/dropdown-arrows-bg.png');
    background-size: 3.2rem 3.2rem;
    background-position: right;
    background-repeat: no-repeat;
    min-width: 7rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.pccf.default select:not([multiple]).form-control:disabled {
    background-image: url('../../img/dropdown-arrows-bg.png');
}

.pccf.default
    select:not([multiple]).form-control:hover:not(:disabled):not(:focus),
.pccf.default select:not([multiple]).form-control:focus:not(:disabled) {
    background-image: url('../../img/dropdown-arrows-bg-open.png');
}

.pccf.default select[multiple].form-control {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}

.pccf.default textarea.form-control {
    height: auto;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}

.pccf.default .form-group {
    max-width: 45rem;
    width: 100%;
    margin: 0 0 1.5rem !important;
    font-size: 1rem;
    position: relative;
}

.pccf.default .checkbox,
.pccf.default .radio {
    position: relative;
    width: 100%;
    max-width: 45rem;
    margin-top: 1rem;
}

.pccf.default .checkbox:first-child,
.pccf.default .radio:first-child {
    margin-top: 0rem;
}

.pccf.default .checkbox label,
.pccf.default .radio label {
    display: inline-block;
    min-height: 2rem;
    padding: 0 0 0 3rem;
    margin: 0.2rem 1rem 0 0;
    font-size: 1.2rem;
    color: #888;
    font-weight: 400;
    line-height: 1.7;
    vertical-align: middle;
    vertical-align: -moz-middle-with-baseline;
    cursor: pointer;
}

.pccf.default .radio label {
    padding: 0 0 0 2.5rem;
    margin: 0;
}

.pccf.default .checkbox label:before,
.pccf.default .radio label:before {
    content: '';
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;
    color: transparent;
    text-align: center;
    line-height: 1.2rem;
    text-indent: -2px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 -1px 1px #fff,
        0 1px 0 #fff;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 -1px 1px #fff,
        0 1px 0 #fff;
    border: 1px solid #dcdcdc;
    background-image: none;
    background-color: #fff;
    background-size: 1rem auto;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    will-change: border-color, background-image, content, background-attachment;
}

.pccf.default .radio label:before {
    top: 50%;
    width: 1.65rem;
    height: 1.65rem;
    margin: 0;
    line-height: 1.6rem;
    border-radius: 1.1rem;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

.pccf.default .checkbox label:hover:before,
.pccf.default .radio label:hover:before {
    border-color: #324dcf;
}

.pccf.default .checkbox label.checked:before,
.pccf.default .radio label.checked:before {
    content: '';
    background-image: url('../../img/check@2x.png');
    background-attachment: initial;
}

.pccf.default .radio label.checked:before {
    background-image: none;
}

.pccf.default .radio label.checked:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0.6rem;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: #324dcf;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.pccf.default .checkbox input[type='checkbox'],
.pccf.default .checkbox-inline input[type='checkbox'],
.pccf.default .radio input[type='radio'],
.pccf.default .radio-inline input[type='radio'],
.pccf.default div.newsletter-checkbox input[type='checkbox'] {
    cursor: pointer;
    opacity: 0.01;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    margin: 0;
}

.pccf.default .checkbox + .checkbox,
.pccf.default .radio + .radio {
    margin-top: 1rem;
}

.pccf.default .checkbox-inline,
.pccf.default .radio-inline,
.pccf.default div.newsletter-checkbox input[type='checkbox'] + label {
    display: block;
    min-height: 2rem;
    padding: 0 0 0 3rem;
    margin: 0 1rem 1rem 0;
    font-size: 1.2rem;
    color: #888;
    font-weight: 400;
    line-height: 1.7;
    vertical-align: middle;
    vertical-align: -moz-middle-with-baseline;
    cursor: pointer;
}

@media (min-width: 30em) {
    .pccf.default .checkbox-inline,
    .pccf.default .radio-inline {
        display: inline-block;
    }
}

.pccf.default .radio-inline {
    padding: 0 0 0 2.5rem;
}

@media (min-width: 30em) {
    .pccf.default .radio-inline {
        margin-top: 0;
    }
}

.pccf.default .checkbox-inline:before,
.pccf.default .radio-inline:before,
.pccf.default div.newsletter-checkbox input[type='checkbox'] + label:before {
    content: '';
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;
    color: transparent;
    text-align: center;
    line-height: 1.2rem;
    text-indent: -2px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 -1px 1px #fff,
        0 1px 0 #fff;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 -1px 1px #fff,
        0 1px 0 #fff;
    border: 1px solid #dcdcdc;
    background-image: none;
    background-color: #fff;
    background-size: 1rem auto;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    will-change: border-color, background-image, content, background-attachment;
}

.pccf.default .radio-inline:before {
    top: 50%;
    width: 1.65rem;
    height: 1.65rem;
    margin: 0;
    line-height: 1.6rem;
    border-radius: 1.1rem;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

.pccf.default .checkbox-inline:hover:before,
.pccf.default .radio-inline:hover:before,
.pccf.default
    div.newsletter-checkbox
    input[type='checkbox']
    + label:hover:before {
    border-color: #324dcf;
}

.pccf.default .checkbox-inline.checked:before,
.pccf.default .radio-inline.checked:before,
.pccf.default
    div.newsletter-checkbox
    input[type='checkbox']:checked
    + label:before {
    content: '';
    background-image: url('../../img/check@2x.png');
    background-attachment: initial;
}

.pccf.default .radio-inline.checked:before {
    background-image: none;
}

.pccf.default .radio-inline.checked:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0.6rem;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: #324dcf;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (min-width: 30em) {
    .pccf.default .checkbox-inline + .checkbox-inline,
    .pccf.default .radio-inline + .radio-inline {
        margin-right: 1rem;
    }
}

.pccf.default .help-block {
    position: static;
    display: block;
    width: 100%;
    margin: 0.3rem 0 0;
    padding: 0;
    font-size: 1.2rem;
    color: #888;
    background: #fff;
    border: none;
    word-wrap: break-word;
}

.pccf.default div.newsletter-checkbox p.help-block.not-visible {
    display: none !important;
}

.pccf.default .btn,
button.pccf-popup-btn.action.primary {
    display: inline-block;
    font-size: 1.4rem;
    border-radius: 3px;
    padding: 0.9rem 2.5rem 0.9rem 1.5rem;
    min-width: 12.2rem;
    min-height: 4rem;
    color: #fff;
    fill: #fff;
    border: 1px solid #324dcf;
    background-image: url('../../img/button-arrow-light.png');
    background-position: right 1rem center;
    background-repeat: no-repeat;
    background-color: #324dcf;
    font-weight: 700;
    -webkit-transition: background-color 0.15s linear, border-color 0.15s linear,
        color 0.15s linear;
    transition: background-color 0.15s linear, border-color 0.15s linear,
        color 0.15s linear;
    position: relative;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline-offset: 1px;
    text-decoration: none;
    cursor: pointer;
}

.pccf.default .navbuttons {
    border-top: 1px solid #f0f0f0;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
}

.pccf.default .navbuttons > div {
    margin: 0 !important;
    float: none !important;
}

@media (min-width: 30em) {
    .pccf.default .navbuttons > div {
        margin-left: 1rem !important;
        float: right !important;
    }
}

.pccf.default .btn.prev,
.pccf.default .btn.next {
    min-width: 100%;
    margin-bottom: 1.5rem;
    color: #324dcf;
    background-image: url('../../img/button-arrow-dark.png');
    background-size: 0.6rem 1rem;
    background-color: #fff;
}

@media (min-width: 30em) {
    .pccf.default .btn.prev,
    .pccf.default .btn.next {
        min-width: 12.2rem;
    }
}

.pccf.default .btn.prev {
    padding-left: 2.5rem;
    padding-right: 1.5rem;
    background-image: none;
}

.pccf.default .btn.prev:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 1rem;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
    width: 0.6rem;
    height: 1rem;
    background-image: url('../../img/button-arrow-dark.png');
    background-size: 0.6rem 1rem;
    background-position: center;
    background-repeat: no-repeat;
}

.pccf.default .btn.prev:hover:before,
.pccf.default .btn.next:hover {
    background-image: url('../../img/button-arrow-light.png');
}

@media (min-width: 30em) {
    .pccf.default .btn,
    button.pccf-popup-btn.action.primary {
        padding: 0.9rem 3.5rem 0.9rem 2.5rem;
    }

    .pccf.default .btn.prev {
        padding-left: 3.5rem;
        padding-right: 2.5rem;
    }
}

.pccf.default .btn:active:focus,
.pccf.default .btn:focus,
button.pccf-popup-btn.action.primary:active:focus,
button.pccf-popup-btn.action.primary:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}

.pccf.default .btn:focus,
.pccf.default .btn:hover,
button.pccf-popup-btn.action.primary:focus,
button.pccf-popup-btn.action.primary:hover {
    text-decoration: none;
    color: #fff;
    background-color: #142b9e;
    border-color: #142b9e;
}

.pccf.default .btn:active,
button.pccf-popup-btn.action.primary:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.pccf.default .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.pccf.default .input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.pccf.default .input-group .form-control,
.pccf.default .input-group-addon {
    display: table-cell;
}

.pccf.default .input-group-addon {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.pccf.default .input-group-addon {
    height: 4rem;
    padding: 0.6rem 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    color: #212121;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
}

.pccf.default .input-group-addon input[type='checkbox'] {
    margin-top: 0;
    width: auto;
}

.pccf.default .input-group .form-control:first-child,
.pccf.default .input-group-addon:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pccf.default .input-group-addon:first-child {
    border-right: 0;
}

.pccf.default.rtl .input-group-addon:first-child {
    border-left: 0;
    border-right: 1px solid #ccc;
}

.pccf.default .input-group .form-control:last-child,
.pccf.default .input-group-addon:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pccf.default .input-group-addon:last-child {
    border-left: 0;
}

.pccf.default.rtl .input-group-addon:last-child {
    border-right: 0;
    border-left: 1px solid #ccc;
}

.pccf.default .messages {
    padding: 0;
}

.pccf.default .alert {
    padding: 1.2rem 1rem 1rem;
    padding-left: 4.3rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    background-repeat: no-repeat;
    background-position: 1rem center;
}

.pccf.default .alert-success {
    color: #696969;
    background-color: #d5efd7;
    background-image: url('../../img/message-success.png');
}

.pccf.default .alert-info {
    color: #696969;
    background-color: #fdf4ca;
    background-image: url('../../img/message-info.png');
}

.pccf.default .alert-warning {
    color: #696969;
    background-color: #fdf4ca;
    background-image: url('../../img/message-warning.png');
}

.pccf.default .alert-danger {
    color: #696969;
    background-color: #f8d0ce;
    background-image: url('../../img/message-error.png');
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

@-o-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

.pccf.default .panel {
    margin-bottom: 2rem;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.pccf.default .panel-heading {
    padding: 1rem 3rem;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.catalog-product-view .pccf.default .panel-heading {
    padding: 2.5rem 1.5rem;
}

@media (min-width: 48em) {
    .catalog-product-view .pccf.default .panel-heading {
        padding: 1rem 3rem;
    }
}

.pccf.default .panel-body {
    padding: 1.5rem 1.5rem 0;
}

@media (min-width: 48em) {
    .pccf.default .panel-body {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.catalog-product-view .pccf.default .panel-body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (min-width: 48em) {
    .catalog-product-view .pccf.default .panel-body {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.pccf.default .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    color: inherit;
}

.catalog-product-view .pccf.default .panel-title {
    text-align: left;
    font-size: 1.4rem;
}

@media (min-width: 48em) {
    .catalog-product-view .pccf.default .panel-title {
        text-align: center;
        font-size: 1.5rem;
    }
}

.pccf.default .panel-default {
    border-color: #f0f0f0;
}

.pccf.default .panel-default > .panel-heading {
    color: #333;
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}

.pccf.default .panel-primary {
    border-color: #324dcf;
}

.pccf.default .panel-primary > .panel-heading {
    color: #fff;
    background-color: #324dcf;
    border-color: #324dcf;
}

.pccf.default .panel-success {
    border-color: #d5efd7;
}

.pccf.default .panel-success > .panel-heading {
    color: #212121;
    background-color: #d5efd7;
    border-color: #d5efd7;
}

.pccf.default .panel-info {
    border-color: #bce8f1;
}

.pccf.default .panel-info > .panel-heading {
    color: #212121;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.pccf.default .panel-warning {
    border-color: #fdf4ca;
}

.pccf.default .panel-warning > .panel-heading {
    color: #212121;
    background-color: #fdf4ca;
    border-color: #fdf4ca;
}

.pccf.default .well {
    min-height: 2rem;
    padding: 0;
    margin-bottom: 1.5rem;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.pccf.default .form-horizontal .form-group:after,
.pccf.default .form-horizontal .form-group:before,
.pccf.default .row:after,
.pccf.default .row:before,
.pccf.default .navbuttons:after,
.pccf.default .navbuttons:before {
    display: table;
    content: ' ';
}

.pccf.default .form-horizontal .form-group:after,
.pccf.default .row:after,
.pccf.default .navbuttons:after {
    clear: both;
}

@-ms-viewport {
    width: device-width;
}

@media (max-width: 992px) {
    .pccf fieldset {
        padding: 10px;
    }
}

.pccf .col-lg-8 > p {
    clear: both;
}

.pccf textarea {
    width: 100%;
    max-width: 100%;
}

/* navigation inactive item */
.pccf.default .nav-wizard {
    padding: 0;
}

.pccf.default .nav-wizard > li:before {
    display: none;
}

.pccf.default .nav-wizard > li > a {
    color: #212121;
    font-weight: 400;
    background-color: #f0f0f0;
}
.pccf.default .nav-wizard > li:first-child > a {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pccf.default .nav-wizard > li:last-child > a {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.pccf.default .nav-wizard > li:not(:last-child) > a:after {
    border-left: 20px solid #eee;
}

/* navigation active item */
.pccf.default .nav-wizard > li.active > a:after {
    border-left-color: #fed400;
}

.pccf.default .nav-wizard > li.active > a,
.pccf.default .nav-wizard > li.active > a:hover,
.pccf.default .nav-wizard > li.active > a:focus {
    color: #212121;
    background-color: #fed400;
}

/* navigation background */
.pccf.default .well .nav-wizard > li:not(:first-child) > a:before {
    border-left: 20px solid #fff;
}

.pccf.default .panel .nav-wizard > li:not(:first-child) > a:before {
    border-left: 20px solid #fff;
}

/* small navigation inactive tab */
.pccf.smallnav.default .nav-wizard > li:before {
    display: inline-block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #333;
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
    margin: 0;
    background: transparent;
    border: none;
    z-index: 10;
}

.pccf.smallnav.default .nav-wizard > li:after {
    content: '';
    display: inline-block;
    width: 3.3rem;
    height: 2.7rem;
    background: #f0f0f0;
    border: none;
    border-radius: 3px;
    -webkit-transform: skew(-18deg);
    transform: skew(-18deg);
}

.pccf.smallnav.default .nav-wizard > li > a {
    position: absolute;
    top: 11px;
    display: block;
    text-indent: -9999px;
    width: 100%;
    height: 8px;
    padding: 0;
    font-family: inherit;
    border-radius: 0;
}

.pccf.smallnav.default .nav-wizard > li > a:after,
.pccf.smallnav.default .nav-wizard > li > a:before {
    display: none;
}

.pccf.smallnav.default .nav-wizard > li:hover:after,
.pccf.smallnav.default .nav-wizard > li:hover > a {
    background: #ffea7f;
}

.pccf.smallnav.default .nav-wizard > li:first-child > a {
    border-radius: 0;
    margin: 0;
}

.pccf.smallnav.default .nav-wizard > li:not(:last-child) > a {
    margin: 0;
}

/* small navigation active tab */
.pccf.smallnav.default .nav-wizard > li.active:before {
    color: #333;
    background: transparent;
    border: none;
}
.pccf.smallnav.default .nav-wizard > li.active:after,
.pccf.smallnav.default .nav-wizard > li.active > a {
    background: #fed400;
}

.pccf.smallnav.default .nav-wizard > li.active:hover:after,
.pccf.smallnav.default .nav-wizard > li.active:hover > a {
    background: #ffea7f;
}

/* small navigation background */
.pccf.smallnav.default ul.nav-wizard:before {
    border-radius: 0;
    background: #eee;
}

.pccf.default .nav-wizard > li,
.pccf.smallnav.default .nav-wizard > li {
    width: auto;
    padding: 0;
}

.pccf.default .panel .nav-wizard > li:first-child > a {
    margin-left: 0;
}

/* visualCaptcha */
.visualCaptcha-possibilities img,
.visualCaptcha-refresh-button img,
.visualCaptcha-accessibility-button img {
    margin: 0 !important;
}

.vcaptcha p.visualCaptcha-explanation {
    margin: 0.6rem 0 !important;
}

/* Bootstrap datetime picker */
@media (min-width: 768px) {
    .pccf.default
        .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width: 23em;
    }
}

@media (min-width: 992px) {
    .pccf.default
        .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width: 19em;
    }
}

// grid
.pccf.default .bootstrap-datetimepicker-widget .row {
    margin-right: -15px !important;
    margin-left: -15px !important;
}
.pccf.default .bootstrap-datetimepicker-widget .col-lg-6,
.pccf.default .bootstrap-datetimepicker-widget .col-lg-8,
.pccf.default .bootstrap-datetimepicker-widget .col-md-2,
.pccf.default .bootstrap-datetimepicker-widget .col-md-3,
.pccf.default .bootstrap-datetimepicker-widget .col-md-4,
.pccf.default .bootstrap-datetimepicker-widget .col-md-5,
.pccf.default .bootstrap-datetimepicker-widget .col-md-6,
.pccf.default .bootstrap-datetimepicker-widget .col-md-8 {
    position: relative !important;
    min-height: 1px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

@media (min-width: 992px) {
    .pccf.default .bootstrap-datetimepicker-widget .col-md-2,
    .pccf.default .bootstrap-datetimepicker-widget .col-md-3,
    .pccf.default .bootstrap-datetimepicker-widget .col-md-4,
    .pccf.default .bootstrap-datetimepicker-widget .col-md-5,
    .pccf.default .bootstrap-datetimepicker-widget .col-md-6,
    .pccf.default .bootstrap-datetimepicker-widget .col-md-8 {
        float: left !important;
    }
    .pccf.default .bootstrap-datetimepicker-widget .col-md-8 {
        width: 66.66666667% !important;
    }
    .pccf.default .bootstrap-datetimepicker-widget .col-md-6 {
        width: 100% !important;
    }
    .pccf.default .bootstrap-datetimepicker-widget .col-md-5 {
        width: 41.66666667% !important;
    }
    .pccf.default .bootstrap-datetimepicker-widget .col-md-4 {
        width: 33.33333333% !important;
    }
    .pccf.default .bootstrap-datetimepicker-widget .col-md-3 {
        width: 25% !important;
    }
    .pccf.default .bootstrap-datetimepicker-widget .col-md-2 {
        width: 16.66666667% !important;
    }
}

@media (min-width: 1200px) {
    .pccf.default .bootstrap-datetimepicker-widget .col-lg-6,
    .pccf.default .bootstrap-datetimepicker-widget .col-lg-8 {
        float: left !important;
    }
    .pccf.default .bootstrap-datetimepicker-widget .col-lg-8 {
        width: 66.66666667% !important;
    }
    .pccf.default .bootstrap-datetimepicker-widget .col-lg-6 {
        width: 50% !important;
    }
}

.pccf.default .bootstrap-datetimepicker-widget .list-unstyled {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pccf.default .bootstrap-datetimepicker-widget .list-unstyled li {
    padding: 0 !important;
}

.pccf.default .bootstrap-datetimepicker-widget .list-unstyled li:before {
    display: none !important;
}

/* form elements */
.pccf.default .bootstrap-datetimepicker-widget a.btn,
.pccf.default .bootstrap-datetimepicker-widget button.btn {
    padding: 0.6rem 1.2rem !important;
    min-height: auto !important;
    min-width: auto !important;
}

.pccf.default .bootstrap-datetimepicker-widget a.btn {
    display: inline-block !important;
    min-width: 0 !important;
    min-height: 0 !important;
    margin-bottom: 0 !important;
    padding: 0.6rem !important;
    color: #000 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.42857143 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    background-image: none !important;
    background-color: transparent !important;
    border-color: transparent !important;
    border: 1px solid transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 4px !important;
}

.pccf.default .bootstrap-datetimepicker-widget a.btn:hover,
.pccf.default .bootstrap-datetimepicker-widget a.btn:focus,
.pccf.default .bootstrap-datetimepicker-widget a.btn:active {
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.pccf.default .bootstrap-datetimepicker-widget button.btn-primary {
    min-width: 0;
    min-height: 0;
    padding: 0.6rem;
    line-height: 1.42857143;
    background-color: #428bca !important;
    border-color: #357ebd !important;
    background-image: none !important;
}

.pccf.default .bootstrap-datetimepicker-widget button.btn-primary:hover,
.pccf.default
    .bootstrap-datetimepicker-widget
    button.btn-primary:active
    .pccf.default
    .bootstrap-datetimepicker-widget
    button.btn-primary:focus {
    background-color: #3071a9 !important;
    border-color: #285e8e !important;
    background-image: none !important;
}

.pccf.default .bootstrap-datetimepicker-widget table td span {
    line-height: 34px;
}

/* Sections */
.pccf.default .column_1_wrap {
    float: none;
    padding: 0;
}
.pccf.default .pcform-section {
    float: none;
    width: auto;
}
.pccf.default .pcform-section .sectiontitle {
    margin-top: 1rem;
}

@media (min-width: 80em) {
    .pccf.default .pcform-section .sectiontitle {
        width: 86%;
    }
}

.pccf.default .pcform-section .sectiontitle h4 {
    font-size: 1.5rem;
}

.pccf.default .pcform-section .sectioncontents {
    float: none;
    padding: 0;
}

.pccf[id].default .pcform-section.column_1 .sectioncontents {
    padding: 0;
    width: 100%;
}

@media (min-width: 48em) {
    .pccf[id].default .pcform-section.column_1 .sectioncontents {
        width: 47%;
    }
}

@media (min-width: 80em) {
    .pccf[id].default .pcform-section.column_1 .sectioncontents {
        width: 43%;
    }
}

.pccf[id].default .pcform-section.column_1 {
    width: auto;
}

.pccf[id].default .pcform-section.column_1 .col-md-6.datepicker {
    width: 100% !important;
}

@media (min-width: 48em) {
    .pccf.default .pcform-section.columns_2 .sectioncontents {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

@media (min-width: 80em) {
    .pccf.default .pcform-section.columns_2 .sectioncontents {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

@media (min-width: 48em) {
    .pccf.default .pcform-section.columns_2 .sectioncontents > .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 47%;
        flex: 0 1 47%;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }

    .pccf.default
        .pcform-section.columns_2
        .sectioncontents
        > .col-md-6:first-child {
        padding-right: 3rem;
    }
}

@media (min-width: 80em) {
    .pccf.default .pcform-section.columns_2 .sectioncontents > .col-md-6 {
        -ms-flex-preferred-size: 43%;
        flex-basis: 43%;
    }
}

/* Modal - pop'up */
.ajs-dialog .pccf.default .col-md-6 {
    width: 100% !important;
}

/* Slide out */
.pccf_slideoutlink.iconmail:hover {
    padding: 0.4rem 0.7rem;
}

/* PDP - Main Content Area */
.catalog-product-view .pc-contact-form-1 {
    width: 100vw;
    margin: 0 calc(((100vw - 100%) / 2) * -1);
    padding: 0;
    max-width: 189rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: 1890px) {
    .catalog-product-view .pc-contact-form-1 {
        margin: 0 -34.5rem;
    }
}

.catalog-product-view .pc-contact-form-1 > div {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

@media (min-width: 48em) {
    .catalog-product-view .pc-contact-form-1 > div {
        padding: 0 1.5rem;
    }
}

@media (min-width: 48em) {
    .catalog-product-view .pc-contact-form-1 .pccf.default {
        padding: 2.15rem 0 3rem;
    }
}

@media (min-width: 64em) {
    .catalog-product-view .pc-contact-form-1 .pccf.default {
        margin-right: 35%;
    }
}
