// separator
// This component is responsible for displaying separator on M2C&#x27;s page storefront
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1
@mixin separator() {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    height: calc( 4rem + 1px );
    clear: both;

    &:after {
        position: absolute;
        top: 2rem;
        left: 0;
        width: 100%;
        height: 1px;
        background: #e9e9e9;
        content: '';
    }
}
