{% set visibilityClass = '' %}
{% if componentVisibility and componentVisibility.mobile == false %}
    {% set visibilityClass = 'cs-display-controller--hidden-mobile ' %}
{% endif %}
{% if componentVisibility and componentVisibility.desktop == false %}
    {% set visibilityClass = visibilityClass ~ 'cs-display-controller--hidden-desktop ' %}
{% endif %}

<div class="{{ visibilityClass }}">
    <hr class="cs-separator {{ mix }}">
</div>
