@import 'config/variables';

$separator_background: $color_border-500 !default;

.cs-separator {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    height: 4.01em;
    clear: both;
    font-size: 1rem;

    &:after {
        content: '';
        position: absolute;
        top: 2em;
        left: 0;
        width: 100%;
        height: 1px;
        background: $separator_background;
    }
}
