@import '../../../node_modules/creative-patterns/packages/components/cs-button/src/cs-button';

.#{$namespace}button {
    $root: &;

    font-size: 1.4rem;
    border-radius: 3px;
    padding: .9rem 2.2rem .9rem 1.5rem;
    min-width: 12.2rem;
    color: $colorWhite;
    border-color: $colorCeruleanBlue;
    background: $colorCeruleanBlue;
    font-weight: 700;
    transition: background-color .15s linear, border-color .15s linear, color .15s linear;
    position: relative;
    text-align: center;
    display: inline-block;
    min-height: 4rem;
    box-sizing: border-box;

    @include media('>=phone-lg') {
        padding: .9rem 2.5rem;
    }

    &:focus,
    &:active {
        color: $colorWhite;
        border-color: $colorCeruleanBlueHover;
        background-color: $colorCeruleanBlueHover;
        box-shadow: none;
    }

    &:visited {
        color: $colorWhite;
    }

    &--look {
        &_default {
            color: $colorWhite;
            border-color: $colorCeruleanBlue;
            background-color: $colorCeruleanBlue;
            &:hover {
                border: 1px solid $colorCeruleanBlueHover;
                color: $colorWhite;
                border-color: $colorCeruleanBlue;
                background-color: $colorCeruleanBlue;

                &:active,
                &:focus {
                    color: $colorWhite;
                    border-color: $colorCeruleanBlue;
                    background: $colorCeruleanBlue;
                }
                &:hover {
                    background-color: $colorCeruleanBlueHover;
                    border: 1px solid $colorCeruleanBlueHover;
                    color: $colorWhite;
                }
            }
        }

        &_light {
            background: transparent;
            color: $colorCeruleanBlue;
            fill: $colorCeruleanBlue;

            &:hover {
                background-color: $colorCeruleanBlueHover;
                border: 1px solid $colorCeruleanBlueHover;
                color: $colorWhite;
                fill: $colorWhite;
            }
        }

        &_square {
            min-width: 7rem;
        }

        &_remove {
            width: 3.1rem;
            height: 2.9rem;
            border: 1px solid $colorGray;
            border-radius: 3px;
            display: inline-block;

            &:hover {
                border: 1px solid $colorCeruleanBlueHover;
            }
        }


        &_on-input {
            min-width: 5rem;
            height: 100%;
            position: relative;
            padding: 0;
            cursor: pointer;
            transform: skew( -18deg ) translateX( 1rem );
            opacity: 1 !important;/* stylelint-disable-line declaration-no-important */
            border-radius: 0;
            backface-visibility: hidden;
            border: none;

            &:hover {
                border: none;
            }

            #{$root}__icon {
                transform: skew( 18deg ) translate( -50%, -50% );
            }

            &[ disabled ] {
                &:hover {
                    background-color: $colorCeruleanBlueHover;
                    /* stylelint-disable*/
                    &:before {
                        background-color: $colorCeruleanBlueHover;
                    }
                    /* stylelint-enable*/
                }
            }
        }
    }

    &--size {
        &_300 {
            line-height: 1.2rem;
            font-size: 1.2rem;
            max-height: 3rem;
            min-height: 3rem;
            min-width: 11rem;
            @include media('>=phone-lg') {
                padding: .8rem 2.5rem;
            }
        }
    }

    &--type {

        &_long {
            position: relative;
            overflow: hidden;
            min-width: 17rem;
            padding-right: 6rem;
            text-indent: 2rem;
            &:after {
                content: '';
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 200;
                width: 5rem;
                height: 100%;
                overflow: hidden;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                background: $colorCeruleanBlueHover;
                transform: skew( -18deg ) translateX( 1rem );
            }

            #{$root}__icon {
                z-index: 202;
                right: 1.5rem;
            }
        }

        &_cart {
            @extend .cs-button--look_default;
            @extend .cs-button--type_long;
            &:after {
                width: 6.5rem;
            }
        }

        &_wide {
            width: 100%;
        }

        &_wide-mobile {

            @include media('<tablet') {
                width: 100%;
                max-width: 40rem;
            }
        }
    }


    &__icon {
        width: .7rem;
        height: 1.1rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY( -50% );
        fill: $colorWhite;

        &--center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate( -50%, -50% );
        }

        &--search {
            width: 1.6rem;
            height: 2.2rem;
        }

        &--plus {
            width: 1.1rem;
            height: 1.1rem;
            margin-left: -.2rem;
        }

        &--cart {
            width: 2.5rem;
            height: 2.5rem;
            margin-left: -.8rem;
        }

        &--bg {
            background-image: url( 'images/button-arrow-light.png' );
            background-repeat: no-repeat;
            background-size: contain;

            #{$root}--look_light & {
                background-image: url( 'images/button-arrow-dark.png' );
            }
        }
    }

    &__remove-icon {
        padding: 1rem 1.1rem;
        width: 1rem;
        height: 1rem;
        fill: $colorGray;

        &:hover {
            fill: $colorCeruleanBlue;
        }

        &__badge {
            position: absolute;
            top: -1rem;
            right: -1rem;
        }

    }
}
