$namespace: 'cs-';

@import '../../../node_modules/creative-patterns/packages/components/teaser/src/teaser';
@import '../../../node_modules/creative-patterns/packages/components/products-promo/src/products-promo';

.#{$namespace}products-promo {
    @include teaser();
    @include productsPromo();

    $root: &;
    $sliderWidth: 77%;
    $navArrowSize: 5.5rem;

    @media ( max-width: 1230px ) {
        max-width: calc( 100vw - 30px ); // 100vw - 2 * container's padding
        margin-left: 15px;
        margin-right: 15px;
    }

    &__wrapper {

        @include media('>=laptop') {
            overflow: visible !important;
        }
    }

    &__nav {
        align-items: center;
        justify-content: center;
        background: $colorWhite;
        top: 50%;
        transform: translateY( -50% );
        outline: none;
        transition: transform .15s ease-in-out;
        border-radius: 6px;
        background-color: $colorWhite;
        box-shadow: 1px 1px 2px 0 rgba( 0, 0, 0, .25 );
        display: flex;
        width: calc( #{$navArrowSize} * .75 );
        height: calc( #{$navArrowSize} * .75 );

        @include media( '>=tablet' ) {
            width: $navArrowSize;
            height: $navArrowSize;
        }

        &:hover,
        &:active,
        &:focus {
            background: $colorWhite;
            border: none;
        }

        &:hover:not( #{$root}__nav--disabled ) {
            transform: translateY( -50% ) scale( 1.15 );
        }

        &-icon {
            fill: $colorCeruleanBlue;
            height: calc( #{$navArrowSize} * .75 );

            @include media( '>=tablet' ) {
                height: $navArrowSize;
            }
        }

        &--prev {
            left: 0;

            @media ( min-width: 1285px ) {
                left: calc( -#{$navArrowSize} / 2 );
            }
        }

        &--next {
            right: 0;

            @media ( min-width: 1285px ) {
                right: calc( -#{$navArrowSize} / 2 );
            }
        }

        &--disabled {
            opacity: .38;
        }
    }

    &__pagination {
        @include media( '<tablet' ) {
            bottom: .5rem;
        }

        &-item {
            border-radius: 2px;
            background-color: $colorGallery;
            width: 2.1rem;
            height: .8rem;
            transform: skew( -18deg );
            margin: 0 .9rem 0 0;
            border: none;
            display: inline-block;
            transition: background-color .15s, border-color .15s;

            &:hover,
            &:focus,
            &:active {
                background-color: darken( $colorGallery, 8% );
                border: none;
                box-shadow: none;
            }

            &--active {
                background: $colorGold;

                &:hover,
                &:focus,
                &:active {
                    background: $colorGold;
                }
            }
        }

        &-button {
            display: block;
            font-size: 0;
            opacity: 0;
            width: 2.1rem;
            height: .8rem;
            padding: 0;
            border: 0;
            margin: 0;
        }
    }
}
