@import 'config/variables';

.#{$ns}review {
    font-size: inherit;

    &__title {
        display: block;
        font-weight: 700;

        margin: 0 0 0.5rem;
        color: $color_mineshaft;
    }

    &__rating {
        margin: 0 0 0.5rem;
    }

    &__meta {
        margin: 0 0 2rem;
        font-size: 1.25rem;
    }

    &__meta-item {
        vertical-align: middle;
        padding: 0 0.5em;

        padding: 0 1rem;
        border-right: 1px solid $color_alto;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            border-right: none;
        }
    }

    &__stars {
        height: 1em;
    }

    &__author {
        line-height: 1em;

        color: $color_mineshaft;
    }

    &__date {
        line-height: 1em;

        margin-left: -4px;
        color: $color_gray;
    }

    &__content {
        margin: 0;
        color: $color_gray;
    }
}
