@import '../../../node_modules/creative-patterns/packages/components/t-text/src/t-text';

@include export-once( 'customizations/t-text' ) {
    .#{$namespace}t-text {
        @include t-text( 1.4rem, $secondary-font-family, $colorMineShaft, $colorDoveGray );

        &:hover,
        &:visited {
            text-decoration: none;
            color: $colorMineShaft;
        }
        &--look {
            &_light {
                line-height: 2.5rem;
            }
            &_success {
                color: $colorApple;
            }
            &_error {
                color: $colorCrimson;
            }
        }
    }
}
