@import '../../../node_modules/creative-patterns/packages/components/t-text/src/t-text';

@include export-once('customizations/t-text') {
    .#{$namespace}t-text {
        @include t-text(1.4rem, $base-font-family, $colorDoveGray, $colorDoveGray);

        &:hover,
        &:visited {
            text-decoration: none;
            color: $colorDoveGray;
        }
        &--look {
            &_light {
                line-height: 2.5rem;
            }
            &_success {
                color: $colorApple;
            }
            &_error {
                color: $colorCrimson;
            }

            &_link {
                color: $colorCeruleanBlue;
            }
            &_caption {
                text-transform: uppercase;
            }
            &_attention {
                font-weight: 700;
                color: $colorMineShaft;
            }
        }

        &--size {
            &_300 {
                font-size: 1.2rem;
            }
            &_200 {
                font-size: 1rem;
            }
        }

        &--type {
            &_wide {
                width: 100%;
            }
        }

        &__span {
            color: $colorDoveGray;
            padding-right: .5rem;
            &:hover,
            &:visited {
                text-decoration: none;
                color: $colorDoveGray;
            }

            &--look {
                &_attention {
                    font-weight: 700;
                }
                &_link {
                    color: $colorCeruleanBlue;
                }
            }
        }
    }
}
