.#{$namespace}product-sale-block {
    background: $colorWhite;
    padding: 15px;
    border-top: 1px solid $colorAlto;
    box-sizing: border-box;
    order: 2 !important;

    @include media('>=tablet') {
        border: none;
        padding: .5rem;
    }

    @include media( '>=laptop' ) {
        border: 1px solid $colorAlto;
        border-radius: 3px;
        padding: 1.5em 2em;
        box-shadow: 0 0 5px 0 rgba( 0, 0, 0, .27 );
    }

    &__category {
        font-size: 1.2rem;
        color: $colorDoveGray;
    }

    &__name {
        position: relative;

        h1,
        .page-title {
            @extend .cs-t-headline;
            @extend .cs-t-headline--size_2;
            padding-bottom: .6rem;
        }
    }

    &__banner {
        margin: .75em 0;
        padding: .5em 1em;
        text-align: center;
        background-color: $colorMineShaft;
        color: $colorWhite;
        font-size: 1.15rem;

        > p {
            margin: 0;
        }
    }

    &__share {
        position: absolute;
        right: 0;
        bottom: -1.8rem;
        display: flex;
        align-items: center;
    }


    &__share-icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: $colorCeruleanBlue;
        margin-right: .7rem;

    }

    &__share-text {
        font-size: 1.2rem;
        color: $colorDoveGray;

        &:hover {
            text-decoration: none;
        }
    }

    &__no-review {
        @include media('<phone-lg') {
            max-width: 200px;
        }
    }
}
