.#{$ns}headline {
    text-align: center;
    font-size: 1rem;
    padding: 2em 0;
    margin: 2rem 0;
    clear: both;

    &__title {
        display: flex;
        align-items: center;
        margin: 0;
        @extend .#{$ns}t-headline;
        @extend .#{$ns}t-headline--size_1;

        @include media('<tablet') {
            display: block;
        }

        &:before,
        &:after {
            display: flex;
            height: 1px;
            flex-grow: 1;
            background-color: $color_alto;
            @include media('>=tablet') {
                content: '';
            }
        }

        &:before {
            margin-right: 0.6em;
        }

        &:after {
            margin-left: 0.6em;
        }
    }

    &__subtitle {
        color: $color_gray;
        font-size: 1.3em;
        margin: 0;
        display: none;
        @include media('>=tablet') {
            display: block;
        }
    }

    &__counter {
        color: lighten($color_dove-gray, 7%);
        font-weight: 300;
        padding-left: 0.5rem;
    }
}
