{
    "plugins": [
        "stylelint-scss"
    ],
    "rules": {
        "at-rule-empty-line-before": null,
        "at-rule-name-case": "lower",
        "at-rule-no-vendor-prefix": true,
        "at-rule-semicolon-newline-after": "always",
        "block-closing-brace-newline-after": "always",
        "block-closing-brace-newline-before": "always",
        "block-no-empty": null,
        "block-no-single-line": true,
        "block-opening-brace-newline-after": "always",
        "block-opening-brace-space-before": "always",
        "color-hex-case": "lower",
        "color-hex-length": "short",
        "color-named": "never",
        "color-no-invalid-hex": true,
        "comment-whitespace-inside": null,
        "declaration-bang-space-after": "never",
        "declaration-bang-space-before": "always",
        "declaration-block-no-duplicate-properties": [
            true,
            {
                "ignore": [ "consecutive-duplicates" ]
            }
        ],
        "declaration-block-no-ignored-properties": true,
        "declaration-block-no-shorthand-property-overrides": true,
        "declaration-block-semicolon-newline-after": "always",
        "declaration-block-semicolon-newline-before": "never-multi-line",
        "declaration-block-trailing-semicolon": "always",
        "declaration-colon-space-after": "always",
        "declaration-colon-space-before": "never",
        "declaration-no-important": null,
        "font-weight-notation": "numeric",
        "function-calc-no-unspaced-operator": true,
        "function-comma-space-after": "always",
        "function-comma-space-before": "never",
        "function-linear-gradient-no-nonstandard-direction": true,
        "function-max-empty-lines": 1,
        "function-name-case": "lower",
        "function-parentheses-space-inside": "always",
        "function-url-data-uris": null,
        "function-url-quotes": null,
        "function-whitespace-after": "always",
        "indentation": 4,
        "max-empty-lines": 2,
        "max-line-length": 200,
        "max-nesting-depth": 4,
        "media-feature-colon-space-after": "always",
        "media-feature-colon-space-before": "never",
        "media-feature-name-no-vendor-prefix": true,
        "media-feature-no-missing-punctuation": true,
        "media-feature-range-operator-space-after": "always",
        "media-feature-range-operator-space-before": "never",
        "media-query-list-comma-space-after": "always",
        "media-query-list-comma-space-before": "never",
        "media-feature-parentheses-space-inside": "always",
        "no-browser-hacks": null,
        "no-descending-specificity": null,
        "no-duplicate-selectors": true,
        "no-eol-whitespace": true,
        "no-indistinguishable-colors": [
            true,
            "threshold": 1.8
        ],
        "no-invalid-double-slash-comments": true,
        "no-missing-end-of-source-newline": true,
        "no-unknown-animations": true,
        "number-leading-zero": "never",
        "number-max-precision": 8,
        "number-no-trailing-zeros": true,
        "length-zero-no-unit": true,
        "property-blacklist": [],
        "property-case": "lower",
        "property-no-vendor-prefix": true,
        "declaration-property-unit-blacklist": {},
        "declaration-property-unit-whitelist": {},
        "declaration-property-value-blacklist": {},
        "declaration-property-value-whitelist": {},
        "root-no-standard-properties": true,
        "rule-non-nested-empty-line-before": [
            "always",
            "ignore": [ "after-comment" ]
        ],
        "selector-attribute-brackets-space-inside": "always",
        "selector-combinator-space-after": "always",
        "selector-combinator-space-before": "always",
        "selector-list-comma-newline-after": "always",
        "selector-list-comma-newline-before": "never-multi-line",
        "selector-max-specificity": '0,4,1',
        "selector-no-id": true,
        "selector-no-qualifying-type": true,
        "selector-no-type": null,
        "selector-no-universal": true,
        "selector-no-vendor-prefix": true,
        "selector-pseudo-class-case": "lower",
        "selector-pseudo-class-parentheses-space-inside": "always",
        "selector-pseudo-element-case": "lower",
        "selector-pseudo-element-colon-notation": "single",
        "selector-root-no-composition": true,
        "selector-type-case": "lower",
        "shorthand-property-no-redundant-values": true,
        "string-no-newline": true,
        "string-quotes": "single",
        "time-no-imperceptible": true,
        "unit-blacklist": [],
        "unit-case": "lower",
        "unit-no-unknown": true,
        "unit-whitelist": [ 'px', 'em', '%', 'rem', 's', 'ms', 'vh', 'vw', 'deg', 'grad', 'turn', 'rad', 'dpi' ],
        "value-keyword-case": "lower",
        "value-no-vendor-prefix": true,
        "scss/at-import-no-partial-leading-underscore": true,
        "scss/operator-no-unspaced": true,
        "scss/dollar-variable-no-missing-interpolation": true,
        "scss/dollar-variable-colon-space-after": "always-single-line"
    }
}
