<!--
/**
 * Override for tabs markup
 */
-->
<div id="delivery-method-selector" data-role="content">
    <div class="cs-tabs cs-tabs--store-pickup">
        <div class="cs-tabs__triggers">
            <div class="cs-tabs__title"
                 css="'cs-tabs__title--active': !isStorePickupSelected()"
            >
                <a class="cs-tabs__title-link"
                   css="'selected': !isStorePickupSelected()"
                   tabindex="-1"
                   click="selectShipping"
                   translate="'Shipping'"
                ></a>
            </div>

            <div class="cs-tabs__title"
                 css="'cs-tabs__title--active': isStorePickupSelected()"
            >
                <a class="cs-tabs__title-link"
                   css="'selected': isStorePickupSelected()"
                   tabindex="-1"
                   click="selectStorePickup"
                   translate="'Pick in Store'"
                ></a>
            </div>
        </div>
    </div>
</div>