<!-- ko if: (isStorePickupEnabled) -->
<p class="cs-checkout__guest-or-login">
    <span class="cs-checkout__guest-or-login-new" data-bind="if: $parents[1].isPasswordVisible">
        <a href="#" click="function(data, event) { event.preventDefault(); $parents[1].isPasswordVisible(false) }" translate="'I\'m new here'"></a>.
    </span>
    <span class="cs-checkout__guest-or-login-existing" data-bind="ifnot: $parents[1].isPasswordVisible">
        <span translate="'I have an account.'"></span> <a href="#" click="function(data, event) { event.preventDefault(); $parents[1].isPasswordVisible(true); }" translate="'Log in'"></a>
    </span>
</p>
<!-- /ko -->