// Original Magento class
.password-strength-meter {
    @include media('<phoneLg') {
        font-size: 1rem;
    }
    font-size: 1.2rem;

    &:before {
        display: none;
    }

    &__icons-wrapper {
        float: right;
    }

    &__label {
        font-size: 1.2rem;
        @include media('<phoneLg') {
            font-size: 1rem;
        }
    }

    &__icon {
        @include media('<phoneLg') {
            font-size: 0.7rem;
            width: 1.2rem;
            height: 0.5rem;
        }
        font-size: 1rem;
        fill: $color_white;
        width: 2rem;
        height: 0.7rem;
        display: inline-block;
        margin-right: 0.05rem;
        transition: fill 0.35s;

        .password-weak & {
            &:nth-child(1),
            &:nth-child(2) {
                fill: $color_crimson;
            }
        }

        .password-medium & {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                fill: $color_azaela;
            }
        }

        .password-strong & {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
                fill: $color_gold;
            }
        }

        .password-very-strong & {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
                fill: $color_apple;
            }
        }
    }
}
