// Original Magento class
.password-strength-meter {
    @include media('<phone-lg') {
        font-size: 1rem;
    }
    font-size: 1.2rem;

    &:before {
        display: none;
    }

    &__icons-wrapper {
        float: right;
    }

    &__label {
        font-size: 1.2rem;
        @include media('<phone-lg') {
            font-size: 1rem;
        }
    }

    &__icon {
        @include media('<phone-lg') {
            font-size: 0.7rem;
            width: 1.2rem;
            height: 0.5rem;
        }
        font-size: 1rem;
        fill: $colorWhite;
        width: 2rem;
        height: 0.7rem;
        display: inline-block;
        margin-right: 0.05rem;
        transition: fill 0.35s;

        .password-strength-meter-1 & {
            &:nth-child(1),
            &:nth-child(2) {
                fill: $colorCrimson;
            }
        }

        .password-strength-meter-2 & {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                fill: $colorAzaela;
            }
        }

        .password-strength-meter-3 & {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
                fill: $colorGold;
            }
        }

        .password-strength-meter-4 & {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
                fill: $colorApple;
            }
        }
    }
}
