
.#{$namespace}info-block {
    $root: &;
    font-size: 1rem;

    &--flex {
        display: flex;
        flex-wrap: wrap;
        @include media( '>=tablet' ) {
            flex-wrap: nowrap;
        }
    }

    &__title {
        margin-bottom: .9rem;

        &--up {
            margin-bottom: .3rem;
        }

        &--space-top {
            margin-top: 2rem;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 2rem 0 0;

        &--up {
            margin: 0;
        }

        &.no-display {
            display: none;
        }
    }

    &__box-title {
        width: 100%;
    }

    &__box {
        width: 100%;
        margin-bottom: 2rem;

        @include media( '>=phone-lg' ) {
            width: 48%;
        }
    }

    &__box-content {
        margin-top: .5rem;
    }

    &__box-actions {
        margin-top: .5rem;
    }

    &__line {
        margin-bottom: 0;

        dt {
            font-weight: 400;
        }
    }

    &__title-link {
        padding-left: .5rem;
    }

    &__link-info {
        font-size: 1.4rem;
        font-weight: 400;
    }

    &__buttons {
        width: 100%;
        margin-top: 2rem;
        display: flex;

        &--right {
            @include media( '>=tablet' ) {
                text-align: right;
                justify-content: flex-end;
            }
        }

        &--space {
            justify-content: space-between;
        }
    }

    &__button {
        margin-right: 1rem;
        margin-bottom: .8rem;
    }

    &__toolbar {
        position: relative;
        font-size: 1.4rem;
        width: 100%;
        margin-top: 2rem;
    }

}

dl {
    font-size: 1.4rem;
}
