
@include export-once( 'customizations/info-block' ) {
    .#{$namespace}info-block {
        $root: &;
        font-size: 1rem;

        &__title {
            margin-bottom: .9rem;

            &--up {
                margin-bottom: .3rem;
            }
        }

        &__content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 2rem 0;

            &--up {
                margin: 0 0 2rem;
            }

            &.no-display {
                display: none;
            }
        }

        &__box-title {
            width: 100%;
        }

        &__box {
            width: 100%;
            margin-bottom: 2rem;

            @include media( '>=phone-lg' ) {
                width: 48%;
                margin-bottom: 0;
            }
        }

        &__box-content {
            margin-top: .5rem;
        }

        &__box-actions {
            margin-top: .5rem;
        }

        &__line {
            margin-bottom: 0;
        }

        &__title-link {
            padding-left: .5rem;
        }

        &__link-info {
            font-size: 1.4rem;
            font-weight: 400;
        }

        &__buttons {
            width: 100%;
            margin-top: 2rem;
        }

        &__toolbar {
            position: relative;
            font-size: 1.4rem;
            width: 100%;
            margin-top: 2rem;
        }

    }
}
