@import 'config/variables';
@import 'components/button/mixin';

$button-fallback_type: $button_default-type !default;
$button-fallback_icon-pos: $button_default-icon-pos !default;

$button-component_horizontal-position: 50% !default;
$button-component_horizontal-translation: translateX(-50%) !default;

$button_types: 'primary', 'secondary', 'link', 'success', 'error' !default;
$button_icon-positions: 'left', 'right', 'no-icon', 'only-icon' !default;

.#{$ns}button {
    @include button-base();

    &__span {
        @include button_span-base();
    }

    &__icon {
        @include button_icon-base();
    }

    @each $type in $button_types {
        &--#{$type} {
            @include button-box($type);
            @include button-colors($type);
        }
    }

    @each $pos in $button_icon-positions {
        &--icon-#{$pos} {
            .#{$ns}button__span {
                @include button_span-icon($button_default-type, $pos);
            }

            .#{$ns}button__icon {
                @include button_icon-pos($button_default-type, $pos);
            }
        }
    }

    @each $type in $button_types {
        @each $pos in $button_icon-positions {
            &--#{$type}.#{$ns}button--icon-#{$pos} {
                @include button-animation-for($type, $pos);

                @if ($type == 'link') {
                    .#{$ns}button__span {
                        @include button_span-icon('link', $pos);
                    }

                    .#{$ns}button__icon {
                        @include button_icon-pos('link', $pos);
                    }
                }
            }
        }
    }
}

.#{$ns}button-component {
    position: relative;
    left: $button-component_horizontal-position;
    transform: $button-component_horizontal-translation;

    &__amount {
        &:before {
            content: '(';
        }
        &:after {
            content: ')';
        }
    }
}
