<!--
/**
 * Template overridden in order to add maxlength attribute
 * Aligned with Magento 2.4.3 at (6.10.2021)
 */
-->
<input class="input-text" type="text" data-bind="
    value: value,
    valueUpdate: 'keyup',
    hasFocus: focused,
    attr: {
        name: inputName,
        placeholder: placeholder,
        'aria-describedby': getDescriptionId(),
        'aria-required': required,
        'aria-invalid': error() ? true : 'false',
        id: uid,
        disabled: disabled,
        maxlength: maxlength
    }" />
