@import 'config/variables';
@import 'vendors/include-media';
@import 'components/typography/mixin';
@import 'utils/visually-hidden';

@import 'components/field/mixin';
@import 'components/button/mixin';
@import 'components/pseudoicon/mixin';

// Basic
$store-locator_basic-border-color: $color_border-500 !default;
$store-locator_basic-border: 1px solid $store-locator_basic-border-color !default;

$store-locator_loading-mask-background: url('../images/spinner.svg') no-repeat
    center center / 5rem 5rem rgba($color_background-200, 0.75) !default;

// Sidebar
$store-locator_title-font-size: $font-size_headline-1 !default;
$store-locator_sidebar-basic-space-inside: 2rem !default;

$store-locator_sidebar-background: $color_background-200 !default;
$store-locator_sidebar-toggle-background: $color_background-200 !default;
$store-locator_sidebar-toggle-transition: transform 0.125s ease-out !default;
$store-locator_sidebar-box-shadow: $box-shadow_base !default;
$store-locator_sidebar-width: 38rem !default;

// Buttons
$store-locator_button-type: $button_default-type !default;
$store-locator_button-width: 5rem !default;
$store-locator_button-border-radius: 0 !important !default;
$store-locator_button-transform: $transform_skew-400 translateX(0.7rem) !default;
$store-locator_button-container-transition: transform 0.5s
        $transition-easing_slowdown-900,
    opacity 0.15s linear !default;
$store-locator_location-button-type: 'secondary' !default;
$store-locator_location-button-icon: 'only-icon' !default;

// Search field
$store-locator_search-field-font-size: 1.4rem !default;
$store-locator_icon-search-color: $color_text-200 !default;
$store-locator_icon-search-color-hover: $color_text-200 !default;
$store-locator_icon-loader-color: $color_text-200 !default;
$store-locator_icon-transform: $transform_skew-400-revert translateX(-0.3rem) !default;

$store-locator_stores-list-background: $color_background-200 !default;

// Autocomplete
$store-locator_autocomplete-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.17) !default;
$store-locator_autocomplete-background: $color_background-200 !default;
$store-locator_autocomplete-item-selected-background: $color_background-500 !default;

// Store item
$store-locator_item-padding: 2rem !default;
$store-locator_item-hover-background: $color_background-500 !default;
$store-locator_item-active-background: $color_background-600 !default;
$store-locator_item-font-size: 1.4rem !default;
$store-locator_item-color: $color_text-800 !default;
$store-locator_item-hours-trigger: $color_text-900 !default;
$store-locator_close-color: $color_text-400 !default;

.#{$ns}store-locator {
    $root: &;

    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 5rem);

    @include media('>=laptop') {
        height: calc(100vh - 18rem);
    }

    &.loading {
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: 1 !important;
            background: $store-locator_loading-mask-background !important;
            z-index: 5;
        }
    }

    &__sidebar {
        z-index: 1;
        background: $store-locator_sidebar-background;
        box-shadow: $store-locator_sidebar-box-shadow;

        @include media('>=laptop') {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 3rem;
            left: 3rem;
            width: $store-locator_sidebar-width;
            transition: $store-locator_sidebar-toggle-transition;
            background: $store-locator_sidebar-background;
            margin-bottom: 3rem;
            max-height: calc(100% - 6rem);
        }

        &--closed {
            transform: translateX(-$store-locator_sidebar-width - 3rem);
        }

        #{$root}--mobile-stores-open & {
            flex: 1;
        }

        .ie11 & {
            display: block;
        }
    }

    &__sidebar-toggler {
        display: none;
        position: absolute;
        top: 1.5rem;
        left: 100%;
        width: 2.4rem;
        height: 4rem;
        background: $store-locator_sidebar-toggle-background;
        box-shadow: inset 4px 0 5px -5px rgba(0, 0, 0, 0.9),
            3px 0 5px rgba(0, 0, 0, 0.2);
        cursor: pointer;

        @include media('>=laptop') {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__sidebar-toggler-icon {
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        transform: rotateZ(90deg);

        &--closed {
            transform: rotateZ(-90deg);
        }
    }

    &__title {
        @include headline($level: $store-locator_title-font-size);
        padding: $store-locator_sidebar-basic-space-inside;
        margin: 0;

        @include media('<laptop') {
            margin-top: 0.5rem;
            font-size: 2rem;
        }
    }

    &__search {
        width: 100%;
        border-bottom: $store-locator_basic-border;
    }

    &__search-form {
        margin: 0 $store-locator_sidebar-basic-space-inside
            $store-locator_sidebar-basic-space-inside;
        position: relative;
        display: flex;
    }

    &__search-input {
        @include field-input();

        font-size: $store-locator_search-field-font-size;
        position: relative;
        z-index: 210;
        margin: 0;
        -webkit-appearance: none;
        width: calc(100% - (#{$store-locator_sidebar-basic-space-inside} * 2));
        border-right: none;

        &:focus {
            + #{$root}__action {
                .loading & {
                    #{$root}__button-container--search {
                        transform: translateX(100%);
                        opacity: 0;
                    }

                    #{$root}__button-container--loader {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__search-action {
        position: absolute;
        top: 0;
        right: 5rem;
        bottom: 0;
        z-index: 220;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top-right-radius: $border-radius_base;
        border-bottom-right-radius: $border-radius_base;
    }

    &__search-close-icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
        display: none;
        opacity: 0.6;
        transition: opacity 0.3s linear;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }

        path {
            fill: $store-locator_close-color;
        }
    }

    &__search-close-label {
        @include visually-hidden();
    }

    &__search-button-container {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        transition: $store-locator_button-container-transition;

        &--search {
            transform: translateX(0);
        }

        &--loader {
            transform: translateX(100%);
        }
    }

    &__search-button {
        @include button(
            $type: $store-locator_button-type,
            $icon_pos: 'only-icon'
        );

        width: $store-locator_button-width;
        height: 100%;
        overflow: hidden;
        position: relative;
        border-radius: $store-locator_button-border-radius;
        backface-visibility: hidden;
        transform: $store-locator_button-transform;

        &[disabled] {
            opacity: 1;
        }
    }

    &__search-button-icon {
        transform: $store-locator_icon-transform;

        &--search {
            width: 2rem;
            height: 2rem;

            path {
                fill: $store-locator_icon-search-color;
            }
        }

        &--loader {
            stroke: $store-locator_icon-loader-color;
            width: 3.2rem;
            height: 3.2rem;
        }
    }

    &__search-button-label {
        @include visually-hidden();
    }

    &__search-autocomplete {
        width: 32rem;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__search-list {
        background: $store-locator_autocomplete-background;
        box-shadow: $store-locator_autocomplete-box-shadow;
        padding: 0;
    }

    &__search-item {
        list-style: none inside none;
        padding: 0.7rem 1.5rem;
        font-size: 1.4rem;
        border-top: $store-locator_basic-border;
        margin: 0;
        cursor: pointer;

        &.selected {
            background: $store-locator_autocomplete-item-selected-background;
        }
    }

    &__location-button {
        @include button(
            $type: $store-locator_location-button-type,
            $icon_pos: $store-locator_location-button-icon
        );
        margin-left: 1rem;
        min-width: 4.5rem;
        padding: 1rem 0.9rem 0.9rem;
    }

    &__location-button-icon {
        @include button-icon(
            $type: $store-locator_location-button-type,
            $icon_pos: $store-locator_location-button-icon
        );
        max-width: 1.9rem;
        max-height: 1.9rem;
    }

    &__search-icon {
        display: inline-block;
        width: 1rem;
        height: 1rem;

        @include media('>=laptop') {
            width: 2rem;
            height: 2rem;
        }
    }

    &__map-container {
        width: 100%;
        flex: 1;

        @include media('>=laptop') {
            height: 100%;
        }

        #{$root}--mobile-stores-open & {
            flex: 0;
        }
    }

    &__map {
        width: 100%;
        height: 100%;
    }

    &__popup {
        width: 100%;
        height: 100%;
        max-width: 40rem;
        padding: 3rem;

        .ie11 & {
            width: 34rem;
        }
    }

    &__stores-list {
        margin: 0;
        padding: 0;
        position: relative;
        list-style-type: none;
        display: none;
        flex: 1;
        overflow-y: auto;
        background: $store-locator_stores-list-background;
        max-height: calc(100vh - 15rem);

        @include media('>=laptop') {
            display: block;
            max-height: calc(100vh - 28rem);

            .ie11 & {
                max-height: calc(100vh - 42rem);
            }
        }

        #{$root}--mobile-stores-open & {
            display: block;
        }
    }

    &__stores-more-wrapper {
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__stores-more-text {
        color: $link-color_base;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            color: $link-color_base-hover;
        }
    }

    &__store-details {
        position: absolute;
        top: 5rem;
        left: 0;
        right: 0;
        background: $store-locator_sidebar-background;
        z-index: 250;

        @include media('>=laptop') {
            display: none;
        }

        #{$root}--mobile-popup-open & {
            min-height: 12rem;
        }
    }

    &__store-details-close,
    &__store-list-close {
        background: 0 0;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
        margin: 1.5rem;
        background-image: url('../images/icons/close.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1rem;
        width: 3rem;
        height: 3rem;
        display: none;

        .cs-store-locator__store-details & {
            display: block;
        }
    }

    &__store-list-close {
        display: block;
    }

    &__empty-message {
        background: $store-locator_sidebar-background;
        padding: $store-locator_sidebar-basic-space-inside;
        display: none;

        @include media('<laptop') {
            padding-right: 5rem;
        }

        &--nolocation {
            border-bottom: $store-locator_basic-border;
        }
    }

    &__item {
        overflow: hidden;
        padding: $store-locator_item-padding;
        padding-bottom: calc(#{$store-locator_item-padding} - 1rem);
        height: 100%;
        cursor: pointer;
        position: relative;

        @include media('>=laptop') {
            padding: $store-locator_item-padding;
        }

        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 2rem;
            width: calc(100% - 4rem);
            height: 1px;
            background: $store-locator_basic-border-color;

            #{$root}__map &,
            #{$root}--mobile-popup-open & {
                display: none;
            }
        }

        &:nth-last-child(2) {
            &:after {
                display: none;
            }
        }

        @include media('>=laptop') {
            #{$root}__map & {
                padding: 1.5rem 2rem 1.3rem;
            }
        }

        &:hover {
            background: $store-locator_item-hover-background;

            #{$root}__map & {
                background: transparent;
            }
        }

        &--active {
            background: $store-locator_item-active-background;
        }
    }

    &__item-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 0.5rem;

        @include media('>=laptop') {
            margin-bottom: 1rem;
        }
    }

    &__item-name,
    &__item-route,
    &__item-address,
    &__item-phone,
    &__item-distance,
    &__item-email {
        @include font-family($font_family-primary);
        font-weight: 400;
        color: $store-locator_item-color;
        margin: 0;
        font-size: 1.5rem;

        @include media('>=laptop') {
            font-size: $store-locator_item-font-size;
        }
    }

    &__item-name {
        font-weight: 700;
        text-transform: none;
        flex: 1;
        display: inline-block;
        transition: color 0.3s linear, border-bottom-color 0.3s linear;
        padding-right: 1rem;
    }

    &__item-route {
        margin: 0;
        padding: 0;
        text-decoration: none;
        display: none; //hidden for now, should be flex;
        align-items: center;
        padding-left: 2rem;
        background-image: url('../images/icons/route.svg');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 1.4rem 1.4rem;

        #{$root}__map & {
            display: none;
        }
    }

    &__item-route-icon {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 0.5rem;
        transition: fill 0.3s linear;
    }

    &__item-phone {
        text-decoration: none;
    }

    &__item-footer {
        display: flex;
        justify-content: space-between;

        &--right {
            justify-content: flex-end;
        }
    }

    &__item-distance {
        display: inline-block;
        font-style: italic;

        @include media('>=laptop') {
            margin-top: 1rem;
        }
    }

    &__item-email {
        text-decoration: none;
        color: $store-locator_item-color;

        @include media('>=laptop') {
            margin-top: 1rem;
        }
    }

    &__item-description {
        margin-top: 1rem;
    }

    &__item-hours-wrapper {
        padding: 0.5rem 0 0;
        @include font-family($font_family-primary);
        font-size: 1.3rem;
        font-weight: 400;

        @include media('>=laptop') {
            padding: 1rem 0 0;
            font-size: 1.4rem;
        }
    }

    &__item-hours-today {
        @include font-family($font_family-primary);
        font-size: 1.3rem;
        font-weight: 400;

        @include media('>=laptop') {
            font-size: 1.4rem;
        }

        span {
            @include media('>=laptop') {
                font-size: 1.3rem;
                padding-left: 1rem;
            }
        }
    }

    &__item-hours-today-space {
        display: inline-block;
        width: 1rem;
    }

    &__item-hours {
        margin-top: 1rem;
        margin-bottom: 0;
        list-style: none inside none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        max-width: 32rem;
        font-size: 1.2rem;

        span {
            float: right;

            &:first-child {
                padding-right: 1rem;
                display: inline-block;
                width: 45%;
                float: left;
            }
        }

        li {
            padding: 0 1.5rem 0 0;
            margin: 0;
            width: 55%;
            line-height: 140%;

            &:nth-child(2n + 2) {
                padding-right: 0;
                width: 45%;
            }
        }
    }

    &__item-hours-trigger {
        display: inline-block;
        padding-right: 2rem;
    }

    &__item-hours-trigger-icon {
        @include pseudoicon(
            $width: 0.7rem,
            $height: 1px,
            $color: $store-locator_item-hours-trigger,
            $arrow-default: 'down',
            $type: 'arrow'
        );
        display: inline-block;
        transform: translate(1.8rem, -0.4rem);

        &:before {
            right: 0.5rem;
        }

        &:after {
            right: 0;
        }

        #{$root}__item-hours-trigger--open & {
            transform: rotate(180deg) translate(-0.7rem, -0.2rem);
            top: -0.5rem;
        }
    }
}

.gm-ui-hover-effect {
    top: 0 !important;
    right: 0 !important;
}

// Google maps info-window styles
.gm-style-iw-c {
    border-radius: 0 !important;
    padding: 0 !important;
    max-width: 400px !important;
}

.gm-style-iw-t::after {
    top: -1px !important;

    @include media('<laptop') {
        display: none !important;
    }
}

.gm-style-iw-d {
    overflow: auto !important;

    @include media('<laptop') {
        display: none !important;
    }
}

// Styles for zoom buttons on map
.gm-bundled-control-on-bottom {
    right: 28px !important;

    @include media('<laptop') {
        margin: 0 !important;
        top: 10px !important;
        left: 10px !important;
        right: auto !important;
        bottom: auto !important;
    }
}

.gm-bundled-control .gmnoprint > div {
    width: 28px !important;
    height: 57px !important;
    margin-top: 1rem !important;

    & > div {
        margin: 0 !important;
    }

    & > button {
        width: 28px !important;
        height: 28px !important;

        img {
            width: 14px !important;
            height: 14px !important;
        }
    }
}

.storelocator-index-index {
    .cs-container--breadcrumbs {
        display: none;
    }

    .column.main {
        padding-top: 0;
    }
}

.#{$ns}container {
    &--store-locator {
        padding-left: 0;
        padding-right: 0;
    }
}
