
@include export-once( 'customizations/minicart' ) {
    .#{$namespace}minicart {

        &__title {
            border-bottom: 1px solid $colorAlto;
            padding: 0 2rem 1.5rem;
        }

        &__content-wrapper {

        }

        &__content {

        }

        &__list {
            padding: 0;
            list-style: none;
            margin-bottom: 0;
        }

        &__list-item {
            padding: 1rem 2rem;
            border-bottom: 1px solid $colorAlto;

            &:last-child {
                border-bottom: none;
            }
        }
    }

}
