// Magento comparison list (with magento classes) is styled here

.table-comparison {
    .remove {
        border-bottom: none !important;
    }

    .#{$ns}product-tile,
    .attribute,
    .compare-remove-wrapper {
        max-width: 30rem;
    }

    .comparison-product-reviews {
        margin: 5px;
        display: flex;
        justify-content: center;
    }

    .price-box {
        margin: 5px;
        display: flex;
        justify-content: center;

        .price-label {
            display: none;
        }

        .old-price {
            order: 1;

            .price-wrapper span {
                display: inline-block;
                transform: translateY(0.4rem);
            }
        }

        .special-price {
            order: 2;
        }
    }

    .cell {
        width: 20rem;
    }

    .cell.label {
        border-right: 0.1rem solid #d1d1d1 !important;
    }

    @media print {
        .remove,
        .product-item-actions,
        .print {
            display: none;
        }

        .comparison-product-reviews {
            margin: 0;
        }

        .#{$ns}product-tile__name-link {
            text-decoration: none !important;
        }

        .#{$ns}attributes-list__list {
            font-size: 10px !important;

            p,
            li {
                font-size: 10px !important;
            }

            ol,
            ul {
                padding-left: 8px;
            }
        }
    }

    .#{$ns}links-block-addto__link {
        width: 100%;
    }
}

.catalog-product-compare-index {
    .action.print {
        float: left !important;
        margin: 0 0 15px !important;

        @include media('<tablet') {
            display: none;
        }
    }

    @media print {
        .#{$ns}header__user-area,
        .#{$ns}header__search,
        .#{$ns}header__search-placeholder,
        .#{$ns}footer,
        .#{$ns}page-bottom {
            display: none;
        }
    }
}
