
<div class="cs-payment | payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="cs-payment__title | cs-input cs-input--type-radio">
        <input type="radio"
               name="payment[method]"
               class="cs-input__radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>

        <label data-bind="attr: {'for': getCode()}" class="cs-input__label cs-input__label--big">
            <span data-bind="text: getTitle()"></span>
            <span class="cs-input__label-icon-wrapper">
                <span class="cs-input__label-icon cs-input__label-icon--image cs-input__label-icon--paypal-agreement"></span>
            </span>

        </label>

    </div>
    <div class="cs-payment__content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <form id="billing-agreement-form">
            <div class="payment-method-billing-address">
                <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
            <div class="cs-input">
                <select data-bind="
                    attr: {id: getCode() + '_ba_agreement_id', name: 'payment[' + getTransportName() + ']',
                    'data-validate': JSON.stringify({required:true})},
                    options: getBillingAgreements(),
                    optionsValue: 'id',
                    optionsText: 'referenceId',
                    optionsCaption: $t('-- Please Select Billing Agreement--'),
                    value: selectedBillingAgreement"
                        class="cs-input__select">
                </select>
            </div>

        </form>
        <div class="cs-payment__agreements | checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="cs-payment__buttons" id="review-buttons-container">
            <button class="cs-button cs-button--look_default cs-button--type_long | cs-button-payment-method | checkout"
                    type="submit"
                    data-bind="
                    click: placeOrder,
                    attr: {title: $t('Place Order')},
                    enable: (getCode() == isChecked()),
                    css: {disabled: !isPlaceOrderActionAllowed()}
                    "
                    data-role="review-save">
                <span class="cs-button__span"  data-bind="i18n: 'Place Order'"></span>
                <svg class="cs-button__icon">
                    <use xlink:href="#arrow_next"></use>
                </svg>
            </button>
        </div>
    </div>
</div>
