.#{$namespace}captcha {
    $root: &;

    &__image-controls {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: 1.5rem;

        @include media('<=tablet') {
            flex-wrap: wrap;
        }
    }

    &__image {
        margin-right: 1rem;
    }

    &__reload {
        @include media('<tablet') {
            margin: 1.5rem 0 0.5rem;
            width: 100%;
            max-width: 40rem;
        }
    }
}
