.#{$namespace}captcha {
    $root: &;

    &__image-controls {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: 1.5rem;
    }

    &__image {
        margin-right: 1rem;
    }
}
