@import 'config/variables';
@import 'vendors/include-media';
@import 'components/button/mixin';

$captcha_button-type: $button_default-type !default;
$captcha_button-icon-pos: 'no-icon' !default;

.#{$ns}captcha {
    $root: &;

    &__image-controls {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: 1.5rem;

        @include media('<=tablet') {
            flex-wrap: wrap;
        }
    }

    &__image {
        margin-right: 1rem;
    }

    &__button {
        @include button(
            $type: $captcha_button-type,
            $icon_pos: $captcha_button-icon-pos
        );
    }

    &__button-span {
        @include button_span(
            $type: $captcha_button-type,
            $icon_pos: $captcha_button-icon-pos
        );
    }

    &__wrapper {
        .#{$ns}dashboard & {
            width: 100%;
        }
    }
}
