.#{$namespace}aftersearch-nav {
    $root: &;

    overflow: visible;

    @include media('<tablet') {
        margin: 0 calc( ((100vw - 100%) / 2) * -1 ) 1rem calc( ((100vw - 100%) / 2) * -1 ) !important;
        width: 100vw;
    }

    &__filter-options {
        margin-top: 2rem;

        @include media('<tablet') {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @include media('>=tablet') {
            margin-top: .2rem;
        }
    }

    &__filter {
        position: relative;
        @include media('<tablet') {
            width: 48%;
            border-bottom: none !important;
        }
        @include media('>=tablet') {
            padding-bottom: 0;
            border-bottom: 1px solid $colorAlto;
        }
    }

    &__filters-trigger {
        display: flex;
        align-items: center;
        padding: 1.5rem;
        background-color: $colorGallery;
        box-shadow: 0 4px 3px -2px rgba( 0, 0, 0, .15 );
        transition-property: background-color, color, box-shadow;
        transition-duration: .15s;
        @extend .#{$namespace}t-headline;
        @extend .#{$namespace}t-headline--size_3;

        &.#{$namespace}collapse__trigger--in {
            background-color: $colorCeruleanBlue;
            color: $colorWhite;
            box-shadow: 0 4px 3px -2px rgba( 0, 0, 0, .25 ); //stylelint-disable-line
        }

        &-icon {
            .#{$namespace}collapse__trigger--in & {
                fill: $colorWhite;
            }
        }
    }

    &__filters {
        margin-bottom: 1rem;
        padding: 0 2rem 2rem;

        @include media('>=tablet') {
            margin-top: -1.5rem !important;
            margin-bottom: 3rem;
            border-bottom: 1px solid $colorAlto;
            padding: 0 0 2rem;
        }
    }

    &__filter-title {
        padding: 2rem 2rem 2rem 0 !important;
        font-size: 1.2rem !important;

        @include media('<tablet') {
            background-color: $colorGallery;
            padding: 1.3rem 3rem 1.3rem 1.5rem !important;
        }
    }

    &__filter-arrow {
        #{$root}__filter & {
            background: none !important;
            position: absolute;
            width: 10px !important;
            height: 10px !important;
            right: 1.5rem;

            @include media('<tablet') {
                top: 50%;
                transform: translateY( -50% );
            }

            @include media('>=tablet') {
                right: 0;
            }

            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                right: 0;
                height: 2px;
                width: 10px;
                background: $colorCeruleanBlue;
            }

            &:before {
                top: 50%;
                transform: translateY( -50% );
                transition: transform .3s ease-out, opacity .2s ease-out, background-color .15s linear;
            }

            &:after {
                top: 50%;
                transform: translateY( -50% ) rotate( 90deg );
                transition: transform .3s ease-out, background-color .15s linear;
            }
        }

        #{$root}__filter.active & {
            &:before {
                background: $colorGray;
                transform: translateY( -50% ) rotate( -90deg );
                opacity: 0;
            }

            &:after {
                background: $colorGray;
                transform: translateY( -50% ) rotate( 0 );
            }
        }
    }

    &__filter-content {
        padding-top: .3rem !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        position: relative;

    }

    &__price-input {
        height: 3rem;
        width: 100% !important;
        padding-right: 2rem;
    }

    &__filter-items {
        list-style: none;
        padding: 0;
        margin: 0;
        max-height: none !important;

        &--inside {
            #{$root}__filter-item:first-child {
                margin-top: 0;
            }
        }

    }

    &__price-field {
        display: flex;
        align-items: center;
        position: relative;
        margin-top: 0 !important;

        &--from {
            width: calc( 100% / 2 - 1.5rem ) !important;
            @include media('>=laptop') {
                width: calc( 100% / 2 - 2rem ) !important;
            }
        }

        &--to {
            width: calc( 100% / 2 + 1.5rem ) !important;
            @include media('>=laptop') {
                width: calc( 100% / 2 + 2rem ) !important;
            }
        }
    }

    &__filter-item:first-child {
        @include media('>=tablet') {
            margin-top: 0 !important;
        }
    }

    &__price {
        display: flex;
        @include media('<tablet') {
            margin-top: 1rem;
        }
        @include media('>=tablet') {
            flex-direction: row;
        }
    }

    &__price-slider {
        padding-bottom: 1.2rem;
    }

    &__button {
        z-index: 2;
        margin-top: 1rem;
        &--apply-filters {
            margin-top: 0 !important;
        }
    }

    &__price-label {
        font-size: 11px;
        color: $colorGray;
        text-transform: lowercase;
        padding: 0 1rem;
        display: inline-block;
        box-sizing: border-box;
        width: 3.2rem;
        text-align: center;
    }

    &__currency {
        position: absolute;
        right: .5rem;
        color: $colorGray;
        top: 50%;
        font-size: 1.3rem;
        transform: translate3d( 0, -50%, 0 );
        backface-visibility: hidden;
    }

    &__button-list {
        @include media('<tablet') {
            background-color: $colorGallery;
            padding: 1.5rem;
            box-shadow: 0 1px 3px 0 rgba( 0, 0, 0, .35 ); //stylelint-disable-line
            margin: 0 calc( ((100vw - 100%) / 2) * -1 ) 1rem calc( ((100vw - 100%) / 2) * -1 ) !important;
            width: 100vw !important;
        }
    }

    &__popover {
        background: $colorWhite;
        border: 2px solid $colorCeruleanBlue;
        border-radius: 3px;
        box-sizing: border-box;
        display: none;
        height: 4.2rem;
        padding: .4rem;
        position: absolute;
        width: auto;
        min-width: 18rem;
        z-index: 10;

        &:before,
        &:after {
            border: solid transparent;
            content: '';
            display: block;
            height: 0;
            position: absolute;
            top: 50%;
            width: 0;
            right: 100%;
        }

        &:before {
            border-width: 2.1rem;
            margin-top: -2.1rem;
            border-right-color: $colorCeruleanBlue !important;
        }

        &:after {
            border-width: 1.9rem;
            margin-top: -1.9rem;
            border-right-color: $colorWhite;
        }
    }

    &__popover-content {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__popover-items {
        color: $colorDoveGray;
        font-size: 1.2rem;
        white-space: nowrap;
        margin-right: 1.5rem;
    }

    .aw-layered-nav-popover--loading &__popover-items {
        display: none;
    }
    .aw-layered-nav-popover--loading &__popover-loader {
        display: block;
    }

    @keyframes aw-layered-nav-rotate {
        0% {
            transform: rotate( 0deg ) scale( 1 );
        }
        50% {
            transform: rotate( 180deg ) scale( .6 );
        }
        100% {
            transform: rotate( 360deg ) scale( 1 );
        }
    }

    &__popover-loader {
        animation: aw-layered-nav-rotate .75s 0s linear infinite; //stylelint-disable-line
        animation-fill-mode: both;
        background: transparent !important;
        border: 2px solid $colorCeruleanBlue;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: none;
        height: 1.8rem;
        width: 1.8rem;
    }

    &__popover-action {
        width: auto !important;
    }

    &__more-filters {
        overflow: hidden;
        height: 0;
        opacity: 0;
        min-height: initial !important;
        max-height: initial !important;
        transform: translateY( -15px );
        transition: opacity .18s linear, transform .11s ease-in-out;
        will-change: height;

        @include media('<tablet') {
            transition: none;
            height: auto !important;
            opacity: 1 !important;
            visibility: visible;
            transform: translateY( 0 ) !important;
        }
    }

    &__more-filters-checkbox:checked + &__more-filters {
        height: auto !important;
        opacity: 1;
        visibility: visible;
        transform: translateY( 0 );
    }

    &__more-filters-button {
        span{
            &:after {
                content: attr(data-show-more-text);
            }
        }
    }

    &__more-filters-checkbox:checked + &__more-filters + &__more-filters-button {
        span{
            &:after {
                content: attr(data-show-less-text);
            }
        }
    }


}
