
@include export-once( 'customizations/aftersearch-nav' ) {
    .#{$namespace}aftersearch-nav {
        $root: &;

        @include media('<tablet') {
            margin-bottom: 1rem !important;// stylelint-disable-line
        }

        .filter-options {
            @include media('<tablet') {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }

        &__filter {
            @include media('<tablet') {
                width: 48%;
                border-bottom: none !important;// stylelint-disable-line
            }
            @include media('>=tablet') {
                border-bottom: 1px solid $colorAlto;
            }
        }

        &__filters {
            padding-bottom: 2rem;
            margin-bottom: 1rem;
            @include media('>=tablet') {
                margin-bottom: 3rem;
                border-bottom: 1px solid $colorAlto;
            }
        }

        &__filter-title {
            padding-top: 2rem!important;// stylelint-disable-line
            font-size: 1.2rem!important;// stylelint-disable-line
            padding-left: 0!important;// stylelint-disable-line
            @include media('<tablet') {
                background-color: $colorGallery;
                padding: 1.5rem 1.5rem .5rem!important;// stylelint-disable-line
            }
        }

        &__filter-arrow {

            #{$root}__filter & {
                background: none!important;// stylelint-disable-line
                position: relative;
                transform: translateY( -.5rem );

                &:after,
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    background: $colorCeruleanBlue;
                    transition: .3s all ease-out;
                }
                &:after {
                    top: 50%;
                    transform: translate( 35%, -50% );
                    right: 1rem;
                    height: .2rem;
                    width: 1rem;
                }
                &:before {
                    top: 50%;
                    transform: translateY( -50% );
                    right: 1rem;
                    width: .2rem;
                    height: 1rem;
                }

            }

            #{$root}__filter.active & {
                &:after {
                    background: $colorGray;
                }
                &:before {
                    background: $colorGray;
                    transform: translate( 35%, -50% ) rotate( 90deg );
                }
            }
        }

        &__filter-content {
            padding-top: .3rem!important;// stylelint-disable-line
            padding-left: 0!important;// stylelint-disable-line
            position: relative;

            &:after {
                @include media('>=tablet') {
                    content: '';
                    display: block;
                    height: .7rem;
                    position: absolute;
                    bottom: .8rem;
                    width: 100%;
                    background: rgba( 255, 255, 255, .55 );
                }
            }
        }

        &__filter-items {
            @include media('>=tablet') {
                max-height: 21rem !important;// stylelint-disable-line
            }
        }

        &__swatch {
            transform: translateX( -.3rem );
        }

        &__price {
            display: flex;
            @include media('>=tablet') {
                flex-direction: row;
            }
        }


        &__price-input {
            height: 3rem;
            width: 100% !important;// stylelint-disable-line
            padding-right: 2rem;
        }

        &__price-field {
            display: flex;
            align-items: center;
            position: relative;
            margin-top: 0!important;// stylelint-disable-line

            &--from {
                width: calc( 100%/2 - 2rem ) !important;// stylelint-disable-line
            }

            &--to {
                width: calc( 100%/2 + 2rem ) !important;// stylelint-disable-line

            }

        }

        &__price-label {
            font-size: 11px;
            color: $colorGray;
            text-transform: lowercase;
            padding: 0 1rem;
            display: inline-block;
            box-sizing: border-box;
            width: 3.2rem;
            text-align: center;
        }

        &__currency {
            position: absolute;
            right: .5rem;
            color: $colorGray;
        }


        &__button {
            &--apply-filters {
                margin-top: 0!important;// stylelint-disable-line
            }
        }

        &__button-list {
            @include media('<tablet') {
                background-color: $colorGallery;
                margin: 0 calc( ( (100vw - 100%) / 2 ) * -1 );
                padding: 1.5rem;
                width: 100%;
                box-shadow: 0 1px 3px 0 rgba( 0, 0, 0, .35 );
            }
        }

    }
}
