@import 'config/variables';
@import 'vendors/include-media';

$cart-bonus_progress-animation: true !default; // Tells if all progress animations should be enabled.
$cart-bonus_progress-duration: 0.8s !default; // How much time it takes to fill single progress bar.

$cart-bonus_border: 1px solid $color_border-500 !default;

$cart-bonus_headline-text-color: $color_text-800 !default;
$cart-bonus_headline-icon-color: $color_text-800 !default;

$cart-bonus_progressbar-background: repeating-linear-gradient(
    -45deg,
    $color_border-500,
    $color_border-500 1px,
    transparent 1px,
    transparent 5px
) !default;
$cart-bonus_progressbar-done-background: $color_success-500 !default;

$cart-bonus_tooltip-background-color: $color_success-500 !default;
$cart-bonus_tooltip-text-color: $color_white !default;

$cart-bonus_icon-gift-color: $color_text-400 !default;
$cart-bonus_icon-gift-awarded-color: $color_success-500 !default;

$cart-bonus_icon-checkmark-color: $color_white !default;
$cart-bonus_icon-checkmark-background: $color_success-500 !default;

$cart-bonus_label-color: $color_text-400 !default;
$cart-bonus_label-awarded-color: $color_success-500 !default;

$cart-bonus_amount-color: $color_success-500 !default;

.#{$ns}cart-bonus {
    $root: &;
    padding: 1.5rem;

    @include media('>=tablet') {
        padding: 1.5rem 0;
    }

    @include media('>=laptop') {
        border-bottom: $cart-bonus_border;
    }

    &--empty-basket {
        border-top: $cart-bonus_border;
        border-bottom: 0;
        margin-top: 2rem;
    }

    &__headline {
        font-size: 1.5rem;
        font-weight: 700;
        color: $cart-bonus_headline-text-color;
        display: flex;
        align-items: center;
        margin-bottom: 1.75rem;
    }

    &__gifts-wrapper {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__gift {
        display: flex;
        flex: 1 1 100%;
        font-size: 1.3rem;
        color: $cart-bonus_label-color;
        flex-wrap: wrap;
        justify-content: center;

        @include media('>=tablet') {
            flex-basis: (100% / 6);
        }

        & + & {
            margin-top: 2rem;

            @include media('>=tablet') {
                margin-top: 0;
            }

            @include media('>=tablet') {
                #{$root}__progress-wrapper {
                    border-left: 0;
                    border-radius: 0 0.2rem 0.2rem 0;
                }
            }
        }

        &--awarded {
            #{$root}__progress-done {
                transform: scaleX(1) !important;
            }
        }

        @if $cart-bonus_progress-animation {
            // Here we are setting delays so that every progress bar waits
            // for the previous one to finish.
            @for $element-index from 0 to 6 {
                &:nth-of-type(#{$element-index + 1}) {
                    #{$root}__icon path,
                    #{$root}__label,
                    #{$root}__icon-box--status,
                    #{$root}__tooltip {
                        transition-delay: (
                            $element-index *
                                $cart-bonus_progress-duration +
                                $cart-bonus_progress-duration
                        );
                    }

                    #{$root}__progress-done {
                        transition-delay: (
                            $element-index * $cart-bonus_progress-duration
                        );
                    }
                }
            }
        }
    }

    &__top-wrapper {
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 1rem;
        justify-content: space-between;

        @include media('>=tablet') {
            justify-content: center;
        }
    }

    &__inline-amount {
        display: none;
        margin: 0 0.8rem 0 auto;
        align-items: center;
        color: $cart-bonus_amount-color;

        #{$root}__gift--current & {
            @include media('<tablet') {
                display: flex;
            }
        }
    }

    &__icon-wrapper {
        position: relative;

        &--awarded {
            #{$root}__icon {
                &--gift {
                    path {
                        fill: $cart-bonus_icon-gift-awarded-color;

                        @if $cart-bonus_progress-animation {
                            [data-mage-init] & {
                                fill: $cart-bonus_icon-gift-color;
                            }
                        }
                    }
                }
            }

            #{$root}__icon-box {
                &--status {
                    visibility: visible;
                    opacity: 1;

                    @if $cart-bonus_progress-animation {
                        [data-mage-init] & {
                            visibility: hidden;
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }

    &__icon-box {
        &--status {
            background: $cart-bonus_icon-checkmark-background;
            border-radius: 50%;
            width: 1.5rem;
            height: 1.5rem;
            position: absolute;
            line-height: 1.3rem;
            right: -0.6rem;
            bottom: -0.1rem;
            justify-content: center;
            align-items: center;
            visibility: hidden;
            opacity: 0;
            display: flex;
            transition: opacity, visibility 0.3s;
        }
    }

    &__icon {
        width: 2.3rem;
        height: 2.1rem;
        transition: fill 0.3s;

        &--headline {
            margin-right: 1rem;

            path {
                fill: $cart-bonus_headline-icon-color;
            }
        }

        &--gift {
            path {
                fill: $cart-bonus_icon-gift-color;
            }
        }

        &--status {
            width: 0.7rem;
            height: 0.7rem;

            path {
                fill: $cart-bonus_icon-checkmark-color;
            }
        }
    }

    &__progress-wrapper {
        position: relative;
        border: $cart-bonus_border;
        border-radius: 0.2rem;
        height: 1.4rem;
        width: 100%;
        padding: 0.2rem;
        box-sizing: border-box;

        @include media('>=tablet') {
            border-radius: 0.2rem 0 0 0.2rem;
        }
    }

    &__progress-possible {
        position: absolute;
        height: 0.8rem;
        background: $cart-bonus_progressbar-background;
        border-radius: 0.2rem;
        top: 0.2rem;
        left: 0.2rem;
        right: 0.2rem;
        border: $cart-bonus_border;
        box-sizing: border-box;
    }

    &__progress-done {
        position: relative;
        transform: scaleX(0);
        width: 100%;
        height: 0.8rem;
        background: $cart-bonus_progressbar-done-background;
        border-radius: 0.2rem;
        transform-origin: left;
        transition: transform $cart-bonus_progress-duration linear;
        z-index: 2;

        @if $cart-bonus_progress-animation {
            [data-mage-init] & {
                transform: scaleX(0) !important;
            }
        }
    }

    &__label-wrapper {
        display: flex;
        align-items: center;
        color: $cart-bonus_label-color;
        margin: 0;
        font-size: 1.3rem;
        max-width: calc(100% - 3.3rem);
        transition: color 0.3s;

        &--top {
            margin-right: 0.8rem;
        }

        &--bottom {
            display: none;
        }

        &--awarded {
            color: $cart-bonus_label-awarded-color;

            @if $cart-bonus_progress-animation {
                [data-mage-init] & {
                    color: $cart-bonus_label-color;
                }
            }
        }

        @include media('>=tablet') {
            text-align: center;
            max-width: none;
            margin-top: 1rem;

            &--top {
                display: none;
            }

            &--bottom {
                display: block;
            }
        }
    }

    &__tooltip {
        top: 0;
        left: 0.8rem;
        position: absolute;
        display: none;
        transform: translate3d(-50%, -100%, 0) scaleY(1);
        flex-wrap: wrap;
        justify-content: center;
        transition: transform 0.3s;
        transform-origin: center bottom;

        @include media('>=tablet') {
            display: flex;
        }

        &:after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            margin-left: -0.4rem;
            height: 0;
            border-style: solid;
            border-width: 0.6rem 0.4rem 0;
            border-color: $cart-bonus_tooltip-background-color transparent
                transparent transparent;
        }

        &--edge {
            &_left {
                #{$root}__tooltip-content {
                    transform: translateX(35%);
                }
            }

            &_right {
                #{$root}__tooltip-content {
                    transform: translateX(-35%);
                }
            }
        }

        @if $cart-bonus_progress-animation {
            [data-mage-init] & {
                transform: translate3d(-50%, -100%, 0) scaleY(0);
            }
        }
    }

    &__tooltip-content {
        background: $cart-bonus_tooltip-background-color;
        width: 100%;
        padding: 0.6rem 0.7rem 0.5rem;
        box-sizing: border-box;
        font-size: 1rem;
        color: $cart-bonus_tooltip-text-color;
        border-radius: 0.2rem;
        text-align: center;
        margin-bottom: 0.6rem;
    }
}
