/**
 * List component that can be included in any custom class.
 */
@mixin list() {
  $root: &;
  font-size: 1rem;

  &--inline {
    display: flex;
  }

  &--unstyled {
    list-style: none;
  }

  &--multiline {
    display: flex;
    flex-wrap: wrap;
  }
}
