/**
 * Basic styling from blank that is needed for our critical components.
 **/

body {
    margin: 0;
}

.alink,
a {
    text-decoration: none;
}

img,
object,
video,
embed {
    max-height: 100%;
    max-width: 100%;
}

.loading-mask {
    display: none;

    &[data-role='main-css-loader'] {
        display: block !important;
        bottom: 0;
        left: 0;
        margin: auto;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 100;
        background: #fff;

        .loader {
            > img {
                bottom: 0;
                left: 0;
                margin: auto;
                position: fixed;
                right: 0;
                top: 0;
                z-index: 100;
            }

            > p {
                display: none;
            }
        }
    }
}
