@import '../swatches/swatches';

.product-options-bottom {
    position: relative;
}

.#{$namespace}box-addtocart {
    padding-top: 0;
    margin: .65rem 0;
    border-top: none;

    &__qty-wrapper {
        @extend .#{$namespace}swatches__attribute;
    }

    &__label {
        @extend .#{$namespace}swatches__attribute-label;
        line-height: 48px;
    }

    &__qty-increment {
        @extend .#{$namespace}swatches__list;
        margin: .38em;
    }

    &__actions {
        margin-bottom: 1.3em;
    }

    &__stock {
        position: absolute;
        right: 0;
        top: 3rem;

    }

    &__stock-text {
        font-size: 1.2rem;
        color: $colorDoveGray;
    }

    &__stock-icon {
        width: 1.1rem;
        height: 1rem;
        margin-right: .5rem;

        &--available {
            fill: $colorApple;
        }
    }
}
