@import '../swatches/swatches';

.product-options-bottom {
    position: relative;
}

.#{$namespace}box-addtocart {
    padding-top: 0;
    margin: .65rem 0;
    border-top: none;

    &__qty-wrapper {
        @extend .#{$namespace}swatches__attribute;
        align-items: center;

        @include media( '>=tablet' ) {
            padding-bottom: 2rem;
        }
    }

    &__label {
        display: none;
        @extend .#{$namespace}swatches__attribute-label;
        line-height: 48px;
        padding-top: 0;

        @include media( '>=tablet' ) {
            display: inline-flex;
            padding-top: 0;
            line-height: 1;
        }
    }

    &__qty-increment {
        @extend .#{$namespace}swatches__list;
        margin: .38em 0 1.2rem;

        @include media( '>=tablet' ) {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &__actions {
        margin-bottom: 1.3em;
    }

}
