<div class="cs-form__actions">
    <button class="cs-button cs-button--size_300 cs-button--look_light" type="button" data-bind="click: cancelAddressEdit">
        <span class="cs-button__wrapper">
            <span class="cs-button__span" data-bind="i18n: 'Cancel'"></span>
            <svg class="cs-button__icon">
                <use xlink:href="#arrow_next"></use>
            </svg>
        </span>
    </button>
    <button class="cs-button cs-button--size_300 cs-button--look_default" type="button" data-bind="click: updateAddress">
        <span class="cs-button__wrapper">
            <span class="cs-button__span" data-bind="i18n: 'Update'"></span>
            <svg class="cs-button__icon">
                <use xlink:href="#arrow_next"></use>
            </svg>
        </span>
    </button>
</div>
