<!--
/**
 * Template overriden to change 'Update' wording to more informative -> 'Save Billing Address'
 */
-->
<div class="actions-toolbar">
    <div class="primary">
        <button class="action action-update"
                type="button"
                click="updateAddress">
            <span translate="'Save Billing Address'"></span>
        </button>
        <button class="action action-cancel"
                type="button"
                click="cancelAddressEdit"
                visible="canUseCancelBillingAddress()">
            <span translate="'Cancel'"></span>
        </button>
    </div>
</div>
