<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="cs-payment__billing-details | cs-t-text | billing-address-details" data-bind="if: isAddressDetailsVisible() && currentBillingAddress()">
    <div class="cs-payment__billing-label" data-bind="i18n: 'Billing address for current order'"></div>
    <!-- ko text: currentBillingAddress().prefix --><!-- /ko --> <!-- ko text: currentBillingAddress().firstname --><!-- /ko -->
    <!-- ko text: currentBillingAddress().lastname --><!-- /ko --> <!-- ko text: currentBillingAddress().suffix --><!-- /ko --><br/>
    <!-- ko text: currentBillingAddress().street --><!-- /ko --><br/>
    <!-- ko text: currentBillingAddress().city --><!-- /ko -->, <!-- ko text: currentBillingAddress().region --><!-- /ko --> <!-- ko text: currentBillingAddress().postcode --><!-- /ko --><br/>
    <!-- ko text: getCountryName(currentBillingAddress().countryId) --><!-- /ko --><br/>
    <!-- ko text: currentBillingAddress().telephone --><!-- /ko --><br/>
    <button type="button"
            class="cs-button cs-button--size_300 cs-button--look_light"
            data-bind="visible: !isAddressSameAsShipping(), click: editAddress">
        <span class="cs-button__span" data-bind="i18n: 'Edit'"></span>
        <span class="cs-button__icon cs-button__icon--bg"></span>
    </button>
</div>
