<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="cs-form__field cs-form__field--space-top | cs-input">
    <label class="cs-input__label"><span data-bind="i18n: 'Billing address for current order'"></span></label>
    <div class="cs-input__control" data-bind="if: (addressOptions.length > 1)">
        <select class="cs-input__select" name="billing_address_id" data-bind="
        options: addressOptions,
        optionsText: addressOptionsText,
        value: selectedAddress,
        event: {change: onAddressChange(selectedAddress())};
    "></select>
    </div>
</div>
