@include export-once( 'customizations/progress-bar' ) {
    .#{$namespace}progress-bar {
        $root: &;

        list-style: none;
        counter-reset: progress-bar;
        display: flex;

        &__item {
            width: 18rem;
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &:after {
                display: block;
                content: '';
                width: 100%;
                height: .8rem;
                background: $colorGallery;
                position: absolute;
                top: .9rem;
                left: 0;
                z-index: -1;
            }

            &._active,
            &._complete {
                &:after {
                    background: $colorGold;
                }

                #{$root}__indicator-wrapper {
                    background: $colorGold;
                }

                #{$root}__item-text {
                    color: $colorMineShaft;
                    font-weight: 500;
                }
            }

            &._complete {

                #{$root}__indicator {
                    &:before {
                        content: '\2714';
                    }
                }
            }

            &:hover {
                #{$root}__indicator-wrapper {
                    background: lighten( $colorGold, 25% );
                    &:after {
                        background: lighten( $colorGold, 25% );
                    }
                }
            }
        }

        &__indicator-wrapper {
            width: 3.3rem;
            height: 2.7rem;
            text-align: center;
            background: $colorGallery;
            display: block;
            transform: skew( -18deg );
            font-weight: 700;
            font-size: 1.3rem;
            border-radius: 3px;
            cursor: pointer;

            #{$root}__item:first-child & {
                &:after {
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                }
            }

            #{$root}__item:last-child & {
                &:after {
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                }
            }
        }

        &__indicator {
            display: inline-block;
            transform: skew( 18deg );

            &:before {
                display: inline-block;
                padding-top: .5rem;
                counter-increment: progress-bar;
                content: counter( progress-bar );
            }
        }

        &__item-text {
            width: 100%;
            text-align: center;
            color: $colorGray;
            font-size: 1.3rem;
            margin-top: .3rem;
        }

    }
}
