<!--
/**
 * Template overwrtiten to add Company Name, wrapper for address details and action buttons
 * Update 3.12.2020 - align to update in recent Magento versions (keep modifications)
 */
-->
<div class="shipping-address-item" css="'selected-item' : isSelected() , 'not-selected-item':!isSelected()">
    <div class="shipping-address-item__address-details">
        <text args="address().prefix"></text> <text args="address().firstname"></text> <text args="address().middlename"></text>
        <text args="address().lastname"></text> <text args="address().suffix"></text><br/>
        <text if="address().company" args="address().company"></text><br if="address().company"/>
        <text args="_.values(address().street).join(', ')"></text><br/>
        <text args="address().city "></text>, <span text="address().region"></span> <text args="address().postcode"></text><br/>
        <text args="getCountryName(address().countryId)"></text><br/>
        <a if="address().telephone" attr="'href': 'tel:' + address().telephone" text="address().telephone"></a><br/>

        <each args="data: address().customAttributes, as: 'element'">
            <text args="$parent.getCustomAttributeLabel(element)"></text>
            <br/>
        </each>
    </div>

    <div class="shipping-address-item__address-action">
        <button visible="address().isEditable()" type="button"
                class="action edit-address-link"
                click="editAddress">
            <span translate="'Edit'"></span>
        </button>
        <!-- ko if: (!isSelected()) -->
        <button type="button" click="selectAddress" class="action action-select-shipping-item">
            <span translate="'Ship Here'"></span>
        </button>
        <!-- /ko -->
    </div>
</div>
