<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->

<div class="cs-modal__block-authentication"
     data-bind="afterRender: setModalElement, blockLoader: isLoading"
     style="display: none">
    <div class="cs-modal__block-authentication-section | cs-info-block | block-new-customer"
         data-bind="attr: {'data-label': $t('or')}">
        <div class="cs-info-block__title | cs-title-block cs-title-block--bordered">
            <h2 id="block-new-customer-heading"
                class="cs-title-block__span | cs-t-headline cs-t-headline--size_2 cs-t-headline--look_light"
                role="heading"
                aria-level="2"
                data-bind="i18n: 'Checkout out as a new customer'"></h2>
        </div>
        <div class="cs-info-block__content" aria-labelledby="block-new-customer-heading">
            <p  class="cs-t-text cs-t-text--look_attention cs-t-text--type_wide" data-bind="i18n: 'Creating an account has many benefits:'"></p>
            <ul class="cs-list cs-list--unstyled">
                <li data-bind="i18n: 'See order and shipping status'" class="cs-list__item cs-list__item--check"></li>
                <li data-bind="i18n: 'Track order history'" class="cs-list__item cs-list__item--check"></li>
                <li data-bind="i18n: 'Check out faster'" class="cs-list__item cs-list__item--check"></li>
            </ul>
            <div class="cs-info-block__buttons">
                <a class="cs-button cs-button--type_long cs-button--type_wide-mobile  cs-button--look_default" data-bind="attr: {href: registerUrl}">
                    <span class="cs-button__span" data-bind="i18n: 'Create an Account'"></span>
                    <svg class="cs-button__icon">
                        <use xlink:href="#arrow_next"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="cs-modal__block-authentication-section | cs-info-block | block-customer-login"
         data-bind="attr: {'data-label': $t('or')}">
        <div class="cs-info-block__title | cs-title-block cs-title-block--bordered">
            <h2 id="block-customer-login-heading"
                class="cs-title-block__span | cs-t-headline cs-t-headline--size_2 cs-t-headline--look_light"
                role="heading"
                aria-level="2"
                data-bind="i18n: 'I have an account in Creativeshop'"></h2>
        </div>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <!-- ko foreach: getRegion('before') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        <div class="cs-info-block__content" aria-labelledby="block-customer-login-heading">
            <form class="cs-form | form-login"
                  method="post"
                  data-bind="submit:login"
                  id="login-form">
                <div class="cs-form__fieldset login" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
                    <div class="cs-form__field | cs-input | email required">
                        <label class="cs-input__label" for="email"><span data-bind="i18n: 'Email Address'"></span></label>
                        <div class="cs-input__control">
                            <input name="username"
                                   id="email"
                                   type="email"
                                   class="cs-input__input"
                                   data-bind="attr: {autocomplete: autocomplete}"
                                   data-validate="{required:true, 'validate-email':true}">
                        </div>
                    </div>
                    <div class="cs-form__field | cs-input password required">
                        <label for="pass" class="cs-input__label"><span data-bind="i18n: 'Password'"></span></label>
                        <div class="cs-input__control">
                            <input name="password"
                                   type="password"
                                   class="input-text"
                                   id="pass"
                                   data-bind="attr: {autocomplete: autocomplete}"
                                   data-validate="{required:true}">
                        </div>
                    </div>
                    <!-- ko foreach: getRegion('additional-login-form-fields') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                </div>
                <div class="cs-form__buttons">
                    <input name="context" type="hidden" value="checkout" />
                    <button type="submit" class="cs-button cs-button--type_long cs-button--type_wide-mobile cs-button--look_default" name="send" id="send2">
                        <span class="cs-button__span" data-bind="i18n: 'Log In'"></span>
                        <span class="cs-button__icon cs-button__icon--bg"></span>

                    </button>
                    <div class="cs-form__reminder">
                        <a class="cs-link cs-link--size_300" data-bind="attr: {href: forgotPasswordUrl}">
                            <span data-bind="i18n: 'Forgot Your Password?'"></span>
                        </a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
