/**
 * Header component customization.
 */

.#{$namespace}header {
    $root: &;

    font-size: 1rem;

    @include media('<tablet') {
        padding-top: 8rem; // To compensate for fixed navigation space.
    }

    &__content {
        @include container-wrapper();

        padding: 1.5rem;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: $colorWhite;
        z-index: 201;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @include media('>=tablet') {
            position: static;
            border-bottom: 1px solid $colorGallery;
            padding: 1.6em 0;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }


    &__burger {
        width: 4rem;
        order: 1;
        flex: 0 1 4rem;
        margin-top: .5rem;
        @include media('>=tablet') {
            display: none;
        }
    }

    &__burger-icon {
        width: 2.3rem;
        height: 1.3rem;
        fill: $colorCeruleanBlue;
        &:hover {
            fill: $colorCeruleanBlueHover;
        }
    }

    &__logo {
        display: flex;
        order: 2;
        flex: 0 1 12.5rem;

        @media screen and ( min-width: 360px ) {
            flex: 0 1 15.5rem;
        }

        @include media('>=tablet') {
            flex: 0 1 20%;
            order: 1;
        }

        .page-print & {
            @extend .#{$namespace}container__inner;
        }
    }

    &__search {
        display: none;
        margin-top: 1.5rem;
        width: 100%;
        order: 4;

        @include media('>=tablet') {
            display: block;
            margin-top: 0;
            flex: 0 1 32%;
            order: 2;
        }
    }
    // Ugly hack for duplicated search input.
    & > &__search {
        display: block;
        margin-top: 0;

        @include media('>=tablet') {
            display: none;
        }
    }

    &__user-area {
        display: flex;
        width: calc( 100% - 16.5rem );
        justify-content: flex-end;
        order: 3;
        @media screen and ( min-width: 360px ) {
            width: calc( 100% - 19.5rem );
        }
        @include media('>=tablet') {
            justify-content: space-between;
            width: auto;
            flex: 0 1 20%;
        }
    }
}
