$namespace: 'cs-';

@import '../../../node_modules/creative-patterns/packages/components/items-grid/src/items-grid';

@include export-once( 'customizations/items-grid' ) {
    .#{$namespace}items-grid {
        @include itemsGrid();
        $root: &;
        padding-top: 2rem;

        &__item {

            &--hide-third-mobile {
                &:nth-child( 3 ) {
                    @include media('<tablet') {
                        display: none;
                    }
                }
            }
        }

    }
}
