@import 'config/variables';
@import 'include-media/dist/include-media';

$password-strength_color-initial: $color_background-200 !default;
$password-strength_color-weak: $color_error-500 !default;
$password-strength_color-medium: $color_warning-500 !default;
$password-strength_color-strong: $color_success-500 !default;
$password-strength_color-very-strong: $color_success-600 !default;


// Original Magento class is left for this component
//
.password-strength-meter {
    font-size: 1.2rem;
    @include media('<phone-lg') {
        font-size: 1rem;
        padding: 0 0.5rem;
    }

    &:before {
        display: none;
    }

    &__icons-wrapper {
        float: right;
    }

    &__label {
        font-size: 1.2rem;
        @include media('<phone-lg') {
            font-size: 1rem;
        }
    }

    &__icon {
        font-size: 1rem;
        fill: $password-strength_color-initial;
        width: 2rem;
        height: 0.7rem;
        display: inline-block;
        margin-right: 0.05rem;
        transition: fill 0.35s;

        @include media('<phone-lg') {
            font-size: 0.7rem;
            width: 1.2rem;
            height: 0.5rem;
        }

        .password-weak & {
            &:nth-child(1),
            &:nth-child(2) {
                fill: $password-strength_color-weak;
            }
        }

        .password-medium & {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                fill: $password-strength_color-medium;
            }
        }

        .password-strong & {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
                fill: $password-strength_color-strong;
            }
        }

        .password-very-strong & {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
                fill: $password-strength_color-very-strong;
            }
        }
    }
}
