@import 'config/variables';
@import 'vendors/include-media';
@import 'components/typography/mixin';
@import 'utils/reset-list-style';

$topbar_background: transparent !default;
$topbar_height: 2.7rem !default;

$topbar_item-font-size: 1.1rem !default;
$topbar_item-text-color: $color_mineshaft !default;
$topbar_enable-borders: true !default;
$topbar_item-border: 0.2rem solid $color_white !default;
$topbar_item-border-transform: $transform_skew-400 !default;
$topbar_item-phone_number-color: $color_black !default;

$topbar_link-color: $link-color_base !default;
$topbar_link-color-hover: $link-color_base-hover !default;
$topbar_link-decoration: none !default;
$topbar_link-hover-decoration: $topbar_link-decoration !default;

$container_background-top-bar: $color_background-500 !default;

.#{$ns}topbar {
    $root: &;

    background: $topbar_background;
    display: none;
    width: 100%;
    font-size: $topbar_item-font-size;

    @include media('>=laptop') {
        display: flex;
        z-index: 302;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        align-items: center;
        height: $topbar_height;

        @include media('>=laptop') {
            flex-wrap: nowrap;
        }
    }

    &__item {
        color: $topbar_item-text-color;
        display: flex;
        flex: 0 0 auto;
        white-space: nowrap;
        height: 100%;

        &--usps {
            margin-right: auto;
            display: none;

            @include media('>=laptopLg') {
                display: flex;
            }
        }

        &--hotline {
            align-items: center;
            flex: 1;
            justify-content: flex-end;
        }

        &--language {
            height: 100%;
        }
    }

    &__list,
    &__item > ul {
        @include reset-list-style();

        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__list-item {
        margin-bottom: 0;
        height: $topbar_height;
        display: flex;
        align-items: center;
        position: relative;

        &:not(:last-child) {
            margin-right: 0.9rem;
            padding: 0 0.3rem 0 0;
        }

        @include media('>=laptop') {
            padding: 0 1.3rem 0 0;
            margin-right: 1.7rem;
        }

        @if ($topbar_enable-borders) {
            &:not(:last-child) {
                &:before {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    content: '';
                    border-right: $topbar_item-border;
                    transform: $topbar_item-border-transform;
                }
            }
        }
    }

    &__text {
        color: $topbar_item-text-color;
    }

    &__link {
        @include link(
            $color: $topbar_link-color,
            $color-hover: $topbar_link-color-hover,
            $decoration: $topbar_link-decoration,
            $decoration-hover: $topbar_link-hover-decoration
        );

        margin-right: 0.9rem;
    }

    &__hotline {
        display: flex;
        align-items: center;
    }

    &__phone-number {
        @include link(
            $color: $topbar_item-phone_number-color,
            $color-hover: $topbar_item-phone_number-color
        );

        font-weight: 700;
        margin-right: 0.9rem;
    }
}

.#{$ns}container {
    &--top-bar {
        background-color: $container_background-top-bar;
        max-width: none;
    }
}
