@import 'config/variables';
@import 'vendors/include-media';
@import 'components/typography/mixin';

$topbar_background: transparent !default;
$topbar_height: 2.7rem !default;

$topbar_item-font-size: 1.1rem !default;
$topbar_item-text-color: $color_mineshaft !default;
$topbar_item-hours-color: $color_black !default;
$topbar_item-border: 0.2rem solid $color_white !default;
$topbar_item-border-transform: $transform_skew-400 !default;
$topbar_item-phone_number-color: $color_black !default;

$topbar_link-color-action: $color_primary-800 !default;
$topbar_link-color: $color_primary-500 !default;

.#{$ns}topbar {
    $root: &;

    background: $topbar_background;
    display: none;
    width: 100%;
    font-size: $topbar_item-font-size;
    transform: translateY(0);
    transition: transform 0.3s;

    @include media('>=laptop') {
        display: flex;
        z-index: 302;
    }

    &--hidden {
        transform: translateY(-105%);
    }

    .page-print & {
        display: none;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        align-items: center;
        height: $topbar_height;

        @include media('>=laptop') {
            flex-wrap: nowrap;
        }
    }

    &__item {
        color: $topbar_item-text-color;
        display: flex;
        flex: 0 0 auto;
        white-space: nowrap;
        height: 100%;

        &--usps {
            margin-right: auto;
            @include media('<laptopLg') {
                display: none !important;
            }

            .page-wrapper--checkout & {
                display: none !important;
            }
        }

        &--hotline {
            align-items: center;

            @include media('<laptopLg') {
                flex: 1;
                justify-content: flex-end;
            }
        }

        &--language {
            height: 100%;
        }
    }

    &__list,
    &__item > ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__list-item {
        margin-bottom: 0;
        height: $topbar_height;
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 0.9rem;
        padding: 0 0.3rem 0 0;

        @include media('>=laptop') {
            padding: 0 1.3rem 0 0;
            margin-right: 1.7rem;
        }

        &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            content: '';
            border-right: $topbar_item-border;
            transform: $topbar_item-border-transform;
        }

        &:last-child {
            margin-right: 0;
            padding-right: 0;

            &:before {
                content: none;
            }
        }
    }

    &__text {
        color: $topbar_item-text-color;
    }

    &__link {
        @include link(
            $color: $topbar_link-color,
            $color-hover: $topbar_link-color-action
        );

        margin-right: 0.9rem;

        &:hover {
            color: $topbar_item-hours-color;
        }

        @include media('<laptop') {
            display: none;
        }
    }

    &__hotline {
        display: flex;
        align-items: center;
    }

    &__phone-number {
        color: $topbar_item-hours-color;
        font-weight: 700;
        margin-right: 0.9rem;

        &:hover {
            color: $topbar_item-hours-color;
        }
    }
}
