@import 'vendors/include-media';
@import 'components/button/mixin';
@import 'components/3step-checkout/variables';

@mixin higher-button {
    padding-top: $tsc-checkout-higher-button_padding;
    padding-bottom: $tsc-checkout-higher-button_padding;

    @include media('>=tablet') {
        padding: $button_padding;
    }
}
