@import 'config/variables';
@import 'vendors/include-media';
@import 'components/button/mixin';

$reset-button_background-color: $color_background-200 !default;
$reset-button_color: $tsc-checkout-return-button_color !default;
$reset-button_font-weight: 400 !default;

@mixin reset-button(
    $reset-button_background-color: $reset-button_background-color,
    $reset-button_color: $reset-button_color,
    $reset-button_font-weight: $reset-button_font-weight
) {
    &,
    &:visited {
        border: 0;
        border-radius: 0;
        outline-offset: 0;
        background-color: $reset-button_background-color;
        vertical-align: baseline;
        color: $reset-button_color;

        * {
            color: $reset-button_color;
            fill: $reset-button_color;
        }
    }

    &:hover,
    &:focus,
    &:active {
        &:not([disabled]) {
            border: 0;
            color: $reset-button_color;
            background-color: $reset-button_background-color;

            &:before,
            * {
                color: $reset-button_color;
                fill: $reset-button_color;
            }
        }
    }

    span {
        color: $reset-button_color;
        font-weight: $reset-button_font-weight;
    }
}
