@import 'config/variables';
@import 'config/breakpoints';
@import 'include-media/dist/include-media';
@import 'utils/component-spacing';
@import 'components/teaser/mixins';
@import 'components/button/mixin';

$hero_slider-width--centered: 77%;

$hero_nav-button-horizontal-position: 1.5rem !default;
$teaser_nav-button-horizontal-position: $hero_nav-button-horizontal-position;

$hero_hide-nav-buttons-on-mobile: true !default;
$teaser_hide-nav-buttons-on-mobile: $hero_hide-nav-buttons-on-mobile;

$hero_slide-background: $color_background_200 !default;
$hero_headline-font-weight: $texts-on-image_headline-font-weight !default;
$hero_headline-text-transform: $texts-on-image_headline-text-transform !default;
$hero_subheadline-font-weight: $texts-on-image_subheadline-font-weight !default;
$hero_subheadline-text-transform: $texts-on-image_subheadline-text-transform !default;
$hero_text-font-weight: $texts-on-image_text-font-weight !default;
$hero_text-text-transform: $texts-on-image_text-text-transform !default;

$hero_cta-button-type: 'primary' !default;
$hero_cta-button-icon-pos: 'right' !default;

// Scheme dark. It is default scheme. If no scheme is specify in html (no class for scheme) dark colors of texts will be used.
$hero_scheme--dark-background: $scheme--dark_background !default;
$hero_scheme--dark-texts-color: $scheme--dark_texts-color !default;

// Scheme light
$hero_scheme--light-background: $scheme--light_background !default;
$hero_scheme--light-texts-color: $scheme--light_texts-color !default;


.#{$ns}hero {
    $root: &;

    @include teaser();
    @include component-spacing();

    &__wrapper {
        position: static;
    }

    &__slide {
        background-color: $hero_slide-background;

        &--prev,
        &--next {
            cursor: pointer;
        }

        &--scheme-dark {
            background-color: $hero_scheme--dark-background;
        }

        &--scheme-light:not(#{$root}__slide--image-uploaded) {
            background-color: $hero_scheme--light-background;
        }
    }

    &__slide-link {
        display: block;
    }

    &__figure {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    &__image {
        display: block;
        width: 100%;
        max-height: 100%;
    }

    &__content-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        padding: 1rem 1.5rem;
        box-sizing: border-box;

        @include media('>=phoneLg') {
            padding: 4rem 2.5rem;
        }

        @include media('>=tablet') {
            padding: 3rem 3.5rem;
            width: 60%;
        }

        @include media('>=laptop') {
            padding: 2.5rem 3.5rem 5.5rem;
        }

        @include media('>=desktop') {
            padding: 7rem 3.5rem;
        }

        #{$root}--centered & {
            width: 50%;
        }

        &--variant-1 {
            #{$root}__content {
                justify-content: center;
            }
        }

        &--variant-2 {
            #{$root}__content {
                justify-content: flex-end;
            }
        }

        &--variant-3 {
            left: 50%;
            transform: translateX(-50%);

            #{$root}__content {
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }

        &--variant-4 {
            left: 50%;
            transform: translateX(-50%);
            text-align: center;

            #{$root}__content {
                justify-content: flex-end;
                text-align: center;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }

    &__headline {
        margin: 0.5rem 0 0;
        line-height: 110%;
        font-weight: $hero_headline-font-weight;
        color: $hero_scheme--dark-texts-color;
        font-size: 5vw;
        text-transform: $hero_headline-text-transform;

        .ie11 & {
            width: 100%;
        }

        #{$root}__slide--scheme-light & {
            color: $hero_scheme--light-texts-color;
        }

        @include media('>=tablet') {
            font-size: 3.1vw;
        }

        @include media('>=laptop') {
            font-size: 4.1rem;
            line-height: 5rem;
        }

        @include media('>=desktop') {
            font-size: 4.7rem;
        }

        @include media('>=tv') {
            font-size: 5.1rem;
            margin-bottom: 1rem;
        }
    }

    &__subheadline {
        margin: 1vw 0 0;
        line-height: 110%;
        font-weight: $hero_subheadline-font-weight;
        color: $hero_scheme--dark-texts-color;
        font-size: 3.3vw;
        text-transform: $hero_subheadline-text-transform;

        .ie11 & {
            width: 100%;
        }

        #{$root}__slide--scheme-light & {
            color: $hero_scheme--light-texts-color;
        }

        @include media('>=tablet') {
            font-size: 2.6vw;
        }

        @include media('>=laptop') {
            font-size: 2.8rem;
            line-height: 1.25;
        }

        @include media('>=desktop') {
            font-size: 3.2rem;
        }

        @include media('>=tv') {
            font-size: 3.8rem;
            margin-bottom: 1rem;
        }
    }

    &__text {
        margin: 1rem 1rem 0.2rem;
        font-size: 4vw;
        font-weight: $hero_text-font-weight;
        color: $hero_scheme--dark-texts-color;
        line-height: 110%;
        display: none;
        text-transform: $hero_text-text-transform;

        .ie11 & {
            width: 100%;
        }

        #{$root}__slide--scheme-light & {
            color: $hero_scheme--light-texts-color;
        }

        @include media('>=tablet') {
            font-size: 2vw;
            display: block;
            margin-bottom: 1rem;
        }

        @include media('>=laptop') {
            font-size: 1.8rem;
            margin-bottom: 1.5rem;
        }

        @include media('>=desktop') {
            margin: 1rem 0 4rem !important;
            line-height: 1.1;
        }

        + #{$root}__cta {
            margin-top: 0;
        }
    }

    &__cta {
        margin-top: 2rem;

        @include media('<tablet') {
            display: none;
        }

        @include media('<laptop') {
            transform: scale(0.9);
            transform-origin: left bottom;

            #{$root}__content-wrapper--variant-4 &, 
            #{$root}__content-wrapper--variant-3 & {
                transform-origin: center center;
            }
        }

        @include media('<phoneLg') {
            transform: scale(0.7);
        }

        &-button {
            @include button($type: $hero_cta-button-type, $icon_pos: $hero_cta-button-icon-pos);
    
            &-span {
                @include button_span($type: $hero_cta-button-type, $icon_pos: $hero_cta-button-icon-pos);
            }
    
            &-icon {
                @include button_icon($type: $hero_cta-button-type, $icon_pos: $hero_cta-button-icon-pos);
            }
        }
    }

    &__nav {
        #{$root}--static & {
            display: none;
        }
    }

    &__pagination {
        @include media('>=tablet') {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        @include media('>=laptop') {
            bottom: 1rem;
        }

        #{$root}--static & {
            display: none;
        }
    }

    &--centered {
        @include media('>=tablet') {
            width: $hero_slider-width--centered;
            padding: 0 (100% - $hero_slider-width--centered) / 2;
            box-sizing: initial;
        }

        #{$root}__content-wrapper {
            width: 75%;
        }

        #{$root}__wrapper {
            overflow: visible;
        }

        #{$root}__slide {
            padding: 0 2px;
            box-sizing: border-box;

            &:not(#{$root}__slide--active) {
                opacity: .5;
            }
        }

        #{$root}__nav {
            @include media('>=laptopLg') {
                &--prev {
                    left: 0;
                }

                &--next {
                    right: 0;
                }
            }
        }
    }

    &--static {
        width: 100%;
        padding-left: 0;
        padding-right: 0;

        #{$root}__slide {
            width: 100% !important;
            opacity: 1 !important;
        }
    }

    &--hidden-mobile {
        @include media( '<tablet' ) {
            display: none;
        }
    }

    &--as-list-mobile {
        @include media('<tablet') {
            width: 100%;
            padding-left: 0;
            padding-right: 0;

            #{$root}__slides {
                flex-wrap: wrap;
            }

            #{$root}__slide {
                width: 100% !important;
                opacity: 1 !important;
                margin-bottom: 0.5rem;
            }

            #{$root}__pagination {
                display: none;
            }
        }
    }
}

.#{$ns}container--hero {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}
