$ns: 'cs-';

.#{$ns}faq-index {
    $root: &;

    &__header {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
        margin-bottom: 2rem;

        &--bordered {
            border-bottom: 1px solid $color_gallery;
        }
    }

    &__text-wrapper {
        margin: 2rem 0;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin-bottom: 0;

        &-item {
            display: flex;
            align-items: center;
            color: $color_dove-gray;
            margin-bottom: 0;
            border-bottom: 1px solid $color_gallery;
            transition: color 0.15s, background 0.15s;
            position: relative;

            &-icon {
                width: 1.3rem;
                height: 1.3rem;
                fill: $color_cerulean-blue;
                position: absolute;
                right: 1rem;
                top: calc(2rem + (1.3rem / 5));
                margin-left: 2rem;
            }

            a {
                transition: color 0.15s;
                padding: 2rem 3rem 2rem 1rem;
                color: $color_dove-gray;
                width: calc(100% - 4.5rem);
                display: inline-block;
            }

            &:before {
                content: '';
                display: inline-block;
                height: 0.4rem;
                width: 0.4rem;
                transition: background 0.15s;
                border-radius: 100%;
                background: $color_dove-gray;
                margin-right: 1rem;
                margin-left: 1rem;
                margin-bottom: 0.3rem;
            }

            &:last-child {
                border-bottom: 2px solid $color_gallery;
            }

            &:hover {
                background: $color_gallery;
                color: $color_torea-bay;

                a {
                    color: $color_torea-bay;
                }

                &:before {
                    background: $color_torea-bay;
                }
            }
        }

        &-img {
            display: none;
        }
    }

    &__category-section {
        #{$root}__list {
            &:last-child {
                #{$root}__list-item {
                    &:last-child {
                        border-bottom: 1px solid $color_gallery;
                    }
                }
            }
        }
    }

    &__text {
        color: $color_dove-gray;
    }

    &__main-title {
        @extend .#{$ns}t-headline;
        @extend .#{$ns}t-headline--size_1;
        @extend .#{$ns}t-headline--look_light;
    }

    &__title {
        margin: 0;
        line-height: 1.1;
        font-weight: 400;
        color: $color_mineshaft;
        font-size: 2rem;
        padding: 2rem 0;

        @include media('>=laptop') {
            line-height: 1.2;
        }

        a {
            color: $color_mineshaft;
        }

        .faq-category-index &,
        .faq-index-index & {
            font-size: 1.8rem;
            font-weight: 700;
        }
    }

    &__category-name {
        border-bottom: 2px solid $color_gallery;

        @include media('<tablet') {
            &:before,
            &:after {
                height: 1px !important;
                width: 10px !important;
            }

            &:before {
                transform: rotate(-135deg) !important;
            }

            &:after {
                transform: rotate(135deg) !important;
                right: 8px !important;
            }

            &.cs-collapse__trigger--in {
                &:before {
                    opacity: 1 !important;
                    transform: rotate(135deg) !important;
                }

                &:before,
                &:after {
                    background: $color_torea-bay !important;
                }

                &:after {
                    transform: rotate(-135deg) !important;
                }
            }
        }
    }

    &__search {
        position: relative;

        @include media('<tablet') {
            margin: 2rem 0 0;
            width: 100%;
        }

        &-field {
            width: 100%;
        }

        &-button {
            background-color: transparent !important;

            > .#{$ns}button__icon {
                fill: $color_cerulean-blue;
            }
        }

        &-input {
            min-width: calc(100vw - 4rem);

            @include media('>=tablet') {
                min-width: 30rem !important;
            }
        }
    }

    &__container {
        p,
        span {
            @extend .#{$ns}t-text;
        }
    }

    &__voting {
        display: flex;

        &-icon {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            margin: 0 1rem;
            @include media('>=tablet') {
                width: 3rem;
                height: 3rem;
                margin: 0 3rem;
            }
        }

        &-separator {
            display: inline-block;
            width: 1px;
            height: 2rem;
            margin: 0 0.5rem;
            background: $color_alto;
            @include media('>=tablet') {
                height: 3rem;
            }
        }

        &-container {
            display: flex;
            align-items: center;
            margin: 4rem 0;
            @include media('<tablet') {
                flex-wrap: wrap;
            }

            .#{$ns}t-text--look_attention {
                font-weight: 700;

                &:hover {
                    color: inherit;
                    font-weight: 700;
                }
            }
        }
    }

    &__more-link {
        margin-top: 2rem;
        display: block;
    }

    &__icon {
        fill: $color_alto;
        transition: fill 0.15s;
        height: 100%;
        width: 100%;
    }

    #like {
        &:hover {
            #{$root}__icon {
                fill: $color_apple;
            }
        }
    }

    #dislike {
        &:hover {
            #{$root}__icon {
                fill: $color_crimson;
            }
        }
    }

    #aw__helpfulness-vote-no {
        #{$root}__icon--checked {
            fill: $color_crimson;
        }
    }

    #aw__helpfulness-vote-yes {
        #{$root}__icon--checked {
            fill: $color_apple;
        }
    }

    &__rating-text {
        @include media('<tablet') {
            width: 100%;
            margin: 2rem 0;
        }
    }
}

.aw {
    &_bold {
        font-weight: bold;
    }

    &-no-display {
        display: none;
    }
}
