@import 'config/variables';
@import 'vendors/include-media';
@import 'components/typography/mixin';
@import 'components/button/mixin';
@import 'components/field/mixin';
@import 'components/pseudoicon/mixin';
@import 'utils/component-spacing';
@import 'utils/reset-list-style';

$faq_main-title-font-size: $font-size_headline-1 !default;
$faq_title-color: $color_text-800 !default;
$faq_text-color: $color_text-500 !default;

$faq_search-button-type: $button_default-type !default;
$faq_search-button-icon-pos: $button_default-icon-pos !default;

$faq_list-item-counter: false !default;
$faq_list-item-icon-width: 1.5rem !default;
$faq_list-item-background-hover: $color_background-500 !default;
$faq_list-item-color: $color_text-500 !default;
$faq_list-item-color-hover: $color_primary-800 !default;
$faq_list-item-border: 1px solid $color_border-200 !default;

$faq_category-section_pseudoicon-type: 'arrow' !default;
$faq_category-section_pseudoicon-arrow-default: 'down' !default;
$faq_category-section_pseudoicon-arrow-active: 'up' !default;
$faq_category-section_pseudoicon-width: 1.2rem !default;
$faq_category-section_pseudoicon-height: 0.2rem !default;
$faq_category-section_pseudoicon-color: $faq_list-item-color !default;
$faq_category-section_pseudoicon-color-expanded: $faq_list-item-color-hover !default;

.#{$ns}faq-index {
    $root: &;

    @include component-spacing();

    &__header {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
        margin-bottom: 2rem;

        &--bordered {
            border-bottom: $faq_list-item-border;
        }
    }

    &__text-wrapper {
        margin: 2rem 0;
    }

    &__list {
        @include reset-list-style();
        border-bottom: $faq_list-item-border;

        @if ($faq_list-item-counter) {
            counter-reset: faq-list-counter;
        }

        &-item {
            @include reset-list-style();

            display: flex;
            align-items: center;
            color: $faq_list-item-color;
            border-bottom: $faq_list-item-border;
            transition: color 0.15s, background 0.15s;
            position: relative;

            @if ($faq_list-item-counter) {
                padding-left: 1rem;
            }

            &-icon {
                width: $faq_list-item-icon-width;
                height: $faq_list-item-icon-width;
                fill: $faq_list-item-color;
                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);
                margin-left: 2rem;
            }

            a {
                transition: color 0.15s;
                padding: 2rem 3rem;
                color: $faq_list-item-color;
                width: calc(100% - 4.5rem);
                display: inline-block;
            }

            &:before {
                position: absolute;

                @if ($faq_list-item-counter) {
                    content: counter(faq-list-counter) ')';
                    counter-increment: faq-list-counter;
                    left: 0;
                    width: 3rem;
                    text-align: right;
                } @else {
                    content: '';
                    display: inline-block;
                    height: 0.4rem;
                    width: 0.4rem;
                    transition: background 0.15s;
                    border-radius: 100%;
                    background: $faq_list-item-color;
                    left: 1rem;
                }
            }

            &:hover {
                background: $faq_list-item-background-hover;
                color: $faq_list-item-color-hover;

                a {
                    color: $faq_list-item-color-hover;
                }

                &:before {
                    @if not($faq_list-item-counter) {
                        background: $faq_list-item-color-hover;
                    }
                }

                #{$root}__list-item-icon {
                    * {
                        fill: $faq_list-item-color-hover;
                    }
                }
            }
        }

        &-img {
            display: none;
        }
    }

    &__text {
        color: $faq_text-color;
        font-size: 1.4rem;
        font-weight: 700;
    }

    &__main-title {
        @include headline($level: $faq_main-title-font-size);
        text-transform: none;
    }

    &__title {
        margin: 0;
        line-height: 1.1;
        font-weight: 400;
        color: $faq_title-color;
        font-size: 2rem;
        padding: 2rem 0;

        @include media('>=laptop') {
            line-height: 1.2;
        }

        a {
            color: $faq_title-color;
        }

        .faq-category-index &,
        .faq-index-index & {
            font-size: 1.8rem;
            font-weight: 700;
        }
    }

    &__category-name {
        border-bottom: $faq_list-item-border;

        @include pseudoicon(
            $type: $faq_category-section_pseudoicon-type,
            $arrow-default: $faq_category-section_pseudoicon-arrow-default,
            $arrow-active: $faq_category-section_pseudoicon-arrow-active,
            $width: $faq_category-section_pseudoicon-width,
            $height: $faq_category-section_pseudoicon-height,
            $color: $faq_category-section_pseudoicon-color,
            $color-expanded: $faq_category-section_pseudoicon-color-expanded
        );

        &::after,
        &::before {
            @include media('>=tablet') {
                display: none;
            }
        }
    }

    &__search {
        position: relative;

        @include media('<tablet') {
            margin: 2rem 0 0;
            width: 100%;
        }

        @include media('>=tablet') {
            .page-layout-2columns-left & {
                max-width: 40rem;
                flex-shrink: 1;
            }
        }

        &-form {
            @include field();
        }

        &-field {
            margin-right: 0.5rem;
        }

        &-input {
            @include field-input();

            min-width: calc(100vw - 4rem);
            margin-bottom: 0;

            @include media('>=tablet') {
                min-width: 30rem !important;

                .page-layout-2columns-left & {
                    min-width: 0 !important;
                    width: 100%;
                }
            }
        }

        &-button {
            @include button(
                $type: $faq_search-button-type,
                $icon_pos: $faq_search-button-icon-pos
            );
        }

        &-button-span {
            @include button_span(
                $type: $faq_search-button-type,
                $icon_pos: $faq_search-button-icon-pos
            );
        }

        &-button-icon {
            @include button_icon(
                $type: $faq_search-button-type,
                $icon_pos: $faq_search-button-icon-pos
            );
        }
    }

    &__more-link {
        margin-top: 2rem;
        display: block;
    }

    &__rating-text {
        @include media('<tablet') {
            width: 100%;
            margin: 2rem 0;
        }
    }
}

.aw {
    &_bold {
        font-weight: bold;
    }

    &-no-display {
        display: none;
    }
}

.column.main {
    @include media('>=tablet') {
        width: 77.5% !important;
    }
}

.sidebar {
    border: none !important;
    padding: 4rem 0 0;
}

.aw-faq-sidebar {
    $root: &;

    &-content {
        margin-bottom: 2rem;
        font-size: 1.4rem;
        padding: 0 1rem 0 0;

        &-desktop {
            display: none;

            @include media('>=tablet') {
                display: block;
                background: $color_background-200;
            }
        }

        &-mobile {
            @include media('>=tablet') {
                display: none;
            }
        }
    }

    &-collapsible {
        margin-bottom: 2rem;
        position: relative;
        z-index: 6;

        @include media('>=tablet') {
            display: none;
        }

        &-button {
            position: relative;
            display: inline-flex;
            align-items: center;
            gap: 1rem;
            padding: 1rem 0;
            background: transparent;
            border: 0;
            cursor: pointer;
            color: $color_text-800;
            font-size: 1.4rem;
            font-weight: 700;
            text-transform: uppercase;
            box-shadow: none;

            &:before {
                content: none !important;
            }

            &,
            &:active,
            &:focus,
            &:hover {
                background: transparent;
                border: 0;
                color: $color_text-800;
                box-shadow: none;
            }

            &__icon {
                position: relative;
                display: inline-block;
                width: 1.4rem;
                height: 0.2rem;
                background: $color_text-800;
                transition: background-color 0.3s, transform 0.3s;

                &:before,
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 1.4rem;
                    height: 0.2rem;
                    background: $color_text-800;
                    transition: background-color 0.3s, transform 0.3s;
                }

                &:before {
                    transform: translate3d(0, -250%, 0);
                }

                &:after {
                    transform: translate3d(0, 250%, 0);
                }
            }

            + [data-role='content'] {
                margin-top: 1rem;
            }
        }

        &.active {
            #{$root}-collapsible-button__icon {
                transform: rotate(-45deg);

                &:before,
                &:after {
                    transform: rotate(90deg);
                }
            }
        }
    }

    // to override specificity
    &-content
        #{$root}-tree
        .jstree-node#{$root}-tree-top-level
        > .jstree-anchor,
    &-collapsible
        #{$root}-tree
        .jstree-node#{$root}-tree-top-level
        > .jstree-anchor,
    &-content #{$root}-tree .jstree-node > .jstree-anchor {
        @include font-family($font-family_primary);

        font-weight: 400;

        @include media('<tablet') {
            font-size: 1.4rem;
        }
    }

    &-content #{$root}-tree .jstree-node > .jstree-anchor {
        @include media('<tablet') {
            font-size: 1.2rem;
        }
    }

    &-tree-active-node {
        .jstree-wholerow {
            background: transparent !important;
        }
    }
}
