@mixin brandCarousel() {
    $root: &;
    position: relative;

    &__carousel {
        padding: 0 3rem;
    }

    &__slides {
        justify-content: space-between;
        align-items: center;
    }

    &__slide {
        min-width: 30px;
        max-width: none;
        width: auto;
    }

    &__image {
        width: auto;
        max-width: 100%;
        max-height: 60px;
    }

    &__nav {
        #{$root}--static & {
            display: none;
        }
    }

    &--static {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}
