@import 'config/variables';
@import 'config/breakpoints';
@import 'vendors/include-media';
@import 'utils/component-spacing';

@import 'etc/view.scss';
@import 'utils/deep-get/deep-get.scss';

@import 'components/_slider/mixin';

$brand-carousel_items-per-view: deep-get(
    $view-xml,
    vars,
    MageSuite_ContentConstructorFrontend,
    brand_carousel,
    slides_per_view
) !default;
$brand-carousel_mobile-gap: 0.8rem !default;
$brand-carousel_desktop-gap: 0.8rem !default;
$brand-carousel_next-slide-visible: 0px !default; // it will be this value + page-gutter

.#{$ns}brand-carousel {
    $root: &;

    @include component-spacing();

    @include slider(
        $columns-config: $brand-carousel_items-per-view,
        $m-gap: $brand-carousel_mobile-gap,
        $d-gap: $brand-carousel_desktop-gap,
        $next-visible: $brand-carousel_next-slide-visible,
        $root: $root
    );

    #{$root}__slide {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
}
