@import 'config/variables';
@import 'components/teaser/mixins';
@import 'components/button/mixin';
@import 'components/image-teaser/mixin';

$image-teaser_cta-button-type: 'primary' !default;
$image-teaser_cta-button-icon-pos: 'right' !default;

.#{$ns}image-teaser {
    $root: &;

    @include teaser();
    @include imageTeaser();
    margin-bottom: 3rem;

    &__slides {
        #{$root}--cms-pages & {
            justify-content: flex-start !important;
        }
    }

    &__slide {
        #{$root}:not(#{$root}--slider) & {
            height: auto;
        }

        #{$root}--slider & {
            margin-bottom: 0;
        }

        &--scheme-light:not(#{$root}__slide--image-uploaded) {
            background-color: $color_mineshaft;
        }
    }

    &__slide-link {
        display: flex;
        width: 100%;

        &:hover {
            text-decoration: none;
        }

        #{$root}__wrapper--content-display-outside & {
            flex-wrap: wrap;
        }
    }

    &__content-wrapper {
        color: $color_mineshaft;

        #{$root}__wrapper--content-display-inside & {
            padding: 2rem 1rem;
            @include media('>=laptop') {
                padding: 2rem;
            }
        }

        #{$root}--items-in-row-1 #{$root}__wrapper--content-display-inside & {
            @include media('>=laptop') {
                padding: 2rem 3rem;
            }
        }

        #{$root}__wrapper--content-display-outside & {
            background-color: transparent;
        }

        #{$root}__wrapper--content-display-inside &--content-display-scenario-1,
        #{$root}__wrapper--content-display-inside
            &--content-display-scenario-2 {
            #{$root}__subheadline,
            #{$root}__text,
            #{$root}__cta {
                //Style specific for creativeshop template, probably should be removed in child template
                padding-left: 1rem;
                @include media('>=laptop') {
                    padding-left: 0;
                }
            }
        }

        &--content-display-scenario-4 {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }

    &__headline {
        //Below are styles specific for creativeshop template, probably should be removed in child template

        #{$root}__slide--scheme-light & {
            color: $color_white;
        }

        #{$root}:not(#{$root}--items-in-row-1)
            #{$root}__wrapper--content-display-inside
            #{$root}__content-wrapper--content-display-scenario-1
            &,
        #{$root}:not(#{$root}--items-in-row-1)
            #{$root}__wrapper--content-display-inside
            #{$root}__content-wrapper--content-display-scenario-2
            & {
            max-width: 70%;
            margin-left: -1rem;
            padding: 0.5rem 1.5rem 0.5rem 2rem;
            background-color: $color_gold;
            @include media('>=laptop') {
                margin-left: -2rem;
            }

            &:after {
                //Style specific for creativeshop template, probably should be removed in child template
                display: block;
                content: '';
                position: absolute;
                right: -2rem;
                top: 0;
                z-index: -1;
                background: $color_gold;
                height: 100%;
                width: 4.5rem;
                transform: skew(-18deg);
            }
        }

        #{$root}--items-in-row-2
            #{$root}__wrapper--content-display-inside
            #{$root}__content-wrapper--content-display-scenario-1
            &,
        #{$root}--items-in-row-2
            #{$root}__wrapper--content-display-inside
            #{$root}__content-wrapper--content-display-scenario-2
            & {
            max-width: 50% !important;
        }

        //End of style very specific to creativeshop template

        #{$root}__wrapper--content-display-inside & {
            width: auto;
            position: relative;
            z-index: 3;
            font-weight: 700;
            text-transform: none;
        }

        #{$root}__wrapper--content-display-outside & {
            margin-bottom: 0.5rem;
            font-weight: 700;

            @include media('>=laptop') {
                #{$root}--items-in-row-2 & {
                    font-size: 2.43rem;
                }

                #{$root}--items-in-row-3 & {
                    font-size: 2.1rem;
                }

                #{$root}--items-in-row-4 & {
                    font-size: 1.95rem;
                }

                #{$root}--items-in-row-6 & {
                    font-size: 1.74rem;
                }
            }
        }

        + #{$root}__subheadline {
            margin: 0.25rem 0 0;
        }

        + #{$root}__text {
            margin: 0.25rem 0 0;
        }
    }

    &__subheadline {
        margin-bottom: 1rem;

        #{$root}__slide--scheme-light & {
            color: $color_white;
        }

        + #{$root}__text {
            margin: 0.25rem 0 0;
        }
    }

    &__text {
        line-height: 1.18;
        color: $color_dove-gray;
        font-weight: 400;
        display: none;

        #{$root}__slide--scheme-light & {
            color: $color_white;
        }

        @include media('<laptop') {
            font-size: 1.45rem;
        }

        @include media('>=laptop') {
            display: block;
        }
    }

    &__cta {
        white-space: nowrap;
        &-button {
            @include button($type: $image-teaser_cta-button-type, $icon_pos: $image-teaser_cta-button-icon-pos);

            &-span {
                @include button_span($type: $image-teaser_cta-button-type, $icon_pos: $image-teaser_cta-button-icon-pos);
            }

            &-icon {
                @include button_icon($type: $image-teaser_cta-button-type, $icon_pos: $image-teaser_cta-button-icon-pos);
            }
        }
    }

    &__pagination {
        position: static;
        transform: none;
    }

    &__nav {
        z-index: 3;
        background-color: $color_white;

        @include media('<tablet') {
            display: none;
        }

        &--disabled {
            opacity: 0.5;
            cursor: initial !important;

            &:hover {
                transform: translateY(-50%) !important;
            }
        }

        &--prev {
            left: 1.5rem;
        }

        &--next {
            right: 1.5rem;
        }
    }

    &__nav-icon {
        fill: $color_cerulean-blue;

        @include media('<tablet') {
            height: calc(5.5rem * 0.75);
        }
    }

    &--full-width-slider {
        width: 100%;
        padding: 0;
        margin: 0 auto;
        margin-right: auto;
        margin-left: auto;
    }

    &__number--current {
        color: $color_gold;
    }
}
