@import 'config/variables';
@import 'config/breakpoints';
@import 'include-media/dist/include-media';
@import 'utils/aspect-ratio';
@import 'utils/component-spacing';
@import 'components/teaser/mixins';
@import 'components/button/mixin';

$image-teaser_scale-fonts-proportionally: false !default;

$image-teaser_slides-gutter: 0.8rem !default;
$image-teaser_content-gutter-base: 1.88% !default;

$image-teaser_cta-button-type: 'primary' !default;
$image-teaser_cta-button-icon-pos: 'right' !default;

$image-teaser_text-content-font-size: 1.4rem !default;
$image-teaser_slogan-font-size: 2.583em !default;
$image-teaser_description-font-size: 1.55em !default;

$image-teaser_text-content-color: $scheme--light_texts-color !default;
$image-teaser_slogan-color: inherit !default;
$image-teaser_description-color: inherit !default;

$image-teaser_text-content-color--dark: $scheme--dark_texts-color !default;
$image-teaser_slogan-color--dark: inherit !default;
$image-teaser_description-color--dark: inherit !default;

$image-teaser_slogan-font-weight: 900 !default;
$image-teaser_description-font-weight: 300 !default;

$image-teaser_text-shadow-color--dark: $color_background-200 !default;
$image-teaser_text-shadow-offset--dark: 0 0 2.5rem !default;
$image-teaser_text-shadow-step--dark: 5 !default;

$image-teaser_text-shadow-color--light: $color_background-700 !default;
$image-teaser_text-shadow-offset--light: 0 0 2.5rem !default;
$image-teaser_text-shadow-step--light: 5 !default;

$image-teaser_container-background--light: $color_background-700 !default;
$image-teaser_container-background--dark: $color_background-200 !default;

$image-teaser_gradient-color--light: $color_background-700 !default;
$image-teaser_gradient-color--dark: $color_background-200 !default;

$image-teaser_badge-color: $color_text-200 !default;
$image-teaser_badge-background: $color_primary-500 !default;
$image-teaser_badge-font-size: 1.1em !default;

.#{$ns}image-teaser {
    $root: &;

    @include teaser();
    @include component-spacing();

    .ie11 & {
        display: none;
    }

    &--window-width {
        overflow: hidden;
    }

    &:not(#{$root}--slider) {
        #{$root}__nav,
        #{$root}__pagination {
            display: none;
        }

        #{$root}__slides {
            flex-wrap: wrap;

            #{$root}--items-in-row-mobile-1 & {
                display: block;
            }
        }
    }

    &__carousel {
        position: relative;

        #{$root}--category-teaser & {
            height: 100%;
        }
    }

    &__wrapper {
        margin: -#{$image-teaser_slides-gutter / 2};
        width: calc(100% + #{$image-teaser_slides-gutter});

        &--content-under {
            #{$root}__slide {
                display: block;

                &--scheme-light {
                    #{$root}__content {
                        background: $image-teaser_container-background--light;
                    }
                }

                &--scheme-dark {
                    #{$root}__content {
                        background: $image-teaser_container-background--dark;
                    }
                }
            }

            #{$root}__slide-wrapper {
                display: flex;
                flex-direction: column;
                height: 100%;
                overflow: initial;
            }

            #{$root}__content-wrapper {
                position: relative;
                height: 100%;
                justify-content: center;
                align-items: stretch;
                text-align: center;
                padding: 2rem 2rem 0;
            }

            #{$root}__content {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: -3rem 0 0;
                padding: 2rem;
            }

            #{$root}--items-in-row-2 & {
                @include media('>=tablet') {
                    #{$root}__slogan {
                        font-size: 1.95em;
                    }

                    #{$root}__description {
                        font-size: 1.2em;
                    }
                }
            }
        }

        #{$root}--category-teaser & {
            height: 100%;
            margin: 0;
        }
    }

    &__slide {
        padding: $image-teaser_slides-gutter / 2;
        transition: opacity 0.3s;

        #{$root}--items-in-row-mobile-2 & {
            width: 50%;
        }

        #{$root}--teaser-and-text & {
            order: 2;
        }

        &--image-uploaded {
            #{$root}__slides--mobile-text-image & {
                @include media('<tablet') {
                    order: 3;
                }
            }

            #{$root}__slides--mobile-image-text & {
                @include media('<tablet') {
                    order: 1;
                }
            }
        }

        @for $i from 2 through 8 {
            #{$root}--items-in-row-#{$i} & {
                @include media('>=tablet') {
                    width: (100% / $i);
                }
            }
        }

        #{$root}--category-teaser & {
            height: 100%;
            padding: 0;
        }

        &:not(.ready) {
            opacity: 0;
        }
    }

    &__slide-wrapper {
        display: block;
        overflow: hidden;

        &,
        &:hover,
        &:focus {
            color: inherit;
        }

        #{$root}--instagram-feed & {
            position: relative;
            width: 100%;

            &:before {
                content: '';
                display: block;
                width: 100%;
                padding-top: 100%;
            }
        }
    }

    &__figure {
        #{$root}--instagram-feed & {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        #{$root}--category-teaser & {
            height: 100%;
        }
    }

    &__aspect-ratio {
        width: 100%;

        + #{$root}__slide-wrapper,
        + #{$root}__figure {
            position: absolute;

            @if $image-teaser_slides-gutter > 0 {
                top: $image-teaser_slides-gutter / 2;
                left: $image-teaser_slides-gutter / 2;
                width: calc(100% - #{$image-teaser_slides-gutter});
            } @else {
                top: 0;
                left: 0;
                width: 100%;
            }

            @if $image-teaser_slides-gutter > 0 {
                #{$root}__wrapper:not(#{$root}__wrapper--content-under) & {
                    height: calc(100% - #{$image-teaser_slides-gutter});

                    #{$root}--category-teaser & {
                        height: 100%;
                    }
                }
            }

            #{$root}--category-teaser & {
                top: 0;
                left: 0;
            }
        }
    }

    &__content-wrapper {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        #{$root}__wrapper--content-over & {
            padding: $image-teaser_content-gutter-base * 2;

            #{$root}--items-in-row-3 & {
                @include media('>=tablet') {
                    padding: $image-teaser_content-gutter-base * 3;
                }
            }

            #{$root}--items-in-row-4 & {
                @include media('>=laptop') {
                    padding: $image-teaser_content-gutter-base * 4;
                }
            }
        }

        #{$root}--teaser-and-text & {
            @include media('<tablet') {
                position: static;
                height: auto;
            }
        }

        &--content-align-x {
            &-2 {
                justify-content: center;
                text-align: center;
            }

            &-3 {
                justify-content: flex-end;
                text-align: right;
            }
        }

        &--content-align-y {
            &-2 {
                align-items: center;
            }

            &-3 {
                align-items: flex-end;
            }
        }

        #{$root}__slide:not(.ready) & {
            opacity: 0;
        }
    }

    &__content {
        &--container {
            position: relative;
            padding: inherit;
        }
    }

    &__text-content {
        font-size: $image-teaser_text-content-font-size;
        color: $image-teaser_text-content-color;

        #{$root}__slide--scheme-dark & {
            color: $image-teaser_text-content-color--dark;
        }
    }

    &__slogan {
        margin: 0;
        font-size: $image-teaser_slogan-font-size;
        font-weight: $image-teaser_slogan-font-weight;
        text-transform: none;
        line-height: 1.05;
        color: $image-teaser_slogan-color;

        #{$root}__slide--scheme-dark & {
            color: $image-teaser_slogan-color--dark;
        }
    }

    &__description {
        margin: 0;
        font-size: $image-teaser_description-font-size;
        font-weight: $image-teaser_description-font-weight;
        letter-spacing: -0.18px;
        line-height: 1.2;
        color: $image-teaser_description-color;

        * + & {
            margin-top: 0.5em;
        }

        #{$root}__slide--scheme-dark & {
            color: $image-teaser_description-color--dark;
        }

        @include media('>=laptop', '<laptopLg') {
            #{$root}--items-in-row-4 & {
                font-size: 1.75em;
            }
        }
    }

    &__cta {
        * + & {
            margin-top: 1.5rem;
        }
    }

    &__cta-button {
        @include button(
            $type: $image-teaser_cta-button-type,
            $icon_pos: $image-teaser_cta-button-icon-pos
        );

        font-size: 1rem;

        @include media('>=phoneLg') {
            font-size: 1.15rem;
        }

        @include media('>=laptop') {
            font-size: 1.2rem;
        }

        @include media('>=laptopLg') {
            font-size: 1.4rem;
        }

        @include media('>=tv') {
            font-size: 1.6rem;
        }
    }

    &__cta-button-span {
        @include button_span(
            $type: $image-teaser_cta-button-type,
            $icon_pos: $image-teaser_cta-button-icon-pos
        );
    }

    &__cta-button-icon {
        @include button_icon(
            $type: $image-teaser_cta-button-type,
            $icon_pos: $image-teaser_cta-button-icon-pos
        );
    }

    // Badge
    &__badge {
        $badge: &;

        font-size: $image-teaser_badge-font-size;
        position: absolute;
        top: 0.7em;
        left: 0.7em;
        color: $image-teaser_badge-color;
        background: $image-teaser_badge-background;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        padding: 0.9em;
        text-align: center;
        z-index: 3;

        &:before {
            content: '';
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding-top: 100%;
            height: 0;
        }

        &--align-x {
            &-2 {
                left: 50%;
                transform: translateX(-50%);
            }

            &-3 {
                left: auto;
                right: 0.7em;
            }
        }

        &--align-y {
            &-2 {
                top: 50%;
                transform: translateY(-50%);

                &#{$badge}--align-x-2 {
                    transform: translate(-50%, -50%);
                }
            }

            &-3 {
                top: auto;
                bottom: 0.7em;
            }
        }

        small {
            font-size: 75%;
            line-height: 75%;
        }

        small,
        big {
            padding-bottom: 0.2rem;
            display: inline-block;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    &__badge-span {
        text-align: center;
    }

    // Contrast Optimizers
    &__overlay,
    &__gradient {
        position: absolute;
        top: -1%;
        left: -1%;
        width: 102%;
        height: 102%;
    }

    &__overlay {
        #{$root}__slide--scheme-light & {
            background: $image-teaser_container-background--light;
        }

        #{$root}__slide--scheme-dark & {
            background: $image-teaser_container-background--dark;
        }
    }

    &__gradient {
        @for $x from 1 through 3 {
            &--direction-x-#{$x} {
                @for $y from 1 through 3 {
                    &#{$root}__gradient--direction-y-#{$y} {
                        #{$root}__slide--scheme-light & {
                            @include teaser-gradient-overlay(
                                $x,
                                $y,
                                $image-teaser_gradient-color--light,
                                85%
                            );
                        }

                        #{$root}__slide--scheme-dark & {
                            @include teaser-gradient-overlay(
                                $x,
                                $y,
                                $image-teaser_gradient-color--dark,
                                85%
                            );
                        }
                    }
                }
            }
        }
    }

    &__image {
        // Hides alt text so it doesn't show before image is loaded.
        font: 0/0 a; // stylelint-disable-line
        text-shadow: none;
        color: transparent;

        &--mirror {
            transform: scaleX(-1);
        }

        #{$root}--category-teaser & {
            height: 100%;
        }
    }

    &__optimizer-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        #{$root}__slide--scheme-dark & {
            background-color: $image-teaser_container-background--dark;
        }

        #{$root}__slide--scheme-light & {
            background-color: $image-teaser_container-background--light;
        }
    }

    &__text-content--text-shadow {
        #{$root}__slide--scheme-dark & {
            @include optimizer-text-shadow(
                $color: $image-teaser_text-shadow-color--dark,
                $text-shadow-offset: $image-teaser_text-shadow-offset--dark,
                $step: $image-teaser_text-shadow-step--dark
            );
        }

        #{$root}__slide--scheme-light & {
            @include optimizer-text-shadow(
                $color: $image-teaser_text-shadow-color--light,
                $text-shadow-offset: $image-teaser_text-shadow-offset--light,
                $step: $image-teaser_text-shadow-step--light
            );
        }
    }

    &--category-teaser {
        height: 100%;
    }
}

.#{$ns}container--image-teaser-window-width {
    max-width: none;
    padding-left: 0;
    padding-right: 0;

    .#{$ns}image-teaser__slide {
        margin-left: 0;
        margin-right: 0;
    }
}
