@import 'config/variables';
@import 'include-media/dist/include-media';

@import 'components/field/mixin';
@import 'components/button/mixin';

$input_padding: 0.715em 1em !default;
$input_border: 1px solid $color_alto !default;
$input_border-radius: $border-radius_base !default;

$newsletter_margin: 0 !default;

$newsletter_form-max-width: 34rem !default;
$newsletter_form-height: 4rem !default;

$newsletter_button-meaning: default !default;
$newsletter_button-scheme: default !default;

$newsletter_button-icon-width: 0.8em !default;
$newsletter_button-icon-height: 0.8em !default;
$newsletter_button-icon-meaning: default !default;
$newsletter_button-icon-scheme: default !default;

.#{$ns}newsletter {
    margin: $newsletter_margin;
    width: 100%;

    &__form {
        position: relative;
        display: flex;
        overflow: hidden;

        @include media('>=tablet') {
            max-width: $newsletter_form-max-width;
        }

        @include media('>=laptop') {
            max-width: 100%;
        }
    }

    &__field {
        flex-basis: 100%;
    }

    &__input {
        margin-top: 0 !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    &__actions {
        display: flex;
        align-items: stretch;
        height: $newsletter_form-height;
    }

    &__button {
        @include button(
            $meaning: $newsletter_button-meaning,
            $scheme: $newsletter_button-scheme
        );

        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    &__button-icon {
        @include button-icon(
            $meaning: $newsletter_button-icon-meaning,
            $scheme: $newsletter_button-icon-scheme
        );

        width: $newsletter_button-icon-width;
        height: $newsletter_button-icon-height;
        margin-right: 0;
    }
}
