// items-grid-layout
// Extended version of items-grid based on css grid layout + polyfill
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1
@mixin itemsGridLayout() {
    $root: &;
    $mobileGutter: .35rem;
    $tabletUpGutter: .5rem;

    width: calc( 100% + ( 2 * #{$mobileGutter} ) );
    margin: 0 -#{$mobileGutter};
    padding: 0;
    list-style: none;

    @supports ( display: grid ) {
        /* autoprefixer: off */
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 50% 50%;
    }

    @supports ( display: -ms-grid ) {
        display: block;
    }

    @include media( '>=tablet' ) {
        width: calc( 100% + ( 2 * #{$tabletUpGutter} ) );
        margin: 0 -#{$tabletUpGutter};
        
        @supports ( display: grid ) {
            /* autoprefixer: off */
            grid-template-columns: 33.3333% 33.3333% 33.3333%;
        }
    }

    @include media( '>=laptop' ) {
        @supports ( display: grid ) {
            /* autoprefixer: off */
            grid-template-columns: 25% 25% 25% 25%;

            &#{$root}--in-column {
                /* autoprefixer: off */
                grid-template-columns: 33.3333% 33.3333% 33.3333%;
            }
        }
    }

    @include media( '>=laptop-lg' ) {
        @supports ( display: grid ) {
            /* autoprefixer: off */
            grid-template-columns: 20% 20% 20% 20% 20%;

            &#{$root}--in-column {
                /* autoprefixer: off */
                grid-template-columns: 25% 25% 25% 25%;
            }
        }
    }

    @include media( '>=desktop' ) {
        @supports ( display: grid ) {
            /* autoprefixer: off */
            grid-template-columns: 16.6666% 16.6666% 16.6666% 16.6666% 16.6666% 16.6666%;

            &#{$root}--in-column {
                /* autoprefixer: off */
                grid-template-columns: 20% 20% 20% 20% 20%;
            }
        }
    }

    &__item {
        margin: 0 $mobileGutter 2 * $mobileGutter;
        background-color: #fff;
        box-sizing: border-box;


        @include media( '>=tablet' ) {
            margin: 0 $tabletUpGutter 2 * $tabletUpGutter;

            &--hero {
                @supports ( display: grid ) {
                    /* autoprefixer: off */
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }
            }

            &--hero-right {
                @supports ( display: grid ) {
                    /* autoprefixer: off */
                    grid-column-start: 2;
                    grid-column-end: 4;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }
            }

            &--hero-middle {
                @supports ( display: grid ) {
                    /* autoprefixer: off */
                    grid-column-start: 2;
                    grid-column-end: 4;
                    grid-row-start: 2;
                    grid-row-end: 4;
                }
            }
        }

        @include media( '>=laptop' ) {
            &--hero-right {
                @supports ( display: grid ) {
                    /* autoprefixer: off */
                    grid-column-start: 3;
                    grid-column-end: 5;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }
            }
        }

        @include media( '>=laptop-lg' ) {
            &--hero-right {
                @supports ( display: grid ) {
                    /* autoprefixer: off */
                    grid-column-start: 4;
                    grid-column-end: 6;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }
            }
        }

        @include media( '>=desktop' ) {
            &--hero-right {
                @supports ( display: grid ) {
                    /* autoprefixer: off */
                    grid-column-start: 5;
                    grid-column-end: 7;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }
            }

            &--hero-middle {
                @supports ( display: grid ) {
                    /* autoprefixer: off */
                    grid-column-start: 3;
                    grid-column-end: 5;
                    grid-row-start: 2;
                    grid-row-end: 4;
                }
            }
        }

    }
}
