@import 'config/variables';
@import 'vendors/include-media';

.#{$ns}cart-page {
    position: relative;
    width: 100%;

    @include media('<tablet') {
        max-width: 45rem;
        margin: 0 auto;

        .page-title {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    .cart-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        margin-bottom: 4rem;
    }
}
