.#{$namespace}pager {
    display: flex;
    justify-content: space-between;
    position: relative;

    .account & {
        flex-wrap: wrap;
        @include media('<phone-lg') {
            justify-content: center;
        }
    }

    &__block {
        .account &:first-child {
            @include media('<laptop') {
                width: 100%;
                margin-bottom: 2rem;
            }
            @include media('<phone-lg') {
                width: auto;
            }

            @include media('<phone') {
                width: 100%;
                text-align: center;
                margin-bottom: 0.8rem;
            }
        }
    }

    &__center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__input-span {
        padding-left: 0.5rem;
    }
}
