.#{$namespace}pager {
  display: flex;
  justify-content: space-between;
  position: relative;

  .account & {
    flex-wrap: wrap;
    @include media('<phone-lg') {
      justify-content: center;
    }
  }

  &__block {
    .account &:first-child {
      @include media('<laptop') {
        width: 100%;
        margin-bottom: 2rem;
      }
      @include media('<phone-lg') {
        width: auto;
      }
    }
  }

  &__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__input-span {
    padding-left: .5rem;
  }
}
