/**
 * Category tree
 */

.#{$ns}side-nav {
    $root: &;

    &__parent {
        margin-bottom: 1.5rem;
        padding: 1.5rem 0;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 700;
        border-bottom: 1px solid $color_gallery;

        &-link,
        &-link:visited {
            color: $color_mineshaft;
            transition: color 0.15s linear;

            &:hover {
                color: $color_cerulean-blue;
                text-decoration: none;
            }
        }
    }

    &__category-name,
    &__parent-category-name {
        hyphens: auto;
    }

    &__products-counter {
        font-weight: 400;
        color: $color_gray;

        &:before {
            content: '(';
        }

        &:after {
            content: ')';
        }
    }

    &__list {
        margin: 0 0 1rem;
        padding: 0;
        list-style: none;

        &--subcats {
            margin: 1rem 0 2rem;
            padding-left: 2rem;

            #{$root}__link {
                color: $color_gray;

                &:visited {
                    color: $color_gray;
                }

                &--current {
                    font-weight: 700;

                    &:hover {
                        color: $color_gray;
                    }
                }
            }
        }
    }

    &__item {
        font-weight: 400;
        text-transform: none;
        font-size: 1.4rem;
        line-height: 1.25;

        &--has-children,
        &--has-children ~ #{$root}__item {
            font-weight: 700;
            font-size: 1.5rem;
        }
    }

    &__link {
        color: $color_mineshaft;
        transition: color 0.15s linear;

        &:hover {
            color: $color_cerulean-blue;
            text-decoration: none;
        }

        &:visited {
            color: $color_mineshaft;

            &:hover {
                color: $color_cerulean-blue;
            }
        }

        &--current {
            font-weight: 700;

            &:hover {
                color: $color_mineshaft;
            }
        }
    }
}
