@import 'config/variables';
@import 'vendors/include-media';
@import 'components/typography/mixin';
@import 'components/button/mixin';
@import 'components/field/mixin';

$pq-spacing: 2.3rem !default;

$pq-button-min-width: 18rem !default;

$pq-subscription-label-font-weight: 300 !default;
$pq-subscription-label-font-size: 1.4rem !default;

$pq-note_font-size: 1.2rem !default;
$pq-note_font-color: $color_text-500 !default;

$pq-separator_border: 1px solid $color_border-200 !default;
$pq-question_list-mobile-background: none !default;
$pq-question_list-desktop-background: none !default;

$pq-sort-icon_color: $color_primary-500 !default;

$pq-question-label_color: $color_text-800 !default;
$pq-question-info_color: $color_text-400 !default;

$pq-answer-label_color: $color_text-500 !default;
$pq-answer-date_color: $color_text-500 !default;

$pq-button-align: flex-start !default;
$pq-button-align-desktop: center !default;

$pq-button-primary-action_type: $button_default-type !default;
$pq-button_primary-action_icon-pos: 'only-icon' !default;

$pq-button-secondary-action_type: 'secondary' !default;
$pq-button-secondary-action_icon-pos: 'only-icon' !default;

$pq-thumb-up_color: $color_primary-500 !default;
$pq-thumb-down_color: $color_primary-500 !default;
$pq-thumb_size: 2.4rem !default;

$pq-list_item-tablet-indent: 10rem !default;
$pq-list_item-laptop-indent: 14rem !default;

$pq-form-background: $color_background-500 !default;
$pq-form-padding: 3rem !default;
$pq-form_headline-font-size: $font-size_headline-3 !default;
$pq-form_product-name-font-weight: 200 !default;

$pq-helpfullnes_background-color: lighten($color_background-500, 3%) !default;

.aw-pq {
    $root: &;

    &-form {
        margin-top: 1rem;
        background: $pq-form-background;
        padding: $pq-form-padding;

        &__headline {
            margin: 0 0 1.4em;
            font-size: $pq-form_headline-font-size;
        }

        &__product-name {
            font-weight: $pq-form_product-name-font-weight;
        }

        &__fieldset {
            @include media('>=laptop') {
                display: flex;
                flex-flow: row wrap;
            }
        }

        &__field-name {
            @include media('>=laptop') {
                flex: 1 1 49%;
            }
        }

        &__field-email {
            @include media('>=laptop') {
                flex: 1 1 50%;
                margin-top: 0 !important;
                padding: 0 0 0 2rem;
            }
        }

        &__textarea {
            resize: vertical;
        }

        &__note-wrapper {
            margin: 1rem 0 0 0;
        }

        &__button-note {
            margin: 0;
            font-weight: 300;
            font-style: italic;
            font-size: $pq-note_font-size;
            color: $pq-note_font-color;
        }

        &__button-wrapper {
            display: flex;
            width: 100%;
            margin: 2.5rem 0;
            justify-content: $pq-button-align;

            @include media('>=laptop') {
                justify-content: $pq-button-align-desktop;
                margin-bottom: 0;
            }
        }

        &__button-question {
            @include button(
                $type: $pq-button-primary-action_type,
                $icon_pos: $pq-button-primary-action_icon-pos
            );

            @include media('<=phoneLg') {
                width: 100%;
            }
        }

        &__button-question-span {
            @include button_span(
                $type: $pq-button-primary-action_type,
                $icon_pos: $button_default-icon-pos
            );
        }

        &__button-question-icon {
            @include button_icon(
                $type: $pq-button-primary-action_type,
                $icon_pos: $button_default-icon-pos
            );
        }

        &__send-answer-button {
            @include button(
                $type: $pq-button-primary-action_type,
                $icon_pos: $pq-button-primary-action_icon-pos
            );

            margin-top: 1rem;
            min-width: $pq-button-min-width;

            @include media('<tablet') {
                width: 100%;
            }
        }

        &__send-answer-button-span {
            @include button_span(
                $type: $pq-button-primary-action_type,
                $icon_pos: $button_default-icon-pos
            );
        }

        &__send-answer-button-icon {
            @include button_icon(
                $type: $pq-button-primary-action_type,
                $icon_pos: $button_default-icon-pos
            );
        }

        &__checkbox-label {
            font-size: 1.2rem;
        }
    }

    &-overlay {
        position: absolute;
        opacity: 1 !important;
        background: url('../images/ajax-loader.gif') no-repeat center center /
            30px 30px rgba($color_white, 0.75) !important;
        z-index: 5;
    }

    &-question {
        &__question {
            display: flex;
            flex-flow: row wrap;
            margin: 0.5rem 0 2.5rem 0;
            padding: $pq-spacing 0 0;
            justify-content: $pq-button-align;
            border-top: $pq-separator_border;

            @include media('<tablet') {
                margin-left: 1.5rem;
                margin-right: 1.5rem;
            }

            @include media('>=tablet') {
                justify-content: $pq-button-align-desktop;
                margin: 0;
                margin-bottom: 3rem;
            }
        }

        &-list-wrapper {
            background-color: $pq-question_list-mobile-background;

            @include media('>=tablet') {
                background-color: $pq-question_list-desktop-background;
            }
        }

        &-title-desktop {
            @include media('<tablet') {
                display: none;
            }
        }

        &-title-mobile {
            @include media('>=tablet') {
                display: none;
            }
        }

        &-sort {
            &-block {
                display: flex;
                align-items: center;

                .#{$ns}html-select {
                    display: block !important;
                }
            }

            &__icon {
                width: 1.5rem;
                height: 1rem;
                fill: $pq-sort-icon_color;
                box-sizing: border-box;
                margin-left: 0.8rem;
            }

            &__sortby-label {
                width: auto;
                font-size: 1.1rem;
                margin-right: 1rem;
                text-transform: uppercase;
            }

            &__sortby {
                margin-bottom: 0;
                width: auto !important;
                min-width: 20rem;
            }
        }

        &-form {
            &__wrapper {
                flex: 1 1 100%;
                padding: 0;

                @include media('>=tablet') {
                    margin-top: 0;
                }
            }

            &__textarea {
                resize: vertical;
            }
        }
    }

    &-list {
        &__helpfulness-progress,
        &__helpfulness-value {
            min-width: 1.5rem;
            display: inline-block;
        }

        &__please-login-note {
            margin-top: 1.5rem;
        }

        &__next-question-button {
            @include button(
                $type: $pq-button-secondary-action_type,
                $icon_pos: $pq-button-secondary-action_icon-pos
            );

            @include media('<phoneLg') {
                width: 100%;
            }
        }

        &__next-question-button-span {
            @include button_span(
                $type: $pq-button-secondary-action_type,
                $icon_pos: $button_default-icon-pos
            );
        }

        &__next-question-button-icon {
            @include button_icon(
                $type: $pq-button-secondary-action_type,
                $icon_pos: $button_default-icon-pos
            );
        }

        &__next-answer-button {
            @include button(
                $type: $pq-button-secondary-action_type,
                $icon_pos: $pq-button-secondary-action_icon-pos
            );

            @include media('<tablet') {
                margin-top: 1.5rem;
            }
        }

        &__next-answer-button-span {
            @include button-span(
                $type: $pq-button-secondary-action_type,
                $icon_pos: $button_default-icon-pos
            );
        }

        &__next-answer-button-icon {
            @include button-icon(
                $type: $pq-button-secondary-action_type,
                $icon_pos: $button_default-icon-pos
            );
        }

        &__question,
        &__answer {
            display: flex;
            flex-direction: column;

            @include media('>=tablet') {
                border-left: $pq-separator_border;
            }

            @include media('>=laptop') {
                flex-direction: row;
                border-left: none;
            }

            &-label {
                color: $pq-question-label_color;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.2rem;
                text-transform: uppercase;
                box-sizing: border-box;
                padding: $pq-spacing 1.5rem;

                @include media('>=tablet') {
                    padding: $pq-spacing;
                }

                @include media('>=laptop') {
                    flex: 0 0 $pq-list_item-laptop-indent;
                    line-height: 2.5rem;
                    word-break: break-all;
                    text-align: left;
                    padding-right: 0;
                    border-left: $pq-separator_border;
                }

                &-text {
                    @include media('>=laptop') {
                        text-indent: 5.4rem;
                    }
                }
            }

            &-item_hidden {
                display: none !important;
            }

            &-wrapper {
                padding: 0 1.5rem;
                flex-grow: 1;

                @include media('>=tablet') {
                    padding: 0 $pq-spacing $pq-spacing;
                }

                @include media('>=laptop') {
                    padding-top: $pq-spacing;
                }
            }
        }
        // stylelint-disable no-descending-specificity
        &__question {
            @include media('>=tablet') {
                margin-left: $pq-list_item-tablet-indent;
            }

            @include media('>=laptop') {
                margin-left: $pq-list_item-laptop-indent;
            }

            &-info {
                margin-top: 0.5rem;
                font-weight: 300;
                font-size: 1.25rem;
                color: $pq-question-info_color;

                @include media('>=tablet') {
                    display: inline-block;
                }
            }

            &-item {
                display: flex;
                flex-direction: column;
                padding: 2rem 0;
                border-top: $pq-separator_border;

                &:first-child {
                    border-top: none;
                }

                @include media('>=tablet') {
                    flex-direction: row;
                    padding: 3rem 0;
                }
            }

            &-expand {
                display: none !important;
            }

            &-label {
                font-size: 1.1rem;
                line-height: 1.4rem;
                font-weight: 700;
                background: $pq-helpfullnes_background-color;
                padding: 0;

                @include media('>=tablet') {
                    line-height: 2.3rem;
                    order: 1;
                }

                // 1 Left transparent area to the container's left
                // 2 Fix Chrome transparent line in background bug
                @include media('>=laptop') {
                    background-clip: content-box; // 1
                    padding-left: 2rem; // 1
                    transform: translateX(1px); // 2
                }
            }

            &-caption {
                padding: calc(#{$pq-spacing} - 0.3rem) 1.5rem 0.5rem;

                @include media('>=tablet') {
                    padding-left: $pq-spacing;
                    padding-right: $pq-spacing;
                }

                @include media('>=laptop') {
                    padding-top: 2.3rem;
                    padding-right: 0;
                    padding-bottom: 0;
                    text-indent: 2.6rem;
                }
            }

            &-content {
                color: $pq-question-label_color;
                font-size: 1.5rem;
                line-height: 1.5;
                font-weight: 700;

                @include media('>=tablet') {
                    line-height: 2.3rem;
                }
            }

            &-wrapper {
                background: $pq-helpfullnes_background-color;

                @include media('>=tablet') {
                    order: 2;
                }
            }
        }

        &__helpfulness {
            padding-top: 0.5rem;

            &-layout {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 2rem;

                @include media('>=tablet') {
                    flex-direction: column;
                    margin-top: 1rem;
                    margin-right: 0;
                }

                .aw-pq-list__answer & {
                    @include media('<tablet') {
                        flex-direction: row;
                        align-items: flex-start;
                        margin-right: 0;
                    }
                }

                &-unit_position_center {
                    text-align: center;
                    height: 2.5rem;
                    line-height: 2.5rem;
                    padding: 0 1rem;

                    @include media('>=tablet') {
                        margin-bottom: 0.5rem;
                    }
                }
            }

            &--answer {
                @include media('<tablet') {
                    padding-left: 0;
                    margin-top: 0.5rem;
                }

                .aw-pq-list__helpfulness-layout {
                    flex-direction: row;
                    border-radius: 3px;
                    padding: 0.3rem 0.5rem 0;
                    background: $pq-helpfullnes_background-color;
                    display: inline-flex;
                }

                .aw-pq-list__helpfulness-layout-unit {
                    &:nth-child(1) {
                        transform: scale(0.65) translateY(-0.2rem);
                    }

                    &:nth-child(3) {
                        transform: scale(0.65) translateY(0.1rem);
                    }
                }
            }

            &-wrapper {
                padding: $pq-spacing 1.5rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                @include media('<tablet') {
                    background: $pq-helpfullnes_background-color;
                }

                @include media('>=tablet') {
                    padding: $pq-spacing;
                    position: absolute;
                    left: 0;
                    flex: 0 0 10rem;
                    align-items: center;
                    order: 0;
                    width: $pq-list_item-tablet-indent;
                }

                @include media('>=laptop') {
                    width: $pq-list_item-laptop-indent;
                }
            }

            &-thumb {
                width: $pq-thumb_size;
                height: $pq-thumb_size;

                #thumb-up-svg-icon__fill,
                #thumb-down-svg-icon__fill {
                    transition: fill 0.25s linear;
                }

                &--up {
                    #thumb-up-svg-icon__shape {
                        fill: $pq-thumb-up_color;
                    }

                    &:hover,
                    #{$root}-list__helpfulness-icon_like_voted & {
                        #thumb-up-svg-icon__fill {
                            fill: $pq-thumb-up_color;
                        }
                    }
                }

                &--down {
                    #thumb-down-svg-icon__shape {
                        fill: $pq-thumb-down_color;
                    }

                    &:hover,
                    #{$root}-list__helpfulness-icon_dislike_voted & {
                        #thumb-down-svg-icon__fill {
                            fill: $pq-thumb-up_color;
                        }
                    }
                }
            }
        }

        &__answer {
            &-label {
                padding-bottom: 0.5rem;

                @include media('>=laptop') {
                    padding-bottom: 0;
                }

                .aw-pq-list__helpfulness {
                    @include media('>=tablet') {
                        display: inline-block;
                    }
                }

                .aw-pq-list__helpfulness-layout {
                    @include media('>=tablet') {
                        display: inline-flex;
                        flex-direction: column;
                        margin-top: 1rem;
                    }
                }
            }

            &-label-text {
                font-size: 1.1rem;
                line-height: 1;
                display: inline-block;
            }

            &-item {
                @include media('>=tablet') {
                    margin-left: $pq-list_item-tablet-indent;
                }

                @include media('>=laptop') {
                    margin-left: $pq-list_item-laptop-indent;
                    transform: translateX(
                        1px
                    ); // Fix Chrome transparent line in background bug
                }
            }

            &-content {
                margin-top: 0.2rem;
                font-weight: 300;
                font-size: 1.5rem;
                line-height: 1.5;
                color: $pq-answer-label_color;
            }

            &-date {
                margin-top: 0.5rem;
                font-weight: 300;
                font-size: 1.2rem;
                color: $pq-answer-date_color;
            }

            &-list {
                display: block !important;
                flex: 1 1 auto;
            }

            &-action-bar {
                display: flex;
                flex-wrap: wrap;
                padding: $pq-spacing 1.5rem 0;

                @include media('>=tablet') {
                    border-left: $pq-separator_border;
                    margin-left: $pq-list_item-tablet-indent;
                    padding: $pq-spacing 0 0 2rem;
                }

                @include media('>=laptop') {
                    margin-left: $pq-list_item-laptop-indent;
                    padding-left: calc(#{$pq-list_item-laptop-indent} + 2rem);
                    transform: translateX(
                        1px
                    ); // Fix Chrome transparent line in background bug
                }
            }

            &-action-wrapper {
                border-top: $pq-separator_border;
                width: 100%;
                padding-top: $pq-spacing;
            }

            &-wrapper {
                @include media('>=tablet') {
                    padding-bottom: 0;
                }
            }
        }

        &__next-answer {
            width: 100%;

            @include media('>=tablet') {
                width: auto;
            }
        }

        &__next-answer-button,
        &__add-answer-button {
            min-width: $pq-button-min-width;

            @include media('<tablet') {
                width: 100%;
            }
        }

        &__next-question-button,
        &__add-question-button {
            @include media('<tablet') {
                width: 100%;
            }
        }

        &__add-question-button {
            @include button(
                $type: $pq-button-primary-action_type,
                $icon_pos: $pq-button-primary-action_icon-pos
            );
        }

        &__add-question-button-span {
            @include button_span(
                $type: $pq-button-primary-action_type,
                $icon_pos: $button_default-icon-pos
            );
        }

        &__add-question-button-icon {
            @include button_icon(
                $type: $pq-button-primary-action_type,
                $icon_pos: $button_default-icon-pos
            );
        }

        &__add-answer-button {
            @include button(
                $type: $pq-button-primary-action_type,
                $icon_pos: $pq-button-primary-action_icon-pos
            );

            @include media('>=tablet') {
                margin: 0 1rem 0 0;
            }
        }

        &__add-answer-button-span {
            @include button_span(
                $type: $pq-button-primary-action_type,
                $icon_pos: $button_default-icon-pos
            );
        }

        &__add-answer-button-icon {
            @include button_icon(
                $type: $pq-button-primary-action_type,
                $icon_pos: $button_default-icon-pos
            );
        }

        &__next-question {
            @include media('>=tablet') {
                margin-right: 1rem;
            }

            @include media('<tablet') {
                width: 100%;
                margin-bottom: 1rem;
            }
        }

        &__no-answers {
            font-weight: 300;
            font-size: 1.5rem;
            color: $pq-answer-label_color;

            @include media('<tablet') {
                padding: $pq-spacing $pq-spacing 0;
            }

            @include media('>=tablet') {
                padding-top: $pq-spacing;
                padding-left: 2rem;
                margin-left: $pq-list_item-tablet-indent;
                border-left: $pq-separator_border;
            }

            @include media('>=laptop') {
                padding-left: calc(#{$pq-list_item-laptop-indent} + 2rem);
                margin-left: $pq-list_item-laptop-indent;
                transform: translateX(
                    1px
                ); // Fix Chrome transparent line in background bug
            }
        }

        &__no-questions {
            margin: 1rem 0;
            text-align: center;
        }

        &__action-bar {
            margin-top: 1.5rem;
            display: flex;
            flex-wrap: wrap;
            padding: 0 0 2.5rem 0;

            @include media('>=tablet') {
                padding: 3rem 0 0 0;
            }
        }
    }
}

//Aheadworks product questions - User Area

#aw_pq_subscribe_to_form {
    ul {
        padding-left: 0;
    }

    //Subscription item
    li {
        @include field();
        align-items: center;
        margin-top: 1rem;
    }

    //Subscription checkbox
    li > input {
        @include field-checkbox();
    }

    //Subscription checkbox label
    li > label {
        font-weight: $pq-subscription-label-font-weight;
        font-size: $pq-subscription-label-font-size;
    }
}
