$namespace: 'cs-';

/* stylelint-disable */

$base-font-family: 'Libre Franklin', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', Arial, sans-serif;
/* stylelint-enable */

body {
  background: $colorWhite;
  font-family: $base-font-family;
  -webkit-overflow-scrolling: touch;
}
