@import '../../node_modules/creative-patterns/packages/utilities/breakpoint/src/breakpoint';

/**
 * Responsive breakpoints used by include-media vendor library.
 */
$breakpoints: (
    phone: 23.13em,
    phone-lg: 30em,
    tablet: 48em,
    laptop: 64em,
    laptop-lg: 80em,
    desktop: 90em,
    tv: 120em,
);
