@import '../../node_modules/creative-patterns/packages/utilities/breakpoint/src/breakpoint';

/**
 * Responsive breakpoints used by include-media vendor library.
 */
$breakpoints: (
    phone: 23.13em, // 370px
    phone-lg: 30em,  // 480px
    tablet: 48em,   // 768px
    laptop: 64em,   // 1024px
    desktop: 90em,  // 1440px
    tv: 120em       // 1920px
);
