
@include export-once( 'customizations/discount-block' ) {
    .#{$namespace}discount {
        padding: 1.5rem 2rem 0;
        border-top: 1px solid $colorAlto;
        @include media('>=laptop') {
            padding: 1.5rem 2rem 0 0;
            width: 30rem;
            border-top: none;
        }

        &__content {
            padding: .5rem 0 2rem;
        }

        &__title {
            border-top: none;
            padding: 0;
            @include media('>=laptop') {
                margin-bottom: 2rem;
            }

            &:after {
                content: '';
                display: inline-block;
                background-image: url( 'images/button-arrow-dark.png' );
                background-size: contain;
                background-repeat: no-repeat;
                width: .6rem;
                height: 1rem;
                transform: rotate( 90deg );
                margin-left: 1rem;
            }
        }

        &__form {
            padding-top: 1.5rem;
            @include media('>=tablet') {
                padding-top: .5rem;
            }
        }
    }
}

