
@include export-once( 'customizations/discount-block' ) {
    .#{$namespace}discount {
        padding: 1.5rem 2rem 0;
        border-top: 1px solid $colorAlto;
        @include media('>=laptop') {
            padding: 1.5rem 2rem 0 0;
            width: 30rem;
            border-top: none;
        }

        &__title {
            @include media('>=laptop') {
                margin-bottom: 2rem;
            }
        }

        &__form {
            padding-top: 1.5rem;
        }
    }
}

