@import 'config/variables';
@import 'vendors/include-media';

$reviews_legend-font-size: $font-size_headline-3 !default;
$reviews_subtitle-font-size: $font-size_headline-4 !default;

.cs-reviews {
    &__title {
        background: $color_gallery;

        @include media('>=tablet') {
            background: none;
            padding: 0;
        }
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__label {
        float: left;
        line-height: 4rem;
    }

    &__item {
        padding: 0 0 2.5rem !important;
        margin: 0 0 2.5rem !important;
        border-bottom: 1px solid $color_alto;
        list-style: none;

        &:last-of-type {
            border-bottom: 0;
            margin-bottom: 0 !important;
        }

        &:before {
            display: none !important;
        }
    }

    &__form {
        text-align: right;

        //For reviews star and German wording it is min-width to fit them in one line
        .#{$ns}form__field--half {
            min-width: 37rem;
        }
    }

    &__legend {
        margin-bottom: 1em;
        text-align: left;
        font-size: $reviews_legend-font-size;
    }

    &__legend-product-name {
        font-weight: 700;
    }

    &__fieldset {
        margin-bottom: 1.5em;
        text-align: left;

        .cs-form__field {
            margin-bottom: 2rem;
        }
    }

    &__rate {
        height: 7rem;
        overflow: hidden;
        margin-top: 0;
        margin-bottom: 2rem;
        @include media('>=phoneLg') {
            height: 4.1rem;
        }

        &:before {
            @include media('<phoneLg') {
                top: 2.6rem;
            }
        }

        + .mage-error {
            margin: -2rem 0 2rem !important; // stylelint-disable-line
        }
    }

    &__rate-stars {
        @include media('<phoneLg') {
            top: 2.5rem;
        }
    }

    &__rate-feedback {
        position: absolute;
        top: 0.8rem;
        left: 0;
        padding: 2rem 1rem 0;
        font-size: 1.08rem;
        font-weight: 700;
        transform: translateY(-50%);
        color: $color_gray;
        @include media('>=phoneLg') {
            top: 50%;
            right: 0;
            left: auto;
            padding: 0 1rem;
        }
    }

    &__review-field {
        min-height: 10rem;
    }
}

.review-control-vote {
    background: $color_white;
    border-radius: 3px;
    max-width: 40rem;
    width: 100%;

    @include media('>=tablet') {
        background: $color_gallery;
        max-width: 50%;

        //For reviews star and German wording it is min-width to fit them in one line
        min-width: 37rem;
    }
}
