$ns: 'cs-';
@import 'components/cookie-message/cookie-message.scss';

.#{$ns}cookie-message {
    @include cookieMessage();
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;

    &--shown {
        z-index: 400;
    }

    &__text {
        padding-left: 6.1rem;

        .block-cms-link.widget,
        p {
            margin: 0;
            display: inline;
        }
    }

    &__icon {
        width: 5.5rem;
        height: 5.5rem;
        top: -3.5rem;
    }

    &__button {
        min-width: 3rem;
        min-height: 1rem;
        padding: 0.5rem 1rem;
        font-size: 85%;
        white-space: nowrap;
    }
}
