@import '../../../node_modules/creative-patterns/packages/components/navigation/src/navigation';

.#{$namespace}navigation {
    @include navigation();
    $root: &;

    @include media('<tablet') {
        display: none;
    }

    .page-print & {
        display: none;
    }

    &__list {
        max-width: 1200px;
        margin: 0 auto;
        flex-wrap: wrap;

        @include media('>=tablet') {
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }

    &__flyout {
        z-index: 1001; // Make sure flyouts cover gallery nav.
        border: 1px solid $colorAlto;
        box-shadow: 2px 2px 5px rgba( 0, 0, 0, .15 );
        margin-top: -1px;
    }

    &__item {
        &:hover {
            > #{$root}__link {
                color: $colorCeruleanBlue;
            }
        }
    }

    &__link {
        padding: .6rem 1.5rem .6rem 0;
        @include media('>=tablet') {
            padding: 1.286rem 0;
        }

        &:hover {
            text-decoration: none;
            color: $colorCeruleanBlue;
        }

        &--category {
            padding-bottom: 2rem;
        }

    }

    &__categories {
        padding: 2rem;
    }
}
