@import 'config/variables';
@import 'utils/visually-hidden';
@import 'vendors/include-media';
@import 'etc/view.scss';
@import 'utils/deep-get/deep-get.scss';
@import 'components/button/mixin';

// Keep in sync with quantity wrapper in buybox.
$swatches_label-width: 10rem !default;
$swatches_label-width-laptop-up: 11rem !default;
$swatches_label-gutter: 1.5rem !default;
$swatches_label-font-size: 1.1em !default;
// Keep in sync width quantity wrapper in buybox end.

// Scenario with swatches below label, which is 100% wide
// Width thos variable set tp true $swatches_label-width
// and $swatches_label-width-laptop-up will be overriden - always 100% width
$swatches_full-width-label: false !default;

$swatches_disable-show-more: true !default;
$swatches_swatch-gutter: 0.4em !default;
$swatches_swatch-height: 2.8em !default;
$swatches_swatch-width: 3.2em !default;
$swatches_swatch-padding: 0 0.35em !default;
$swatches_swatch-color: $color_text-500 !default;
$swatches_swatch-text-offset: 0.1em !default;

$swatches_swatch-background: $color_background-500 !default;
$swatches_swatch--hover-background: $color_background-200 !default;
$swatches_swatch--selected-background: $color_background-200 !default;

$swatches_swatch-border-radius: $border-radius_base !default;
$swatches_swatch-border-width: 3px !default;
$swatches_swatch-border: $swatches_swatch-border-width solid
    $swatches_swatch-background !default;
$swatches_swatch--hover-border: $swatches_swatch-border-width solid
    $swatches_swatch--hover-background !default;
$swatches_swatch--selected-border: $swatches_swatch-border-width solid
    $swatches_swatch--selected-background !default;

$swatches_swatch--text-disabled-background: $color_background-200 !default;
$swatches_swatch--text-disabled-border: 1px solid $color_border-500 !default;
$swatches_swatch--text-disabled-color: $color_text-400 !default;
$swatches_swatch--text-opacity: 0.65 !default;

$swatches_swatch-outline-width: 1px !default;
$swatches_swatch-outline-offset: (
    $swatches_swatch-border-width + $swatches_swatch-outline-width
) !default;
$swatches_swatch-outline: $swatches_swatch-outline-width solid $color_border-500 !default;
$swatches_swatch--hover-outline: $swatches_swatch-outline-width solid
    $color_primary-500 !default;
$swatches_swatch--selected-outline: $swatches_swatch-outline-width solid
    $color_primary-800 !default;

$swatches_rows-gutter: $swatches_swatch-gutter * 2 !default;

$swatches--tile_font-size: 0.45em !default;
// Tells how many rows of swatches will be displayed inside tile component.
$swatches--tile_num-of-rows: 1 !default;
// Calculates how much space should be reserved in tile for swatches to prevent content from jumping.
$swatches--tile_min-height: calc(
    #{$swatches--tile_num-of-rows} * (#{$swatches_swatch-height} + #{$swatches_swatch-outline-offset *
                2})
);
$swatches--pdp_font-size: 0.9em !default;
$swatches--filters_font-size: 0.8em !default;

// Tooltips for swatches
$swatches_tooltip-background: $color_white !default;
$swatches_tooltip-border-radius: 0.5rem !default;
$swatches_tooltip-border-size: 0.1rem !default;
$swatches_tooltip-border-color: $color_border-500 !default;
$swatches_tooltip-color: $color_text-400 !default;
$swatches_tooltip-font-size: 1.3rem !default;
$swatches_tooltip-font-weight: 400 !default;
$swatches_tooltip-margin: 0 !default;
$swatches_tooltip-padding: 0.5rem !default;
$swatches_tooltip-min-width: 2rem !default;
$swatches_tooltip-arrow-show: true !default;
$swatches_tooltip-arrow-size: 1rem !default;
$swatches_tooltip-arrow-offset-x: 50% !default;
$swatches_tooltip-text-align: center !default;

$swatches_tooltip-thumbnail-data: deep-get(
    $view-xml,
    media,
    images,
    image,
    swatch_thumb
) !default;

$swatches_tooltip-thumbnail-width: #{map-get(
        $swatches_tooltip-thumbnail-data,
        width
    )} !default;
$swatches_tooltip-thumbnail-height: #{map-get(
        $swatches_tooltip-thumbnail-data,
        height
    )} !default;

// Container selector for swatches in tile and daily deal teaser.
[class^='swatch-opt-'] {
    pointer-events: none;
    font-size: $swatches--tile_font-size;
    min-height: $swatches--tile_min-height;
    opacity: 1;
    transition: opacity 0.3s;

    &:empty {
        opacity: 0;
    }

    // IE needs to have width set explicitly
    .ie11 & {
        width: 100%;
    }
}

// Container selector for swatches on PDP
.swatch-opt {
    font-size: $swatches--pdp_font-size;

    // Selector for error container when swatches are required but not selected.
    .mage-error {
        font-size: 1em;
        width: 100%;
        margin-left: calc(#{$swatches_label-width} + #{$swatches_label-gutter});

        @if ($swatches_full-width-label == true) {
            margin-left: 0;
        }

        @include media('>=laptop') {
            margin-left: calc(
                #{$swatches_label-width-laptop-up} + #{$swatches_label-gutter}
            );

            @if ($swatches_full-width-label == true) {
                margin-left: 0;
            }
        }
    }
}

.swatch-attribute {
    display: flex;
    width: 100%;
    overflow: hidden;
    align-items: center !important;
    flex-wrap: wrap;

    // The only selector we have to tell that swatches are inside aftersearch navigation.
    &.swatch-layered {
        font-size: $swatches--filters_font-size;
    }

    & + & {
        margin-top: $swatches_rows-gutter;
    }
}

.swatch-attribute-label {
    text-transform: uppercase;
    line-height: calc(
        #{$swatches_swatch-height} - #{$swatches_swatch-border-width * 2} + #{$swatches_swatch-text-offset}
    );
    font-weight: 700;
    font-size: $swatches_label-font-size;
    width: $swatches_label-width;
    margin-right: $swatches_label-gutter;

    @if ($swatches_full-width-label == true) {
        width: 100%;
    }

    @include media('>=laptop') {
        width: $swatches_label-width-laptop-up;

        @if ($swatches_full-width-label == true) {
            width: 100%;
        }
    }

    &:after {
        content: ': ';
        line-height: calc(
            #{$swatches_swatch-height} - #{$swatches_swatch-border-width * 2} +
                #{$swatches_swatch-text-offset}
        );
    }
}

.swatch-attribute-selected-option {
    @include visually-hidden();
}

.swatch-attribute-options {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-#{$swatches_swatch-gutter / 2});
    margin-bottom: -#{$swatches_swatch-gutter};
    min-width: 100%;
    justify-content: center;
    
    &:focus {
        box-shadow: none;
    }

    .swatch-attribute-label ~ & {
        min-width: 0;
        justify-content: flex-start;
        max-width: calc(
            100% - #{$swatches_label-gutter} - #{$swatches_label-width}
        );

        @if ($swatches_full-width-label == true) {
            max-width: 100%;
        }

        @include media('>=laptop') {
            max-width: calc(
                100% - #{$swatches_label-gutter} - #{$swatches_label-width-laptop-up}
            );

            @if ($swatches_full-width-label == true) {
                max-width: 100%;
            }
        }
    }
}

// Element added as a parent of .swatch-option in filters.
.swatch-option-link-layered {
    font-size: 1em;

    &:hover {
        text-decoration: none;
    }
}

.swatch-option {
    font-weight: normal;
    position: relative;
    min-width: $swatches_swatch-width;
    height: $swatches_swatch-height;
    padding: $swatches_swatch-padding;
    margin: #{$swatches_swatch-outline-width} calc(
            #{$swatches_swatch-outline-width} + #{$swatches_swatch-gutter / 2}
        ) calc(#{$swatches_swatch-outline-width} + #{$swatches_swatch-gutter});
    border-radius: $swatches_swatch-border-radius;
    background-color: $swatches_swatch-background;
    border: $swatches_swatch-border;
    color: $swatches_swatch-color;
    cursor: pointer;
    line-height: calc(
        #{$swatches_swatch-height} - #{$swatches_swatch-border-width * 2} + #{$swatches_swatch-text-offset}
    );
    text-align: center;
    transition: background-color 0.3s, border-color 0.3s, opacity 0.3s,
        color 0.3s;

    @if $swatches_disable-show-more {
        display: block !important;
    }

    &:before {
        content: '';
        position: absolute;
        top: -$swatches_swatch-outline-offset;
        left: -$swatches_swatch-outline-offset;
        right: -$swatches_swatch-outline-offset;
        bottom: -$swatches_swatch-outline-offset;
        border: $swatches_swatch-outline;
        border-radius: $swatches_swatch-border-radius;
        transition: border-color 0.3s;
    }

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        background: url(../images/icons/swatches/disabled.svg)
            rgba($color_background-600, 0.5) center no-repeat;
        transform: translate(-50%, -50%);
        width: calc(#{$swatches_swatch-height} - 1.4em);
        height: calc(#{$swatches_swatch-height} - 1.4em);
        background-size: 0.6em;
        transition: opacity 0.3s;
        opacity: 0;
    }

    &:not(.disabled):not(.selected):not([disabled]) {
        &:hover {
            border: $swatches_swatch--hover-border;
            background: $swatches_swatch--hover-background;

            &:before {
                border: $swatches_swatch--hover-outline;
            }
        }
    }

    &.selected {
        border: $swatches_swatch--selected-border;
        background: $swatches_swatch--selected-background;

        &:before {
            border: $swatches_swatch--selected-outline;
        }
    }

    &.disabled,
    &[disabled] {
        cursor: not-allowed;

        &.text {
            opacity: $swatches_swatch--text-opacity;
            color: $swatches_swatch--text-disabled-color;
            background: $swatches_swatch--text-disabled-background;

            &:before {
                border: $swatches_swatch--text-disabled-border;
            }
        }

        &.image,
        &.color {
            &:after {
                opacity: 1;
            }
        }
    }
}

.swatch-input {
    @include visually-hidden();

    // Restore original styles from Magento. 
    // It prevents keyboard on mobile to be shown after swatch is clicked
    left: -1000px;
    position: absolute;
    visibility: hidden;
}

.swatch-more {
    @if $swatches_disable-show-more {
        display: none;
    }
}

.swatch-option-tooltip,
.swatch-option-tooltip-layered {
    display: none;
    position: absolute;
    margin: $swatches_tooltip-margin;
    z-index: 999;
    background: $swatches_tooltip-background;
    border-radius: $swatches_tooltip-border-radius;
    color: $swatches_tooltip-color;
    font-size: $swatches_tooltip-font-size;
    font-weight: $swatches_tooltip-font-weight;
    padding: $swatches_tooltip-padding;
    text-align: $swatches_tooltip-text-align;
    min-width: $swatches_tooltip-min-width;

    @if (
        $swatches_tooltip-border-size !=
            0 and
            $swatches_tooltip-border-size !=
            'none'
    ) {
        border: $swatches_tooltip-border-size
            solid
            $swatches_tooltip-border-color;
    }

    .image {
        display: block;
        margin: 0 auto;
        width: $swatches_tooltip-thumbnail-width + 'px';
        height: $swatches_tooltip-thumbnail-height + 'px';
    }

    .corner {
        @if ($swatches_tooltip-arrow-show) {
            &:after {
                content: '';
                position: absolute;
                top: 100%;
                display: block;
                width: $swatches_tooltip-arrow-size;
                height: $swatches_tooltip-arrow-size;
                background-color: $swatches_tooltip-background;
                left: $swatches_tooltip-arrow-offset-x;
                @if (unit($swatches_tooltip-arrow-offset-x) == '%') {
                    transform: translateX(-#{$swatches_tooltip-arrow-offset-x})
                        rotate(45deg);
                } @else {
                    transform: rotate(45deg);
                }

                @if (
                    $swatches_tooltip-border-size !=
                        0 and
                        $swatches_tooltip-border-size !=
                        'none'
                ) {
                    border-bottom: $swatches_tooltip-border-size
                        solid
                        $swatches_tooltip-border-color;
                    border-right: $swatches_tooltip-border-size
                        solid
                        $swatches_tooltip-border-color;
                    margin-top: calc(
                        -#{$swatches_tooltip-arrow-size /
                            2} +
                            #{$swatches_tooltip-border-size}
                    );
                } @else {
                    margin-top: -#{$swatches_tooltip-arrow-size / 2};
                }
            }
        } @else {
            display: none !important;
        }
    }
}
