@import 'config/variables';
@import 'vendors/include-media';

@import 'components/qty-counter/mixin';

$header-user-nav_items: 3 !default; // number of items in header user nav (without search item)

$header-user-nav_icon-color: $color_primary-500 !default;
$header-user-nav_icon-color-hover: $color_primary-500 !default;

$header-user-nav_label-show: true !default;
$header-user-nav_label-color: $color_text-500 !default;
$header-user-nav_label-color-hover: $color_text-500 !default;

$header-user-nav_qty-counter-wishlist-show-empty: false !default;
$header-user-nav_qty-counter-minicart-show-empty: false !default;
$header-user-nav_qty-counter-show-animation: true !default;

.#{$ns}header-user-nav {
    $root: &;

    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 1rem;
    height: 100%;

    @include media('>=tablet') {
        padding-right: 0;
    }

    &__item {
        margin-bottom: 0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        min-width: 100% / ($header-user-nav_items + 1);
        width: 100% / $header-user-nav_items;

        @include media('>=laptop') {
            padding: 1rem 0;
        }

        &--search {
            @if ($global_header-hide-search-item-trigger-breakpoint) {
                @if ($global_header-hide-search-item-trigger-breakpoint == true) {
                    display: none;
                } @else {
                    @include media($global_header-hide-search-item-trigger-breakpoint) {
                        display: none;
                    }
                }
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        width: 100%;

        &:hover {
            text-decoration: none;

            #{$root}__icon {
                path {
                    fill: $header-user-nav_icon-color-hover;
                }
            }

            #{$root}__label {
                color: $header-user-nav_label-color-hover;
            }
        }

        &--search {
            &:hover {
                cursor: pointer;
            }
        }
    }

    &__icon {
        width: 2.6rem;
        height: 2.6rem;
        display: block;
        margin: 0 auto;

        @include media('<phone') {
            width: 2rem;
            height: 2rem;
        }

        path {
            fill: $header-user-nav_icon-color;
        }

    }

    &__label {
        display: none;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 300;
        margin-top: 0.3rem;
        color: $header-user-nav_label-color;
        text-decoration: none;

        @if ($header-user-nav_label-show) {
            @include media('>=tablet') {
                display: block;
            }
        }
    }

    &__qty-counter {
        @include qty-counter();

        position: absolute;
        right: -40%;
        top: -0.5rem;
        opacity: 0;

        @include media('<phoneLg') {
            font-size: 0.9rem;
        }

        @include media('>=tablet') {
            right: 0;
        }

        @include media('>=laptop') {
            right: 25%;
        }

        @if ($header-user-nav_qty-counter-show-animation) {
            transition: opacity 0.5s;
        }

        &--wishlist {
            @include qty-counter_type('wishlist');
        }

        &--minicart {
            @include qty-counter_type('minicart');
        }

        &--have-items {
            opacity: 1;
        }

        &--empty {
            &#{$root}__qty-counter--wishlist {
                @if ($header-user-nav_qty-counter-wishlist-show-empty) {
                    opacity: 1;
                }
            }

            &#{$root}__qty-counter--minicart {
                @if ($header-user-nav_qty-counter-minicart-show-empty) {
                    opacity: 1;
                }
            }
        }
    }

    &__qty-counter-span {
        @include qty-counter_span();
    }
}