<section class="cs-container">
    <div class="cs-container__inner">
        {% include locate('components/brand-carousel/brand-carousel.twig') with {
            namespace: 'cs-',
            navigation: {
                show: true,
                icons: {
                    prev: {
                        src: '#icon_arrow-left'
                    },
                    next: {
                        src: '#icon_arrow-right'
                    },
                }
            },
            pagination: {
                show: true
            },
            brands: brands
        } %}
    </div>
</section>
