/* Used to visualize attributes of a product in M2's PDP */

@import '../list/list';

.#{$namespace}attributes-list {
    $root: &;

    &__list {
        @extend .#{$namespace}list;
        list-style: none;
        font-size: inherit;

        &--columns {
            columns: 2;
        }
        &--long-labels {
            #{$root}__item,
            #{$root}__item-label {
                @include media('<tablet') {
                    width: 45%;
                }
            }

        }

    }

    &__item {
        padding: .2rem 0;
        margin: 0;
        position: relative;
        padding-left: 1.5em;
        display: inline-block;
        clear: right;
        width: 65%;
    }

    &__item-label {
        font-weight: 700;
        display: inline-block;
        width: 22%;
        margin: 0;
        vertical-align: top;

        &--long {
            width: 40%;
        }
    }

    &__bullet {
        @extend .#{$namespace}list__bullet;

        &--tick {
            position: absolute;
            top: 5px;
            left: 0;
            width: .75em;
            height: .7em;
            fill: $colorApple;
        }
    }
}
