/**
 * Mixing used to include custom fonts within elements.
 *
 * Usage(inside element):
 * @include font-family('Your Font Name');
 *
 * @param  {String} $name Font name.
 */
@mixin font-family($name) {
    font-family: $name, $base-font-family;
}

body {
    /**
     * Set default font-family.
     */
    font-family: $base-font-family;
}
