.cs-hide-mobile {
    @include media( '<tablet' ) {
        display: none !important;/* stylelint-disable-line declaration-no-important */
    }
}

.cs-hide-tablet-desktop {
    @include media( '>=tablet' ) {
        display: none !important;/* stylelint-disable-line declaration-no-important */
    }
}

.cs-hide-mobile-tablet {
    @include media( '<laptop' ) {
        display: none !important;/* stylelint-disable-line declaration-no-important */
    }
}

.cs-no-display {
    display: none !important;/* stylelint-disable-line declaration-no-important */
}

.cs-display {
    display: block !important;/* stylelint-disable-line declaration-no-important */
}
