.#{$namespace}category-page {
    $root: &;

    display: flex;
    position: relative;
    flex-wrap: wrap;

    @include media('>=tablet') {
        flex-wrap: nowrap;
        padding-bottom: 3rem;
        border-bottom: 1px solid $colorAlto;
        margin-bottom: 3rem;
    }

    .page-title-wrapper {
        padding: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include media('>=tablet') {
            padding: .2rem 0 1.5rem;
            margin-bottom: 1.5rem;
        }


        .page-title {
            padding-bottom: 0;
        }
    }

    &__toolbar {
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        display: flex;
        @include media('>=tablet') {
            padding-bottom: 2rem;
        }
        @include media('>=desktop') {
            flex-wrap: nowrap;
        }
    }

    &__toolbar-top {

        .page-title__span {
            display: none;
        }

        #{$root}__toolbar-right {
            @include media('<tablet') {
                display: none;
            }
        }

        #{$root}__toolbar-sorter {
            @include media('<tablet') {
                display: flex;
            }
        }
    }

    &__toolbar-left {
        display: flex;
        flex-wrap: wrap;
        @include media('>=tablet') {
            flex-wrap: nowrap;
        }
    }

    &__toolbar-right {
        @include media('<tablet') {
            margin: 0 calc( ((100vw - 100%) / 2) * -1 ) 1rem calc( ((100vw - 100%) / 2) * -1 ) !important;
            width: 100vw !important;
        }
        @include media('>=tablet') {
            width: auto;
        }
    }

    &__toolbar-label {
        white-space: nowrap;
        padding-right: .8rem;
        display: inline-block;
        @extend .#{$namespace}t-text;
        @extend .#{$namespace}t-text--look_label;
        @extend .#{$namespace}t-text--size_250;
    }

    &__toolbar-amount {
        display: none;
    }

    &__modes {
        display: none;
    }

    &__toolbar-sorter,
    &__toolbar-limiter {
        display: flex;
        align-items: center;
        margin: 0 1.5rem 1rem 0!important;// stylelint-disable-line
        padding-top: 0;

        @include media('<tablet') {
            display: none;
        }
    }

    &__toolbar-sorter {
        .#{$namespace}html-select,
        .#{$namespace}html-select__trigger {
            height: 3.8rem;
        }
        .#{$namespace}html-select__trigger-text {
            line-height: 2.4rem;
        }

        .sort-asc {
            transform: rotate( 180deg );
        }
    }

    &__main {
        box-sizing: border-box;
        width: 100%;
        order: 2;

        @include media('>=tablet') {
            width: 70%;
            flex-basis: 70%;
            padding-left: 3rem;
            padding-top: 3rem;
            border-left: 1px solid $colorAlto;
        }
        @include media('>=laptop') {
            width: 78%;
            flex-basis: 78%;
        }

        > .page-title-wrapper {
            @include media('>=tablet') {
                padding-bottom: 1rem;
            }
        }
    }

    &--filters-full-top #{$root}__inner-sidebar,
    .sidebar-main {
        box-sizing: border-box;
        width: 100%;
        border-right: none;
        order: 1;
        @include media('>=tablet') {
            width: 30%;
            flex-basis: 30%;
            padding-right: 3rem;
            padding-top: 3rem;
        }
        @include media('>=laptop') {
            width: 22%;
            flex-basis: 22%;
            padding-right: 1.6rem;
        }
        @include media('>=desktop') {
            padding-right: 3rem;
        }
    }


    .sidebar.sidebar-additional {
        width: 100%;
    }

    &--filters-full-top {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;

        #{$root}__main {
            padding-left: 0;
            border-left: none;
            flex-basis: 100%;
            width: 100%;
        }

        #{$root}__products-wrapper {
            display: flex;
            border-top: 1px solid $colorGallery;
            border-bottom: 1px solid $colorGallery;
            margin-bottom: 2rem;
        }

        #{$root}__inner-sidebar {
            display: none;

            @include media('>=tablet') {
                display: block;
                padding-top: 1rem;
                margin-right: 3rem;
                border-right: 1px solid $colorGallery;
                width: 33%;
                flex-basis: 33%;
                padding-right: 3rem;
            }
            @include media('>=laptop') {
                width: 25%;
                flex-basis: 25%;
                padding-right: 1.6rem;
            }
            @include media('>=desktop') {
                padding-right: 3rem;
            }
        }

        .#{$namespace}items-grid {
            order: 2;
            @include media('>=tablet') {
                width: 67%;
                flex-basis: 67%;
            }
            @include media('>=laptop') {
                width: 75%;
                flex-basis: 75%;
            }
        }


    }
}
