
.#{$namespace}info-page {

    display: flex;
    flex-wrap: wrap;
    @include media('<tablet') {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 2.5rem;
    }

    .page-title-wrapper {
        width: 100%;
        border: 0;
        clip: inherit;
        height: auto;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: static;
        margin-top: 3rem;
    }

    &__section {
        width: 100%;
        @include media('>=tablet') {
            width: 48%;
            box-sizing: border-box;

            &:nth-child( 2n+1 ) {
                padding-right: 4rem;
            }
            &:nth-child( 2n+2 ) {
                padding-left: 4rem;
                border-left: 1px solid $colorAlto;
            }
        }

        @include media('>=laptop') {
            &:nth-child( 2n+1 ) {
                padding-right: 6rem;
            }
            &:nth-child( 2n+2 ) {
                padding-left: 6rem;
            }
        }

    }

    &__inner {
        border-top: 2px solid $colorGallery;
        padding-top: 2.5rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include media('>=tablet') {
            margin-top: 1.5rem;
        }
    }

    &__subheadline {
        font-size: 1.8rem;
        font-weight: 700;
        margin: 1rem 0;
        width: 100%;
    }

    &__text {
        font-size: 1.5rem;
        color: $colorDoveGray;
        width: 100%;
    }


    &__button {
        margin-top: 2.5rem;
        width: 100%;
    }
}
