@import 'config/variables';
@import 'config/breakpoints';
@import 'vendors/include-media';
@import 'components/button/mixin';

$toolbar_display: flex !default;
$toolbar_flex-align-items: center !default;
$toolbar_flex-justify-content: flex-start !default;
$toolbar_flex-wrap: wrap !default;
$toolbar_font-size: 1.2rem !default;
$toolbar_font-weight: inherit !default;
$toolbar_text-transform: uppercase !default;

$toolbar_elements-padding-tablet-up: 0 !default;
$toolbar_elements-margin: 0 0 1.5rem !default;
$toolbar_elements-margin-tablet-up: 0 0 1.5rem !default;

$toolbar_select-min-height: 3.5rem !default;
$toolbar_input-max-height: $toolbar_select-min-height !default;

$toolbar_selects-max-width-tablet: 20rem !default; // set 'none' to disable

$toolbar_components-alignment: (
    amount: left,
    sorter: left,
    limiter: left,
    viewmode-switcher: left,
    pagination: right,
) !default;

$toolbar_amount-align: left !default;
$toolbar_sorter-align: left !default;
$toolbar_limiter-align: left !default;
$toolbar_viewmode-switcher-align: left !default;
$toolbar_pagination-align: right !default;

$toolbar_filters-button-type: 'secondary' !default;
$toolbar_filters-button-icon-pos: 'left' !default;

.#{$ns}toolbar {
    $root: &;

    font-size: $toolbar_font-size;
    font-weight: $toolbar_font-weight;
    text-transform: $toolbar_text-transform;

    @include media('>=tablet') {
        display: $toolbar_display;

        @if $toolbar_display == flex {
            align-items: $toolbar_flex-align-items;
            justify-content: $toolbar_flex-justify-content;
            flex-wrap: $toolbar_flex-wrap !important;
        }
    }

    &__item {
        margin: $toolbar_elements-margin;

        @include media('>=tablet') {
            margin: $toolbar_elements-margin-tablet-up;
            padding: $toolbar_elements-padding-tablet-up;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        @each $modifier, $value in $toolbar_components-alignment {
            @if $value == right {
                &--#{$modifier} {
                    @include media('>=laptop') {
                        @if $toolbar_display == flex {
                            margin-left: auto;
                        } @else {
                            float: right;
                        }
                    }
                }
            }
        }

        &--limiter {
            display: flex;
            align-items: center;
        }

        &--offcanvas {
            margin-right: 3rem;
        }
    }

    .field .label {
        font-weight: $toolbar_font-weight;
        width: auto;
    }

    .#{$ns}html-select {
        @if $toolbar_selects-max-width-tablet != none {
            @include media('>=tablet', '<laptop') {
                max-width: $toolbar_selects-max-width-tablet;
            }
        }

        &__trigger {
            min-height: $toolbar_select-min-height;
        }
    }

    &__filters-button {
        @include button(
            $type: $toolbar_filters-button-type,
            $icon_pos: $toolbar_filters-button-icon-pos
        );

        svg {
            @include button_icon(
                $type: $toolbar_filters-button-type,
                $icon_pos: $toolbar_filters-button-icon-pos
            );

            max-width: 2.3rem;
            max-height: 2.3rem;
        }
    }

    &__filters-button-label {
        @include button_span(
            $type: $toolbar_filters-button-type,
            $icon_pos: $toolbar_filters-button-icon-pos
        );
    }
}

@import 'components/toolbar/amount.scss';
@import 'components/toolbar/sorter.scss';
@import 'components/toolbar/limiter.scss';
@import 'components/toolbar/pagination.scss';
@import 'components/toolbar/viewmode-switcher.scss';
