@import 'config/variables';
@import 'components/button/mixin';

$tsc-checkout-spacing: 2rem !default;
$tsc-checkout-desktop-breakpoint: '>=992px' !default;
$tsc-checkout-form-popup_padding-bottom: 5.9rem !default;
$tsc-checkout-item-summary-popup_height: calc(100vh - 5.4rem) !default;
$tsc-checkout-sidebar_background: $color_background-500 !default;

$tsc-checkout-default-button_type: $button_default-type !default;
$tsc-checkout-default-button_icon-pos: 'no-icon' !default;
$tsc-checkout-primary-button_type: $tsc-checkout-default-button_type !default;
$tsc-checkout-primary-button_icon-pos: $tsc-checkout-default-button_icon-pos !default;
$tsc-checkout-secondary-button_type: 'secondary' !default;
$tsc-checkout-secondary-button_icon-pos: $tsc-checkout-default-button_icon-pos !default;

$tsc-checkout-higher-button_padding: 2rem !default;
$tsc-checkout-close-button_bg: $color_background-600 !default;

$tsc-checkout-step-title_color: $color_text-800 !default;
$tsc-checkout-step-title_font-size: 1.3rem !default;
$tsc-checkout-step-title_font-weight: 600 !default;
$tsc-checkout-step-title_line-height: 1.8rem !default;

$tsc-checkout-return-button_color: $color_primary-800 !default;

$tsc-checkout-discount-button_margin-top: 1.9rem !default;
