@import 'config/variables';
@import 'components/field/mixin';

$toggle-password_width: 4.5rem;
$toggle-password_height: 3.5rem;
$toggle-password_border-radius: 0;
$toggle-password_margin-right: 0;
$toggle-password_transform: translateY(calc(-50% - 0.1em));
$toggle-passowrd_icon-visible-path: '../images/icons/toggle-password/icon-password-visible.svg';
$toggle-passowrd_icon-hidden-path: '../images/icons/toggle-password/icon-password-hidden.svg';
$toggle-passowrd_icon-size: 50% 50%;
$toggle-passowrd_icon-background-color: transparent;
$toggle-passowrd_icon-border-left: 0.1rem solid $color_border-500;

.#{$ns}toggle-password {
    $root: &;

    position: absolute;
    top: 0.3rem;
    right: $toggle-password_margin-right;
    width: $toggle-password_width;
    height: $toggle-password_height;
    border: 0;
    border-radius: $toggle-password_border-radius;
    z-index: 5;
    background: no-repeat center center / $toggle-passowrd_icon-size
        $toggle-passowrd_icon-background-color;
    transition: background-image $transition-default-time;
    font-size: 0;
    border-left: $toggle-passowrd_icon-border-left;

    &:hover {
        cursor: pointer;
    }

    &--hidden {
        background-image: url($toggle-passowrd_icon-visible-path);
    }

    &--visible {
        background-image: url($toggle-passowrd_icon-hidden-path);
    }
}

.field {
    &.field-password {
        .control {
            position: relative;
        }
    }

    .input-toggle {
        padding-right: $toggle-password_width;
    }
}
