// Styles moved from vendor/magento/theme-frontend-blank/Magento_Contact/web/css/source/_module.less
// in order to avoid loading them on every page via styles-m.css and styles-l.scss

@import 'vendors/include-media';

.contact-index-index {
    .column:not(.sidebar-main) .form.contact {
        float: none;
        width: 100%;
    }

    .column:not(.sidebar-additional) .form.contact {
        float: none;
        width: 100%;

        @include media('>=tablet') {
            min-width: 60rem;
        }
    }
}
