@import 'config/variables';
@import 'components/typography/hook';
@import 'utils/font-family';

$typography_headline-font-family: $font_family-primary !default;
$typography_headline-font-weight: 700 !default;
$typography_headline-color: $color_text-800 !default;
$typography_headline-text-transform: uppercase !default;
$typography_headline-margins: 1rem 0 2rem !default;

@mixin headline($level: $font-size_headline-2) {
    @include font-family($typography_headline-font-family);
    font-size: $level;
    color: $typography_headline-color;
    font-weight: $typography_headline-font-weight;
    text-transform: $typography_headline-text-transform;
    margin: $typography_headline-margins;

    @include headline_hook($level);
}
