@import 'config/variables';
@import 'components/typography/mixin';

$typography_link-color: $color_primary-500 !default;
$typography_link--hover-color: $color_primary-800 !default;
$typography_link-text-decoration: none !default;
$typography_link--hover-text-decoration: $typography_link-text-decoration !default;

h1 {
    @include headline($level: $font-size_headline-1);
}

h2 {
    @include headline($level: $font-size_headline-2);
}

h3 {
    @include headline($level: $font-size_headline-3);
}

h4 {
    @include headline($level: $font-size_headline-4);
}

h5 {
    @include headline($level: $font-size_headline-5);
}

h6 {
    @include headline($level: $font-size_headline-6);
}

a {
    &,
    &:visited {
        color: $typography_link-color;
        text-decoration: $typography_link-text-decoration;
    }

    &:hover,
    &:focus {
        color: $typography_link--hover-color;
        text-decoration: $typography_link--hover-text-decoration;
    }
}
