@import '../../components/link/link';

@include export-once( 'customizations/link' ) {
    .#{$namespace}link {
        @include link( $colorCeruleanBlue, 1.4rem );
        text-transform: none;
        font-weight: 300;
        display: inline-flex;
        align-items: center;

        &:visited {
            text-decoration: none;
        }

        &--look {
            &_text {
                color: $colorDoveGray;
                text-decoration: none;
                &:visited,
                &:hover {
                    color: $colorDoveGray;
                }
            }
        }

        &--size {
            &_300 {
                font-size: 1.2rem;
            }
        }

        &--separator {
            margin-right: .5rem;

            &:after {
                margin-left: .5rem;
                content: '';
                display: inline-block;
                width: .2rem;
                height: 1.2rem;
                background: $colorAlto;
            }
        }

        &__icon {
            max-width: 1.4rem;
            max-height: 1.2rem;
            fill: rgba( 0, 0, 0, .25 );
            padding-right: .5rem;
        }
    }
}
