@import 'config/variables';
@import 'include-media/dist/include-media';

.#{$ns}logo {
    height: 100%;

    @include media('<tablet') {
        padding: 0.7rem 0;
    }

    &__image {
        height: 100%; // Fixes height: auto bug on chrome.
    }
}
