.repertus-packstation-search {
    &.modal-popup {
        &._show {
            // If any other Magento's modal is opened, Repertus popup must be displayed on top of it
            z-index: 905 !important;
        }
    }

    .modal-content {
        margin-bottom: 3rem;
    }

    .modal-footer {
        display: none;
    }

    .tonur_packstation_input {
        margin-bottom: 1.5rem;

        .cs-form__fieldset {
            display: flex;
            justify-content: space-between;

            .postcode {
                margin-right: 1.5rem;
            }
        }

        .cs-form__buttons {
            margin-top: 0;
        }
    }
}

#tonur {
    &_find_packstation_button {
        width: 100%;
    }

    &_packstation_map {
        position: relative;
        min-height: 27rem;
        max-height: 40rem;
        border: 1px solid $colorAlto;

        @include media('>=phone') {
            min-height: 29.5rem;
        }

        @include media('>=tablet') {
            min-height: 40rem;
        }

        &_frame {
            position: relative;

            &.busy {
                #tonur_packstation_map_overlay {
                    display: table-cell;
                }
            }
        }

        &_overlay {
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 40.2rem;
            vertical-align: middle;
            background-color: $colorBlack;
            opacity: 0.7;
            z-index: 100;

            p {
                margin-top: 27%;
                color: $colorWhite;
                font-family: $base-font-family;
                font-size: 1.4rem;
                text-align: center;
            }
        }
    }
}

.repertus_address_type_fieldset {
    width: 100%;
}

// HTML cannot be updated with proper classes, therefore we're using @extend
.repertus_packstation_search_button {
    .admin__field-control {
        @extend .cs-form__buttons;
        margin: 1.5rem 0 3rem;
    }

    .action-basic {
        @extend .cs-button;
        @extend .cs-button--type_long;
        @extend .cs-button--type_wide-mobile;
        @extend .cs-button--look_default;
    }
}
