@import 'config/variables';
@import 'vendors/include-media';
@import 'components/field/mixin.scss';
@import 'utils/reset-list-style';

$html-select_trigger-font-size: $field_select-font-size !default;
$html-select_trigger-line-height: $field_select-line-height !default;
$html-select_trigger-font-weight: 400 !default;
$html-select_trigger-select_color: $field_select-color !default;
$html-select_trigger-background: $color_background-200 !default;
$html-select_trigger-padding: $field_select-padding !default;
$html-select_trigger-padding-right: $field_select-padding-right !default;
$html-select_trigger-border-radius: $border-radius_base !default;
$html-select_trigger-border: $field_select-border !default;
$html-select_trigger-border-active: 1px solid $color-primary_500 !default;
$html-select_trigger-box-shadow: $field_select-box-shadow !default;

$html-select_caret-color: $color_border-500 !default;
$html-select_caret-active-color: $color-primary_500 !default;

$html-select_item-background: $color_background-200 !default;
$html-select_item-color: $color_text-800 !default;
$html-select_item-hover-background: $color_primary-500 !default;
$html-select_item-hover-color: $color_text-200 !default;
$html-select_item-selected-background: $color_primary-500 !default;
$html-select_item-selected-color: $color_text-200 !default;

$html-select_menu-background: $color_background-200 !default;
$html-select_menu-border-radius: $border-radius_base !default;
$html-select_menu-box-shadow: 0 1px 5px 0 rgba(100, 100, 100, 0.2) !default;
$html-select_menu-border: 1px solid $color_primary-500 !default;

$html-select_item-border-top: none !default;
$html-select_item-height: 2.8em !default;

$html-select_disabled-opacity: $field_select-disabled-opacity !default;

// select
// Custom HTML select version of native select with native fallback on mobiles
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1

.#{$ns}select {
    min-width: 0.5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    height: 100%;
    padding: 0;
    opacity: 0;
    border: none;

    &--mobile {
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        z-index: 4;
    }
}

.#{$ns}html-select {
    $root: &;

    position: relative;
    display: block;
    min-width: 15rem;
    box-sizing: border-box;
    z-index: 2;

    &.open {
        z-index: 99;
    }

    &__trigger {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        width: 100%;
        min-width: 13rem;
        text-align: left;
        z-index: 3;
        overflow: hidden;
        box-sizing: border-box;
        background: $html-select_trigger-background;
        border: $html-select_trigger-border;
        padding: $html-select_trigger-padding;
        padding-right: $html-select_trigger-padding-right;
        border-radius: $html-select_trigger-border-radius;
        box-shadow: $html-select_trigger-box-shadow;
        font-size: $html-select_trigger-font-size;

        &--disabled {
            opacity: $html-select_disabled-opacity;
            cursor: not-allowed;
        }

        #{$root}--error & {
            border-color: #f46667;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        #{$root}--open &,
        #{$root}.open & {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border: $html-select_trigger-border-active;
            border-bottom: $html-select_trigger-border;
        }
    }

    &__trigger-text {
        color: $html-select_trigger-select_color;
        line-height: $html-select_trigger-line-height;
        font-weight: $html-select_trigger-font-weight;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: $field_select-font-size;
    }

    &__trigger-caret {
        position: absolute;
        right: 0;
        top: 20%;
        height: 60%;
        width: 2.65em;
    }

    &__trigger-caret-arrow {
        position: absolute;
        width: 10px;
        height: 4px;
        top: 50%;
        right: 50%;
        transform: translate3d(50%, -50%, 0);
        transform-origin: 50% 30%;
        transition: transform 0.25s ease;

        &:before,
        &:after {
            position: absolute;
            top: 0;
            width: 7px;
            height: 2px;
            content: '';
            background-color: $html-select_caret-color;
        }

        &:before {
            left: 0;
            transform-origin: 0 50%;
            transform: rotate(40deg);
        }

        &:after {
            right: 0;
            transform-origin: 100% 50%;
            transform: rotate(-40deg);
        }

        #{$root}--open &,
        #{$root}.open & {
            transform: translate3d(50%, -50%, 0);

            &:before,
            &:after {
                background-color: $html-select_caret-active-color;
            }
        }
    }

    &__menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 5;
        display: none;
        border: $html-select_menu-border;
        border-top: $html-select_trigger-border;
        border-bottom-left-radius: $html-select_menu-border-radius;
        border-bottom-right-radius: $html-select_menu-border-radius;
        background-color: $html-select_menu-background;
        box-shadow: $html-select_menu-box-shadow;
        margin-top: -1px;
        min-width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        transform: translate3d(0, 0, 0);

        #{$root}--open & {
            display: block;
            opacity: 1;
        }

        #{$root}--autosuggest:not(#{$root}--open) & {
            padding: 0;
            border: none;
        }
    }

    &__menu-list {
        @include reset-list-style();
    }

    &__menu-item {
        margin: 0;
        padding: 0;
        border-top: $html-select_item-border-top;

        &--hidden {
            display: none;
        }
    }

    &__menu-link {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 1em;
        height: $html-select_item-height;
        color: $html-select_item-color;
        background-color: $html-select_item-background;
        cursor: pointer;
        transition: background-color 0.15s linear, color 0.15s linear;

        #{$root}__menu-item--selected & {
            color: $html-select_item-selected-color;
            background-color: $html-select_item-selected-background;
        }

        &:hover,
        &:focus,
        #{$root}__menu-item--focused & {
            background-color: $html-select_item-hover-background;
            color: $html-select_item-hover-color;
            text-decoration: none;
            outline: none;
        }
    }

    &__menu-item-text {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__text-image-wrapper {
        display: flex;
        align-items: center;
    }

    &__thumbnail {
        width: 2.5rem;
        height: 2.5rem;
        display: block;
        margin-right: 1rem;
    }

    &--autosuggest {
        padding: 0;

        #{$root}__menu {
            overflow-y: hidden;
            max-height: 220px;
        }

        #{$root}__menu-list {
            max-height: 220px;
        }

        &:not(#{$root}--animate) #{$root}__menu {
            padding: 0;
            border: none;
        }
    }
}
