<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>cs-overlay component demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../cs-overlay.css">
</head>
<body>

{% include "../cs-overlay.twig" %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dicta nulla tenetur. Aperiam culpa fuga in, ipsam
    numquam temporibus! Ab alias animi architecto, asperiores atque aut, culpa cumque delectus dolores eaque earum ex
    excepturi hic illo incidunt ipsam labore magni mollitia neque nesciunt nulla numquam praesentium quasi quidem
    reiciendis rem repellendus sed, temporibus tenetur totam ullam ut vitae voluptates? Adipisci deleniti ducimus
    eligendi eos illum incidunt modi nesciunt numquam porro, reprehenderit sapiente veritatis. Accusamus aut commodi
    cumque cupiditate dicta doloremque ducimus ex, expedita harum illum nihil nobis officia praesentium provident quam
    ratione repudiandae rerum sapiente similique tenetur velit vitae voluptates. Ad dolore illo molestiae nihil nobis
    reprehenderit ullam, vero? Cum cupiditate debitis earum enim eos error, et, ex excepturi expedita in ipsum itaque
    iure laborum modi neque nihil nobis quaerat quia quis repellendus rerum saepe ut, vitae voluptatibus voluptatum!
    Adipisci, atque blanditiis ex facilis mollitia non quod. Error magni natus neque optio perferendis ratione
    reprehenderit sapiente? Ad atque aut autem blanditiis consequatur deserunt earum esse expedita facere facilis illo
    illum in ipsum iure iusto maxime molestias nam nesciunt odit officiis optio quae quo rerum similique, sunt vel
    voluptas voluptatem. Accusantium eligendi eos ex fugiat labore nobis, veritatis. Adipisci commodi, placeat!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dicta nulla tenetur. Aperiam culpa fuga in, ipsam
    numquam temporibus! Ab alias animi architecto, asperiores atque aut, culpa cumque delectus dolores eaque earum ex
    excepturi hic illo incidunt ipsam labore magni mollitia neque nesciunt nulla numquam praesentium quasi quidem
    reiciendis rem repellendus sed, temporibus tenetur totam ullam ut vitae voluptates? Adipisci deleniti ducimus
    eligendi eos illum incidunt modi nesciunt numquam porro, reprehenderit sapiente veritatis. Accusamus aut commodi
    cumque cupiditate dicta doloremque ducimus ex, expedita harum illum nihil nobis officia praesentium provident quam
    ratione repudiandae rerum sapiente similique tenetur velit vitae voluptates. Ad dolore illo molestiae nihil nobis
    reprehenderit ullam, vero? Cum cupiditate debitis earum enim eos error, et, ex excepturi expedita in ipsum itaque
    iure laborum modi neque nihil nobis quaerat quia quis repellendus rerum saepe ut, vitae voluptatibus voluptatum!
    Adipisci, atque blanditiis ex facilis mollitia non quod. Error magni natus neque optio perferendis ratione
    reprehenderit sapiente? Ad atque aut autem blanditiis consequatur deserunt earum esse expedita facere facilis illo
    illum in ipsum iure iusto maxime molestias nam nesciunt odit officiis optio quae quo rerum similique, sunt vel
    voluptas voluptatem. Accusantium eligendi eos ex fugiat labore nobis, veritatis. Adipisci commodi, placeat!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dicta nulla tenetur. Aperiam culpa fuga in, ipsam
    numquam temporibus! Ab alias animi architecto, asperiores atque aut, culpa cumque delectus dolores eaque earum ex
    excepturi hic illo incidunt ipsam labore magni mollitia neque nesciunt nulla numquam praesentium quasi quidem
    reiciendis rem repellendus sed, temporibus tenetur totam ullam ut vitae voluptates? Adipisci deleniti ducimus
    eligendi eos illum incidunt modi nesciunt numquam porro, reprehenderit sapiente veritatis. Accusamus aut commodi
    cumque cupiditate dicta doloremque ducimus ex, expedita harum illum nihil nobis officia praesentium provident quam
    ratione repudiandae rerum sapiente similique tenetur velit vitae voluptates. Ad dolore illo molestiae nihil nobis
    reprehenderit ullam, vero? Cum cupiditate debitis earum enim eos error, et, ex excepturi expedita in ipsum itaque
    iure laborum modi neque nihil nobis quaerat quia quis repellendus rerum saepe ut, vitae voluptatibus voluptatum!
    Adipisci, atque blanditiis ex facilis mollitia non quod. Error magni natus neque optio perferendis ratione
    reprehenderit sapiente? Ad atque aut autem blanditiis consequatur deserunt earum esse expedita facere facilis illo
    illum in ipsum iure iusto maxime molestias nam nesciunt odit officiis optio quae quo rerum similique, sunt vel
    voluptas voluptatem. Accusantium eligendi eos ex fugiat labore nobis, veritatis. Adipisci commodi, placeat!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dicta nulla tenetur. Aperiam culpa fuga in, ipsam
    numquam temporibus! Ab alias animi architecto, asperiores atque aut, culpa cumque delectus dolores eaque earum ex
    excepturi hic illo incidunt ipsam labore magni mollitia neque nesciunt nulla numquam praesentium quasi quidem
    reiciendis rem repellendus sed, temporibus tenetur totam ullam ut vitae voluptates? Adipisci deleniti ducimus
    eligendi eos illum incidunt modi nesciunt numquam porro, reprehenderit sapiente veritatis. Accusamus aut commodi
    cumque cupiditate dicta doloremque ducimus ex, expedita harum illum nihil nobis officia praesentium provident quam
    ratione repudiandae rerum sapiente similique tenetur velit vitae voluptates. Ad dolore illo molestiae nihil nobis
    reprehenderit ullam, vero? Cum cupiditate debitis earum enim eos error, et, ex excepturi expedita in ipsum itaque
    iure laborum modi neque nihil nobis quaerat quia quis repellendus rerum saepe ut, vitae voluptatibus voluptatum!
    Adipisci, atque blanditiis ex facilis mollitia non quod. Error magni natus neque optio perferendis ratione
    reprehenderit sapiente? Ad atque aut autem blanditiis consequatur deserunt earum esse expedita facere facilis illo
    illum in ipsum iure iusto maxime molestias nam nesciunt odit officiis optio quae quo rerum similique, sunt vel
    voluptas voluptatem. Accusantium eligendi eos ex fugiat labore nobis, veritatis. Adipisci commodi, placeat!</p>


    <button id="show">show</button>


<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="../cs-overlay.js"></script>
</body>
</html>
