.#{$namespace}product-description {
    $root: &;

    &__item {
        border-bottom: 1rem solid $colorWhite;

        @include media('>=tablet') {
            padding: 2.15rem 0 3rem;
            border-bottom: 1px solid $colorAlto;

            &:last-child {
                border-bottom: none;
            }
        }

        @include media('>=laptop') {
            padding-right: 35%;
        }

        &--penultimate {
            @include media('>=tablet') {
                border-bottom: none;
            }
        }

        &--reviews {
            @extend .#{$namespace}container;
            @extend .#{$namespace}container--edge-to-edge;

            @include media('>=tablet') {
                background: $colorWhite;
            }

            &__inner {
                @extend .#{$namespace}container__inner;
            }

            &__column {
                @extend .#{$namespace}product-description__item;
            }
        }
    }

    &__headline {
        padding: 0;
        margin: 1rem 0 2rem;
        border-bottom: none;

        @include media('<tablet') {
            padding: 2.5rem 15px;
            position: relative;
            margin: 0;
            font-size: 1.4rem;

            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                background: $colorCeruleanBlue;
                right: 15px;
                height: 2px;
                width: 12px;
            }

            &:before {
                top: 50%;
                transform: translateY( -50% );
                transition: transform .3s ease-out, opacity .2s ease-out, background-color .15s linear;
            }

            &:after {
                top: 50%;
                transform: translateY( -50% ) rotate( 90deg );
                transition: transform .3s ease-out, background-color .15s linear;
            }

            &.#{$namespace}collapse__trigger--in {
                &:before {
                    background: $colorGray;
                    transform: translateY( -50% ) rotate( -90deg );
                    opacity: 0;
                }

                &:after {
                    background: $colorGray;
                    transform: translateY( -50% ) rotate( 0 );
                }
            }
        }

        .counter {
            font-weight: 300;

            &:before {
                content: '(';
            }

            &:after {
                content: ')';
            }
        }
    }

    &__content {
        @include media('<tablet') {
            padding: 0 15px;

            #{$root}__item--reviews & {
                padding-bottom: 2rem;
            }
        }
    }
}
