@import 'config/variables';
@import 'vendors/include-media';
@import 'utils/reset-list-style';
@import 'components/pseudoicon/mixin';
@import 'utils/get-value-from-list';

$product-navigation_margin: -4rem 0 0 !default;
$product-navigation_font-size: 1.1rem !default;
$product-navigation_border-width: 1px !default;
$product-navigation_border: $product-navigation_border-width solid
    $color_border-500 !default;
$product-navigation_list-padding: 1rem 0 !default;
$product-navigation_list-item-margin: 0 !default;
$product-navigation_link-padding: 0.5rem 2rem !default;
$product-navigation_link-color: $color_text-800 !default;
$product-navigation_link-text-transform: uppercase !default;
$product-navigation_link-font-weight: bold !default;

$product-navigation_link-icon-show: true !default;
$product-navigation_link-icon-width: 0.7rem !default;
$product-navigation_link-icon-height: 1px !default;
$product-navigation_link-icon-color: $product-navigation_link-color !default;
$product-navigation_link-icon-color-hover: $link-color_base-hover !default;
$product-navigation_link-icon-type: 'arrow' !default;

// Placeholder height to prevent jump after initialization
$product-navigation_height: calc(
    #{$product-navigation_font-size} + (
            #{get-value-from-list($product-navigation_list-padding, 'up')}
        ) + (#{get-value-from-list($product-navigation_list-padding, 'down')}) +
        (#{get-value-from-list($product-navigation_link-padding, 'up')}) + (
            #{get-value-from-list($product-navigation_link-padding, 'down')}
        ) + #{$product-navigation_border-width}
);

.#{$ns}product-navigation {
    $root: &;

    display: flex;
    align-items: center;
    margin: $product-navigation_margin;
    height: $product-navigation_height;
    border-bottom: $product-navigation_border;

    &--initialized {
        height: auto;

        #{$root}__list {
            opacity: 1;
        }
    }

    &__list {
        @include reset-list-style();
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $product-navigation_list-padding;
        opacity: 0;
        transition: opacity 0.3s;
    }

    &__list-item {
        display: none;
        margin: $product-navigation_list-item-margin;

        &--active {
            display: block;
        }
    }

    &__link {
        text-transform: $product-navigation_link-text-transform;
        font-size: $product-navigation_font-size;
        line-height: 100%;
        font-weight: $product-navigation_link-font-weight;
        padding: $product-navigation_link-padding;

        &--category,
        &--search,
        &--prev {
            text-align: left;

            @if $product-navigation_link-icon-show {
                @include pseudoicon(
                    $width: $product-navigation_link-icon-width,
                    $height: $product-navigation_link-icon-height,
                    $color: $product-navigation_link-icon-color,
                    $color-hover: $product-navigation_link-icon-color-hover,
                    $arrow-default: 'left',
                    $animation-time: 0,
                    $type: $product-navigation_link-icon-type
                );

                &:before,
                &:after {
                    left: 0;
                    right: auto;
                }
            }
        }

        &--next {
            text-align: right;

            @if $product-navigation_link-icon-show {
                @include pseudoicon(
                    $width: $product-navigation_link-icon-width,
                    $height: $product-navigation_link-icon-height,
                    $color: $product-navigation_link-icon-color,
                    $color-hover: $product-navigation_link-icon-color-hover,
                    $arrow-default: 'right',
                    $animation-time: 0,
                    $type: $product-navigation_link-icon-type,
                    $position-side-offset: 0
                );
            }
        }

        &,
        &:visited {
            color: $product-navigation_link-color;
        }
    }
}

.#{$ns}container {
    &--page-pdp-product-nav {
        margin-bottom: 2rem;

        @include media('>tablet') {
            margin-bottom: 0;
        }
    }
}
