.#{$ns}dailydeal {
    $root: &;
    display: none;

    &__header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 1.2rem;
        margin: 0 0 0.5rem;
    }

    &__title {
        text-transform: uppercase;
    }

    &__countdown {
        display: flex;
        align-items: stretch;
        margin: 1rem 1px;

        // target Edge only because of strange bug that appears only there
        @supports (-ms-ime-align: auto) {
            overflow: hidden;
        }

        #{$root}--tile & {
            margin: 0;
        }

        &-element {
            position: relative;
            text-align: center;
            z-index: 3;
            width: 22%;
            padding: 0.3rem 0.5rem;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            line-height: 1;

            &:before {
                position: absolute;
                left: 50%;
                top: 0;
                width: calc(100% - 6px);
                height: 100%;
                content: '';
                background: $color_gallery;
                border-radius: 3px;
                transform: skew(-12deg) translateX(-50%);
                z-index: -1;
            }

            &:last-child {
                margin-right: 0;
            }

            &:first-child:after,
            &:last-child:after {
                position: absolute;
                top: 0;
                width: 50%;
                height: 100%;
                content: '';
                background: $color_gallery;
                border-radius: 3px;
                z-index: -2;
            }
            &:first-child:after {
                left: 0;
            }
            &:last-child:after {
                right: 0;
            }

            &--special {
                width: 16%;
            }

            &--special:after,
            &--special:before {
                background: $color_crimson !important;
            }
        }

        &-icon {
            width: 1.9rem;
            height: 2.4rem;
            margin-left: -4px;
            fill: $color_white;
        }

        &-value {
            font-size: 1.5rem;
            font-weight: 600;
            color: $color_crimson;
            padding-top: 0.2rem;

            #{$root}--tile & {
                font-size: 1.4rem;
            }
        }

        &-label {
            padding-top: 0.2rem;
            font-size: 1.1rem;
            color: $color_gray;

            #{$root}--tile & {
                font-size: 1rem;
            }
        }
    }

    &--tile {
        position: absolute;
        left: 0;
        bottom: 1.5rem;
        width: 100%;
        z-index: 3;

        #{$root}__availability {
            position: relative;
            font-size: 1rem;
            color: $color_white;
            padding: 0.2rem 0.8rem 0.2rem 0.4rem;
            z-index: 4;
            font-weight: 300;

            &:before {
                position: absolute;
                left: 50%;
                top: 0;
                width: calc(100% - 6px);
                height: 100%;
                content: '';
                background: lighten($color_gray, 15%);
                border-radius: 3px;
                -webkit-transform: skew(-12deg) translateX(-50%);
                transform: skew(-12deg) translateX(-50%);
                z-index: -1;
            }

            &:after {
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                height: 100%;
                content: '';
                background: lighten($color_gray, 15%);
                border-radius: 2px;
                z-index: -2;
            }
        }
    }
}
