/**
 *  Information stripe component usually visible on the top of the page.
 *  This component contains some quick overview on most important contact and shipping info.
 */

@import '../../components/container/container';
@import '../../components/information-stripe/information-stripe';
@import '../list/list';

.#{$namespace}information-stripe {
    @include information-stripe();
    display: none;
    width: 100%;

    @include media('>=tablet') {
        display: flex;
    }

    &__wrapper {
        padding: 0;
        justify-content: space-between;
        font-size: 1.1em;
        flex-wrap: wrap;
        flex-grow: 1;

        @include media('>=tablet') {
            flex-wrap: nowrap;
        }
    }

    &__list {
        fill: $colorGray;
        font-size: 1em;
        height: 2.7rem;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin: 0;
        min-height: 1.7rem;

        &--featured {
            @include media( '<tablet' ) {
                display: none;
            }
        }
    }

    &__item {
        padding: 0 .3rem 0 0;
        display: inline-flex;
        align-items: center;
        white-space: nowrap;
        margin-bottom: 0;
        transform: skew( -18deg );
        border-right: .2rem solid $colorWhite;
        margin-right: .9rem;

        @include media('>=tablet') {
            padding: 0 1.3rem 0 0;
            margin-right: 1.7rem;
        }

        &--last {
            margin-right: 0;
            padding-right: 0;
            border-right: none;
        }
    }

    &__phone-number {
        color: $colorMineShaft;
        font-weight: 700;
        margin-right: .909em;

        @include media( '<laptop' ) {
            display: none;
        }

        &:hover {
            color: inherit;
        }
        &--last {
            margin-right: 0;
            padding-right: 0;
            border-right: none;
        }

        &--login {
            transform: none;
            border-right: none;
            padding-right: 0;
            margin-right: 0;
        }
    }

    &__phone-label {
        margin-right: .3em;
    }

    &__phone-hours {
        margin: 0;
        display: inline-block;
    }

    &__account-link {
        color: $colorCeruleanBlue;
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__account-icon {
        max-width: 1.1rem;
        max-height: 1.1rem;
        padding-right: .5rem;
        fill: $colorGray;
    }

    &__item-text,
    &__phone-label,
    &__phone-number,
    &__phone-hours,
    &__account-link {
        transform: skew( 18deg );
    }
}
