@include export-once( 'customizations/page-bottom' ) {
    .#{$namespace}page-bottom {

        padding: 1.5rem .5rem;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        &__image {
            height: 3rem;
            width: auto;
            &--circle {
                width: 4.7rem;
                height: 4.7rem;
                margin-right: 1rem;
            }
        }

        &__text {
            font-size: 1.3rem;
            color: $colorDoveGray;
            margin-bottom: 0;
            margin-right: .6rem;

            &--small {
                font-size: 1rem;
                max-width: 20rem;
            }
        }

        &__divider {
            margin: 0 1rem;

            &:after {
                margin: 0 1rem;
                content: '';
                display: inline-block;
                width: .2rem;
                height: 2rem;
                background: $colorAlto;
            }
        }

        &__group {
            display: flex;
            align-items: center;
        }

    }
}
