@import 'utils/visually-hidden';

.product.media {
    width: 100% !important;
}

.fotorama {
    $root: &;

    &:not(&--fullscreen) {
        #{$root}__stage {
            // Centering current image.
            margin: 0 auto;
        }
    }

    &__thumb {
        @include media('<tablet') {
            display: none !important;
        }

        &__arr {
            &--right {
                #{$root}__thumb--icon {
                    // Fixing bug with invalid bottom arrow in thumb nav position.
                    background-position: -25px -346px;
                }
            }
        }
    }

    &__arr {
        border-radius: 6px;
        background-color: $color_white;
        box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.31);
        width: 3.7rem !important;
        height: 3.7rem !important;
        top: 50% !important;
        transform: translateY(-50%) !important;
        @include media('>=tablet') {
            display: none !important;
        }
    }

    &__arr--prev {
        left: 0.2rem !important;

        .fotorama__arr__arr {
            background-image: url('../images/arrow-prev.png') !important;
            background-size: contain;
            background-position: center !important;
            width: 0.9rem !important;
            height: 1.5rem !important;
        }
    }

    &__arr--next {
        right: 0.2rem !important;

        .fotorama__arr__arr {
            right: 2rem !important;
            background-image: url('../images/arrow-next.png') !important;
            background-size: contain;
            background-position: center !important;
            width: 0.9rem !important;
            height: 1.5rem !important;
        }
    }

    &__thumb-border {
        display: none;
    }

    &__thumb--icon {
        @include media('<tablet') {
            display: none;
        }
    }

    &__nav-wrap {
        padding: 0 1.5rem;

        @include media('<tablet') {
            position: static !important;
            width: 100% !important;
        }

        &--horizontal {
            padding-left: 0;
            padding-right: 0;

            #{$root}__nav--thumbs {
                height: auto !important;
            }

            #{$root}__nav__frame--thumb {
                & + #{$root}__nav__frame--thumb {
                    margin-left: 12px;
                }
            }
        }

        &--vertical {
            box-sizing: border-box;

            #{$root}__nav--thumbs {
                // We gave the whole gallery max height, so container for thumbs also should have it
                @include media('>=tablet') {
                    max-height: calc(100vh - 13rem);
                }
            }

            #{$root}__nav__frame--thumb {
                & + #{$root}__nav__frame--thumb {
                    margin-top: 12px;
                }
            }
        }
    }

    &__nav {
        @include media('<tablet') {
            width: 100% !important;
            padding: 2rem 0 0;
            height: auto !important;
            text-align: center;
        }

        &__frame {
            box-sizing: border-box !important;

            @include media('<tablet') {
                border-radius: 2px;
                background-color: $color_alto;
                width: 2.8rem !important;
                height: 0.9rem !important;
                transform: skew(-18deg);
                margin: 0 0.5rem !important;
                border: none !important;

                &.fotorama__active {
                    background: $color_gold;
                }
            }

            &--thumb {
                // Adjusting thumbnails
                padding: 0 !important;
                border: 1px solid $color_alto;
                box-sizing: border-box;
                transition: border-color 0.3s;
                border-radius: 3px;
                overflow: hidden;
                cursor: pointer;

                & + & {
                    margin-left: 0 !important;
                }

                .fotorama__fullscreen & {
                    margin-left: 1rem !important;
                }

                &[data-active='true'] {
                    border-color: $color_cerulean-blue;
                }
            }
        }
    }

    &__nav__shaft {
        @include media('<tablet') {
            display: flex;
            justify-content: center;
            text-align: center !important;
            padding: 2rem 0 0;
        }
    }

    &__shadows {
        &--bottom,
        &--top {
            &:before,
            &:after {
                // Removing top and bottom shadows from thumb navigation.
                display: none;
            }
        }
    }

    &__dot {
        display: none;
    }

    &__grab.fotorama__stage__shaft,
    &__stage {
        @include media('<tablet') {
            min-height: 30rem;
            width: 100% !important;
            max-width: 100% !important;
        }
    }

    &__stage {
        left: 0 !important;
        max-height: calc(100vh - 5rem);

        @include media('>=tablet') {
            max-height: calc(100vh - 13rem);
        }
    }

    &__stage__shaft {
        margin: 0 auto !important;

        @include media('<tablet') {
            margin: 0 auto !important;
        }

        @include media('>=tablet') {
            padding-left: 11.5rem;
        }

        @include media('>=desktop') {
            padding-left: 0;
        }
    }

    &__caption {
        @include visually-hidden();
    }
}
