{% set visibilityClass = '' %}
{% if componentVisibility and componentVisibility.mobile == false %}
    {% set visibilityClass = namespace ~ 'display-controller--hidden-mobile ' %}
{% endif %}
{% if componentVisibility and componentVisibility.desktop == false %}
    {% set visibilityClass = visibilityClass ~ namespace ~ 'display-controller--hidden-desktop ' %}
{% endif %}

<div class="{{ visibilityClass }}">
    <div class="{% if resetstyles == false %}cs-static-cms-block{% endif %} cs-cms-block {{ mix }} {% if resetstyles %}cs-static-cms-block-resetstyles{% endif %}">
        {{ content|raw }}
    </div>
</div>
