@include export-once( 'customizations/form' ) {
    .#{$namespace}form {
        $root: &;
        font-size: 1rem;
        width: 100%;

        &__fieldset {
            border: none;
            padding: 0;

            &--level {
                &_1 {
                    margin-bottom: 2rem;
                    border: 0;
                    padding: 0;
                }
                &_2 {
                    border: 0;
                    padding: 0;
                    max-width: 60rem;
                }
            }

        }

        &__field {
            max-width: 40rem;
            margin-bottom: 1.5rem;

            &--space-top {
                margin-top: 2rem;
            }

            &--full {
                max-width: none;
            }

            &--half {
                @include media('>=tablet') {
                    max-width: 50%;
                }
            }
        }

        &__reminder {
            margin-top: 1rem;
            width: 100%;
        }

        &__buttons {
            display: flex;
            flex-wrap: wrap;
        }

    }
}
