@import 'config/variables';
@import 'vendors/include-media';
@import 'components/button/mixin';
@import 'components/3step-checkout/variables';
@import 'components/3step-checkout/mixins/reset-button-radius';
@import 'components/3step-checkout/mixins/higher-button';

$tsc-checkout-input-qty_width: 5rem !default;
$tsc-checkout-input-qty_font-size: 1.2rem !default;

$tsc-checkout-summary_background: $color_background-500 !default;

.tsc-checkout-index {
    .opc-block-summary {
        @include media('>=tablet', '<992px') {
            background-color: $tsc-checkout-summary_background;
            padding-bottom: $tsc-checkout-spacing;
        }

        .items-in-cart {
            .title {
                @include media('>=tablet') {
                    background-color: $tsc-checkout-summary_background;
                }

                @include media('>=992px') {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }

        .minicart-items-wrapper {
            .minicart-items {
                .product-item {
                    .product {
                        .product-item-details {
                            .product-item-inner {
                                .product-item-name-block {
                                    margin-left: 1rem;
                                }

                                .secondary {
                                    .action {
                                        &:before {
                                            margin-top: -0.1rem;
                                            color: $tsc-checkout-close-button_bg;
                                            opacity: 1;
                                        }
                                    }
                                }

                                .tsc-qty {
                                    .tsc-qty-select {
                                        .selectize-input {
                                            width: $tsc-checkout-input-qty_width;
                                        }

                                        .selectize-dropdown {
                                            font-size: $tsc-checkout-input-qty_font-size;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .checkout-container {
        .opc-wrapper {
            &.opc-wrapper-no-sidebar {
                .review-form {
                    // Summary
                    .review-block-summary {
                        .items-in-cart {
                            .title {
                                strong {
                                    font-size: $tsc-checkout-step-title_font-size;
                                    line-height: $tsc-checkout-step-title_line-height;
                                }
                            }

                            .content {
                                &.minicart-items {
                                    .minicart-items-wrapper {
                                        .minicart-items {
                                            .product-item {
                                                .product {
                                                    .product-item-details {
                                                        .product-item-inner {
                                                            .secondary {
                                                                .action {
                                                                    &:before {
                                                                        color: $tsc-checkout-close-button_bg;
                                                                    }
                                                                }
                                                            }

                                                            .tsc-qty {
                                                                .tsc-qty-select {
                                                                    .selectize-input {
                                                                        width: $tsc-checkout-input-qty_width;
                                                                    }

                                                                    .selectize-dropdown {
                                                                        font-size: $tsc-checkout-input-qty_font-size;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .actions-toolbar {
                        > .primary {
                            button {
                                @include reset-button-radius();
                                @include higher-button();
                            }
                        }
                    }

                    // Discount form
                    .discount-code {
                        .form-discount {
                            .actions-toolbar {
                                > .primary {
                                    position: relative;
                                    box-shadow: none;

                                    .action-apply {
                                        padding: $button_padding;
                                        line-height: $button_line-height;
                                        font-size: $button_font-size;
                                        border-radius: $button_border-radius !important; /* stylelint-disable-line declaration-no-important */
                                        margin-top: $tsc-checkout-discount-button_margin-top;

                                        &:hover {
                                            border-color: $color_primary-500;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    #review-method-buttons-container {
                        height: auto;
                    }

                    // Checkout agreements
                    .pp-gdpr-holder {
                        margin-top: -2rem;
                        margin-bottom: 8rem;

                        @include media('>=tablet') {
                            padding-top: 4rem;
                            margin-top: 0;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
