@import 'config/variables';
@import 'vendors/include-media';
@import 'components/button/mixin';
@import 'components/typography/mixin';
@import 'components/3step-checkout/variables';
@import 'components/3step-checkout/mixins/reset-button-radius';
@import 'components/3step-checkout/mixins/higher-button';
@import 'utils/visually-hidden';

$tsc-checkout-input-qty_width: 5rem !default;
$tsc-checkout-input-qty_font-size: 1.2rem !default;

$tsc-checkout-summary_hide-image-qty: false !default;
$tsc-checkout-summary_hide-summary-in-title: false !default;

$tsc-checkout-summary_product-image_spacing: 1rem !default;
$tsc-checkout-summary_product-name_color: $color_text-800 !default;
$tsc-checkout-summary_product-name_font-size: 1.6rem !default;
$tsc-checkout-summary_product-name_font-weight: 600 !default;

$tsc-checkout-summary_product-image-qty_background: $color_background-200 !default;
$tsc-checkout-summary_product-image-qty_color: $color_text-800 !default;
$tsc-checkout-summary_product-image-qty_border: 1px solid $color_primary-500 !default;

$tsc-checkout-summary_product-price_color: $color_text-800 !default;
$tsc-checkout-summary_product-price_font-size: 1.6rem !default;
$tsc-checkout-summary_product-price_font-weight: 600 !default;

$tsc-checkout-summary_totals_font-size: 1.5rem !default;
$tsc-checkout-summary_totals_font-weight: 600 !default;
$tsc-checkout-summary_totals-th_color: $color_text-800 !default;
$tsc-checkout-summary_totals-td_color: $color_primary-500 !default;

$tsc-checkout-summary_totals-grand_font-size: $tsc-checkout-summary_totals_font-size !default;
$tsc-checkout-summary_totals-grand-th_color: $tsc-checkout-summary_totals-th_color !default;
$tsc-checkout-summary_totals-grand-td_color: $tsc-checkout-summary_totals-td_color !default;

$tsc-checkout-place-order_font-weight: 700 !default;

$tsc-checkout-summary_title_border-color: $color_border-500 !default;

.tsc-checkout-index {
    .opc-block-summary {
        @include media('>=tablet', '<992px') {
            background-color: $tsc-checkout-sidebar_background;
            padding-bottom: $tsc-checkout-spacing;
        }

        .order-summary-heading {
            @include media($tsc-checkout-desktop-breakpoint) {
                padding: 0;
                align-items: baseline;
            }

            .title {
                @include media($tsc-checkout-desktop-breakpoint) {
                    color: $tsc-checkout-step-title_color;
                    font-size: $tsc-checkout-step-title_font-size;
                    font-weight: $tsc-checkout-step-title_font-weight;
                    line-height: $tsc-checkout-step-title_line-height;
                    margin-bottom: $tsc-checkout-spacing;
                }
            }

            .secure-notice {
                @include media($tsc-checkout-desktop-breakpoint) {
                    color: $color_success-500;
                }
            }
        }

        .items-in-cart {
            .title {
                @include media('>=tablet') {
                    background-color: $tsc-checkout-sidebar_background;
                }

                @include media($tsc-checkout-desktop-breakpoint) {
                    padding-left: 0;
                    padding-right: 0;
                }

                > span {
                    &.show-summs {
                        @include media($tsc-checkout-desktop-breakpoint) {
                            @if $tsc-checkout-summary_hide-summary-in-title {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .minicart-items-wrapper {
            .minicart-items {
                .product-item {
                    .product {
                        .product-image-container {
                            border: 0;
                        }

                        .product-item-details {
                            .product-item-inner {
                                .product-item-name-block {
                                    margin-left: $tsc-checkout-summary_product-image_spacing;

                                    .product-item-name {
                                        color: $tsc-checkout-summary_product-name-color;
                                        font-size: $tsc-checkout-summary_product-name_font-size;
                                        font-weight: $tsc-checkout-summary_product-name_font-weight;
                                    }

                                    .details-qty {
                                        @if $tsc-checkout-summary_hide-image-qty
                                        {
                                            display: none;
                                        } @else {
                                            background: $tsc-checkout-summary_product-image-qty_background;
                                            color: $tsc-checkout-summary_product-image-qty_color;
                                            border: $tsc-checkout-summary_product-image-qty_border;
                                        }
                                    }
                                }

                                .subtotal {
                                    .price {
                                        color: $tsc-checkout-summary_product-price-color;
                                        font-size: $tsc-checkout-summary_product-price_font-size;
                                        font-weight: $tsc-checkout-summary_product-price_font-weight;
                                    }
                                }

                                .secondary {
                                    .action {
                                        &:before {
                                            margin-top: -0.1rem;
                                            color: $tsc-checkout-close-button_bg;
                                            opacity: 1;
                                        }
                                    }
                                }

                                .tsc-qty {
                                    .tsc-qty-select {
                                        .selectize-input {
                                            width: $tsc-checkout-input-qty_width;
                                        }

                                        .selectize-dropdown {
                                            font-size: $tsc-checkout-input-qty_font-size;
                                        }
                                    }
                                }
                            }

                            .product.options dl.item-options {
                                dt,
                                dd {
                                    margin-left: $tsc-checkout-summary_product-image_spacing;
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        .table-totals {
            .table-caption {
                display: table-caption;
                text-align: left;
                color: $tsc-checkout-step-title_color;
                font-size: $tsc-checkout-step-title_font-size;
                font-weight: $tsc-checkout-step-title_font-weight;
                line-height: $tsc-checkout-step-title_line-height;
                padding: 3rem 0 1rem;
                border-top: 1px solid $tsc-checkout-summary_title_border-color;
            }

            tr {
                th,
                td {
                    font-size: $tsc-checkout-summary_totals_font-size;
                    font-weight: $tsc-checkout-summary_totals_font-weight;
                }

                th {
                    color: $tsc-checkout-summary_totals-th_color;
                }

                td {
                    color: $tsc-checkout-summary_totals-td_color;
                }

                &.grand.totals {
                    th,
                    td {
                        font-size: $tsc-checkout-summary_totals-grand_font-size;
                    }

                    th {
                        color: $tsc-checkout-summary_totals-grand-th_color;
                    }

                    td {
                        color: $tsc-checkout-summary_totals-grand-td_color;
                    }
                }
            }
        }
    }

    .checkout-container {
        .opc-sidebar {
            &:after {
                @include media($tsc-checkout-desktop-breakpoint) {
                    background: $tsc-checkout-sidebar_background;
                }
            }
        }

        .opc-wrapper {
            &.opc-wrapper-no-sidebar {
                .review-form {
                    // Summary
                    .review-block-summary {
                        .items-in-cart {
                            .title {
                                strong {
                                    color: $tsc-checkout-step-title_color;
                                    font-size: $tsc-checkout-step-title_font-size;
                                    font-weight: $tsc-checkout-step-title_font-weight;
                                    line-height: $tsc-checkout-step-title_line-height;
                                }
                            }

                            .content {
                                &.minicart-items {
                                    .minicart-items-wrapper {
                                        .minicart-items {
                                            .product-item {
                                                .product {
                                                    .product-item-details {
                                                        .product-item-inner {
                                                            .product-item-name-block {
                                                                margin-left: $tsc-checkout-summary_product-image_spacing;

                                                                .product-item-name {
                                                                    color: $tsc-checkout-summary_product-name-color;
                                                                    font-size: $tsc-checkout-summary_product-name_font-size;
                                                                    font-weight: $tsc-checkout-summary_product-name_font-weight;
                                                                }

                                                                .details-qty {
                                                                    @if $tsc-checkout-summary_hide-image-qty
                                                                    {
                                                                        display: none;
                                                                    } @else {
                                                                        background: $tsc-checkout-summary_product-image-qty_background;
                                                                        color: $tsc-checkout-summary_product-image-qty_color;
                                                                        border: $tsc-checkout-summary_product-image-qty_border;
                                                                    }
                                                                }
                                                            }

                                                            .subtotal {
                                                                .price {
                                                                    color: $tsc-checkout-summary_product-price-color;
                                                                    font-size: $tsc-checkout-summary_product-price_font-size;
                                                                    font-weight: $tsc-checkout-summary_product-price_font-weight;
                                                                }
                                                            }

                                                            .secondary {
                                                                .action {
                                                                    &:before {
                                                                        color: $tsc-checkout-close-button_bg;
                                                                    }
                                                                }
                                                            }

                                                            .tsc-qty {
                                                                .tsc-qty-select {
                                                                    .selectize-input {
                                                                        width: $tsc-checkout-input-qty_width;
                                                                    }

                                                                    .selectize-dropdown {
                                                                        font-size: $tsc-checkout-input-qty_font-size;
                                                                    }
                                                                }
                                                            }
                                                        }

                                                        .product.options
                                                            dl.item-options {
                                                            dt,
                                                            dd {
                                                                margin-left: $tsc-checkout-summary_product-image_spacing;
                                                                margin-right: 0;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .table-totals {
                                        .table-caption {
                                            display: table-caption;
                                            text-align: left;
                                            color: $tsc-checkout-step-title_color;
                                            font-size: $tsc-checkout-step-title_font-size;
                                            font-weight: $tsc-checkout-step-title_font-weight;
                                            line-height: $tsc-checkout-step-title_line-height;
                                            padding: 3rem 0 1rem;
                                            border-top: 1px solid
                                                $tsc-checkout-summary_title_border-color;
                                        }
                                    }
                                }
                            }
                        }

                        /* stylelint-disable no-descending-specificity */
                        .table-totals {
                            > caption {
                                @include visually-visible();

                                display: table-caption;
                                text-align: left;
                                color: $tsc-checkout-step-title_color;
                                font-size: $tsc-checkout-step-title_font-size;
                                font-weight: $tsc-checkout-step-title_font-weight;
                                line-height: $tsc-checkout-step-title_line-height;
                                padding: 3rem 0 1rem;
                                border-top: 1px solid
                                    $tsc-checkout-summary_title_border-color;
                            }

                            tbody {
                                tr {
                                    th,
                                    td {
                                        font-size: $tsc-checkout-summary_totals_font-size;
                                        font-weight: $tsc-checkout-summary_totals_font-weight;
                                    }

                                    th {
                                        color: $tsc-checkout-summary_totals-th_color;
                                    }

                                    td {
                                        color: $tsc-checkout-summary_totals-td_color;
                                    }

                                    &.grand.totals {
                                        th,
                                        td {
                                            font-size: $tsc-checkout-summary_totals-grand_font-size;

                                            // In order to override
                                            @include media('>=tablet') {
                                                font-size: $tsc-checkout-summary_totals-grand_font-size;
                                            }
                                        }

                                        th {
                                            color: $tsc-checkout-summary_totals-grand-th_color;
                                        }

                                        td {
                                            color: $tsc-checkout-summary_totals-grand-td_color;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .actions-toolbar {
                        > .primary {
                            button {
                                @include reset-button-radius();
                                @include higher-button();

                                span {
                                    font-weight: $tsc-checkout-place-order_font-weight;
                                }
                            }
                        }
                        /* stylelint-enable no-descending-specificity */
                    }

                    // Discount form
                    .discount-code {
                        .form-discount {
                            .actions-toolbar {
                                > .primary {
                                    position: relative;
                                    box-shadow: none;

                                    .action-apply {
                                        padding: $button_padding;
                                        line-height: $button_line-height;
                                        font-size: $button_font-size;
                                        border-radius: $button_border-radius !important; /* stylelint-disable-line declaration-no-important */
                                        margin-top: $tsc-checkout-discount-button_margin-top;

                                        &:hover {
                                            border-color: $color_primary-500;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    #review-method-buttons-container {
                        height: auto;
                    }

                    // Checkout agreements
                    .tsc-alternate-gdpr-holder {
                        background-color: transparent;
                        padding: 0 $tsc-checkout-spacing;
                        margin: $tsc-checkout-spacing 0 8rem;

                        @include media('>=tablet') {
                            padding: 4rem 0 0;
                            margin: 0;
                        }

                        a {
                            @include link();
                        }
                    }
                }
            }
        }
    }

    // Review Step title
    .step-title {
        h2 {
            color: $tsc-checkout-step-title_color;
            font-size: $tsc-checkout-step-title_font-size;
            font-weight: $tsc-checkout-step-title_font-weight;
            line-height: $tsc-checkout-step-title_line-height;
        }
    }
}
