
@include export-once( 'customizations/payment' ) {
    .#{$namespace}payment {

        &__title {
            margin: 0 1.5rem !important;/* stylelint-disable-line declaration-no-important */
            padding: 1.5rem 0 !important;/* stylelint-disable-line declaration-no-important */
            @include media('>=laptop') {
                margin: 0 !important;/* stylelint-disable-line declaration-no-important */
            }
        }

        &__billing {
            max-width: 60rem;
        }
    }
}
