.#{$ns}payment {
    &__title {
        margin: 0 1.5rem;
        padding: 1.5rem 0;
        border-top: 1px solid $color_alto;
        @include media('>=laptop') {
            margin: 0;
        }

        &--no-space {
            margin-top: 0;
        }
    }

    &__billing {
        max-width: 60rem;
        margin-right: 1.5rem;
        @include media('>=tablet') {
            margin-right: 0;
        }
    }

    &__billing-label {
        font-weight: 700;
        color: $color_mineshaft;
        margin-top: 2rem;
        margin-bottom: 0.3rem;
    }

    &__billing-details {
        @extend .#{$ns}t-text;
        padding: 0 0 0 3rem;
        color: $color_dove-gray;
        line-height: 1.6;
        font-weight: 300;
        margin-bottom: 1.5rem;
    }

    &__content {
        line-height: 150%;
        overflow: hidden;
        height: 0;
        transform: translateY(-15px);
        transition: opacity 0.18s linear, transform 0.11s ease-in-out;

        .checkout-payment-method .payment-method._active & {
            padding: 0 0 2rem 4rem;
            opacity: 1;
            transform: translateY(0);
            height: auto !important;

            @include media('>=tablet') {
                padding: 0 0 2rem 2.8rem;
            }
        }

        .payolution_overlay {
            width: 100%;
            position: relative;
            box-sizing: border-box;
            padding-left: 0;
        }
    }

    &__payment-image {
        max-width: 10rem;
        height: auto;
    }

    &__payment-description {
        @extend .#{$ns}t-text;
    }

    &__buttons {
        height: 0;
        transform: translateX(-1.5rem);
        @include media('>=tablet') {
            transform: translateX(-1rem);
        }
        @include media('>=laptop') {
            transform: translateX(-2.8rem);
        }

        &--visible {
            height: auto;
            transform: none;
            @include media('>=tablet') {
                transform: none;
            }
            @include media('>=laptop') {
                transform: none;
            }
        }
    }

    &__fieldset {
        @extend .#{$ns}form__fieldset !optional;
    }

    &__text {
        @extend .#{$ns}t-text;
        margin-top: 2rem;
    }

    .number {
        width: 23rem;
        margin: 2rem 0 1.5rem;
    }

    .messages {
        @extend .#{$ns}messages !optional;
    }

    .message {
        @extend .#{$ns}messages__message;

        div {
            &:before {
                display: none;
            }
        }
    }

    .message-info {
        @extend .#{$ns}messages__message--notice;
    }

    .message-error {
        @extend .#{$ns}messages__message--error;
    }

    .message-success {
        @extend .#{$ns}messages__message--success;
    }
}
