@import 'config/variables';
@import 'include-media/dist/include-media';

$calendar_box-shadow: $box-shadow_base !default;
$calendar_border-radius: $border-radius_base !default;
$calendar_border: none !default;
$calendar_header-background-color: $color_secondary-500 !default;
$calendar_header-arrow-color: $color_primary-500 !default;
$calendar_background-color: $color_background-500 !default;
$calendar_weekday-color: $color_text-800 !default;
$calendar_date-color: $color_text-500 !default;
$calendar_date-disabled-color: $color_border-500 !default;
$calendar_date-selected-color: $color_text-200 !default;
$calendar_date-selected-background: $color_primary-500 !default;

.ui-datepicker {
    border: $calendar_border;
    border-radius: $calendar_border-radius;
    padding: 0;
    min-width: 25rem;
    box-shadow: $calendar_box-shadow;

    .ui-datepicker-header {
        background: $calendar_header-background-color;
        padding: 1rem 2rem;
        border-top-left-radius: $calendar_border-radius;
        border-top-right-radius: $calendar_border-radius;
    }

    .ui-datepicker-prev {
        top: 2rem;
        left: 2.5rem;
    }

    .ui-datepicker-next {
        top: 2rem;
        right: 1.5rem;
    }

    .ui-datepicker-prev span {
        border-width: 0;
        position: relative;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 2rem;
            width: 0;
            height: 0;
        }

        &:before {
            left: -1.2rem;
            border-top: 8px solid transparent;
            border-bottom: 0.8rem solid transparent;
            border-right: 0.8rem solid $calendar_header-arrow-color;
            margin-top: -0.8rem;
        }

        &:after {
            left: -1rem;
            border-top: 0.6rem solid transparent;
            border-bottom: 0.6rem solid transparent;
            border-right: 0.6rem solid $calendar_header-background-color;
            margin-top: -0.6rem;
        }
    }

    .ui-datepicker-next span {
        border-width: 0;
        position: relative;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: 0;
            height: 0;
        }

        &:before {
            right: -1.2rem;
            border-top: 0.8rem solid transparent;
            border-bottom: 0.8rem solid transparent;
            border-left: 0.8rem solid $calendar_header-arrow-color;
            margin-top: -0.8rem;
        }

        &:after {
            right: -1rem;
            border-top: 0.6rem solid transparent;
            border-bottom: 0.6rem solid transparent;
            border-left: 0.6rem solid $calendar_header-background-color;
            margin-top: -0.6rem;
        }
    }

    .ui-datepicker-title {
        margin: 0 1.5em;
    }

    .ui-datepicker-title select {
        display: inline-block;
        margin: 0;
    }

    .ui-datepicker-calendar td a,
    .ui-datepicker-calendar th span,
    .ui-datepicker-calendar td span {
        background: none;
        border-width: 0;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        vertical-align: middle;
        text-align: center;
        line-height: 3rem;
        padding: 0;
        font-size: 1.4rem;
        color: $calendar_date-color;
    }

    .ui-datepicker-calendar th span {
        color: $calendar_weekday-color;
    }

    .ui-datepicker-calendar td,
    .ui-datepicker-calendar th {
        background: none;
        border-width: 0;
        width: 3rem;
        height: 3rem;
        padding: 0;
        text-align: center;
    }

    .ui-datepicker-calendar {
        background: $calendar_background-color;
        margin: 1rem 1.5rem 1.5rem;
        border-width: 0;
        width: 23rem;
    }

    .ui-datepicker-table {
        border: none;
        font-size: 1rem;
    }

    .ui-datepicker-calendar .ui-state-disabled {
        background: transparent;
    }

    .ui-datepicker-calendar .ui-state-disabled span {
        color: $calendar_date-disabled-color;
    }

    .ui-datepicker-calendar td .ui-state-active {
        background: $calendar_date-selected-background;
        color: $calendar_date-selected-color;
    }

    .ui-datepicker-calendar td .ui-state-hover {
        background: $calendar_date-selected-background;
        color: $calendar_date-selected-color;
    }
}
