@import 'config/variables';
@import 'vendors/include-media';
@import 'utils/deep-get/deep-get.scss';
@import 'utils/visually-hidden';

// General
$product-teaser_general-elements-gutter: 2rem !default;
$product-teaser_padding: 1.5rem 0 !default;
$product-teaser_one-column-breakpoint: 'tablet' !default;
$product-teaser_content-flex-basis-desktop: 60% !default;

// Thumbnail
$product-teaser_thumbnail-max-height-mobile: 36rem !default;
$product-teaser_thumbnail-flex-basis-desktop: 40% !default;

// Badges
$product-teaser_badges-margin: 0 0 #{$product-teaser_general-elements-gutter / 2}
    0 !default;
$product-teaser_badges-item-margin: 0 #{$product-teaser_general-elements-gutter /
    2} 0.3rem 0 !default;

// Daily Deal
$product-teaser_dailydeal-margin: 0 0 $product-teaser_general-elements-gutter !default;

// Swatches
$product-teaser_swatches-margin: $product-teaser_general-elements-gutter 0 #{$product-teaser_general-elements-gutter /
    2} !default;

// Review
$product-teaser_review-margin: 0 !default;

// Description
$product-teaser_description-margin: $product-teaser_general-elements-gutter 0 !default;
$product-teaser_description-separator: 1px solid $color_border-500 !default;

// Brand
$product-teaser_brand-alignment: left !default;
$product-teaser_brand-margin: 0 !default;

// Name
$product-teaser_product-name-margin: 2rem 0 #{$product-teaser_general-elements-gutter /
    2} !default;

// Price
$product-teaser_price-margin: 0 !default;

// Addtocart
$product-teaser_addtocart-margin: 0 0 0 $product-teaser_general-elements-gutter !default;

// Stock
$product-teaser_product-stock-margin: #{$product-teaser_general-elements-gutter /
    2} 0 0 !default;

// Image sizes
$product-tile-teaser-magento-catalog-image: deep-get(
    $view-xml,
    media,
    images,
    image,
    category_page_grid
);
$product-tile-teaser-magento-catalog-image-width: to-number(
    #{map-get($product-tile-teaser-magento-catalog-image, width)}
);
$product-tile-teaser-magento-catalog-image-height: to-number(
    #{map-get($product-tile-teaser-magento-catalog-image, height)}
);

.#{$ns}product-tile {
    $root: &;

    &--teaser {
        aspect-ratio: initial;
        background-color: transparent;
        border: none;

        @include media('>=tablet') {
            aspect-ratio: initial;
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                border: none;
            }
        }

        #{$root}__container {
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0;

            @include media('>=#{$product-teaser_one-column-breakpoint}') {
                flex-wrap: nowrap;
            }
        }

        #{$root}__link {
            display: flex;
            width: 100%;
            height: auto;
        }

        #{$root}__name {
            font-size: $font-size_headline-2;
            line-height: normal;
            margin: $product-teaser_product-name-margin;
            white-space: initial;
            height: auto;

            @include media('<tablet') {
                margin-top: 0;
            }
        }

        #{$root}__thumbnail {
            flex-basis: 100%;

            @include media('>=#{$product-teaser_one-column-breakpoint}') {
                flex-basis: $product-teaser_thumbnail-flex-basis-desktop;
                height: unset;
                aspect-ratio: #{$product-tile-teaser-magento-catalog-image-width}/#{$product-tile-teaser-magento-catalog-image-height};
            }
        }

        #{$root}__thumbnail-link {
            padding: 0;
            height: 100%;
            flex-grow: initial;
            width: auto !important;
            max-height: $product-teaser_thumbnail-max-height-mobile;

            @include media('>=#{$product-teaser_one-column-breakpoint}') {
                padding: 0;
                max-height: unset;
            }
        }

        #{$root}__figure {
            height: 100%;

            @include media('>=#{$product-teaser_one-column-breakpoint}') {
                max-height: unset;
                aspect-ratio: #{$product-tile-teaser-magento-catalog-image-width}/#{$product-tile-teaser-magento-catalog-image-height};
            }
        }

        #{$root}__image {
            max-height: 100%;

            @include media('>=#{$product-teaser_one-column-breakpoint}') {
                width: 100%;
            }
        }

        #{$root}__gallery {
            @include media('>=#{$product-teaser_one-column-breakpoint}') {
                opacity: 1;
            }
        }

        #{$root}__content {
            padding: 0;
            height: auto;
            display: flex;
            align-items: center;
            background-color: transparent;

            @include media('>=#{$product-teaser_one-column-breakpoint}') {
                padding: 0 0 0 #{$product-teaser_general-elements-gutter * 2};
                flex-basis: $product-teaser_content-flex-basis-desktop;
            }
        }

        #{$root}__main {
            height: auto;
            flex-basis: 100%;
            grid-template-columns: minmax(0, 1fr);
            grid-template-rows: min-content;

            grid-template-areas:
                'name'
                'dailydeal'
                'swatches'
                'description'
                'review'
                'brand'
                'price'
                'addtocart'
                'stock';

            @include media('>=#{$product-teaser_one-column-breakpoint}') {
                grid-template-columns: 2fr 1fr;

                grid-template-areas:
                    'dailydeal dailydeal'
                    'name name'
                    'description description'
                    'swatches swatches'
                    'review review'
                    'brand brand'
                    'price addtocart'
                    'stock addtocart';
            }
        }

        #{$root}__badges {
            margin: $product-teaser_badges-margin;
            left: 0;
        }

        #{$root}__badge-item {
            margin: $product-teaser_badges-item-margin;
        }

        #{$root}__swatches {
            width: 100%;
            margin: $product-teaser_swatches-margin;

            &:empty {
                display: none;
            }

            @include media('>=#{$product-teaser_one-column-breakpoint}') {
                margin-top: 0;
            }

            &,
            .swatch-attribute-options {
                justify-content: center;

                @include media('>=#{$product-teaser_one-column-breakpoint}') {
                    justify-content: flex-start;
                }
            }
        }

        #{$root}__brand {
            margin: $product-teaser_brand-margin;
            text-align: $product-teaser_brand-alignment;
        }

        #{$root}__description {
            display: block;
            width: 100%;
            margin: $product-teaser_description-margin;
            border-bottom: $product-teaser_description-separator;
            padding-bottom: $product-teaser_general-elements-gutter;

            &:empty {
                margin-top: 0;
                padding-bottom: 0;
            }

            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        #{$root}__stock {
            padding-bottom: $product-teaser_general-elements-gutter;
            padding-top: 1rem;

            &:empty {
                padding: 0;
                margin: 0;
            }
        }

        #{$root}__review {
            margin: $product-teaser_review-margin;
            padding-bottom: $product-teaser_general-elements-gutter;

            &:empty {
                padding: 0;
                margin: 0;
            }
        }

        #{$root}__price {
            margin: $product-teaser_price-margin;
        }

        #{$root}__addtocart {
            margin: $product-teaser_addtocart-margin;
            opacity: 1;

            @include media('<#{$product-teaser_one-column-breakpoint}') {
                margin: #{$product-teaser_general-elements-gutter} 0 0;
            }
        }

        #{$root}__addtocart-button {
            width: 100%;
        }

        #{$root}__stock {
            margin: $product-teaser_product-stock-margin;
        }

        #{$root}__wishlist-comment {
            @include visually-hidden();
        }

        #{$root}__dailydeal {
            position: static;
            max-width: 30rem;
            margin: $product-teaser_dailydeal-margin;
        }
    }
}
