@import 'config/variables';
@import 'utils/aspect-ratio';
@import 'vendors/include-media';

$navigation_font-size: 1rem !default;

$navigation_overlay-show: false !default;
// Box shadow effect applied for the flyout.
$navigation_flyout-box-shadow: 2px 2px 5px rgba($color_background-800, 0.15) !default;
// Flyout background color.
$navigation_flyout-background: $color_background-200 !default;
// Color of the link.
$navigation_link-color: $color_text-600 !default;
// Color of the link in the flyout on hover.
$navigation_link-color-hover: $color_primary-500 !default;
// Bottom border configuration for flyout category links.
$navigation_link-border: 1px solid $color_border-500 !default;
$navigation_lists-mark-parent-on-hover: true !default;

.#{$ns}navigation {
    $root: &;

    box-sizing: border-box;
    font-size: $navigation_font-size;

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;

        &--main {
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        &--all-categories {
            width: 100%;
            columns: auto 1;
            column-gap: 0;
            flex: 1 0 auto;
        }

        &--level {
            &_1 {
                width: 100%;
                columns: auto 1;
                column-gap: 0;
                flex: 1 0 auto;
            }

            &_2 {
                flex-wrap: wrap;
            }
        }

        &--hidden {
            display: none;
        }
    }

    &__item {
        font-size: 0.9em;
        margin: 0;
        width: 100%;

        @if ($navigation_lists-mark-parent-on-hover) {
            &--active,
            &.active,
            &:hover {
                &:not([data-category-identifier='all-categories']) {
                    > #{$root}__link {
                        color: $navigation_link-color-hover;
                    }
                }
            }
        } @else {
            &--main {
                &:hover,
                &.active,
                &#{$root}__item--active {
                    &:not([data-category-identifier='all-categories']) {
                        > #{$root}__link {
                            color: $navigation_link-color-hover;
                        }
                    }
                }
            }
        }

        &--main {
            width: auto;
            font-size: 1.4em;

            &:first-of-type {
                > #{$root}__link {
                    padding-left: 0;
                }
            }

            &:last-of-type {
                > #{$root}__link {
                    padding-right: 0;
                }
            }
        }

        &--all-categories {
            padding: 1rem;
            // Prevents element breaking because of column layout.
            page-break-inside: avoid; /* Theoretically FF 20+ */
            break-inside: avoid-column; /* IE 11 */
            display: table;
        }

        &--level {
            &_1 {
                padding: 1rem;
                // Prevents element breaking because of column layout.
                page-break-inside: avoid; /* Theoretically FF 20+ */
                break-inside: avoid-column; /* IE 11 */
                display: table;
            }
        }

        &--hidden {
            display: none;
        }
    }

    &__link {
        display: block;
        text-transform: uppercase;
        padding: 0.9em 1.05em;
        width: 100%;

        &,
        &:visited {
            color: $navigation_link-color;
        }

        &:hover {
            text-decoration: none;
            color: $navigation_link-color-hover;
        }

        &--main {
            font-weight: 700;
        }

        &--all-categories {
            font-weight: 700;
            margin: 0;
            border-bottom: $navigation_link-border;
            padding-bottom: 1.55em;
        }

        &--level {
            &_1 {
                font-weight: 700;
                margin: 0;
                border-bottom: $navigation_link-border;
                padding-bottom: 1.55em;
            }

            &_2 {
                text-transform: none;
                font-size: 1.25em;
            }
        }

        &--with-icon {
            position: relative;
            padding-left: 2.8rem;
        }

        &-icon-wrapper {
            position: absolute;
            width: 2rem;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        &-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            max-height: 1.8rem;

            #{$root}__link--category & {
                margin-top: -0.5rem;
            }
        }

        &-products-qty {
            &:before {
                content: '(';
            }

            &:after {
                content: ')';
            }
        }
    }

    &__flyout {
        position: absolute;
        display: none;
        background: $navigation_flyout-background;
        left: 0;
        backface-visibility: hidden;
        z-index: 1001; // Make sure flyouts cover gallery nav.
        box-shadow: $navigation_flyout-box-shadow;
        margin-top: -1px;

        &--visible {
            display: flex;
        }

        svg {
            pointer-events: none;
        }

        li {
            @supports (-ms-ime-align: auto) {
                list-style: none;
                list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);
                list-style-type: none;
            }
        }
    }

    &__teaser {
        position: relative;
        max-height: 100%;
        padding: 1em;
        overflow: hidden;

        &--hidden {
            display: none;
        }
    }

    &__products {
        padding: 0.5em 1em;
        min-width: 24rem;

        &-header {
            display: block;
            color: $navigation_link-color;
            text-transform: uppercase;
            width: 100%;
            font-weight: 700;
            margin: 0;
            border-bottom: $navigation_link-border;
            padding: 1.1em 1.05em 1.55em;
            font-size: 0.9em;
        }

        &-list {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }

    &__product {
        @include aspect-ratio(
            $width: $tile_aspect-ratio-width,
            $height: $tile_aspect-ratio-height,
            $childClass: #{$ns}product-tile,
            $autoposition: true
        );

        @each $key, $values in $tile_aspect-ratio-map {
            @include media(#{$key}) {
                @include aspect-ratio(
                    $width: nth(map-get($tile_aspect-ratio-map, $key), 1),
                    $height: nth(map-get($tile_aspect-ratio-map, $key), 2),
                    $childClass: #{$ns}product-tile,
                    $autoposition: true
                );
            }
        }
    }

    &__overlay {
        display: none;
        position: absolute;
        z-index: 1000;
        background-color: #000;
        opacity: 0;
        left: 0;
        width: 100%;
        height: 0;
        transform: translate3d(0, 3rem, 0);
        transition: opacity 0.15s linear,
            transform 0.2s cubic-bezier(0, 0.97, 0.05, 0.99);

        @if $navigation_overlay-show {
            @include media('>=tablet') {
                display: block;
            }
        }

        &--visible {
            opacity: 0.8;
            transform: translate3d(0, 0, 0);
        }
    }

    .page-print & {
        display: none;
    }
}

.#{$ns}container {
    &--navigation {
        display: none;

        @include media('>=laptop') {
            display: block;
        }
    }
}
