// Navigation
// Navigation component that supports 3 levels of links.
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1

@mixin navigation() {
    $root: &;

    box-sizing: border-box;
    font-size: 1rem;

    &__list {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        list-style: none;
        padding: 0;
    }

    &__item {
        font-size: 1.4em;
        margin: 0;
    }

    &__link {
        display: block;
        color: #484747;
        font-weight: 700;
        text-transform: uppercase;
        padding: 1.286em 0;

        &:hover,
        &:visited {
            color: inherit;
        }

        &--category {
            color: inherit;
            font-size: 0.9em;
            padding: 5px 0;
            margin: 0;
            border-bottom: 1px solid #e9e9e9;
        }

        &--subcategory {
            text-transform: none;
            font-weight: 500;
            padding: 2px 0;
        }
    }
    // Introducing custom class separate from the &__link to not interfere with
    // offcanvas navigation builder which depends on it.
    &__touch-link {
        @extend #{$root}__link;

        &--category {
            @extend #{$root}__link--category;
        }
    }

    &__flyout {
        position: absolute;
        display: none;
        background: #fff;
        box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 0.2);
        left: 0;
        z-index: 3;
        backface-visibility: hidden;

        &--visible {
            display: flex;
        }
    }

    &__categories {
        column-width: calc(25vw - 30px / 4);
        column-count: 3;
        column-gap: 0;

        @include media('>=1200px') {
            column-count: 4;
            column-width: 240px; // 1200px / 5
        }
    }

    &__category,
    &__banners {
        box-sizing: border-box;
        padding: 10px;
        width: calc(25vw - 30px / 4);

        @include media('>=1200px') {
            width: 240px; // 1200px / 5
        }
    }

    &__category {
        // Prevents element breaking because of column layout.
        page-break-inside: avoid; /* Theoretically FF 20+ */
        break-inside: avoid-column; /* IE 11 */
        display: table;

        &--hidden {
            display: none;
        }
    }

    &__subcategories {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__subcategory {
        margin-bottom: 0 !important;
    }

    &__banners {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__banner {
        & + & {
            padding-top: 10px;
        }
    }

    &__teaser {
        box-sizing: border-box;
        position: relative;
        max-width: 48rem;
        max-height: 100%;
        padding: 1rem;
        overflow: hidden;

        &-figure {
            display: block;
            max-height: 100%;
            overflow: hidden;
        }

        &-image {
            display: block;
        }

        &-content-wrapper {
            box-sizing: border-box;
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 6rem 3rem;
        }

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            color: $color_mineshaft;
            text-align: center;
        }

        &-headline {
            margin: 0 0 1rem;
            font-size: 3rem;
            line-height: 1.15;
            font-weight: 700;
            color: $color_mineshaft;

            @include media('>=laptop') {
                font-size: 4.3rem;
                line-height: 1;
            }
        }

        &-subheadline {
            margin: 0 0 1rem;
            font-size: 1.65rem;
            line-height: 1.15;
            font-weight: 400;
            color: $color_mineshaft;

            @include media('>=laptop') {
                font-size: 2.8rem;
                line-height: 1.25;
            }
        }

        &-text {
            margin: 0 0 1rem;
            font-size: 1rem;
            line-height: 1.15;
            font-weight: 300;
            color: $color_mineshaft;

            @include media('>=laptop') {
                font-size: 1.4rem;
            }
        }

        &-cta {
            margin-top: 2rem;
        }
    }
}
