@import 'config/variables';
@import 'include-media/dist/include-media';

$navigation_font-size: 1rem !default;

$navigation_overlay-show: false !default;

$navigation_flyout-edge-gutter: $page_edge-gutter !default;
$navigation_flyout-max-width: $page_max-width !default;
// Maximum number of columns (including image teaser, product promo etc.) for tablet.
$navigation_flyout-columns-max-tablet: 4 !default;
// Maximum number of columns (including image teaser, product promo etc.) for desktop.
$navigation_flyout-columns-max-desktop: 5 !default;
$navigation_flyout-column-width-tablet: #{100vw /
    $navigation_flyout-columns-max-tablet} - #{$navigation_flyout-edge-gutter * 2 /
    $navigation_flyout-columns-max-tablet};
$navigation_flyout-column-width-desktop: $navigation_flyout-max-width /
    $navigation_flyout-columns-max-tablet;
// Box shadow effect applied for the flyout.
$navigation_flyout-box-shadow: 2px 2px 5px rgba($color_background-800, 0.15) !default;
// Flyout background color.
$navigation_flyout-background: $color_background-200 !default;
// Color of the link.
$navigation_link-color: $color_text-600 !default;
// Color of the link in the flyout on hover.
$navigation_link-color-hover: $color_primary-500 !default;
// Bottom border configuration for flyout category links.
$navigation_link-border: 1px solid $color_border-500 !default;

.#{$ns}navigation {
    $root: &;

    box-sizing: border-box;
    font-size: $navigation_font-size;

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;

        &--level {
            &_0 {
                position: relative;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
            }

            &_1 {
                columns: calc(#{$navigation_flyout-column-width-tablet}) 1;
                column-gap: 0;

                @include media(
                    '>=#{$navigation_flyout-max-width / 16rem * 10em}'
                ) {
                    columns: $navigation_flyout-column-width-desktop 1;
                }
            }

            &_2 {
                flex-wrap: wrap;
            }
        }
    }

    &__item {
        font-size: 0.9em;
        margin: 0;
        width: 100%;

        &:hover,
        &.active,
        &--active {
            > #{$root}__link {
                color: $navigation_link-color-hover !important;
            }
        }

        &--level {
            &_0 {
                width: auto;
                font-size: 1.4em;

                &:first-of-type {
                    > #{$root}__link {
                        padding-left: 0;
                    }
                }

                &:last-of-type {
                    > #{$root}__link {
                        padding-right: 0;
                    }
                }
            }

            &_1 {
                padding: 1rem;
                width: calc(#{$navigation_flyout-column-width-tablet});
                // Prevents element breaking because of column layout.
                page-break-inside: avoid; /* Theoretically FF 20+ */
                break-inside: avoid-column; /* IE 11 */
                display: table;

                @include media(
                    '>=#{$navigation_flyout-max-width / 16rem * 10em}'
                ) {
                    width: $navigation_flyout-column-width-desktop;
                }
            }
        }

        &--hidden {
            display: none;
        }
    }

    &__link {
        display: block;
        text-transform: uppercase;
        padding: 0.9em 1.05em;
        width: 100%;

        &,
        &:visited {
            color: $navigation_link-color;
        }

        &:hover {
            text-decoration: none;
            color: $navigation_link-color-hover;
        }

        &--level {
            &_0 {
                font-weight: 700;
            }

            &_1 {
                font-weight: 700;
                margin: 0;
                border-bottom: $navigation_link-border;
                padding-bottom: 1.55em;
            }

            &_2 {
                text-transform: none;
                font-size: 1.25em;
            }
        }

        &--with-icon {
            position: relative;
            padding-left: 2.8rem;
        }
    }

    &__flyout {
        position: absolute;
        display: none;
        background: $navigation_flyout-background;
        left: 0;
        backface-visibility: hidden;
        z-index: 1001; // Make sure flyouts cover gallery nav.
        box-shadow: $navigation_flyout-box-shadow;
        margin-top: -1px;

        &--visible {
            display: flex;
        }

        svg {
            pointer-events: none;
        }

        li {
            @supports (-ms-ime-align: auto) {
                list-style: none;
                list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);
                list-style-type: none;
            }
        }
    }

    &__teaser {
        position: relative;
        max-width: calc(#{$navigation_flyout-column-width-tablet} * 2);
        max-height: 100%;
        padding: 1em;
        overflow: hidden;

        @include media('>=#{$navigation_flyout-max-width / 16rem * 10em}') {
            max-width: $navigation_flyout-column-width-desktop * 2; // 1200px / 5
        }
    }

    &__link {
        &-icon-wrapper {
            position: absolute;
            width: 2rem;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        &-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            max-height: 1.8rem;

            #{$root}__link--category & {
                margin-top: -0.5rem;
            }
        }

        &-products-qty {
            &:before {
                content: '(';
            }

            &:after {
                content: ')';
            }
        }
    }

    &__products {
        width: $navigation_flyout-column-width-tablet;
        padding: 0.5em 1em;

        @include media('>=#{$navigation_flyout-max-width / 16rem * 10em}') {
            width: $navigation_flyout-column-width-desktop;
        }

        &-header {
            display: block;
            color: $navigation_link-color;
            text-transform: uppercase;
            width: 100%;
            font-weight: 700;
            margin: 0;
            border-bottom: $navigation_link-border;
            padding: 1.8em 1.5em 2em 1em;
            font-size: 0.9em;
        }

        &-list {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }

    &__overlay {
        display: none;
        position: absolute;
        z-index: 1000;
        background-color: #000;
        opacity: 0;
        left: 0;
        width: 100%;
        height: 0;
        transform: translate3d(0, 3rem, 0);
        transition: opacity 0.15s linear,
            transform 0.2s cubic-bezier(0, 0.97, 0.05, 0.99);

        @if $navigation_overlay-show {
            @include media('>=tablet') {
                display: block;
            }
        }

        &--visible {
            opacity: 0.8;
            transform: translate3d(0, 0, 0);
        }
    }

    .page-print & {
        display: none;
    }
}

.#{$ns}container {
    &--navigation {
        display: none;

        @include media('>=laptop') {
            display: block;
        }
    }
}
