
<div class="cs-form__field | cs-input | gw-euvat-field"
     data-bind="visible: visible, attr: {'name': element.dataScope}, css: additionalClasses">

    <label class="cs-input__label" data-bind="attr: { for: element.uid }">
        <!-- ko if: element.label -->
        <span data-bind="i18n: element.label"></span>
        <!-- /ko -->
    </label>

    <div class="cs-input__control" data-bind="css: {'_with-tooltip': element.tooltip}">
        <!-- ko ifnot: element.hasAddons() -->
        <!-- ko template: element.elementTmpl --><!-- /ko -->
        <!-- /ko -->

        <!-- ko if: element.hasAddons() -->
        <div class="control-addon">
            <!-- ko template: element.elementTmpl --><!-- /ko -->

            <!-- ko if: element.addbefore -->
            <label class="addon-prefix" data-bind="attr: { for: element.uid }"><span data-bind="text: element.addbefore"></span></label>
            <!-- /ko -->

            <!-- ko if: element.addafter -->
            <label class="addon-suffix" data-bind="attr: { for: element.uid }"><span data-bind="text: element.addafter"></span></label>
            <!-- /ko -->
        </div>
        <!-- /ko -->

        <!-- ko if: element.tooltip -->
        <div class="cs-input__note">
            <!-- ko text: tooltip.description --><!-- /ko -->
        </div>
        <!-- /ko -->

        <!-- ko if: element.notice -->
        <div class="cs-input__note" data-bind="attr:{id: element.noticeId}"><span data-bind="text: element.notice"></span></div>
        <!-- /ko -->

        <!-- ko if: element.warn() -->
        <div class="cs-messages__message cs-messages__message--notice" generated="true">
            <span class="cs-messages__text" data-bind="text: element.warn"></span>
            <!-- ko if: (element.retry) -->
            <a id="vatid-retry" href="#" data-bind="click: retryValidation, text:element.retryText"></a>
            <!-- /ko -->
        </div>
        <!-- /ko -->

        <!-- ko if: element.error() -->
        <div class="mage-error" data-bind="attr:{for: element.uid}, text: element.error" generated="true"></div>
        <!-- /ko -->

        <!-- ko if: (element.success() && element.successForId() == element.successId) -->
        <div class="cs-messages__message cs-messages__message--success" data-bind="attr:{id: element.successId}"
             generated="true">
            <span class="cs-messages__text" data-bind="text: element.success"></span>
        </div>
        <!-- /ko -->
    </div>
</div>
<!-- /ko -->