@import 'config/variables';
@import 'utils/visually-hidden';
@import 'vendors/include-media';

@import 'components/button/mixin';
@import 'components/qty-counter/mixin';
@import 'components/typography/mixin';
@import 'components/field/mixin';
@import 'components/pseudoicon/mixin';

$checkout_page-max-width: 93rem !default;

// Right sidebar width for tablets and desktops
$checkout_sidebar-width: 44% !default;
// Space between main column and sidebar for tablets and desktops
$checkout_main-column-and-sidebar-gap: 3.5rem !default;
// Space below steps (authentication, shipping address etc.)
$checkout_steps-space: 3.5rem !default;
// Base space for checkout elements (paddings between boxes border and its content, headline spacing etc.)
$checkout_base-space: 2rem !default;

$checkout_boxes-background: $color_background-200 !default;
$checkout_boxes-box-shadow: $box-shadow_base !default;
$checkout_boxes-border-radius: 0 !default;

// This border is used as separator between some sections
$checkout_elements-border: 1px solid $color_border-500 !default;

$checkout_place-order-border-bottom: 2px solid $color_border-500 !default;
$checkout_active-elements-color: $color_primary-500 !default;

$checkout_texts-font-size: $font-size_paragraph !default;
$checkout_headlines-font-size: $font-size_headline-3 !default;
$checkout_headlines-text-transform: none !default;
$checkout_headlines-color: $color_text-800 !default;
$checkout_headlines-font-weight: 700 !default;
$checkout_form-notes-font-size: 1.2rem !default;

$checkout_next-button-type: $button_default-type !default;
$checkout_next-button-icon-pos: $button_default-icon-pos !default;
$checkout_place-order-button-type: $button_default-type !default;
$checkout_place-order-button-icon-pos: $button_default-icon-pos !default;

// Move next button to the separate box
$checkout_next-button-outside: false !default;

$checkout_show-cart-button-type: 'secondary' !default;
$checkout_show-cart-button-icon-pos: $button_default-icon-pos !default;
$checkout_login-button-type: $button_default-type !default;
$checkout_login-button-icon-pos: $button_default-icon-pos !default;
$checkout_estimation-button-type: 'secondary' !default;
$checkout_estimation-button-icon-pos: $button_default-icon-pos !default;
$checkout_billing-address-button-type: 'secondary' !default;
$checkout_billing-address-button-icon-pos: $button_default-icon-pos !default;
$checkout_show-popup-button-type: $button_default-type !default;
$checkout_show-popup-button-icon-pos: $button_default-icon-pos !default;
$checkout_addresses-button-type: 'secondary' !default;
$checkout_addresses-button-icon-pos: $button_default-icon-pos !default;

$checkout_show-success-icon-on-shipping-form: true !default;

// paypal review page
$checkout_paypal-primary-button-type: $button_default-type !default;
$checkout_paypal-primary-button-icon-pos: $button_default-icon-pos !default;
$checkout_paypal-secondary-button-type: 'secondary' !default;
$checkout_paypal-secondary-button-icon-pos: $button_default-icon-pos !default;

.checkout-index-index {
    .column.main {
        @include media('<tablet') {
            padding-top: 0;
        }
    }

    #maincontent {
        .ie11 & {
            min-height: calc(100vh - 25rem);
        }
    }

    .page-title-wrapper {
        @include visually-hidden();
    }

    button.action.primary.action-save-address {
        order: 2;
    }

    .page-header {
        max-width: $checkout_page-max-width;
        margin: 0.5rem auto 1rem;
        width: 100%;

        @include media('>=tablet') {
            margin: 2.5rem auto 1rem;
        }

        .#{$ns}logo {
            padding-left: $checkout_base-space;

            @include media('>=laptop') {
                padding-left: 0;
            }
        }

        .header.content {
            padding: 0 0 $checkout_base-space;
        }
    }

    .#{$ns}topbar {
        max-width: $checkout_page-max-width;

        .#{$ns}topbar__item {
            &:first-child {
                opacity: 0;
                width: 1rem;
                overflow: hidden;
            }
        }
    }

    .modal-popup .modal-inner-wrap {
        .field .label[for='shipping-save-in-address-book'] {
            width: auto;
        }
    }
}

.#{$ns}checkout {
    $root: &;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    max-width: 45rem;
    margin: 0 auto 1.5rem auto;

    @include media('>=tablet') {
        max-width: $checkout_page-max-width;
    }

    // General checkout layout and checkout forms

    &__progress-bar {
        width: auto;
        list-style: none;
        max-width: 100%;
        padding: 0;
        margin-bottom: 2rem;
        box-sizing: border-box;

        @include media('>=tablet') {
            position: absolute;
            right: 0;
            top: -11rem;
            z-index: 2;
            margin-bottom: 0;

            .ie11 & {
                top: -10.5rem;
            }
        }
    }

    &__messages {
        width: 100%;
    }

    &__mobile-summary {
        @include media('>=tablet') {
            display: none;
        }
    }

    &__grand-total-tax-note-row {
        td,
        th {
            padding: 0 !important;
            text-align: right;
        }
    }

    &__grand-total-tax-note {
        text-align: right;
        font-size: 1.4rem;
        color: $color_text-400;
        white-space: nowrap;
    }

    // Button next step
    &__sidebar-button {
        width: 100%;
        @include button(
            $type: $checkout_next-button-type,
            $icon_pos: $checkout_next-button-icon-pos
        );

        @include media('>=tablet') {
            min-width: 20rem;
        }

        @if ($checkout_next-button-outside == true) {
            width: 100%;
        }

        &-span {
            @include button_span(
                $type: $checkout_next-button-type,
                $icon_pos: $checkout_next-button-icon-pos
            );
        }

        &-icon {
            @include button_icon(
                $type: $checkout_next-button-type,
                $icon_pos: $checkout_next-button-icon-pos
            );
        }

        @include media('<tablet') {
            width: 100%;
        }

        @if ($checkout_next-button-outside == true) {
            width: 100%;
        }
    }

    &__place-order {
        padding: $checkout_base-space 0;
        border-bottom: $checkout_place-order-border-bottom;
        width: 100%;
        box-sizing: border-box;

        .modal-inner-wrap & {
            @include media('<tablet') {
                display: none;
            }
        }

        @include media('>=tablet') {
            padding: $checkout_base-space;
        }

        &-button {
            @include button(
                $type: $checkout_next-button-type,
                $icon_pos: $checkout_next-button-icon-pos
            );
            width: 100%;

            &-span {
                @include button_span(
                    $type: $checkout_next-button-type,
                    $icon_pos: $checkout_next-button-icon-pos
                );
            }

            &-icon {
                @include button_icon(
                    $type: $checkout_next-button-type,
                    $icon_pos: $checkout_next-button-icon-pos
                );
            }
        }
    }

    // Forms

    .fieldset {
        .note {
            margin-top: 0;
            @include field-note();
        }

        .label {
            margin-bottom: 0.5rem;
        }
    }

    .billing-address-form {
        .choice.field {
            display: flex;
            flex-wrap: nowrap;
        }

        .label {
            margin-bottom: 0;
        }
    }

    .form-shipping-address {
        .field[name*='postcode'] {
            @include media('>=tablet') {
                width: 25%;
                float: left;

                .error,
                .warning {
                    width: 400%;
                    box-sizing: border-box;
                    margin-top: 2.7rem;
                    float: left;
                }
            }
        }

        .field[name*='city'] {
            @include media('>=tablet') {
                width: 75%;
                padding-left: 1.5rem;
                display: inline-flex;
                box-sizing: border-box;
            }
        }

        // Success icon (green tick) display
        .field._success:not(._warn-missing-street-number) {
            .control {
                &:after {
                    @if ($checkout_show-success-icon-on-shipping-form == true) {
                        display: block;
                    }
                }
            }
        }

        // Do not show success icon for customer type select, country select, prefix
        .field {
            &[name='shippingAddress.custom_attributes.customer_type'],
            &[name='shippingAddress.country_id'],
            &[name='shippingAddress.prefix'] {
                .control {
                    &:after {
                        display: none !important;
                    }
                }
            }
        }
    }

    .block {
        margin: 0;
        .title {
            strong {
                margin: 0;
            }
        }
    }

    // Container for main column of the checkout
    .opc-wrapper {
        padding: 0;
        z-index: 2;
        width: 100%;
        float: none;

        @include media('>=tablet') {
            width: calc(100% - #{$checkout_sidebar-width});
        }

        .step-title,
        .block-title {
            @include headline($level: $checkout_headlines-font-size);
            text-transform: $checkout_headlines-text-transform;
            font-weight: $checkout_headlines-font-weight;
            color: $checkout_headlines-color;
            margin: 0;
            border-bottom: none;
            padding: 0 0 $checkout_base-space;
        }

        .action.continue {
            display: none;
        }
    }

    // List with checkout steps (shipping, shipping methods, payments)
    .opc {
        list-style: none inside none;
        width: 100%;
        padding-left: 0;
        margin-bottom: 0;
    }

    // Checkout boxes
    &__sidebar,
    &__step-tabs .#{$ns}tabs,
    &__shipping-method-wrapper,
    &__shipping-method,
    .opc-estimated-wrapper,
    &__payments,
    &__after-payments {
        margin: 0 0 $checkout_steps-space;
        background: $checkout_boxes-background;

        @include media('>=tablet') {
            box-shadow: $checkout_boxes-box-shadow;
            border-radius: $checkout_boxes-border-radius;
        }
    }

    .modal-inner-wrap {
        @include media('>=tablet') {
            background: $checkout_boxes-background;
        }
    }

    &__shipping-method {
        @include media('<tablet') {
            margin-bottom: -1rem;
        }
    }

    &__shipping-method-wrapper,
    &__shipping-method,
    &__payments,
    &__after-payments {
        padding: $checkout_base-space 0;

        @include media('>=tablet') {
            padding: $checkout_base-space;
        }
    }

    &__payments,
    &__after-payments {
        @include media('<tablet') {
            margin-bottom: 0;
        }
    }

    &__after-payments {
        > .payment-option:nth-child(n + 2) {
            margin-top: $checkout_base-space;
        }
    }

    &__sidebar {
        width: 100%;
        margin: 0;

        @include media('>=tablet') {
            height: 100%;
            z-index: 2;
            width: calc(
                #{$checkout_sidebar-width} - #{$checkout_main-column-and-sidebar-gap}
            );
            margin: 0 0 0 $checkout_main-column-and-sidebar-gap;
            order: 2;
        }

        @if ($checkout_next-button-outside == true) {
            box-shadow: none;
            border-radius: 0;
            background: transparent;
            margin: 0;
        }

        .action-close {
            @include media('>=tablet') {
                display: none;
            }
        }
    }

    &__sidebar-inner {
        @if ($checkout_next-button-outside == true) {
            @include media('>=tablet') {
                margin: 0 0 $checkout_steps-space;
                background: $checkout_boxes-background;
                box-shadow: $checkout_boxes-box-shadow;
                border-radius: $checkout_boxes-border-radius;
            }
        }
    }

    // Container for next step button
    &__sidebar-bottom {
        display: flex;
        justify-content: flex-end;
        padding: 0;

        @include media('>=tablet') {
            padding: $checkout_base-space;
        }

        @if ($checkout_next-button-outside == true) {
            margin: 0 0 $checkout_steps-space;
            background: $checkout_boxes-background;
            box-shadow: $checkout_boxes-box-shadow;
            border-radius: $checkout_boxes-border-radius;

            @include media('<tablet') {
                margin-top: $checkout_steps-space;
                padding: $checkout_base-space;
            }
        }
    }

    // Authentication
    .form-login,
    .block-authentication {
        .primary .action {
            @include button(
                $type: $checkout_login-button-type,
                $icon_pos: $checkout_login-button-icon-pos
            );
            min-width: 15rem;

            @include media('<tablet') {
                width: 100%;
            }

            span {
                @include button_span(
                    $type: $checkout_login-button-type,
                    $icon_pos: $checkout_login-button-icon-pos
                );
            }
        }

        .actions-toolbar {
            margin-top: $checkout_base-space;
        }

        .field {
            margin-bottom: 0.5rem;
        }

        .block-title {
            @include headline($level: $checkout_headlines-font-size);
            text-transform: $checkout_headlines-text-transform;
            font-weight: $checkout_headlines-font-weight;
            color: $checkout_headlines-color;
            margin: 0 0 $checkout_base-space;
            padding-bottom: 0;
        }
    }

    .action.remind,
    .action-remind {
        margin-top: 0.3rem;
        font-size: $checkout_form-notes-font-size;
    }

    .form-login {
        margin: 0;
    }

    // Shipping

    .table-checkout-shipping-method {
        width: 100%;

        td {
            padding-top: 0.8rem;
            padding-bottom: 0.8rem;
            border-bottom: $checkout_elements-border;

            @include media('<tablet') {
                padding-left: 0;
            }

            &.col-method {
                padding-left: 0;
            }
        }

        tr:last-child {
            td {
                border-bottom: none;
            }
        }

        thead {
            display: block;
            border-bottom: none;

            th {
                display: none;
            }
        }

        .radio {
            @include field-radio();
        }
    }

    .ship-to,
    .ship-via {
        border-top: $checkout_elements-border;
    }

    .ship-to {
        padding-bottom: $checkout_base-space;
    }

    .shipping-information {
        padding: 0 0 $checkout_base-space;
    }

    .shipping-information-content {
        padding: 0 $checkout_base-space;
    }

    .shipping-information-title {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        padding: $checkout_base-space $checkout_base-space 0;

        button.action.action-edit {
            cursor: pointer;
        }
    }

    .methods-shipping {
        .actions-toolbar {
            @include media('>=phoneLg') {
                max-width: calc(50% - #{$checkout_base-space});
            }
            @include media('>=tablet') {
                width: calc(50% - #{$checkout_base-space});
            }
        }
    }

    .action-show-popup {
        @include button(
            $type: $checkout_show-popup-button-type,
            $icon_pos: $checkout_show-popup-button-icon-pos
        );
    }

    // Shipping section for logged in user

    .shipping-address-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include media('>=tablet', '<laptop') {
            flex-direction: column;
        }

        .edit-address-link,
        .action-select-shipping-item {
            @include button(
                $type: $checkout_addresses-button-type,
                $icon_pos: $checkout_addresses-button-icon-pos
            );
            margin-top: $checkout_base-space;

            span {
                @include button_span(
                    $type: $checkout_addresses-button-type,
                    $icon_pos: $checkout_addresses-button-icon-pos
                );
            }
        }
    }
    .shipping-address-item {
        font-size: $checkout_texts-font-size;
        border: $checkout_elements-border;
        width: 100%;
        box-sizing: border-box;
        margin: 0 0 1.5rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include media('>=laptop') {
            width: calc(50% - (#{$checkout_base-space} / 2));
            margin: 0 0 $checkout_base-space;
        }

        &.selected-item {
            border-color: $checkout_active-elements-color;
        }

        a {
            font-size: $checkout_texts-font-size;
        }
    }

    // Estimation block

    .estimated-block {
        display: none;
    }

    .opc-estimated-wrapper {
        padding: 0 0 $checkout_base-space;
        z-index: 2;
        width: 100%;
        margin: 0;

        @include media('>=tablet') {
            display: none;
            padding: $checkout_base-space 0;
        }

        .action.showcart {
            @include button(
                $type: $checkout_show-cart-button-type,
                $icon_pos: $checkout_show-cart-button-icon-pos
            );

            span:first-child {
                @include button-span(
                    $type: $checkout_show-cart-button-type,
                    $icon_pos: $checkout_show-cart-button-icon-pos
                );
            }

            &:hover {
                .counter {
                    background-color: $color_text-200;
                }

                .counter-number {
                    color: $color_primary-500;
                }
            }

            .counter-number {
                color: $color_background-200;
            }
        }

        .counter {
            @include qty-counter();

            transition: background-color $button_animation-time,
                fill $button_animation-time, color $button_animation-time;
            margin-left: 0.5rem;
            margin-bottom: -0.15em;
            top: -0.15em;
        }

        .counter-number {
            @include qty-counter_span();
        }

        .minicart-wrapper,
        .minicart-wrapper .showcart {
            width: 100%;
        }
    }

    // Billing

    .field-select-billing {
        label {
            display: none;
        }
    }

    .billing-address-same-as-shipping-block {
        margin-bottom: 1rem;
        flex-wrap: nowrap;

        label span {
            display: inline-block;
            white-space: normal;
            font-weight: 600;
            font-size: $checkout_texts-font-size;
            padding-left: 1.2rem;
        }

        input {
            @include field-checkbox();

            margin: 0.2rem 0.3rem 0.3rem 0;
        }
    }

    .billing-address-details {
        .action-edit-address {
            @include button($type: default, $icon_pos: 'no-icon');
            font-size: 1.4rem;
            margin: 1.6rem 0 2rem;
        }
    }

    .checkout-billing-address {
        .actions-toolbar .primary {
            margin-top: $checkout_base-space;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @include media('>=tablet') {
                flex-wrap: nowrap;
            }
        }

        button.action.action-update {
            @include media('>=tablet') {
                order: 2;
            }
        }
    }

    .action-edit-address,
    .action-update,
    .action-cancel {
        @include button(
            $type: $checkout_billing-address-button-type,
            $icon_pos: $checkout_billing-address-button-icon-pos
        );

        font-size: 1.4rem;

        @include media('<tablet') {
            width: 100%;
            margin-bottom: $checkout_base-space;
        }
    }

    .action-cancel {
        @include media('<tablet') {
            margin-bottom: 0;
        }
    }

    .action-edit-address {
        margin-top: $checkout_base-space;
    }

    .payment.ccard {
        margin-top: $checkout_base-space;
    }

    // Agreements

    &__agreements {
        font-size: 1.2rem;

        .modal-inner-wrap & {
            @include media('<tablet') {
                display: none;
            }
        }

        .checkout-agreements {
            padding: $checkout_base-space 0 0;
            border-top: $checkout_place-order-border-bottom;

            @include media('>=tablet') {
                padding: $checkout_base-space $checkout_base-space 0;
            }
        }

        .modal._show & {
            display: none;
        }

        a {
            &:hover,
            &:active,
            &:focus {
                text-decoration: underline;
            }
        }
    }

    // Summary (sidebar on desktop and tablets)

    .opc-block-summary {
        padding: 0;

        .action.checkout,
        .items-in-cart,
        .title {
            @include media('<tablet') {
                display: none;
            }
        }

        .title {
            display: flex;
            justify-content: space-between;
            text-transform: none;
            padding: $checkout_base-space;
            margin: 0;
            border-bottom: none;
        }

        // Sidebar headline
        & > .title {
            @include headline($level: $checkout_headlines-font-size);
            text-transform: $checkout_headlines-text-transform;
            font-weight: $checkout_headlines-font-weight;
            color: $checkout_headlines-color;
            padding-bottom: 0;
            padding-top: 0;
            margin: 0;

            @include media('<tablet') {
                display: none;
            }
        }

        .discount {
            .title {
                padding: 0;
            }
        }

        .discount.coupon {
            display: none;
        }

        .aw-giftcard-totals {
            .title {
                padding: 0 0 0 2rem;
            }
        }
    }

    .items-in-cart {
        position: relative;

        .actions-toolbar {
            position: absolute;
            top: calc(#{$checkout_base-space} - 2px);
            right: $checkout_base-space;
        }

        .title strong {
            @include media('>=tablet', '<laptop') {
                padding-right: 10rem; //Make space for the edit link for tablet resolution
            }
        }
    }

    .minicart-items-wrapper {
        margin: 0;
        max-height: none;
        padding: 0;
        border: 0;
    }

    .table-totals {
        .ie11 & {
            table-layout: fixed;
        }

        .table-caption {
            @include media('<tablet') {
                @include visually-visible();
                @include headline($level: $checkout_headlines-font-size);
                text-transform: $checkout_headlines-text-transform;
                font-weight: $checkout_headlines-font-weight;
                color: $checkout_headlines-color;
                text-align: left;
            }
        }

        td,
        th {
            font-weight: 400;
            font-size: $checkout_texts-font-size;
            padding: 0.8rem 0;

            @include media('>=tablet') {
                padding: 0.8rem $checkout_base-space;
            }
        }

        .amount {
            text-align: right;
            border-bottom: none;
        }

        .grand {
            th,
            td {
                font-size: 1.5rem;
            }
        }
    }

    .action-edit,
    .action.viewcart {
        background: transparent;
        border: none;
        color: $checkout_active-elements-color;
        font-weight: 600;
        text-transform: capitalize;
        background-image: url('../images/icons/edit_color.svg');
        background-repeat: no-repeat;
        background-position: 99% center;
        background-size: 1.7rem;
        padding-right: 2.5rem;
        font-size: $checkout_texts-font-size;
        display: inline-block;

        span {
            font-family: $font_family-primary;
        }
    }

    .action.delete,
    .totals.giftcard .action {
        font-size: 0;
        width: 1rem;
        height: 1rem;
        background-image: url('../images/icons/close.svg');
        background-size: contain;
        display: inline-block;
        transform: translateY(-1rem);
    }

    .reward-points-buttons-container button {
        // Do not apply button span styles for additional span inside reward points button
        span span {
            display: inline;
        }
    }

    .minicart-items {
        list-style: none inside none;
        padding: 0;
        margin: 0;
        box-sizing: border-box;

        .product-item {
            padding: 1rem $checkout_base-space;
            margin: 0;
            border-top: $checkout_elements-border;
        }

        .product {
            display: flex;
        }

        .product-image-container {
            flex-shrink: 0;
            margin-right: 1rem;
        }

        .product-image-wrapper {
            height: 100%;
        }

        .product-item-details {
            width: 100%;
        }

        .product-item-inner {
            margin: 0;
            display: block;
        }

        .price {
            font-weight: 600;
            font-size: $checkout_texts-font-size;
        }

        .item-name-block {
            margin: 0;
        }

        .product-item-name-block {
            margin: 0;
            text-align: left;
            width: 100%;
            display: block;
        }

        .product-item-name {
            width: 100%;
            font-size: 1.5rem;
            font-weight: 600;
            text-decoration: none;
            margin-bottom: 1.5rem;
        }

        .details-qty {
            width: 100%;
            display: block;
            display: flex;
            justify-content: space-between;
            font-size: 1.2rem;

            .label {
                font-size: 1.2rem;
                text-transform: uppercase;
                font-weight: 600;
            }
        }

        .subtotal {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 0.3rem;

            > span {
                width: 100%;
            }
        }
    }

    // Modal
    .modal-custom .modal-inner-wrap {
        box-shadow: none;

        .title {
            @include media('<tablet') {
                display: block;
                padding-bottom: $checkout_base-space;
            }
        }

        .table-totals {
            @include media('<tablet') {
                display: none;
            }
        }

        .items-in-cart {
            @include media('<tablet') {
                display: block;
            }

            .title {
                // Summary amount of product (magento markup)
                strong {
                    font-size: 1.4rem;
                }

                @include media('<tablet') {
                    padding-top: $checkout_base-space;
                }
            }
        }
    }

    // Payments

    .payments {
        .legend {
            display: none;
        }
    }

    .payment-method {
        .action.checkout {
            @include visually-hidden();
        }

        .payment-method-title {
            border-top: $checkout_elements-border;
            cursor: pointer;
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            @include media('>=laptop') {
                margin: 0;
            }

            input {
                margin-top: 1px;
            }

            .label {
                font-size: 1.5rem;
                font-weight: 400;
                padding: 1.5rem 1.5rem 1.5rem 0;
                margin: 0;
                background-position: right center;
                background-size: 4rem 2.5rem;
                background-repeat: no-repeat;
                width: 100%;

                img {
                    display: none;
                }

                &[for='banktransfer'],
                &[for='payone_advance_payment'] {
                    background-image: url('../images/icons/payment-logos/bank_transfer.svg');
                }

                &[for='barzhalen'] {
                    background-image: url('../images/icons/payment-logos/payment-logo-barzhalen.png');
                }

                &[for='billsafe'] {
                    background-image: url('../images/icons/payment-logos/payment-logo-billsafe.png');
                }

                &[for='creditcard'],
                &[for='payone_creditcard'] {
                    background-image: url('../images/icons/payment-logos/creditcard.svg');
                }

                &[for='cashondelivery'] {
                    background-image: url('../images/icons/payment-logos/on_delivery.svg');
                }

                &[for='checkmo'] {
                    background-image: url('../images/icons/payment-logos/money_order.svg');
                }

                &[for='giropay'] {
                    background-image: url('../images/icons/payment-logos/giropay.svg');
                }

                &[for='ideal'] {
                    background-image: url('../images/icons/payment-logos/payment-logo-ideal.jpg');
                }

                &[for='payone_obt_ideal'] {
                    background-image: url('../images/icons/payment-logos/payone_obt_ideal.svg');
                }

                &[for='invoice'] {
                    background-image: url('../images/icons/payment-logos/invoice.svg');
                }

                &[for='eps'],
                &[for='payone_obt_eps'] {
                    background-image: url('../images/icons/payment-logos/payment-logo-eps.jpg');
                }

                &[for='lastschrift'],
                &[for='payone_debit'] {
                    background-image: url('../images/icons/payment-logos/lastschrift.svg');
                }

                &[for='payone_invoice'] {
                    background-image: url('../images/icons/payment-logos/invoice.svg');
                }

                &[for='payone_creditcard'] {
                    background-image: url('../images/icons/payment-logos/creditcard.svg');
                }

                &[for='paydirekt'] {
                    background-image: url('../images/icons/payment-logos/paydirekt.svg');
                }

                &[for='payolution'] {
                    background-image: url('../images/icons/payment-logos/payment-logo-payolution.png');
                }

                &[for='payenginecw_creditcard'] {
                    background-image: url('../images/icons/payment-logos/creditcard.svg');
                }

                &[for*='paypal'] {
                    background-image: url('../images/icons/payment-logos/paypal.svg');
                    background-size: auto 1.5rem;
                }

                &[for='payenginecw_postfinancecard'] {
                    background-image: url('../images/icons/payment-logos/payment-logo-postfinance-card.png');
                    background-size: auto 1.7rem;
                }

                &[for='postfinance'] {
                    background-image: url('../images/icons/payment-logos/payment-logo-postfinance.jpg');
                }

                &[for='postfinance-card'] {
                    background-image: url('../images/icons/payment-logos/payment-logo-postfinance-card.png');
                }

                &[for='przelewy24'] {
                    background-image: url('../images/icons/payment-logos/payment-logo-przelewy24.png');
                }

                &[for='paypal-agreement'] {
                    background-image: url('../images/icons/payment-logos/payment-logo-paypal-agreement.png');
                }

                &[for='purchaseorder'] {
                    background-image: url('../images/icons/payment-logos/purchase_order.svg');
                }

                &[for='payone_obt_sofortueberweisung'] {
                    background-image: url('../images/icons/payment-logos/klarna_background_logo.svg');
                }

                &[for='twintcw_twint'] {
                    background-image: url('../images/icons/payment-logos/twint.svg');
                    background-size: 4.5rem 3rem;
                }

                &[for*='klarna'] {
                    background-image: url('../images/icons/payment-logos/klarna_background_logo.svg');
                }
            }
        }

        .payment-method-billing-address {
            margin-right: $checkout_base-space;

            @include media('>=tablet') {
                margin-right: 0;
            }
        }

        &:not(:last-child) .payment-method-billing-address {
            padding-bottom: $checkout_base-space;
        }

        .billing-address-details {
            padding: 0 0 0 3rem;
            line-height: 1.6;
            font-weight: 300;
        }

        .checkout-agreements-block {
            display: none;
        }

        .payment-method-content {
            line-height: 150%;
            display: none;
            padding: 0 0 0 $checkout_base-space;

            .payolution_overlay {
                width: 100%;
                position: relative;
                box-sizing: border-box;
                padding-left: 0;
            }
        }

        &._active .payment-method-content {
            display: block;
        }

        img {
            max-width: 10rem;
            height: auto;
        }

        p {
            margin-bottom: 0;

            &:not(:empty) {
                margin-top: $checkout_base-space;
            }
        }

        .number {
            width: 23rem;
            margin: $checkout_base-space 0 $checkout_base-space;
        }
    }

    // Discounts area styling

    .opc-payment-additional + .opc-payment-additional {
        margin-top: $checkout_base-space;
    }

    .opc-payment-additional:not(.rewardpoints) {
        .payment-option-title {
            display: inline-block;
            width: auto;
            padding-right: 2.5rem;

            @include pseudoicon(
                $type: 'arrow',
                $arrow-default: 'down',
                $arrow-active: 'up',
                $width: 0.7rem,
                $height: 1px,
                $arrow-offset: 0.5rem,
                $position-side-offset: 0
            );
        }

        .action-toggle {
            font-size: $checkout_texts-font-size;
            line-height: 1;
        }
    }

    .payment-option-content {
        margin-top: $checkout_base-space;
    }

    .aw-giftcard-code {
        margin-top: 2rem;
    }

    .opc-payment-additional.rewardpoints {
        padding-top: 1rem;

        .payment-option-title {
            @include headline($level: $checkout_headlines-font-size);
        }

        .payment-option-content {
            margin-top: 0;
        }

        .payment-option-inner {
            width: 100%;
        }
    }
}

// Style payment methods that are generated from php scripts

.customweb-payenginecw-payment-form {
    .label {
        float: none !important;
        width: 100% !important;
        text-align: left !important;
    }

    .control:not(.select-field) {
        float: none !important;
        width: 100% !important;
    }
}

.paypal.checkout {
    text-align: center;

    &.after,
    &.before {
        &:before {
            content: attr(data-label);
            font-size: 1.15rem;
            font-weight: 700;
            margin: 1rem 0.5rem 0.2rem;
        }
    }

    input {
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}

.paypal-review {
    .primary {
        button {
            @include button(
                $type: $checkout_paypal-primary-button-type,
                $icon_pos: $checkout_paypal-primary-button-icon-pos
            );

            span {
                @include button_span(
                    $type: $checkout_paypal-primary-button-type,
                    $icon_pos: $checkout_paypal-primary-button-icon-pos
                );
            }
        }
    }

    .secondary {
        button {
            @include button(
                $type: $checkout_paypal-secondary-button-type,
                $icon_pos: $checkout_paypal-secondary-button-icon-pos
            );

            span {
                @include button_span(
                    $type: $checkout_paypal-secondary-button-type,
                    $icon_pos: $checkout_paypal-secondary-button-icon-pos
                );
            }
        }
    }
}

//Amazon Pay - payment method

//Style Amazon widget wrapper for iframe/ and iframe element

.amazon-widget {
    width: 100%;
    max-width: 100%;
    height: 25rem;
    margin-top: 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);
    margin-bottom: 2rem;

    iframe {
        border: none !important;
    }
}

.amazon-payment-method {
    .payment-method-content,
    .payment-method-title {
        padding: 0;
        margin-top: 0;
    }
}
