@import 'config/variables';
@import 'components/headline/mixin';
@import 'components/pseudoicon/mixin';
@import 'utils/visually-hidden';

$product-description_item-background-mobile: $color_background-200 !default;
$product-description_item-background-desktop: linear-gradient(
    to bottom,
    #f8f8f8 0%,
    #ffffff 50%
) !default;
$product-description_item-main-background: $color_background-500
    url('../images/background.png') !default;

$product-description_item-separator-border: 1px solid $color_border-500 !default;

$product-description--mobile_headline-font-size: 0.6rem !default;
$product-description_headline-font-size: 1rem !default;
$product-description--mobile_headline-title-font-size: $font-size_headline-3 !default;
$product-description_headline-title-font-size: $font-size_headline-2 !default;
$product-description_headline-title-counter-visible: true !default;

.#{$ns}product-details {
    $root: &;

    &__item {
        background: $product-description_item-background-mobile;

        @include media('>=tablet') {
            background: $product-description_item-background-desktop;
        }

        &:not(:first-child) {
            @include media('<tablet') {
                border-top: $product-description_item-separator-border;
            }
        }

        &--main {
            background: $product-description_item-main-background;
        }

        &--reviews {
            #{$root}__content {
                display: flex;
                flex-flow: row wrap;

                @include media('<tablet') {
                    margin-top: 2.5rem;
                }
            }
        }

        &--related,
        &--upsell,
        &--content-constructor {
            background: transparent;
        }

        &--content-constructor {
            #{$root}__headline {
                @include visually-hidden();
            }
        }

        &--aw_pq_ajax_container {
            background: $product-description_item-background-mobile;

            // Adjust children spacings after resetting container padding
            #{$root}__headline,
            .aw-pq-question-sort {
                padding-left: 1.5rem;
                padding-right: 1.5rem;

                &[tabindex]:before,
                &[tabindex]:after {
                    right: 3rem;
                }
            }
        }
    }

    &__headline {
        @include headline();

        font-size: $product-description--mobile_headline-font-size;
        position: relative;

        @include media('>=tablet') {
            font-size: $product-description_headline-font-size;
        }

        // This attribute is added when element is collapsible.
        &[tabindex] {
            @include pseudoicon();
        }

        @include media('<tablet') {
            background: $color_gallery;
            // Extend "background" beyond padding and margin through box-shadow
            box-shadow: 0 2em 0 $color_gallery, 0 -2em 0 $color_gallery,
                1.5em 0 0 2em $color_gallery, -1.5em 0 0 2em $color_gallery;
        }
    }

    &__headline-title {
        @include headline-title(
            $font-size: $product-description--mobile_headline-title-font-size
        );
        text-align: left;

        @include media('>=tablet') {
            @include headline-title(
                $font-size: $product-description_headline-title-font-size
            );
            text-align: center;
        }

        .counter {
            display: none;
        }

        @if $product-description_headline-title-counter-visible {
            .counter {
                display: inline;
                margin-left: 0.2em;

                &:before {
                    content: ' (';
                }

                &:after {
                    content: ')';
                }
            }
        }
    }

    &__no-reviews-message {
        width: 100%;
    }
}
