<div class="cs-discount cs-discount--gift payment-option _collapsible opc-payment-additional aw-giftcard-code"
     data-bind="mageInit: {'collapsible':{'openedState': '_active'}}">
    <div class="cs-discount__title field choice" data-role="title">
        <span class="cs-discount__text action action-toggle" id="block-aw-giftcard-heading" role="heading"
              aria-level="2">
            <!-- ko i18n: 'Gift Card'--><!-- /ko -->
        </span>
    </div>
    <div class="cs-discount__content" data-role="content">
        <each args="getRegion('messages')" render=""></each>
        <if args="isCustomerGiftcardCodesDisplayed()">
            <div class="cs-giftcard__checkout-block" data-bind="blockLoader: isLoadingCustomerGiftcardsBlock()">
                <div class="cs-giftcard__checkout-title">
                    <span class="cs-giftcard__checkout-title-span" data-bind="i18n: 'Your Gift Card codes'"></span>
                </div>
                <div class="cs-giftcard__checkout-box">
                    <div class="cs-table">
                        <table class="cs-table__body">
                            <tbody>
                            <tr repeat="foreach: getCustomerGiftcardCodes(), item: '$giftcard'"
                                data-bind="attr: {'data-aw-giftcard-code': $giftcard().code }">
                                <td class="cs-table__col code" data-bind="attr: {'data-th': $t('Code') }">
                                    <text args="$giftcard().code"></text>
                                </td>
                                <td class="cs-table__col balance" data-bind="attr: {'data-th': $t('Balance') }">
                                    <text args="formatPrice($giftcard().balance)"></text>
                                </td>
                                <td class="cs-table__col cs-table__col--actions action-apply">
                                    <a
                                        href="#"
                                        data-bind="attr: {'title': $t('Apply')},
                                                       click: applyByCode.bind($data, $giftcard().code),
                                                       i18n: 'Apply'"
                                        >
                                    </a>
                                </td>
                            </tr>
                            <tbody>
                        </table>
                    </div>
                </div>
            </div>
        </if>
        <form class="cs-discount__form cs-form form form-aw-giftcard" id="aw-giftcard-form">
            <div class="cs-form__fieldset payment-option-inner">
                <div class="cs-form__field | cs-input">
                    <label class="cs-input__label" for="giftcard_code">
                        <span data-bind="i18n: 'Enter giftcard code'"></span>
                    </label>

                    <div class="cs-input__control">
                        <input
                            class="cs-input__input"
                            type="text"
                            id="giftcard_code"
                            name="giftcard_code"
                            data-validate="{'required-entry':true}"
                            data-bind="value: giftcardCode, attr:{placeholder: $t('Enter Gift Card code')} "
                        />
                    </div>
                </div>
            </div>
            <div class="cs-form__buttons">
                <button
                    class="cs-button cs-giftcard__button-checkout action-apply"
                    type="submit"
                    data-bind="'value': $t('Apply'), click: apply"
                >
                    <span class="cs-button__span" data-bind="i18n: 'Apply'"></span>
                    <svg class="cs-button__icon">
                        <use xlink:href="#arrow_next"></use>
                    </svg>
                </button>
            </div>
        </form>
    </div>
</div>
