/* 
 * Fair warning: Don't mix units while using 'utils/poly-fluid-sizing' feature.
 * If you use rems, stick to rems everywhere in the area of whole map, or else the mixin will throw an error
 */
@import 'config/variables';
@import 'config/breakpoints';
@import 'include-media/dist/include-media';
@import 'utils/aspect-ratio';
@import 'utils/poly-fluid-sizing';
@import 'utils/clearfix';
@import 'etc/view.scss';
@import 'utils/deep-get/deep-get.scss';

$grid-layout_rows-separator-show: true !default;
$grid-layout_rows-separator-height: 1px !default;
$grid-layout_rows-separator-color: $color_gallery !default;

$grid-layout_bricks-gutter: 0 !default;
$grid-layout_brick-margin: $grid-layout_bricks-gutter !default;
$grid-layout_brick-padding: 0 !default;

$grid-layout_brick-ratio-width: $tile_aspect-ratio-width !default;
$grid-layout_brick-ratio-height: $tile_aspect-ratio-height !default;

$grid-layout_teaser-content-padding: 1.5rem !default;
$grid-layout_teaser-light-scheme: $color_white !default;
$grid-layout_teaser-dark-scheme: $color_mineshaft !default;
$grid-layout_teaser-content-line-height: 1.15 !default;

$grid-layout_teaser-headline-bottom-margin: 0.2em !default;
$grid-layout_teaser-headline-font-weight: 600 !default;
$grid-layout_teaser-headline-font-size-min: 1.8rem !default;
$grid-layout_teaser-headline-font-size-max: 2.8rem !default;
$grid-layout_teaser-headline-font-map: (
    $page_min-width: $grid-layout_teaser-headline-font-size-min, 
    $page_max-width: $grid-layout_teaser-headline-font-size-max
) !default;
$grid-layout_teaser-x2-headline-bottom-margin: $grid-layout_teaser-headline-bottom-margin !default;
$grid-layout_teaser-x2-headline-font-size-min: $grid-layout_teaser-headline-font-size-min !default;
$grid-layout_teaser-x2-headline-font-size-max: 4rem !default;
$grid-layout_teaser-x2-headline-font-map: (
    $page_min-width: $grid-layout_teaser-x2-headline-font-size-min, 
    $page_max-width: $grid-layout_teaser-x2-headline-font-size-max
) !default;

$grid-layout_teaser-subheadline-bottom-margin: 0.6em !default;
$grid-layout_teaser-subheadline-font-weight: 400 !default;
$grid-layout_teaser-subheadline-font-size-min: 1.6rem !default;
$grid-layout_teaser-subheadline-font-size-max: 1.8rem !default;
$grid-layout_teaser-subheadline-font-map: (
    $page_min-width: $grid-layout_teaser-subheadline-font-size-min, 
    $page_max-width: $grid-layout_teaser-subheadline-font-size-max
) !default;
$grid-layout_teaser-x2-subheadline-bottom-margin: $grid-layout_teaser-subheadline-bottom-margin !default;
$grid-layout_teaser-x2-subheadline-font-size-min: $grid-layout_teaser-subheadline-font-size-min !default;
$grid-layout_teaser-x2-subheadline-font-size-max: 2.5rem !default;
$grid-layout_teaser-x2-subheadline-font-map: (
    $page_min-width: $grid-layout_teaser-x2-subheadline-font-size-min, 
    $page_max-width: $grid-layout_teaser-x2-subheadline-font-size-max
) !default;

$grid-layout_teaser-paragraph-bottom-margin: 1em !default;
$grid-layout_teaser-paragraph-font-weight: 400 !default;
$grid-layout_teaser-paragraph-font-size-min: 1.3rem !default;
$grid-layout_teaser-paragraph-font-size-max: 1.4rem !default;
$grid-layout_teaser-paragraph-font-map: (
    $page_min-width: $grid-layout_teaser-paragraph-font-size-min, 
    $page_max-width: $grid-layout_teaser-paragraph-font-size-max
) !default;
$grid-layout_teaser-x2-paragraph-bottom-margin: $grid-layout_teaser-paragraph-bottom-margin !default;
$grid-layout_teaser-x2-paragraph-font-size-min: $grid-layout_teaser-paragraph-font-size-min !default;
$grid-layout_teaser-x2-paragraph-font-size-max: 1.6rem !default;
$grid-layout_teaser-x2-paragraph-font-map: (
    $page_min-width: $grid-layout_teaser-x2-paragraph-font-size-min, 
    $page_max-width: $grid-layout_teaser-x2-paragraph-font-size-max
) !default;

// values: false / breakpoint name - the same as for @media mixin;
// Use false if you don't want to hide button at all
$grid-layout_teaser-button-visible-from: '>=tablet'; 

$grid-layout_bricks-per-row: deep-get($view-xml, vars, MageSuite_ContentConstructor, columns, one-column) !default;
$grid-layout_bricks-per-row--with-sidebar: deep-get($view-xml, vars, MageSuite_ContentConstructor, columns, multiple-columns) !default;

.#{$ns}grid-layout {
    $root: &;

    position: relative;
    @if $grid-layout_bricks-gutter == 0 {
        width: 100%;
    } @else {
        width: calc(100% + 2 * #{$grid-layout_bricks-gutter});
        margin: -#{$grid-layout_bricks-gutter} -#{$grid-layout_bricks-gutter} 0;
    }

    &__grid {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        @include clearfix();
    }

    &__teaser {
        @include aspect-ratio-child-position();
        overflow: hidden;

        &-content-wrapper {
            display: flex;
            width: 100%;
            height: 100%;
        }

        &-figure {
            position: relative;
            width: 100%;
            height: 100%;
        }

        &-image {
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
        }

        &-content {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: $grid-layout_teaser-content-padding;
            color: $grid-layout_teaser-dark-scheme;
            line-height: $grid-layout_teaser-content-line-height;

            #{$root}__teaser--scheme-light & {
                color: $grid-layout_teaser-light-scheme;
            }

            /* Variants will be refactored after CC IT refactor due to new position options */
            &--variant-1 {
                justify-content: center;
                align-items: flex-start;
            }

            &--variant-2 {
                justify-content: flex-end;
                align-items: flex-start;
            }

            &--variant-3 {
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            &--variant-4 {
                justify-content: flex-end;
                align-items: center;
                text-align: center;
            }
        }

        &-headline {
            margin: 0 0 $grid-layout_teaser-headline-bottom-margin;
            font-weight: $grid-layout_teaser-headline-font-weight;
            @include poly-fluid-sizing('font-size', $grid-layout_teaser-headline-font-map);

            #{$root}__brick--x2 & {
                margin: 0 0 $grid-layout_teaser-x2-headline-bottom-margin;
                @include poly-fluid-sizing('font-size', $grid-layout_teaser-x2-headline-font-map);
            }
        }

        &-subheadline {
            display: block;
            margin: 0 0 $grid-layout_teaser-subheadline-bottom-margin;
            font-weight: $grid-layout_teaser-subheadline-font-weight;
            @include poly-fluid-sizing('font-size', $grid-layout_teaser-subheadline-font-map);

            #{$root}__brick--x2 & {
                margin: 0 0 $grid-layout_teaser-x2-subheadline-bottom-margin;
                @include poly-fluid-sizing('font-size', $grid-layout_teaser-x2-subheadline-font-map);
            }
        }

        &-text {
            margin: 0 0 $grid-layout_teaser-paragraph-bottom-margin;
            font-weight: $grid-layout_teaser-paragraph-font-weight;
            @include poly-fluid-sizing('font-size', $grid-layout_teaser-paragraph-font-map);

            #{$root}__brick--x2 & {
                margin: 0 0 $grid-layout_teaser-x2-paragraph-bottom-margin;
                @include poly-fluid-sizing('font-size', $grid-layout_teaser-x2-paragraph-font-map);
            }
        }

        /* @TODO: add class to button and use it here */
        .#{$ns}button {
            @if $grid-layout_teaser-button-visible-from {
                display: none;

                @include media(#{$grid-layout_teaser-button-visible-from}) {
                    display: block;
                }
            }
        }
    }

    &__brick {
        width: 100%;
        margin: $grid-layout_brick-margin;
        padding: $grid-layout_brick-padding;
        float: left;
        @include aspect-ratio(
            $width: $grid-layout_brick-ratio-width, 
            $height: $grid-layout_brick-ratio-height, 
            $childClass: #{$ns}product-tile, 
            $autoposition: true
        );

        @each $breakpoint, $itemsPerRow in $grid-layout_bricks-per-row {
            @include media('>=#{$breakpoint}') {
                width: calc(100% / #{$itemsPerRow});

                @if $itemsPerRow > 1 {
                    &--x2 {
                        width: calc(100% / #{$itemsPerRow} * 2);
                    }
                }
            }
        }

        &--x2:not(#{$root}__brick--y2) {
            @include aspect-ratio-override(
                $width: $grid-layout_brick-ratio-width * 2, 
                $height: $grid-layout_brick-ratio-height
            );
        }

        &--y2 {
            &#{$root}__brick--left,
            &#{$root}__brick--hero {
                float: left;
            }

            &:not(#{$root}__brick--x2) {
                @include aspect-ratio-override(
                    $width: $grid-layout_brick-ratio-width, 
                    $height: $grid-layout_brick-ratio-height * 2
                );
            }
        }

        &--right {
            float: right;
        }

        &--hidden {
            display: none !important;
        }

        &--teaser {
            display: none;

            &-ready {
                display: block;
            }
        }
    }

    &--with-sidebar {
        @each $breakpoint, $itemsPerRow in $grid-layout_bricks-per-row--with-sidebar {
            #{$root}__brick {
                @include media('>=#{$breakpoint}') {
                    width: calc(100% / #{$itemsPerRow});

                    @if $itemsPerRow > 1 {
                        &--x2 {
                            width: calc(100% / #{$itemsPerRow} * 2);
                        }
                    }
                }
            }
        }
    }

    @if $grid-layout_rows-separator-show {
        &,
        &__brick {
            &:after {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: $grid-layout_rows-separator-height;
                content: '';
                background: $grid-layout_rows-separator-color;
            }
        }

        & {
            margin-bottom: -#{$grid-layout_rows-separator-height};
            
            &:after {
                background: $page_background;
            }
        }
    }

    @supports (display: grid) and (grid-auto-flow: row) {
        &__grid {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;

            @each $breakpoint, $itemsPerRow in $grid-layout_bricks-per-row {
                @include media('>=#{$breakpoint}') {
                    grid-template-columns: repeat(#{$itemsPerRow}, 1fr);
                }
            }

            #{$root}--with-sidebar & {
                @each $breakpoint, $itemsPerRow in $grid-layout_bricks-per-row--with-sidebar {
                    @include media('>=#{$breakpoint}') {
                        grid-template-columns: repeat(#{$itemsPerRow}, 1fr);
                    }
                }
            }

            &:after {
                display: none;
            }
        }

        &__brick {
            &,
            &--teaser-ready {
                width: 100% !important;
                display: block;
            }

            &--right {
                float: none;
            }

            &--x2 {
                grid-column-end: span 2;
            }

            &--y2 {
                grid-row-end: span 2;
            }
        }
    }
}
