@import 'config/variables';
@import 'include-media/dist/include-media';

@import 'components/typography/mixin';
@import 'components/button/mixin';

$cart-summary_background: $color_background-200 !default;
$cart-summary_border-color: $color_border-500 !default;
$cart-summary_border-radius: 3px !default;
$cart-summary_box-shadow: $box-shadow_base !default;
$cart-summary_label-color: $color_text-500 !default;
$cart-summary_value-color: $color_text-800 !default;
$cart-summary_border: $color_border-500 !default;
$cart-summary_title-font-size: $font-size_headline-3 !default;
$cart-summary_next-button-type: 'primary' !default;
$cart-summary_next-button-icon-pos: 'right' !default;
$cart-summary_headlines-text-transform: none !default;

$cart-summary-button-type: $button_default-type !default;
$cart-summary-button-icon-pos: $button_default-icon-pos !default;

.#{$ns}cart-summary {
    $root: &;

    background: $cart-summary_background;
    border-radius: $cart-summary_border-radius;
    padding: 1rem 1.5rem 2rem;
    border-top: 1px solid $cart-summary_border-color;

    @include media('>=tablet') {
        padding: 2rem;
        border-bottom: none;
        border-top: none;
        box-shadow: $cart-summary_box-shadow;
    }

    &--empty {
        border-top: none;
        padding: 0 2rem;

        @include media('>=tablet') {
            box-shadow: none;
            padding: 2rem 0;
        }
    }

    &__title {
        display: none;
        @include headline($level: $cart-summary_title-font-size);
        text-transform: $cart-summary_headlines-text-transform;

        @include media('>=tablet') {
            display: block;
        }
    }

    &__trigger {
        padding: 1.1rem 0.8rem 1.1rem 0;

        @include media('>=tablet') {
            border-top: 1px solid $cart-summary_border;
            margin-top: 1.1rem;
        }
    }

    &__label {
        font-size: 1.4rem;
        font-weight: 400;
        color: $cart-summary_label-color;
    }

    &__value {
        font-size: 1.4rem;
        font-weight: 700;
        color: $cart-summary_value-color;
    }

    &__remove {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 0.5rem;
    }

    &__totals {
        font-size: 1.4rem;
        font-weight: 400;
        color: $cart-summary_label-color;

        th {
            padding-left: 0;
            font-weight: 400;
            color: $cart-summary_label-color;
        }

        td {
            padding-right: 0;
            text-align: right;
            white-space: nowrap;
        }

        .grand {
            font-weight: 700 !important; /* stylelint-disable-line declaration-no-important */
            font-size: 1.5rem !important; /* stylelint-disable-line declaration-no-important */
            border-top: 1px solid $cart-summary_border;

            th,
            td {
                padding-top: 1.4rem;
                color: $cart-summary_value-color;
            }
        }
    }

    &__to-checkout-button {
        @include button($type: $cart-summary_next-button-type, $icon_pos: $cart-summary_next-button-icon-pos);
        width: 100%;

        &-span {
            @include button_span($type: $cart-summary_next-button-type, $icon_pos: $cart-summary_next-button-icon-pos);
        }

        &-icon {
            @include button_icon($type: $cart-summary_next-button-type, $icon_pos: $cart-summary_next-button-icon-pos);
        }
    }

    .multicheckout,
    .#{$ns}cart-summary__shipping {
        display: none;
    }

    .checkout-methods-items .item + .item {
        margin-top: 0 !important;
    }

    // Remove shipping estimation from cart summary
    #block-shipping {
        display: none;
    }

}
