$namespace:'cs-';

.#{$namespace}brands-container {
    display: block;
    margin: 0 auto;
    max-width: 40rem;
    @include media( '>=phone-lg' ) {
        max-width: none;
    }
    @include media( '>=tablet' ) {
        max-width: 93rem;
    }

    &__icons-wrapper {
        width: 100%;
        margin: 2rem 0;
        display: flex;
        flex-wrap: wrap;
        @include media( '>=tablet' ) {
            margin: 4rem 0;
        }
    }

    &__icon {
        width: calc( 50% - 2rem );
        height: 5rem;
        margin: .5rem;
        padding: .5rem;
        display: flex;
        box-shadow: 0 0 5px 0 rgba( 0, 0, 0, 0.27 );
        @include media( '>=tablet' ) {
            width: calc( 25% - 2rem );
        }
        @include media( '>=laptop' ) {
            width: calc( 20% - 2rem );
        }
    }

    &__img {
          height: 100%;
          margin: 0 auto;
    }

    &__list {

        &-item {
            display: flex;
            width: calc( 100% - 2rem );
            padding: 2rem 1rem;
            border-bottom: 1px solid $colorGallery;

            @include media( '>=tablet' ) {
                width: calc( 100% - 4rem );
                padding: 4rem 2rem;
            }

            @include media( '>=laptop' ) {
                width: 100%;
            }
            &:last-child {
                border-bottom: 0;
            }
        }
    }

    &__section {

        &-left {
            display: inline-block;
            width: 15%;
            line-height: 1.2;

            p {
                font-size: 3rem;
            }

            @include media( '>=tablet' ) {
                width: 25%;

                p {
                    font-size: 11rem;
                }
            }
        }

        &-right {
            display: inline-block;
            width: 70%;
        }
    }

    &__brands {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    &__brand {
        color: $colorMineShaft;
        padding-bottom: .5rem;
        width: 50%;

        @include media( '>=tablet' ) {
            width: 33.333%;
        }
    }

    &__desc {
        display: block;
        margin: 2rem 0;
    }

    &__letters {
        margin: 2rem 0;
        @include media( '>=tablet' ) {
            margin: 4rem 0;
        }
    }

    &__letters-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1rem;
        border-top: 1px solid $colorGallery;
        border-bottom: 1px solid $colorGallery;
        @include media( '>=tablet' ) {
            flex-wrap: nowrap;
        }
    }

    &__letter-link {
        padding: 1rem;
        cursor: pointer;
        color: $colorMineShaft;
    }
}
