
@import '../../../node_modules/creative-patterns/packages/components/star-rating/src/star-rating';

@include export-once( 'customizations/star-rating' ) {
    .#{$namespace}star-rating {
        display: flex;
        align-items: center;

        &__star {
            font-size: 1.58rem;
            width: 1.43rem;
            height: 1.58rem;
            color: $colorAlto;

            &--half-active:before,
            &--active:before {
                color: $colorMySin;
            }

            &--half-active:after {
                left: .715rem;
                text-indent: -.79rem;
            }
        }

        &__text {
            font-size: 1.2rem;
            padding-left: .6em;
            color: $colorGray;
        }
    }
}
