$namespace: 'cs-';
@import '../../../node_modules/creative-patterns/packages/components/star-rating/src/star-rating';

.#{$namespace}star-rating {
    $root: &;
    display: flex;
    align-items: center;

    &__stars {
        min-width: 1px;
    }

    &__star {
        font-size: 1.6rem;
        width: 1.5rem;
        height: 1.5rem;
        color: $colorAlto;

        &--half-active:before,
        &--active:before {
            color: $colorGold;
        }

        &--half-active:after {
            left: 0.75rem;
            text-indent: -0.75rem;
        }
    }

    &__text {
        font-size: 1.2rem;
        padding-left: 0.6em;
        color: $colorGray;
    }

    &--big {
        #{$root}__star {
            font-size: 2rem;
            width: 2rem;
            height: 2.1rem;
        }
    }
}
