@mixin t-headline(
    $color,
    $font-family,
    $font-size-1,
    $font-size-2,
    $font-size-3,
    $font-size-4,
    $font-size-5,
    $font-size-6
) {
    font-family: $font-family;
    color: $color;
    font-weight: 700;
    margin: 0;

    &--size {
        &_1 {
            font-size: $font-size-1;
        }
        &_2 {
            font-size: $font-size-2;
        }
        &_3 {
            font-size: $font-size-3;
        }
        &_4 {
            font-size: $font-size-4;
        }
        &_5 {
            font-size: $font-size-5;
        }
        &_6 {
            font-size: $font-size-6;
        }
    }

    &--look {
        &_light {
            font-weight: 400;
        }
    }
}

.#{$ns}t-headline {
    @include t-headline(
        $color_mineshaft,
        $font_family-primary,
        2.6rem,
        1.8rem,
        1.5rem,
        1.1rem,
        1rem,
        0.9rem
    );
    text-transform: uppercase;

    &--look {
        &_light {
            text-transform: none;
            font-weight: 700;
        }

        &_bordered {
            border-bottom: 1px solid $color_alto;
            margin-bottom: 1rem;
            padding-bottom: 0.5rem;
        }
    }

    &__span,
    &__count {
        font-weight: 400;
        margin-right: 0.5rem;
        color: $color_dove-gray;
    }

    &__span {
        &:after {
            margin-left: 0.5rem;
            content: '';
            display: inline-block;
            width: 0.2rem;
            height: 1.2rem;
            background: $color_alto;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }

    &__count {
        &:before {
            content: '(';
        }

        &:after {
            content: ')';
        }
    }
}
