@import '../../../node_modules/creative-patterns/packages/components/t-headline/src/t-headline';

.#{$namespace}t-headline {
  @include t-headline( $colorMineShaft, $base-font-family, 2.6rem, 1.8rem, 1.5rem, 1.1rem, 1rem, .9rem );
  text-transform: uppercase;

  &--look {
    &_light {
      text-transform: none;
      font-weight: 700;
    }

    &_bordered {
      border-bottom: 1px solid $colorAlto;
      margin-bottom: 1rem;
      padding-bottom: .5rem;
    }
  }

  &__span {
    font-weight: 400;
    margin-right: .5rem;
    color: $colorDoveGray;

    &:after {
      margin-left: .5rem;
      content: '';
      display: inline-block;
      width: .2rem;
      height: 1.2rem;
      background: $colorAlto;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}
