
.#{$namespace}styleguide {
    $root: &;

    &__title {
        height: 4.5rem;
        background: $colorGold;
        line-height: 4.5rem;
        padding: 0 8rem 0 2rem;
        font-weight: 700;
        font-size: 2rem;
        display: inline-block;
        margin: 7rem 0 2rem;
        position: relative;

        &:after {
            display: block;
            content: '';
            position: absolute;
            right: -2rem;
            top: 0;
            background: $colorGold;
            height: 4.5rem;
            width: 4.5rem;
            transform: skew( -18deg );
        }
    }

    &__section {
        align-content: flex-start;
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;

        > * {
            margin: .5rem 1rem;
        }

        > *:first-child {
            margin-left: 0;
        }

        &--columns {
            > * {
                width: 47%;
                margin: 2rem 0;
                margin-right: 3%;
                box-sizing: border-box;
            }
        }

        &--wide {
            > * {
                width: 100%;
                margin: 1.5rem 0;
            }
        }

        &--block {
            display: block;

            > *:first-child {
                margin-left: 1rem;
            }
        }

        &--space {
            margin-top: 2rem;
            > * {
                margin: 2.5rem 1rem;
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}