
.#{$namespace}styleguide {
    $root: &;

    &__title {
        height: 4.5rem;
        color: darken( $colorAlto, 15%);
        font-weight: 300;
        font-size: 3.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid $colorAlto;
        margin-bottom: 3rem;
        margin-top: 5rem;
    }

    &__section {
        align-content: flex-start;
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;

        > * {
            margin: .5rem 1rem;
        }

        > *:first-child {
            margin-left: 0;
        }

        &--columns {
            > * {
                width: 47%;
                margin: 2rem 0;
                margin-right: 3%;
                box-sizing: border-box;
                @include media('>=desktop') {
                    width: 30%;
                }
            }
        }

        &--wide {
            > * {
                width: 100%;
                margin: 1.5rem 0;
            }
        }

        &--block {
            display: block;

            > *:first-child {
                margin-left: 1rem;
            }
        }

        &--space {
            margin-top: 2rem;
            > * {
                margin: 2.5rem 1rem;
            }
        }
    }

    &__separator {
        width: 100%;
        height: 1px;
        margin: 2rem 0;
        background: $colorAlto;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    &__color-color {
        width: 9rem;
        height: 9rem;
    }

    &__color-text {
        margin-top: .6rem;
        font-size: 1.2rem;
    }

    &__color-section {
        margin-right: 2rem;
        display: flex;
    }
}