@mixin collapse() {
    $root: &;

    position: relative;
    overflow: hidden;

    #{$root}__trigger {
        cursor: pointer;
    }

    #{$root}__content {
        overflow: hidden;
        height: 0;
        opacity: 0;
        min-height: initial !important;
        max-height: initial !important;
        transform: translateY( -15px );
        transition: opacity .18s linear, transform .11s ease-in-out;
        will-change: height;

        &--initial-in,
        &--in {
            height: auto !important;
            opacity: 1;
            visibility: visible;
            transform: translateY( 0 );
        }

        &--only-mobile {
            @include media('>=tablet') {
                transition: none;
                height: auto !important;
                opacity: 1;
                visibility: visible;
                transform: translateY( 0 );
            }
        }
    }

}
