@import '../../../node_modules/creative-patterns/packages/components/cs-overlay/src/cs-overlay';
$namespace: 'cs-';

.#{$namespace}promo-products {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;

    &-link {
        border: 0 !important;
        margin: 0 !important;
        padding: 2rem !important;
        text-align: left !important;

        .checkout-index-index & {
            background: transparent !important;
            right: auto !important;
            top: auto !important;
            max-width: 93rem;
            margin: 0 auto !important;
            padding-bottom: 7rem !important;
        }

        a {
            border: 0 !important;
        }

        &:before {
            content: none !important;
        }

        &__icon {
            width: 4rem;
            height: 2rem;
        }
    }

    &-label {
        max-width: 8rem;
        display: block;
        max-height: 8rem;
    }

    &-list {
        margin: 2rem !important;

        &__item {
            border: 1px solid $colorAlto !important;
            margin: 1rem !important;
            padding: 2rem !important;
            min-width: 250px !important;
        }

        &__item-name {
            text-align: center;
        }

        &__item-image {
            margin: 1rem auto !important;
        }

        &__item-options {
            margin-bottom: 1rem !important;
        }

        &__item-fieldset {

            .#{$namespace}input {

                margin-bottom: 1rem !important;
                display: flex;
                flex-direction: column;
                justify-content: center;

                &__label {
                    padding: 0 0 0.5rem !important;
                    width: auto !important;
                    float: none !important;
                    text-align: left !important;
                }

                &__control {
                    width: 100% !important;
                    float: none !important;

                    button {
                      border: 1px solid $colorAlto !important;
                    }
                }
            }
        }

        &__button {
            font-size: 1.4rem !important;
            border-radius: 3px !important;
            padding: 0.9rem 1.5rem !important;
            color: $colorWhite;
            fill: currentColor;
            border-color: $colorCeruleanBlue !important;
            background: $colorCeruleanBlue !important;
            font-weight: 700 !important;
            transition: background-color 0.15s linear, border-color 0.15s linear,
            color 0.15s linear;
            position: relative;
            text-align: center;
            display: inline-block;
            min-height: 4rem;
            box-sizing: border-box;

            @include media('>=phone-lg') {
                padding: 0.9rem 3.5rem !important;
            }

            &:focus,
            &:active,
            &:hover {
                color: $colorWhite !important;
                border-color: $colorCeruleanBlueHover !important;
                background-color: $colorCeruleanBlueHover !important;
                box-shadow: none;
            }

            &:visited {
                color: $colorWhite !important;
            }

            &:focus {
                outline: none !important;
            }
        }
    }

    &-view {

        &__img {
          display: block;

            img {
                max-width: 8rem;
                display: block;
                max-height: 8rem;
            }
        }

        &__gift-desc {
            display: none;
        }

        &__tooltip {
            padding: 2rem !important;
            background: $colorGallery !important;
            border: 1px solid $colorAlto !important;
            color: $colorMineShaft !important;
        }

        &__gift-image {
            display: inline-block;
        }

        &__gift-item {
            margin: 1rem !important;
        }

        &__gift-short-desc {
            color: $colorMineShaft;
        }

        &__gift-name {
            margin-bottom: 1rem;
        }

        &__desc {
            img {
                max-width: 8rem;
                display: block;
                max-height: 8rem;
            }
        }
    }

    &__close {
        background: none !important;
        width: 4rem !important;
        height: 4rem !important;
        top: 1rem !important;
        right: 1rem !important;
        opacity: 1 !important;

        &-icon {
            width: 50%;
            height: 50%;
            fill: $colorAlto;
            margin: 1rem;
        }
    }

    &__container {
        margin: 0 !important;
        padding: 2rem !important;
        border: 0 !important;
    }

    h3 {
        text-align: center;
        margin: 0 0 2rem;
    }
}

  .slick {

      &-dots li {
          border-radius: 2px !important;
          background-color: $colorGallery !important;
          width: 2.1rem !important;
          height: 0.8rem !important;
          transform: skew(-18deg) !important;
          margin: 0 0.9rem 0 0 !important;
          border: none !important;
          display: inline-block !important;
          transition: background-color 0.15s, border-color 0.15s !important;

          &:hover,
          &:focus,
          &:active {
              background-color: $colorGallery !important;
              border: none !important;
              box-shadow: none !important;

              @include media('>=tablet') {
                  background: $colorWhite !important;
              }
          }

          button {
              &:before {
                  content: none !important;
              }
          }

          &.slick-active {
              background: $colorGold !important;

            &:hover,
            &:focus,
            &:active {
                background: $colorGold !important;
            }

            button {
                &:before {
                  content: none !important;
                }
            }
        }
    }

    &-prev:before,
    &-next:before {
        content: none !important;
    }
}