@import 'config/variables';
@import 'utils/font-family';
@import '~include-media/dist/include-media';
// @import '~sanitize.css';

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background: $page_background;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    @include font-family($font_family-primary);
    -webkit-overflow-scrolling: touch;
    font-size: 1.4rem;
    font-display: swap;
}

.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
}
