/**
 * Responsive breakpoints used by include-media vendor library.
 */
$breakpoints: (
    // 370px
        phone: 23.13em,
    // 480px
        phone-lg: 30em,
    // 768px
        tablet: 48em,
    // 1024px
        laptop: 64em,
    // 1280px
        laptop-lg: 80em,
    // 1440px
        desktop: 90em,
    // 1920px
        tv: 120em
) !default;
