@import 'config/colors';
@import 'config/breakpoints';

$ns: 'cs-' !default;

$page_max-width: 120rem !default;
$page_edge-gutter: 1.5rem !default;
$page_background: $color_white !default;

$font_family-primary: 'Libre Franklin' !default;
$font_family-secondary: '' !default;

$font_family-fallback: system-ui, /* macOS 10.11-10.12 */ -apple-system,
    /* Windows 6+ */ Segoe UI, /* Android 4+ */ Roboto,
    /* Ubuntu 10.10+ */ Ubuntu, /* Gnome 3+ */ Cantarell,
    /* KDE Plasma 4+ */ Oxygen, /* fallback */ sans-serif,
    /* macOS emoji */ 'Apple Color Emoji', /* Windows emoji */ 'Segoe UI Emoji',
    /* Windows emoji */ 'Segoe UI Symbol', /* Linux emoji */ 'Noto Color Emoji' !default;

$color_primary-500: $color_cerulean-blue !default;
$color_primary-800: $color_torea-bay !default;

$color_secondary-500: $color_gold !default;

$color_background-200: $color_white !default;
$color_background-210: $color_transparent !default;
$color_background-500: $color_gallery !default;
$color_background-800: $color_black !default;

$color_border-200: $color_gallery !default;
$color_border-500: $color_alto !default;
$color_border-700: $color_gray !default;

$color_text-200: $color_white !default;
$color_text-400: $color_gray !default;
$color_text-500: $color_dove-gray !default;
$color_text-600: $color_tundora !default;
$color_text-800: $color_mineshaft !default;

$color_error-200: $color_azaela !default;
$color_error-500: $color_crimson !default;

$color_warning-200: $color_half-colonial-white !default;
$color_warning-500: $color_gamboge !default;

$color_success-500: $color_apple !default;

$skew_transform: skew(-18deg) !default;
$skew_transform-revert: skew(18deg) !default;

$border-radius_base: 3px !default;
