@import '../../../node_modules/creative-patterns/packages/components/offcanvas/src/offcanvas';

.cs-offcanvas {
    @include offcanvas();
    position: relative;
    z-index: 300;

    &__drawer,
    &__overlay {
        top: 5.01rem; // To compensate for fixed navigation space.
    }
}
