@import '../../../node_modules/creative-patterns/packages/components/offcanvas/src/offcanvas';

.cs-offcanvas {
  @include offcanvas();
  position: relative;
  z-index: 300;

  &__drawer,
  &__overlay {
    top: 5rem; // To compensate for fixed navigation space.

    @include media( '>=tablet' ) {
      top: 8.3rem;
    }

    @include media( '>=laptop' ) {
      display: none;
    }
  }
}
