@import 'config/variables';
@import 'vendors/include-media';

$tsc-checkout-progress-bar_font-size: 1.2rem !default;
$tsc-checkout-progress-bar_font-weight: 400 !default;
$tsc-checkout-progress-bar_text-transform: uppercase !default;
$tsc-checkout-progress-bar_color: $color_text-800 !default;
$tsc-checkout-progress-bar_color-active: $color_text-200 !default;
$tsc-checkout-progress-bar_color-completed: $tsc-checkout-progress-bar_color-active !default;
$tsc-checkout-progress-bar_bg: $color_background_200 !default;
$tsc-checkout-progress-bar_bg-active: $color_primary-500 !default;
$tsc-checkout-progress-bar_bg-completed: $tsc-checkout-progress-bar_bg-active !default;
$tsc-checkout-progress-bar_border-color: $color_border-500 !default;

$tsc-checkout-progress-bar_font-size-desktop: 1.4rem !default;
$tsc-checkout-progress-bar_text-transform-desktop: none !default;
$tsc-checkout-progress-bar_color-desktop: $color_text-800 !default;
$tsc-checkout-progress-bar_color-active-desktop: $color_primary-500 !default;
$tsc-checkout-progress-bar_color-completed-desktop: $tsc-checkout-progress-bar_color-active-desktop !default;

.tsc-checkout-index {
    .opc-progress-bar-item {
        background: $tsc-checkout-progress-bar_bg;
        border-top: 1px solid $tsc-checkout-progress-bar_border-color;
        border-left: 1px solid $tsc-checkout-progress-bar_border-color;

        @include media('>=tablet') {
            background: none;
            border: none;
        }

        span {
            font-size: $tsc-checkout-progress-bar_font-size;
            font-weight: $tsc-checkout-progress-bar_font-weight;
            text-transform: $tsc-checkout-progress-bar_text-transform;
            color: $tsc-checkout-progress-bar_color;

            @include media('>=tablet') {
                font-size: $tsc-checkout-progress-bar_font-size-desktop;
                text-transform: $tsc-checkout-progress-bar_text-transform-desktop;
                color: $tsc-checkout-progress-bar_color-desktop;
            }
        }

        &._active {
            background: $tsc-checkout-progress-bar_bg-active;

            @include media('>=tablet') {
                background: none;
            }

            &:after {
                border-left-color: $tsc-checkout-progress-bar_bg-active;
            }

            span {
                color: $tsc-checkout-progress-bar_color-active;

                @include media('>=tablet') {
                    color: $tsc-checkout-progress-bar_color-active-desktop;
                }
            }
        }

        &._complete {
            background: $tsc-checkout-progress-bar_bg-completed;

            @include media('>=tablet') {
                background: none;
            }

            &:after {
                border-left-color: $tsc-checkout-progress-bar_bg-completed;
            }

            span {
                color: $tsc-checkout-progress-bar_color-completed;

                @include media('>=tablet') {
                    color: $tsc-checkout-progress-bar_color-completed-desktop;
                }
            }
        }
    }
}
