@import 'components/button/mixin';

$giftcard_button-type: $button_default-type !default;
$giftcard_button-icon-pos: $button_default-icon-pos !default;

.#{$ns}giftcard {
    &__info {
        margin: 1.5rem 0;
        width: 100%;

        &-title {
            border-bottom: 1px solid $color_alto;
            padding-bottom: 0.8rem;
            margin-bottom: 0.9rem;
        }

        &-title-span {
            display: block;
            font-weight: 700;
            font-size: 1.8rem;
        }

        &-content {
            .account & {
                max-width: 45rem;
            }
        }
    }

    &__dashboard-block {
        width: auto;

        .#{$ns}info-block__box {
            width: 100%;
        }
    }

    &__table-inline {
        display: inline;
    }

    &__codes-table {
        margin: 2rem 0;

        .#{$ns}table__col.label {
            @include media('<tablet') {
                display: none;
            }
        }

        .#{$ns}table__col {
            @include media('<tablet') {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
    }

    &__checkout {
        &-title-span {
            font-size: 1.5rem;
            font-weight: 700;
            color: $color_mineshaft;
            display: inline-block;

            @include media('>=tablet') {
                margin-bottom: 1.5rem;
            }

            @include media('<laptop') {
                margin-top: 1.5rem;
            }
        }

        &-box {
            margin-bottom: 2rem;
        }
    }
}

.aw-giftcard-codes-block {
    td {
        padding: 0.8rem 1rem !important;
    }

    .#{$ns}table:not(.#{$ns}table--no-change-mobile)
        tr:not(:first-child)
        .#{$ns}table__col:first-child {
        @include media('<tablet') {
            padding-top: 2rem !important;
        }
    }
}

// Cart summary line
.aw-giftcard-totals {
    form {
        position: relative;
    }

    .action-delete {
        position: absolute;
        top: 0;
        left: 0;
    }

    .title {
        display: block;
        padding-left: 1.8rem;
    }
}

// Buttons
.aw_giftcard__code_info {
    .action-toolbar {
        .button {
            @include button(
                $type: $giftcard_button-type,
                $icon_pos: $giftcard_button-icon-pos
            );
    
            @include media('<tablet') {
                width: 100%;
            }
        }
    
        .button > span {
            @include button_span(
                $type: $giftcard_button-type,
                $icon_pos: $giftcard_button-icon-pos
            );
        }
    }
}