@import 'config/variables';
@import 'vendors/include-media';
@import 'components/field/mixin';
@import 'utils/visually-hidden';

$qty-increment--in-wishlist_hide: true !default;

$qty-increment_input-font-size: inherit !default;
$qty-increment_input-text-align: center !default;
$qty-increment_input--error-border-color: $color_error-500 !default;
$qty-increment_input--hover-border: $color_border-500 !default;

$qty-increment_button-position-offset: 1px !default;
$qty-increment_button-width: 3rem !default;
$qty-increment_button-border-radius: $border-radius_base !default;
$qty-increment_button-background: transparent !default;
$qty-increment_button--hover-background: $color_primary-500 !default;
$qty-increment_button-border: 1px solid $color_border-500 !default;
$qty-increment_button--hover-border: 1px solid $color_primary-500 !default;
$qty-increment_button-animation-time: 0.5s !default;
$qty-increment_button--disabled-background: $qty-increment_button-background !default;
$qty-increment_button--disabled-border: $qty-increment_button-border !default;
$qty-increment_button--disabled-opacity: 1 !default;

$qty-increment_icon-fill: $color_primary-500 !default;
$qty-increment_icon--hover-fill: $color_text-200 !default;
$qty-increment_icon--disabled-fill: $color_background-600 !default;
$qty-increment_icon--decrement-width: 1.2rem !default;
$qty-increment_icon--decrement-height: 0.3rem !default;
$qty-increment_icon--increment-width: $qty-increment_icon--decrement-width !default;
$qty-increment_icon--increment-height: $qty-increment_icon--increment-width !default;

.#{$ns}qty-increment {
    $root: &;

    position: relative;
    display: flex;
    flex-wrap: wrap;

    @if $qty-increment--in-wishlist_hide {
        &--wishlist {
            @include visually-hidden();
        }
    }

    &__input {
        @include field-input();
        font-size: $qty-increment_input-font-size;
        text-align: $qty-increment_input-text-align;
        margin: 0;
        padding-left: 0.5em;
        padding-right: 0.5em;
        border-radius: 0;
        width: 0;
        min-width: 2ch;
        flex: 1;
        order: 2;

        .ie11 & {
            flex-basis: auto;
        }

        &,
        &:hover:not([disabled]),
        &:focus:not([disabled]) {
            border-left-width: 0;
            border-right-width: 0;
            border-color: $qty-increment_input--hover-border;
        }

        &.mage-error {
            border-color: $qty-increment_input--error-border-color !important;

            ~ #{$root}__button {
                border-color: $qty-increment_input--error-border-color !important;
            }
        }

        + .mage-error {
            order: 3;
            width: 100%;
        }
    }

    &__button {
        transition: background-color $qty-increment_button-animation-time,
            border-color $qty-increment_button-animation-time,
            fill $qty-increment_button-animation-time;
        will-change: transform, background-color, border-color, fill;
        max-width: $qty-increment_button-width;
        background-color: $qty-increment_button-background;
        flex: 1 1 (#{$qty-increment_button-width - 1});
        position: relative;
        padding-left: 0.5em;
        padding-right: 0.5em;
        border-radius: $qty-increment_button-border-radius;

        &,
        &:visited,
        &:focus {
            background-color: $qty-increment_button-background;
            border: $qty-increment_button-border;

            * {
                fill: $qty-increment_icon-fill;
            }
        }

        &:hover,
        &:active {
            background-color: $qty-increment_button--hover-background;
            border: $qty-increment_button--hover-border;
            cursor: pointer;

            * {
                fill: $qty-increment_icon--hover-fill;
            }
        }

        &--decrement {
            order: 1;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &--increment {
            order: 2;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &--disabled {
            opacity: $qty-increment_button--disabled-opacity;

            &,
            &:hover,
            &:visited,
            &:focus {
                background-color: $qty-increment_button--disabled-background;
                border: $qty-increment_button--disabled-border;
                cursor: not-allowed;

                * {
                    fill: $qty-increment_icon--disabled-fill;
                }
            }
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &--decrement {
            width: $qty-increment_icon--decrement-width;
            height: $qty-increment_icon--decrement-height;
        }

        &--increment {
            width: $qty-increment_icon--increment-width;
            height: $qty-increment_icon--increment-height;
        }
    }
}
