@import 'config/variables';
@import 'include-media/dist/include-media';
@import 'components/field/mixin.scss';

$qty-increment_input-font-size: inherit !default;
$qty-increment_input-text-align: center !default;
$qty-increment_input--error-border-color: $color_error-500 !default;

$qty-increment_button-position-offset: 1px !default;
$qty-increment_button-width: 3rem !default;
$qty-increment_button-background: transparent !default;
$qty-increment_button--hover-background: $qty-increment_button-background !default;
$qty-increment_button--disabled-background: $qty-increment_button-background !default;
$qty-increment_button--decrement-border-right: $field_input-border !default; // taken from components/field/mixin.scss
$qty-increment_button--increment-border-left: $field_input-border !default; // taken from components/field/mixin.scss

$qty-increment_icon-fill: $color_cerulean-blue !default;
$qty-increment_icon--hover-fill: $color_torea-bay !default;
$qty-increment_icon--disabled-fill: $color_alto !default;
$qty-increment_icon--decrement-width: 1.2rem !default;
$qty-increment_icon--decrement-height: 0.3rem !default;
$qty-increment_icon--increment-width: $qty-increment_icon--decrement-width !default;
$qty-increment_icon--increment-height: $qty-increment_icon--increment-width !default;

.#{$ns}qty-increment {
    $root: &;

    position: relative;

    &__input {
        @include field-input();
        padding-left: $qty-increment_button-width;
        padding-right: $qty-increment_button-width;
        font-size: $qty-increment_input-font-size;
        text-align: $qty-increment_input-text-align;
        margin-bottom: 0;

        &.mage-error {
            border-color: $qty-increment_input--error-border-color !important;
        }
    }

    &__button {
        position: absolute;
        top: $qty-increment_button-position-offset;
        width: $qty-increment_button-width;
        background-color: $qty-increment_button-background;
        cursor: pointer;

        @if $qty-increment_button-position-offset != 0 {
            height: calc(100% - 2 * #{$qty-increment_button-position-offset});
        } @else {
            height: 100%;
        }

        &--decrement {
            left: $qty-increment_button-position-offset;
            border-right: $qty-increment_button--decrement-border-right;
        }

        &--increment {
            right: $qty-increment_button-position-offset;
            border-left: $qty-increment_button--increment-border-left;
        }

        &--disabled {
            cursor: default;
            background: $qty-increment_button--disabled-background;
        }

        &:not(&--disabled):hover {
            background: $qty-increment_button--hover-background;
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        fill: $qty-increment_icon-fill;
        transform: translate3d(-50%, -50%, 0);
        transition: fill 0.15s linear;

        &--decrement {
            width: $qty-increment_icon--decrement-width;
            height: $qty-increment_icon--decrement-height;
        }

        &--increment {
            width: $qty-increment_icon--increment-width;
            height: $qty-increment_icon--increment-height;
        }

        #{$root}__button--disabled & {
            fill: $qty-increment_icon--disabled-fill;
        }

        #{$root}__button:not(#{$root}__button--disabled):hover & {
            fill: $qty-increment_icon--hover-fill;
        }
    }
}
