@import 'config/variables';
@import 'components/button/mixin';
@import 'vendors/include-media';

$reviews-summary_button-type: $button_default-type !default;
$reviews-summary_button-icon-pos: $button_default-icon-pos !default;

.cs-reviews-summary {
    $root: &;
    display: flex;
    margin-bottom: 3rem;
    flex-wrap: wrap;

    @include media('>=tablet') {
        flex-wrap: nowrap;
        border-bottom: 1px solid $color_alto;
    }

    &__note {
        font-size: 4rem;
        line-height: 100%;
        color: $color_mineshaft;
        font-weight: 300;
        margin-bottom: 0.5rem;

        &-right {
            color: $color_gray;
        }
    }

    &__button {
        @include button(
            $type: $reviews-summary_button-type,
            $icon_pos: $reviews-summary_button-icon-pos
        );

        margin-top: 1.2rem;
        margin-bottom: 2rem;

        @include media('>=tablet') {
            margin-bottom: 0;
        }
    }

    &__button-span {
        @include button_span(
            $type: $reviews-summary_button-type,
            $icon_pos: $reviews-summary_button-icon-pos
        );
    }

    &__button-icon {
        @include button_icon(
            $type: $reviews-summary_button-type,
            $icon_pos: $reviews-summary_button-icon-pos
        );
    }

    &__stars {
        margin-right: 4rem;
    }

    &__bars {
        display: table;
        list-style: none inside none;
    }

    &__bar {
        height: 1.2rem;
        position: relative;
        padding: 0.8rem 1rem !important;
        vertical-align: bottom;
        color: $color_gray;
        display: table-row !important;

        &:before {
            display: none !important;
        }

        &-label {
            display: table-cell;
            height: 2.6rem;
        }

        &-progress {
            position: relative;
            display: inline-block;
            min-width: 9rem;
            height: 12px;
            vertical-align: middle;
            width: 9rem;
            margin: 0 0.7rem;
            background: $color_white;

            @include media('>=tablet') {
                background: $color_gallery;
            }

            &-inner {
                position: absolute;
                left: 0;
                top: 0;
                height: 12px;
                background: darken($color_half-colonial-white, 15%);
            }
        }
    }
}

.product-reviews-summary {
    display: table;
    margin: 0 auto;
}
