@import 'config/variables';
@import 'components/button/mixin';
@import 'vendors/include-media';

$reviews-summary_border: 1px solid $color_border-500 !default;
$reviews-summary_spacing: 2.5rem !default;
$reviews-summary_desktop-width: 35rem !default;

$reviews-summary_button-font-size: 1.3rem !default;
$reviews-summary_button-type: $button_default-type !default;
$reviews-summary_button-icon-pos: $button_default-icon-pos !default;

$reviews-summary_bars-flex-grow: 1 !default;
$reviews-summary_bars-font-size: 1.4rem !default;
$reviews-summary_bars-color: $color_text-500 !default;
$reviews-summary_bar-max-width: 40rem !default;
$reviews-summary_bar-height: 1.2rem !default;
$reviews-summary_bar-margin-bottom: 1rem !default;
$reviews-summary_progress-bar-min-width: 9rem !default;
$reviews-summary_progress-bar-height: 0.9em !default;
$reviews-summary_progress-bar-background: $color_background-500 !default;
$reviews-summary_progress-bar-fill-background: $color_review-bar-active !default;

$reviews-summary_note-font-size: 4rem !default;
$reviews-summary_note-left-color: $color_text-800 !default;
$reviews-summary_note-right-color: $color_text-500 !default;

$reviews-ratings-averages_hide: false !default;
$reviews-summary_averages_max-width: 40rem !default;
$reviews-summary_averages_max-width-mobile: 25rem !default;

.cs-reviews-summary {
    $root: &;
    line-height: 1;
    display: flex;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    flex: 1 0 100%;
    border-bottom: $reviews-summary_border;

    @include media('>=laptop') {
        flex: 0 0 $reviews-summary_desktop-width;
        margin-bottom: 0;
        margin-right: $reviews-summary_spacing;
        padding-right: $reviews-summary_spacing;
        border-right: $reviews-summary_border;
        border-bottom: 0;
        align-content: flex-start;
    }

    &__note {
        font-size: 4rem;
        line-height: 100%;
        color: $reviews-summary_note-left-color;
        font-weight: 300;
        margin-bottom: 0.5rem;
    }

    &__note-right {
        color: $reviews-summary_note-right-color;
    }

    &__button-wrapper {
        width: 100%;
        margin-top: $reviews-summary_spacing;
        padding: $reviews-summary_spacing 0;
        border-top: $reviews-summary_border;

        @include media('>=tablet', '<laptop') {
            margin-top: 0;
            border-top: 0;
        }
    }

    &__button {
        @include button(
            $type: $reviews-summary_button-type,
            $icon_pos: $reviews-summary_button-icon-pos
        );

        font-size: $reviews-summary_button-font-size;

        @include media('<phoneLg') {
            width: 100%;
        }
    }

    &__button-span {
        @include button_span(
            $type: $reviews-summary_button-type,
            $icon_pos: $reviews-summary_button-icon-pos
        );
    }

    &__button-icon {
        @include button_icon(
            $type: $reviews-summary_button-type,
            $icon_pos: $reviews-summary_button-icon-pos
        );
    }

    &__stars {
        margin-right: 1rem;
        flex: 1 0 auto;

        @include media('>=phone') {
            flex: 0 1 auto;
            margin-right: 4rem;
        }

        @include media('>=tablet') {
            flex: 0 1 100%;
        }
    }

    &__bars {
        font-size: $reviews-summary_bars-font-size;
        list-style: none inside none;
        padding: 0;
        margin: $reviews-summary_spacing 0 0;
        flex-grow: $reviews-summary_bars-flex-grow;
        color: $reviews-summary_bars-color;
        max-width: $reviews-summary_bar-max-width;
        width: 100%;

        @include media('>=phone') {
            margin-top: 0;
            width: auto;
        }

        @include media('>=tablet') {
            margin-top: $reviews-summary_spacing;
        }
    }

    &__bar {
        position: relative;
        vertical-align: bottom;
        display: flex;
        align-items: center;
        margin: 0 0 $reviews-summary_bar-margin-bottom 0;

        &:last-child {
            margin-bottom: 0;
        }

        &-label {
            flex: 0 1 3.5em;
        }

        &-count {
            width: 1.5em;
            text-align: right;
        }

        &-progress {
            flex: 1 0 auto;
            position: relative;
            display: inline-block;
            min-width: $reviews-summary_progress-bar-min-width;
            height: $reviews-summary_progress-bar-height;
            margin: 0 0.8rem 0 0.7rem;
            background: $reviews-summary_progress-bar-background;

            &-inner {
                position: absolute;
                left: 0;
                top: 0;
                height: inherit;
                background: $reviews-summary_progress-bar-fill-background;
            }
        }
    }

    &__ratings-averages {
        list-style-type: none;
        width: 100%;
        margin: $reviews-summary_spacing 0 0;
        padding: $reviews-summary_spacing 0 0;
        border-top: $reviews-summary_border;
        @if ($reviews-ratings-averages_hide) {
            display: none;
        }
        line-height: 1.43;

        &-item {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 0.3em;

            @include media('>=phone'){
                max-width: $reviews-summary_averages_max-width-mobile;
            }

            @include media('>=tablet'){
                max-width: $reviews-summary_averages_max-width;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
