@import 'config/variables';
@import 'vendors/include-media';

$star-rating_color-active: $color_review-active;
$star-rating_color-inactive: $color_review-inactive;
$review-control_star-color-active: $color_review-active;
$review-control_star-color-inactive: $color_review-control-inactive;
$star-rating_text-color: $color_text-500;
// Determines flex justification of stars
$star-rating_justify: space-between !default;
// Determines width of a single star
$star-rating_star-width-default: 1.5rem !default;
$star-rating_star-width-reviews-summary: 2rem !default;
$star-rating_star-width-review: 1.5rem !default;
$star-rating_star-width-review-form: 2.4rem !default;
// Determines width of review stars container
$star-rating_container-width-default: 7.5rem !default;
$star-rating_container-width-reviews-summary: 10rem !default;
$star-rating_container-width-review: 7.5rem !default;
// Padding for review form stars
$star-rating_star-padding-review-form: 0.5rem !default;
$star-rating_star-padding-review-form-mobile: 1.5rem !default;
// Determines padding ruleset
$star-rating_padding-default: 0 !default;
$star-rating_padding-reviews-summary: 1rem 0 1.5rem !default;
$star-rating_padding-review: 0 !default;
$star-rating_padding-review-form: 0 !default;

.#{$ns}star-rating {
    $root: &;
    display: flex;
    align-items: center;

    &__stars {
        display: inline-flex;
        padding: $star-rating_padding-default;
        width: $star-rating_container-width-default;
        justify-content: $star-rating_justify;

        #{$root}--summary & {
            width: $star-rating_container-width-reviews-summary;
            padding: $star-rating_padding-reviews-summary;
        }

        #{$root}--review & {
            width: $star-rating_container-width-review;
            padding: $star-rating_padding-review;
        }
    }

    &__star {
        display: flex;
        width: $star-rating_star-width-default;

        #{$root}--summary & {
            width: $star-rating_star-width-reviews-summary;
        }

        #{$root}--review & {
            width: $star-rating_star-width-review;
        }
    }

    &__half-star {
        width: 50%;
        height: 100%;
        fill: $star-rating_color-inactive;

        &--active {
            fill: $star-rating_color-active;
        }

        path {
            fill-opacity: 1;    
        }
    }

    &__form-stars {
        display: inline-flex;
        padding: $star-rating_padding-review-form;
    }
    
    &__form-star {
        opacity: 1;
        fill: $review-control_star-color-inactive;
        width: 100%;
        padding-right: $star-rating_star-padding-review-form-mobile;

        @include media('>=tablet'){
            padding-right: $star-rating_padding-review-form;
        }

        &--active {
            fill: $review-control_star-color-active;
        }

        path {
            fill-opacity: 1;    
        }

        &:nth-last-of-type(){
            padding-right: 0;
        }

        .#{$ns}star-rating__form-stars:hover & {
            fill: $review-control_star-color-active;
        }

        .#{$ns}star-rating__form-stars label:hover ~ label & {
            fill: $review-control_star-color-inactive;
        }
    }

    &__text {
        display: inline-block;
        color: $star-rating_text-color;
        padding-left: .5em;
        line-height: 1;
        margin: auto 0;
    }
}

.review-control-vote {

    @for $i from 1 through 5 {
        .rating-#{$i}:before {
            content: none;
        }
    }

    &:before {
        content: none;
    }

    label {
        position: static;
        width: $star-rating_star-width-review-form + $star-rating_star-padding-review-form-mobile;
        line-height: 0;

        @include media('>=tablet'){
            width: $star-rating_star-width-review-form + $star-rating_star-padding-review-form;
        }

        &:nth-last-of-type {
            width: $star-rating_star-width-review-form;
        }
    }
}