// star-rating
// Reviews&#x27; stars with a number for products
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1

$ns: 'cs-' !default;

.#{$ns}star-rating {
    display: flex;
    align-items: center;

    &__stars {
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        box-sizing: border-box;
        white-space: nowrap;
        min-width: 96px;
    }

    &__star {
        font-size: 1.2rem;
        width: 1.2rem;
        height: 1.2rem;
        position: relative;
        display: block;
        float: left;
        box-sizing: border-box;
        font-style: normal;
        color: #444;

        &:before {
            content: '\2605';
            position: absolute;
            left: 0;
            top: 50%;
            z-index: 1;
            overflow: hidden;
            transform: translateY( -50% );
        }

        &--half-active {
            &:before {
                width: 50%;
                color: #ffa500;
            }

            &:after {
                content: '\2605';
                position: absolute;
                left: .6rem;
                top: 50%;
                width: 50%;
                text-indent: -.6rem;
                overflow: hidden;
                z-index: 2;
                transform: translateY( -50% );
            }
        }

        &--active:before {
            color: #ffa500;
        }
    }

    &__text {
        display: inline-block;
        padding-left: .5em;
        line-height: 1;
    }
}
