@import 'config/variables';
@import 'vendors/include-media';

$star-rating_color-active: $color_review-active !default;
$star-rating_color-inactive: $color_review-inactive !default;
$star-rating_form-star-color-active: $color_review-active !default;
$star-rating_form-star-color-inactive: $color_review-control-inactive !default;
$star-rating_text-color: $color_text-500 !default;
// Determines flex justification of stars
$star-rating_justify: space-between !default;
// Determines width of a single star
$star-rating_star-width-default: 1.5rem !default;
$star-rating_star-width-reviews-summary: 2rem !default;
$star-rating_star-width-review: 1.5rem !default;
$star-rating_star-width-review-form: 2rem !default;
// Determines width of review stars container
$star-rating_container-width-default: 7.5rem !default;
$star-rating_container-width-reviews-summary: 10rem !default;
$star-rating_container-width-review: 7.5rem !default;
// Padding for review form stars
$star-rating_star-padding-review-form: 0.6rem !default;
$star-rating_star-padding-review-form-mobile: 1rem !default;
// Determines padding ruleset
$star-rating_padding-default: 0 !default;
$star-rating_padding-reviews-summary: 0 !default;
$star-rating_padding-review: 0 !default;
$star-rating_padding-review-form: 0 !default;
// Determines score and count textfield display ruleset
$star-rating_hide-text-pdp: false !default;
$star-rating_hide-text-tile: false !default;
// Determines display ruleset for "review" annotation
$star-rating_hide-annotation-pdp: false !default;
$star-rating_hide-annotation-tile: true !default;
// Determines star svg for ie11 height calculations
$star-rating_star-aspect-ratio: 1.05 !default; 


.#{$ns}star-rating {
    $root: &;
    display: flex;
    align-items: center;

    &__stars {
        display: inline-flex;
        padding: $star-rating_padding-default;
        width: $star-rating_container-width-default;
        justify-content: $star-rating_justify;

        #{$root}--summary & {
            width: $star-rating_container-width-reviews-summary;
            padding: $star-rating_padding-reviews-summary;
        }

        #{$root}--review & {
            width: $star-rating_container-width-review;
            padding: $star-rating_padding-review;
        }
    }

    &__star {
        display: flex;
        width: $star-rating_star-width-default;
        height: 100%;
        fill: $star-rating_color-inactive;

        &--active {
            fill: $star-rating_color-active;
        }

        &--half-active {

            .star-left {
                fill: $star-rating_color-active;
            }

            .star-rigth {
                fill: $star-rating_color-inactive;
            }
        }

        #{$root}--summary & {
            width: $star-rating_star-width-reviews-summary;

            .ie11 & {
                height: calc(#{$star-rating_star-width-reviews-summary}/#{$star-rating_star-aspect-ratio});
            }
        }

        #{$root}--review & {
            width: $star-rating_star-width-review;

            .ie11 & {
                height: calc(#{$star-rating_star-width-review}/#{$star-rating_star-aspect-ratio});
            }
        }

        path {
            fill-opacity: 1;
        }

        .ie11 & {
            height: calc(#{$star-rating_star-width-default}/#{$star-rating_star-aspect-ratio});
        }
    }

    img {
        width: $star-rating_star-width-default;
        height: 100%;
    }

    &__form-stars {
        display: inline-flex;
        padding: $star-rating_padding-review-form;
    }

    &__form-star {
        opacity: 1;
        fill: $star-rating_form-star-color-inactive;
        width: 100%;

        &--active {
            fill: $star-rating_form-star-color-active;
        }

        path {
            fill-opacity: 1;
        }

        &:nth-last-of-type(){
            padding-right: 0;
        }

        .#{$ns}star-rating__form-stars:hover & {
            fill: $star-rating_form-star-color-active;
        }

        .#{$ns}star-rating__form-stars label:hover ~ label & {
            fill: $star-rating_form-star-color-inactive;
        }

        .ie11 & {
            height: calc(#{$star-rating_star-width-review-form}/#{$star-rating_star-aspect-ratio});
        }
    }

    &__text {
        display: inline-block;
        color: $star-rating_text-color;
        padding-left: .5em;
        line-height: 1;
        padding-top: calc(#{$star-rating_star-width-default}*0.1);

        @if $star-rating_hide-text-pdp {
            .#{$ns}buybox & {
                display: none;
            }
        }

        @if $star-rating_hide-text-tile {
            .#{$ns}product-tile & {
                display: none;
            }
        }
    }

    &__text-annotation {
        display: inline;

        @if $star-rating_hide-annotation-pdp {
            .#{$ns}buybox & {
                display: none;
            }
        }

        @if $star-rating_hide-annotation-tile {
            .#{$ns}product-tile & {
                display: none;
            }
        }
        line-height: 1;
    }
}

.review-control-vote {

    @for $i from 1 through 5 {
        .rating-#{$i}:before {
            content: none;
        }
    }

    &:before {
        content: none;
    }

    label {
        position: static;
        width: $star-rating_star-width-review-form + $star-rating_star-padding-review-form-mobile;
        padding-right: $star-rating_star-padding-review-form-mobile;
        line-height: 0;

        @include media('>=tablet'){
            width: $star-rating_star-width-review-form + $star-rating_star-padding-review-form;
            padding-right: $star-rating_star-padding-review-form;
        }

        &:last-child {
            width: $star-rating_star-width-review-form;
            padding-right: 0;
        }
    }
}