{#This file is prepare only to show dashboard structure#}

<main id="maincontent" class="cs-dashboard">

    <div class="cs-dashboard__messages">
    </div>

    <div class="cs-dashboard__wrapper">

        <div class="cs-dashboard__menu"></div>

        <div class="cs-dashboard__main">
            <div class="cs-dashboard__top">

                <div class="cs-dashboard__page-title"></div>

                <div class="cs-dashboard__block"></div>
                <div class="cs-dashboard__block"></div>
                ...

                <div class="cs-dashboard__bottom">

                    <div class="cs-dashboard__block"></div>
                    <div class="cs-dashboard__block"></div>
                    ...

                </div>

            </div>
        </div>

    </div>

</main>