@import 'config/variables';
@import 'vendors/include-media';
@import 'components/badge/mixin';
@import 'components/price-box/variables.scss';
@import 'etc/view.scss';
@import 'utils/deep-get/deep-get.scss';
@import 'utils/string-to-number';
@import 'utils/reset-list-style';
@import 'utils/visually-hidden';

// General
$product-tile_general-tile-gutter: 1.5rem !default;
$product-tile_general-elements-gutter: 2rem !default;
$product-tile_general-background: $color_white !default;
$product-tile_general-border-radius: $border-radius_base !default;
$product-tile_general-font-size: 1.5rem !default;
$product-tile_hover-animation: true !default;
$product-tile_hover-animation-breakpoint: '>=laptop' !default;
$product-tile_padding: $product-tile_general-tile-gutter !default;
$product-tile_alignment: center !default; // left | center | right
$product-tile_initial-border: 1px solid transparent !default;
$product-tile_hover-border: 1px solid $color_gallery !default;

// If product tile design has a hidden bottom part that is slided up on hover set both below variables
$product-tile_main-after-slide-on-hover: false !default;
$product-tile_main-after-height: 'auto' !default;
$product-tile_content-height: 'auto' !default;

// Product name
$product-tile_product-name-font-size: $product-tile_general-font-size !default;
$product-tile_product-name-font-weight: 400 !default;
$product-tile_product-name-max-lines-display: 1 !default;
$product-tile_product-name-line-height: 1.8rem !default; // MUST BE a number value with unit, cannot be 'inherit'
$product-tile_product-name-link-color: $color_mineshaft !default;
$product-tile_product-name-link-color-visited: $product-tile_product-name-link-color !default;
$product-tile_product-name-link-color-hover: $link-color_base-hover !default;
$product-tile_product-name-link-text-decoration-hover: none !default;
$product-tile_product-name-margin: 0 0 0.5rem !default;
$product-tile_product-name-alignment: left !default;

// Badges
$product-tile_badges-z-index: 2 !default;
$product-tile_badges-direction: 'vertical' !default; // vertical or horizontal
$product-tile_badges-y-asis-position-prop: top !default;
$product-tile_badges-x-asis-position-prop: left !default;
$product-tile_badges-y-asis-position-value: $product-tile_general-elements-gutter !default;
$product-tile_badges-x-asis-position-value: $product-tile_general-elements-gutter !default;
$product-tile_badges-item-margin: 0 0 #{$product-tile_general-elements-gutter /
    4} !default;

// Swatches
$product-tile_swatches-container-min-height: 2.6rem !default;
$product-tile_swatches-margin: $product-tile_general-elements-gutter 0 #{$product-tile_general-elements-gutter /
    2} !default;
$product-tile_swatches-alignment: $product-tile_alignment !default;

// Brand
$product-tile_brand-font-size: 1.2rem !default;
$product-tile_brand-color: $color_text-400 !default;
$product-tile_brand-height: 2rem !default;
$product-tile_brand-alignment: center !default;

// Review
$product-tile_review-margin: #{$product-tile_general-elements-gutter / 2} 0 0 !default;

// Addto
$produdct-tile_addto-font-size: 1.3rem !default;
$product-tile_addto-margin: #{$product-tile_general-elements-gutter / 2} 0 0 !default;

// Qty swicther
$produdct-tile_qty-switcher-width: 11rem !default;
$produdct-tile_qty-switcher-space-bottom: 1rem !default;

// Addtocart
$product-tile_addtocart-margin: 0 0 0 !default;
$product-tile_addtocart-width: 8rem !default;
$product-tile_addtocart-show-only-on-hover: true !default;
$product-tile_addtocart-reduced: true !default;

// Stock
$product-tile_stock-font-size: 1.3rem !default;
$product-tile_stock-in-color: $color_apple !default;
$product-tile_stock-out-of-color: $color_crimson !default;
$product-tile_stock-margin: 0 !default;

// Daily Deal
$product-tile_dailydeal-margin: 0 !default;

// Wishlist
$product-tile_wishlist-comment-visible: false !default;
$product-tile_wishlist-comment-textarea-height: 5rem !default;
$product-tile_wishlist-actions-margin: #{$product-tile_general-elements-gutter /
    2} 0 0 !default;
$product-tile_wishlist-actions-display: flex !default;
$product-tile_wishlist-actions-justify-content: space-between !default;

$product-tile_wishlist-remove-icon-background: $color_background-200 !default;
$product-tile_wishlist-remove-icon-size: 1.2rem !default;
$product-tile_wishlist-remove-icon-fill: $color_border-700 !default;

// Description
$product-tile_description-font-size: 1.3rem !default;
$product-tile_description-font-weight: 400 !default;
$product-tile_description-line-height: 1.4 !default;
$product-tile_description-color: $color_dove-gray !default;
$product-tile_description-margin: 0 0 #{$product-tile_general-elements-gutter /
    2} !default;

// Thumbnail
$product-tile_limit-container-to-image-size: false !default;

// Prices
$product-tile_normal-price-color: $price-box_normal-price-color !default;
$product-tile_normal-price-font-size: $price-box_normal-price-font-size !default;
$product-tile_normal-price-font-weight: $price-box_normal-price-font-weight !default;
$product-tile_special-price-color: $price-box_special-price-color !default;
$product-tile_special-price-font-size: $price-box_special-price-font-size !default;
$product-tile_special-price-font-weight: $price-box_special-price-font-weight !default;
$product-tile_old-price-color: $price-box_old-price-color !default;
$product-tile_old-price-font-size: $price-box_old-price-font-size !default;
$product-tile_old-price-font-weight: $price-box_old-price-font-weight !default;
$product-tile_old-price-text-decoration: $price-box_old-price-text-decoration !default;

$product-tile_prices-direction: 'horizontal' !default; // vertical or horizontal
$product-tile_prices-margin: 0 !default;
$product-tile_display-old-price-first: true !default;
$product-tile_prices-alignment: 'left' !default;

$product-tile-magento-catalog-image: deep-get(
    $view-xml,
    media,
    images,
    image,
    category_page_grid
);
$product-tile-magento-catalog-image-width: to-number(
    #{map-get($product-tile-magento-catalog-image, width)}
);
$product-tile-magento-catalog-image-height: to-number(
    #{map-get($product-tile-magento-catalog-image, height)}
);

.#{$ns}product-tile {
    $root: &;

    width: 100%;
    height: 100%;
    position: relative;
    border-radius: $product-tile_general-border-radius;
    background-color: $product-tile_general-background;
    border: $product-tile_initial-border;
    transition: border-color $transition-default-time;
    aspect-ratio: #{$tile_aspect-ratio-width--mobile}/#{$tile_aspect-ratio-height--mobile};

    @include media('>=tablet') {
        aspect-ratio: #{$tile_aspect-ratio-width}/#{$tile_aspect-ratio-height};
    }

    @media (hover: hover) {
        &:hover {
            border: $product-tile_hover-border;
        }
    }

    &--clickable {
        &:hover {
            cursor: pointer;
        }
    }

    &--hidden {
        #{$root}__main {
            visibility: hidden !important;
        }
    }

    &__container {
        height: 100%;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        padding: $product-tile_padding;

        @if (
            $product-tile_content-height !=
                'auto' and
                $product-tile_main-after-slide-on-hover
        ) {
            @media (hover: hover) {
                padding-bottom: $product-tile_content-height;
            }
        }
    }

    &__link {
        display: block;
        height: 100%;
    }

    &__thumbnail {
        padding: 0;
        min-height: 0;
    }

    &__thumbnail-link {
        display: block;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;

        &:hover,
        &:visited {
            color: inherit;
            text-decoration: inherit;
        }
    }

    &__figure {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        text-align: center;

        @if ($product-tile_limit-container-to-image-size) {
            max-width: ($product-tile-magento-catalog-image-width / 10) * 1rem;
            max-height: ($product-tile-magento-catalog-image-height / 10) *
                1rem;
            margin: 0 auto;
        }
    }

    &__image {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }

    &__img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;

        &[src*='placeholder'] {
            min-width: 70%;
            margin-top: 2rem;
        }
    }

    &__content {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);

        @if ($product-tile_main-after-slide-on-hover) {
            @media (hover: hover) {
                position: absolute;
                bottom: 0;
                left: $product-tile_general-tile-gutter;
                height: auto;
                width: calc(100% - (2 * #{$product-tile_general-tile-gutter}));
            }
        }
    }

    &__main {
        height: 100%;
        display: grid;
        grid-template-columns: minmax(0, 1fr) $product-tile_addtocart-width;

        grid-template-areas:
            'badges addto'
            'swatches swatches'
            'name name'
            'description description'
            'price price'
            'review  addtocart'
            'stock addtocart'
            'wishlist-icons wishlist-icons';
    }

    &__swatches {
        grid-area: swatches;
        display: flex;
        margin: $product-tile_swatches-margin;
        min-height: $product-tile_swatches-container-min-height;

        &,
        .swatch-attribute-options {
            @if ($product-tile_swatches-alignment == 'left') {
                justify-content: flex-start;
            } @else if ($product-tile_swatches-alignment == 'right') {
                justify-content: flex-end;
            } @else {
                justify-content: center;
            }
        }
    }

    &__brand {
        grid-area: brand;
        height: $product-tile_brand-height;
        margin-top: $product-tile_general-tile-gutter;
        text-align: $product-tile_brand-alignment;

        &--empty {
            height: 0;
        }
    }

    &__brand-text {
        font-size: $product-tile_brand-font-size;
        color: $product-tile_brand-color;
    }

    &__name {
        grid-area: name;
        line-height: $product-tile_product-name-line-height;
        font-weight: $product-tile_product-name-font-weight;
        font-size: $product-tile_product-name-font-size;
        overflow: hidden;
        width: 100%;
        height: $product-tile_product-name-max-lines-display *
            $product-tile_product-name-line-height + 0.2;
        margin: $product-tile_product-name-margin;
        text-align: $product-tile_product-name-alignment;

        @if ($product-tile_product-name-max-lines-display == 1) {
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    &__name-link {
        color: $product-tile_product-name-link-color;

        @if (
            $product-tile_product-name-link-color !=
                $product-tile_product-name-link-color-hover
        ) {
            transition: color 0.15s linear;
        }

        /* disabled because autoprefixer can't build this */
        /* stylelint-disable value-no-vendor-prefix */
        /* stylelint-disable property-no-vendor-prefix */
        @if ($product-tile_product-name-max-lines-display > 1) {
            /* autoprefixer: ignore next */
            display: -webkit-box;
            /* autoprefixer: ignore next */
            -webkit-box-orient: vertical;
            /* autoprefixer: ignore next */
            -webkit-line-clamp: $product-tile_product-name-max-lines-display;
            /* autoprefixer: ignore next */
            line-clamp: $product-tile_product-name-max-lines-display;
            max-width: 100%;
        }
        /* stylelint-enable value-no-vendor-prefix */
        /* stylelint-enable property-no-vendor-prefix */

        &:visited {
            color: $product-tile_product-name-link-color-visited;
        }

        &:hover {
            color: $product-tile_product-name-link-color-hover;
            text-decoration: $product-tile_product-name-link-text-decoration-hover;
        }
    }

    &__price {
        grid-area: price;
        line-height: 1.2;

        .price-box {
            display: flex;
            margin: $product-tile_prices-margin;

            .price {
                font-size: $product-tile_normal-price-font-size;
                font-weight: $product-tile_normal-price-font-weight;
                color: $product-tile_normal-price-color;
            }

            .old-price {
                .price {
                    font-size: $product-tile_old-price-font-size;
                    font-weight: $product-tile_old-price-font-weight;
                    color: $product-tile_old-price-color;
                    text-decoration: $product-tile_old-price-text-decoration;
                }
            }

            .special-price {
                .price {
                    font-size: $product-tile_special-price-font-size;
                    font-weight: $product-tile_special-price-font-weight;
                    color: $product-tile_special-price-color;
                }
            }

            .minimal-price {
                margin: 0;
                display: flex;
            }

            @if ($product-tile_display-old-price-first) {
                .old-price {
                    order: -1;
                }
            }

            @if ($product-tile_prices-direction == 'vertical') {
                flex-direction: column;

                .price-from {
                    margin-right: 0;
                }

                .minimal-price {
                    flex-direction: column;
                }

                @if ($product-tile_prices-alignment == 'left') {
                    align-items: flex-start;
                } @else if ($product-tile_prices-alignment == 'right') {
                    align-items: flex-end;
                } @else {
                    align-items: center;
                }
            } @else {
                align-items: center;

                .minimal-price {
                    align-items: center;
                }

                @if ($product-tile_display-old-price-first) {
                    .old-price {
                        .price {
                            margin-right: $price-box_space-between-prices;
                        }
                    }
                } @else {
                    .minimal-price {
                        > .price-container {
                            .price {
                                margin-right: $price-box_space-between-prices;
                            }
                        }
                    }
                    .special-price {
                        .price {
                            margin-right: $price-box_space-between-prices;
                        }
                    }
                }

                @if ($product-tile_prices-alignment == 'left') {
                    justify-content: flex-start;
                } @else if ($product-tile_prices-alignment == 'right') {
                    justify-content: flex-end;
                } @else {
                    justify-content: center;
                }
            }
        }

        &--dailydeal-countdown .price-box {
            &:not(.price-final_price_without_daily_deal) {
                display: none;
            }

            &.price-box--visible {
                display: flex;
            }
        }
    }

    &__review {
        grid-area: review;
        margin: $product-tile_review-margin;

        &:empty {
            margin: 0 !important;
        }
    }

    &__stock {
        grid-area: stock;
        display: inline-block;
        white-space: nowrap;
        font-size: $product-tile_stock-font-size;
        margin: $product-tile_stock-margin;
        padding-bottom: 1.1rem;
        text-align: $product-tile_product-name-alignment;

        &--in {
            color: $product-tile_stock-in-color;
        }

        &--out {
            color: $product-tile_stock-out-of-color;
        }
    }

    &__addtocart {
        grid-area: addtocart;
        margin: $product-tile_addtocart-margin;

        @if ($product-tile_addtocart-show-only-on-hover) {
            @media (hover: hover) {
                opacity: 0;
                transition: opacity $transition-default-time;

                #{$root}:hover & {
                    opacity: 1;
                }
            }
        }

        @if ($product-tile_addtocart-reduced) {
            .#{$ns}product-tile:not(.#{$ns}product-tile--list) & {
                .#{$ns}addtocart {
                    &__button {
                        min-height: 4rem;

                        &::before,
                        &::after {
                            @include visually-hidden();
                        }
                    }

                    &__button-label,
                    &__success-label,
                    &__fail-label {
                        @include visually-hidden();
                    }

                    &__button-icon,
                    &__configure-icon {
                        right: auto;
                        left: 50%;
                        transform: translate3d(-50%, -50%, 0);
                    }
                }
            }

            .#{$ns}product-tile:not(.#{$ns}product-tile--list)
                &.#{$ns}addtocart--loading {
                .#{$ns}addtocart__loading {
                    transform: scale(1) translate3d(-50%, -50%, 0);
                }

                .#{$ns}addtocart__button-icon,
                .#{$ns}addtocart__configure-icon {
                    display: none;
                }
            }
        }
    }

    &__addtocart-button {
        @if ($product-tile_addtocart-reduced) {
            width: $product-tile_addtocart-width;
        }

        @if not($product-tile_addtocart-reduced) {
            width: 100%;
        }
    }

    &__addto {
        grid-area: addto;
        width: auto;
        margin: $product-tile_addto-margin;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;

        .cs-links-block-addto__link {
            font-size: $produdct-tile_addto-font-size;
        }

        .cs-dashboard__bottom-wishlist &,
        .cs-dashboard__wishlist-products-grid & {
            display: none;
        }

        &:empty {
            margin: 0 !important;
        }

        .cs-links-block-addto__link-label {
            @include visually-hidden();
        }
    }

    &__badges {
        @include reset-list-style();

        grid-area: badges;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        z-index: $product-tile_badges-z-index;
        #{$product-tile_badges-y-asis-position-prop}: $product-tile_badges-y-asis-position-value;
        #{$product-tile_badges-x-asis-position-prop}: $product-tile_badges-x-asis-position-value;

        @if ($product-tile_badges-direction == 'vertical') {
            flex-direction: column;
        }
    }

    &__badge {
        @include badge();

        grid-area: badge;

        @include media('>=phone', '<phoneLg') {
            font-size: 0.9rem;
        }

        &--discount {
            @include badge_type('discount');

            #{$root}__badge-text {
                @include badge_span('discount');
            }
        }

        &--new {
            @include badge_type('new');

            #{$root}__badge-text {
                @include badge_span('new');
            }
        }

        &--free-shipping {
            @include badge_type('free-shipping');

            #{$root}__badge-text {
                @include badge_span('free-shipping');
            }
        }

        &--popular {
            @include badge_type('popular');

            #{$root}__badge-text {
                @include badge_span('popular');
            }
        }

        &--dailydeal {
            @include badge_type('dailydeal');

            #{$root}__badge-text {
                @include badge_span('dailydeal');
            }
        }
    }

    &__badge-item {
        display: flex;

        #{$root}--grid & {
            margin: $product-tile_badges-item-margin;
            width: 100%; // Set width explicitly to avoid Edge bugs
        }

        &:empty {
            display: none;
        }
    }

    &__badge-text {
        @include badge_span();
    }

    &__dailydeal {
        grid-area: dailydeal;
        margin: $product-tile_dailydeal-margin;
    }

    &__qty {
        grid-area: qty;
        margin-bottom: $produdct-tile_qty-switcher-space-bottom;
        width: $produdct-tile_qty-switcher-width;
        margin-left: auto;
    }

    &__description {
        grid-area: description;
        font-size: $product-tile_description-font-size;
        font-weight: $product-tile_description-font-weight;
        line-height: $product-tile_description-line-height;
        color: $product-tile_description-color;
        margin: $product-tile_description-margin;
    }

    &__main-after {
        @if ($product-tile_main-after-slide-on-hover) {
            @media (hover: hover) {
                height: 0;
                overflow: hidden;
                transition: height $transition-default-time;

                #{$root}:hover & {
                    height: $product-tile_main-after-height;
                }
            }
        }
    }

    &__wishlist-remove-icon {
        position: absolute;
        top: 0;
        right: 0;
        background: $product-tile_wishlist-remove-icon-background;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $product-tile_padding;

        @media (pointer: fine) {
            display: none;
        }
    }

    &__wishlist-remove-icon-image {
        width: $product-tile_wishlist-remove-icon-size;
        height: $product-tile_wishlist-remove-icon-size;
        fill: $product-tile_wishlist-remove-icon-fill;
    }

    &__wishlist-comment {
        @if not($product-tile_wishlist-comment-visible) {
            @include visually-hidden();
        }
    }

    &__wishlist-actions {
        grid-area: wishlist-icons;
        margin: $product-tile_wishlist-actions-margin;
        display: $product-tile_wishlist-actions-display;

        @if ($product-tile_wishlist-actions-display == flex) {
            justify-content: $product-tile_wishlist-actions-justify-content;
        }
    }
}
