@import 'config/variables';
@import 'include-media/dist/include-media';

$page-bottom_text-color: $color_text-500;
$page-bottom_divider-color: $color_border-500;

.#{$ns}page-bottom {
    $root: &;

    padding: 1.5rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media('>=tablet') {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    @include media('>=laptop') {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .page-print & {
        display: none;
    }

    &__image {
        height: 3rem;
        width: auto;

        &--circle {
            width: 4.7rem;
            height: 4.7rem;
            margin-right: 1rem;
        }
    }

    &__text {
        font-size: 1.2rem;
        color: $page-bottom_text-color;
        margin-bottom: 0;
        margin-right: 0.6rem;

        &--small {
            font-size: 1rem;
        }
    }

    &__group {
        display: flex;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: space-between;

        @include media('>=tablet') {
            width: 100%;
            padding: 1rem 0;
        }

        @include media('>=laptop') {
            width: auto;
            padding: 0;
        }

        &--info {
            display: none;
            flex-direction: row-reverse;

            @include media('>=tablet') {
                display: flex;
                flex-basis: 40%;
                justify-content: flex-end;
                padding-right: 1.5rem;

                #{$root}__text {
                    max-width: 20rem;
                }

                .ie11 & {
                    display: block;
                }
            }

            @include media('>=laptop') {
                flex-basis: 17%;
                padding-right: 0;

                #{$root}__text {
                    max-width: 100%;
                }
            }
        }

        &--shipping {
            display: none;

            @include media('>=tablet') {
                display: flex;
                flex-basis: 55%;
                padding-left: 1.5rem;
            }

            @include media('>=laptop') {
                flex-basis: 33%;
                padding-left: 4rem;
            }
        }

        &--payment {
            flex-basis: 50%;

            @include media('<tablet') {
                #{$root}__text {
                    display: none;
                }
            }

            @include media('>=tablet', '<laptop') {
                flex-basis: 100%;
            }

            @include media('>=laptop') {
                padding-left: 4rem;
            }
        }

        &--shipping,
        &--payment {
            @include media('>=laptop') {
                position: relative;

                &:before {
                    margin: 0 1rem;
                    content: '';
                    position: absolute;
                    left: 1rem;
                    top: 50%;
                    width: 0.2rem;
                    height: 2rem;
                    background: $page-bottom_divider-color;
                    transform: translateY(-50%);
                }
            }
        }
    }

    &__logo {
        display: flex;
        flex-shrink: 1;
        height: 2rem;

        @include media('<laptop') {
            width: auto;
        }

        &--hermes {
            width: 12.2rem;
        }

        &--dhl {
            width: 8.6rem;
        }

        &--paypal {
            width: 6.2rem;
        }

        &--visa {
            width: 5.5rem;
        }

        &--mastercard {
            width: 3.3rem;
        }

        &--s-u {
            width: 6rem;
        }

        &--klarna {
            width: 7rem;
        }

        &--gls {
            width: 5rem;
        }

        &--giropay {
            width: 4.8rem;
        }

        &--ec {
            width: 1.8rem;
        }

        &--paydirekt {
            width: 6rem;
        }

        &--lastschrift {
            width: 6.15rem;
        }

        &--vorkasse {
            width: 8.3rem;
        }

        &--rechnung {
            width: 6.15rem;
        }

        & + & {
            margin-left: 0.5rem;
        }
    }
}
