.#{$namespace}price {
    line-height: 1.2em;

    .price-label {
        @extend .cs-visually-hidden;
    }

    .price-box {
        display: flex;
        align-content: center;
    }

    .special-price {
        order: 2;
    }

    .price,
    &__price {
        font-weight: 700;
        font-size: 1.3rem;
        color: $colorCeruleanBlue;
        line-height: 1rem;
        white-space: nowrap;
    }

    .special-price .price {
        font-weight: 700;
        font-size: 1.3rem;
        color: $colorCrimson;
    }

    .old-price {
        transform: translateY( -.3rem );
    }

    .old-price .price {
        text-decoration: line-through;
        color: $colorDoveGray;
        font-weight: 700;
        font-size: .9rem;
        margin-right: .5rem;
    }

    &--pdp {
        margin-top: 1.2rem;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid $colorAlto;

        .price {
            font-size: 2rem;
        }

        .special-price .price {
            font-size: 2rem;
        }

        .old-price {
            transform: translateY( -.3rem );
        }

        .old-price .price {
            font-size: 1.2rem;
        }
    }

}
