@import 'config/variables';
@import 'include-media/dist/include-media';
@import 'components/container/mixin';

$header_border-bottom: 1px solid $color_border-200 !default;

$header_is-sticky-on-mobile: true !default;
$header_background: $color_background-200 !default;

// Horizontal align of the searchbox if it's displayed as a layer - `$global_header-searchbox-as-layer-breakpoint`
$header_searchbox-justify-content: center !default;

// If you want to cover 'search' item in header by searchbox, provide proper negative margin based on your design
// It works only if '$global_header-searchbox-as-layer-breakpoint' has valid breakpoint and `$header_searchbox-justify-content` = flex-end
$header_searchbox-margin-to-cover-search-item: -6.8rem !default;

.#{$ns}header {
    $root: &;

    font-size: 1rem;

    @if ($header_is-sticky-on-mobile) {
        height: $global_header-height-mobile;
    
        @include media('>=tablet') {
            height: $global_header-height-tablet;
        }
    }

    @include media('>=laptopLg') {
        height: $global_header-height-desktop;
    }

    &__content {
        height: $global_header-height-mobile;
        z-index: 300;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        will-change: z-index, height, position;
        background-color: $header_background;
        position: relative;

        @if ($header_is-sticky-on-mobile) {
            @include media('<laptop') {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
            }
        }

        @include media('>=tablet') {
            height: $global_header-height-tablet;
        }

        @include media('>=laptopLg') {
            height: $global_header-height-desktop;
        }

        @include media('>=laptop') {
            border-bottom: $header_border-bottom;
            flex-wrap: nowrap;
        }
    }

    &__offcanvas-toggle {
        height: 100%;
        flex: 0 1 4rem;

        @include media('>=laptop') {
            display: none;
        }
    }

    &__logo {
        display: flex;
        flex: 1 1 0%;
        margin-bottom: 0;
        height: 100%;

        @include media('>=phoneLg') {
            flex: 0 1 auto;
        }

        .page-print & {
            @include container-wrapper();
            position: relative;
    
            &:after {
                content: '';
                display: table;
                clear: both;
            }
        }
    }

    &__search {
        display: none;
        width: 100%;
        background-color: $header_background;
        padding: 1rem;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 300;
        
        @if ($global_header-searchbox-as-layer-breakpoint) {
            @include media($global_header-searchbox-as-layer-breakpoint) {
                flex-grow: 1;
                width: auto;
                padding: 0;
                position: initial;
                margin-left: 2rem !important;
                justify-content: $header_searchbox-justify-content;

                .ie11 & {
                    position: inherit;
                    top: inherit;
                }
            }
        } @else {
            @include media('>=laptop') {
                padding: 1rem 0;
            }

            @include media('>=laptopLg') {
                padding: 1.5rem 0;
            }
        }
        
        &--active {
            display: flex;
        }

        @if ($global_header-hide-search-item-trigger-breakpoint) {
            @if ($global_header-hide-search-item-trigger-breakpoint == true) {
                display: flex;
            } @else {
                @include media($global_header-hide-search-item-trigger-breakpoint) {
                    display: flex;
                }

                @if ($global_header-searchbox-as-layer-breakpoint) {
                    @include media($global_header-searchbox-as-layer-breakpoint) {
                        position: relative;
                        padding: 0;
                        top: initial;
                    }
                }
            }
        } 

        @if ($global_header-hide-search-item-trigger-breakpoint and $header_searchbox-justify-content == 'flex-end') {
            @if ($global_header-hide-search-item-trigger-breakpoint == true) {
                margin: 0;
            } @else {
                margin-right: $header_searchbox-margin-to-cover-search-item;
                
                @include media($global_header-hide-search-item-trigger-breakpoint) {
                    margin: 0;
                }
            }
        } @else {
            @if ($header_searchbox-justify-content == 'flex-end') {
                margin-right: $header_searchbox-margin-to-cover-search-item;
            }
        }
    }

    &__user-nav {
        display: flex;
        justify-content: flex-end;
        flex: 0 1 30%;

        @if ($global_header-hide-search-item-trigger-breakpoint) {
            @if ($global_header-hide-search-item-trigger-breakpoint == true) {
                flex: 0 1 25%;
            } @else {
                @include media($global_header-hide-search-item-trigger-breakpoint) {
                    flex: 0 1 25%;
                }
            }
        }
    }
}

@if not($header_is-sticky-on-mobile) {
    @include media('<laptop') {
        .cs-container--header {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
