/**
 * Poppen footer-list component customization that is often included in footer component.
 * export-once mixin makes sure it is only included once in the styles.
 */

@include export-once( 'customizations/footer-list' ) {
    .#{$namespace}footer-list {
        list-style: none;
        padding: 0;
        margin: 0;
        color: inherit;

        &__link {
            font-size: 1.3rem;
            color: $colorGallery;
            font-weight: 200;

            &:visited,
            &:hover {
                color: $colorWhite;
            }
        }
    }
}
