@import 'config/variables';
@import 'vendors/include-media';

// Adjust space between carousel and component below to avoid tiles overlapping
$latest-purchased-products_carousel-margin-bottom: 6rem !default;

.#{$ns}latest-purchased-products {
    margin: 2rem 0;
    padding: 0 0;

    .#{$ns}headline {
        margin-bottom: calc(2 * #{$page-edge-gutter});

        @include media('>=tablet') {
            margin-left: $page_edge-gutter;
        }
    }

    .#{$ns}container--products-carousel {
        padding-left: 0;
        padding-right: 0;
    }

    .#{$ns}products-carousel {
        margin-bottom: $latest-purchased-products_carousel-margin-bottom;
    }
}
