@import 'config/variables';
@import 'config/breakpoints';
@import 'vendors/include-media';
@import 'utils/aspect-ratio';
@import 'utils/component-spacing';
@import 'components/teaser/mixins';

$products-carousel_tile-ratio-width: $tile_aspect-ratio-width !default;
$products-carousel_tile-ratio-height: $tile_aspect-ratio-height !default;

$products-carousel_hide-nav-buttons-on-mobile: false !default;
$products-carousel_nav-button-position-top: calc(
    50% - 1.5rem
) !default; // 1.5rem recompenses half of height of the bullet-pagination

$teaser_hide-nav-buttons-on-mobile: $products-carousel_hide-nav-buttons-on-mobile;
$teaser_nav-button-position-top: $products-carousel_nav-button-position-top;

.#{$ns}products-carousel {
    $root: &;

    @include teaser();
    @include component-spacing();

    &--list {
        #{$root}__nav,
        #{$root}__pagination {
            display: none !important;
        }
    }

    &__wrapper {
        overflow: visible;

        @include media('>=laptop') {
            &:hover {
                z-index: 5;
            }
        }
    }

    &__slides {
        #{$root}--list & {
            flex-wrap: wrap;
        }
    }

    &__slide {
        #{$root}:not(.cs-products-carousel--list) & {
            opacity: 0;
            backface-visibility: hidden;
            overflow: hidden;
            transition: transform 0.15s linear, opacity 0.25s linear 0.1s;

            &:not(#{$root}__slide--in-viewport) {
                transform: scale(0);
            }

            &--in-viewport {
                opacity: 1;
                transform: scale(1);
            }

            &:hover {
                @include media('>=laptop') {
                    z-index: 5;
                    overflow: visible;
                }
            }
        }
    }

    &__product-tile {
        width: 100%;

        #{$root}:not(.cs-products-carousel--list) & {
            @include aspect-ratio(
                $width: $products-carousel_tile-ratio-width,
                $height: $products-carousel_tile-ratio-height,
                $childClass: #{$ns}product-tile,
                $autoposition: true
            );

            @each $key, $values in $tile_aspect-ratio-map {
                @include media(#{$key}) {
                    @include aspect-ratio(
                        $width: nth(map-get($tile_aspect-ratio-map, $key), 1),
                        $height: nth(map-get($tile_aspect-ratio-map, $key), 2),
                        $childClass: #{$ns}product-tile,
                        $autoposition: true
                    );
                }
            }
        }
    }
}
