@import 'config/variables';
@import 'vendors/include-media';
@import 'utils/reset-list-style';

$attachments: 700 !default;

.#{$ns}attachments {
    $root: &;

    @include reset-list-style();

    padding-bottom: 2rem;

    &__item {
        margin: 0.3rem 0 1rem;
    }

    &__link {
        display: inline-flex;
        align-items: center;
        font-size: 1.5rem;
        line-height: 1.2;
    }

    &__icon {
        fill: #888;
        width: 2em;
        height: 2em;
        flex-shrink: 0;
    }

    &__name {
        color: #324dcf;
        margin-left: 1.5rem;
    }

    &__description {
        display: block;
    }
}
