.#{$ns}product-info-brand {
    &__logo {
        display: block;
        margin: 0 0 1rem;
        max-height: 8rem;
    }

    &__name {
        font-size: 1.2rem;
        color: $color_dove-gray;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1.15;
        text-decoration: none !important;
        transition: color 0.15s linear;
    }
}
