// price-box
// This component is responsible for styling prices by markup provided by Magento2
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1
@mixin priceBox() {
    display: inline-block;

    .price {
        font-weight: 700;
        line-height: 1;
        white-space: nowrap;

        &-label {
            display: none;
        }
    }

    .old-price {
        float: left;

        .price {
            font-size: .65rem;
            line-height: 1.15rem;
            text-decoration: line-through;
            vertical-align: text-top;
        }

        // Old price should not be displayed for prices where normal price is "As low as {price}"
        &.no-display {
            display: none;
        }
    }

    .special-price .price {
        padding-left: .4em;
    }
}
