@import 'config/variables';
@import 'components/price-box/mixin';
@import 'components/price-box/variables.scss';
@import 'utils/visually-hidden';

.price-box {
    $root: &;
    @include priceBox();

    .price {
        color: $price-box_normal-price-color;
        font-size: $price-box_normal-price-font-size;
        margin-right: $price-box_space-between-prices;
        margin-left: $price-box_space-between-prices;

        &-label {
            color: $price-box_label-color;
            display: none;
            font-size: $price-box_label-font-size;
            font-weight: 700;
            text-transform: uppercase;
            padding-bottom: 0.3rem;

            body:not(.page-product-bundle, .page-product-grouped)
                p:not(.price-from, .price-to)
                & {
                @include visually-hidden();
            }
        }
    }

    .price-from,
    .price-to {
        display: inline-block;

        .price-label {
            display: inline-block;
            margin-right: $price-box_space-between-prices;
        }
    }

    .old-price {
        text-decoration: none;

        .price {
            font-size: $price-box_old-price-font-size;
            color: $price-box_old-price-color;
        }
    }

    .special-price {
        .price {
            padding-left: 0;
            color: $price-box_special-price-color;
            font-size: $price-box_special-price-font-size;
        }

        &.active {
            .price {
                padding-left: 0.4rem;
                color: $price-box_special-price-color;
            }
        }
    }

    .price-from {
        margin-right: 1.5rem;
    }

    .#{$ns}price--pdp_dailydeal-countdown & {
        &:not(.price-final_price_without_daily_deal) {
            display: none;
        }
    }

    .price-container.price-final_price {
        &:not(:only-child) .price {
            color: $price-box_special-price-color;
        }
    }
}

.#{$ns}bundle-box__add {
    .price-as-configured {
        margin: 1rem 0 0;
    }
}

.minimal-price-link {
    margin-top: 0 !important;
    margin-right: 1.5rem;
    position: relative;

    &:after {
        color: $price-box_normal-price-color;
        display: block;
        content: '-';
        right: -1rem;
        top: 0;
        position: absolute;
    }
}
