/**
 * User area component included within header.
 * This component usually contains links to user account, basket and favourite products.
 */

@import '../badge/badge';

.#{$namespace}header-user-area {
    font-size: 1rem;

    &__section {
        padding: 1rem 0 1rem 1.5rem;
        text-align: center;
        cursor: pointer;
        @include media('>=tablet') {
            width: 33.3%;
        }

        &:hover {
            text-decoration: none;
        }
    }

        &__badge {
            position: absolute;
            display: none; // Hide by default, let JS show when needed.
            top: -.2rem;
            right: -.6rem;

            @include media('>=tablet') {
                right: .2rem;
            }

    &__badge {
        position: absolute;
        display: none; // Hide by default, let JS show when needed.
        top: -.2rem;
        right: -.6rem;
        display: none;
        @include media('>=tablet') {
            right: .2rem;
        }

        &--visible {
            display: block;
        }
    }

    &__icon {
        width: 2.6rem;
        height: 2.6rem;
        display: block;
        margin: 0 auto;
        fill: $colorCeruleanBlue;

        &:hover {
            fill: $colorCeruleanBlueHover;
        }
    }

    &__label {
        margin: 0;
        text-decoration: none;
        white-space: nowrap;
        display: none;

        @include media('>=tablet') {
            display: block;
        }
    }
}
