{% set itemsPerRow = currentScenario.desktopLayout.id %}
{% set itemsPerRowMobile = 2 %}
{% set displayVariant = 'outside' %}
{% set itemsPerViewMobile = 1 %}
{% set itemsPerView = currentScenario.desktopLayout.id %}
{%  if currentScenario.mobileLayout.id == 'large' or currentScenario.mobileLayout.id == 'slider' or currentScenario.mobileLayout.id == 'col' %}
        {% set itemsPerRowMobile = 1 %}
{% endif %}


{% if itemsPerView == 6 %}
    {% set itemsPerViewMobile = 3 %}
    {% set itemsPerRowMobile = 3 %}
{% endif %}

{% if currentScenario.teaserWidth.id == 'w-s' %}
    {% set isSlider = true %}
{% endif %}

{% if currentScenario.mobileLayout.id == 'slider' %}
    {% set isSliderMobile = true %}
{% endif %}

{% if currentScenario.mobileLayout.id == '1-2' %}
    {% set mix = 'cs-image-teaser--big-small-small' %}
{% endif %}

{% if currentScenario.mobileLayout.id == '1-2-1' %}
    {% set mix = 'cs-image-teaser--big-small-small-big' %}
{% endif %}

{% if currentScenario.textPositioning.id == 'over' %}
    {% set displayVariant = 'inside' %}
{% endif %}

<section class="cs-container cs-container--edge-to-edge">
    <div class="cs-container__inner">
        {% include locate('components/image-teaser/image-teaser.twig') with {
            namespace: 'cs-',
            navigation: {
                icons: {
                    prev: {
                        src: '#icon_arrow-left'
                    },
                    next: {
                        src: '#icon_arrow-right'
                    },
                }
            },
            button: {
                class: 'cs-button cs-button--type_long cs-button--look_default',
                icon: {
                    class: 'cs-button__icon',
                    src: '#arrow_next'
                },
                labelClass: 'cs-button__span'
            }
        } %}
    </div>
</section>
