.#{$namespace}product-gallery {

    @include media('>=tablet') {
        min-height: 52rem;
        padding: 0 1rem 0 0;
        margin-top: 0;
    }

    @include media('>=desktop') {
        padding: 1.5rem 3rem 0 0;
    }

    &__container {
        order: 1 !important;
        min-height: 100px;
    }

    &__wrapper {
        padding-bottom: 15px;
        position: relative;

        @include media('>=tablet') {
            padding: 0;
        }
    }

    &__loading-mask,
    &__loading-mask img {
        position: absolute !important;
    }

    &__badge-wrapper {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;

        .#{$namespace}badge {
            margin-left: .3rem;
        }
    }

}
