.#{$namespace}product-gallery {

    margin-top: 2rem;
    @include media('>=tablet') {
        min-height: 52rem;
        padding: 1.5rem 3rem 0 0;
        margin-top: 0;
    }

    &__badge-wrapper {
        display: flex;
        position: absolute;
        top: 2rem;
        right: 2rem;
        @include media('>=tablet') {
            top: 4rem;
            right: 5rem;
        }

        .#{$namespace}badge {
            margin-left: .3rem;
        }
    }

}
