.#{$namespace}product-gallery {
    @include media('>=tablet') {
        min-height: 52rem;
        padding: 0.5rem 1rem 0 0;
        margin-top: 0;
    }

    @include media('>=laptop') {
        padding: 0;
    }

    @include media('<tablet') {
        &._block-content-loading {
            padding-bottom: 100%;
        }
    }

    &__container {
        order: 1 !important;
        min-height: 100px;

        @include media('>=laptop') {
            overflow: hidden;
            margin: 0;
            width: 65%;
            padding-left: 0;
            padding-right: 0;
        }

        .#{$namespace}container__main-column {
            @include media('>=laptop') {
                width: auto;
                padding-right: 0;
            }
        }
    }

    &__wrapper {
        padding-bottom: 15px;
        position: relative;

        @include media('>=tablet') {
            padding: 0;
        }
    }

    &__loading-mask {
        position: absolute;
        background: transparent;
        z-index: -1;
    }

    &__loader {
        & img {
            position: absolute !important;
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__badge-wrapper {
        position: absolute;
        top: 0;
        right: 0.4rem;
        z-index: 1;

        .#{$namespace}badge--round {
            margin-left: 0;
        }

        @include media('>=tablet', '<laptop') {
            top: 0.5rem;
        }
    }
}
