/**
 * Generic list component customized.
 * This component usually contain different versions of lists present on the website.
 */

@import '../../components/list/list';

@include export-once( 'customizations/list' ) {
    .#{$namespace}list {
        @include list();
        $root: &;

        margin: 0;
        padding: 0;

        &--multiline {
            width: 100%;
        }

        &--menu {
            display: flex;
            padding-bottom: 1rem;
            border-bottom: 1px solid $colorGallery;

            li {
                @extend #{$root}__item;
                @extend #{$root}__item--menu;
            }

            a {
                @extend .#{$namespace}link;
            }
        }

        &--menu-dark {
            border-bottom: 1px solid $colorAlto;
        }

        &__item {
            font-size: 1.4rem;
            margin: 0;
            padding: .4em 1.5rem .5rem 0;
            display: flex;
            align-items: center;
            box-sizing: border-box;

            &--half {
                width: 50%;
            }

            &--inputs {
                width: 100%;
                @include media('>=phone-lg') {
                    width: 50%;
                }
                @include media('>=tablet') {
                    width: 33%;
                }
                @include media('>=laptop') {
                    width: 25%;
                }
            }

            &--menu {
                font-size: 1.4rem;
                color: $colorDoveGray;
                padding: .8rem 1.8rem;
                border-right: 1px solid $colorGallery;

                &:last-child {
                    border-right: none !important;

                    &:first-child {
                        display: none;
                    }
                }

                &:first-child {
                    padding-left: 0;
                }

            }

            &--menu-dark {
                @extend .#{$root}__item--menu;
                border-right: 1px solid $colorAlto !important;

                #{$root}__link {
                    font-weight: 700;
                }
            }
        }

        &__link {
            color: $colorDoveGray !important;
            text-decoration: none;
            cursor: pointer;

            &:hover,
            &:visited,
            &:active {
                color: $colorDoveGray !important;
                text-decoration: none;
            }


            .counter {
                margin-left: .3rem;
                display: inline-block;

                &:before {
                    content: '(';
                }

                &:after {
                    content: ')';
                }
            }

        }

        &__bullet {
            margin-right: .455em;

            &--tick {
                width: .7em;
                height: .727em;
                padding-right: .2rem;
                fill: $colorApple;
            }

            &--close {
                width: 1rem;
                height: 1rem;
                fill: $colorDoveGray;
                margin-right: .7em;
            }

        }
    }
}
