.#{$ns}list {
    @include list();
    $root: &;
    margin: 0;
    padding: 0;

    &__item {
        font-size: 1.4rem;
        margin: 0;
        padding: 0.4em 1.5rem 0.5rem 0;
        display: flex;
        align-items: center;
        box-sizing: border-box;

        &--bold {
            font-weight: 600;
        }
    }

    &__flex-link {
        display: flex;
        align-items: center;
    }

    &__bullet {
        margin-right: 0.455em;

        &--tick {
            width: 0.7em;
            height: 0.727em;
            padding-right: 0.2rem;
            fill: $color_apple;
        }

        &--article {
            width: 2.7rem;
            height: 3rem;
            fill: $color_gray;
            margin-right: 1.2rem;

            @include media('>=laptop') {
                margin-right: 2rem;
            }
        }
    }
}
