<!-- This file has been overwritten in order to:
    - move product price to product overview wrapper
    - add product to product overview wrapper
    - add SVG for See Details
    - add conditions for boolean variables from XML -->

<li class="item product product-item cs-minicart__list-item" data-role="product-item">
    <div class="product cs-minicart-product">
        <!-- ko if: product_has_url -->
        <a data-bind="attr: {href: product_url, title: product_name}" tabindex="-1" class="product-item-photo cs-minicart-product__image-container">
            <!-- ko foreach: $parent.getRegion('itemImage') -->
            <!-- ko template: {name: getTemplate(), data: item.product_image} -->
            <!-- /ko -->
            <!-- /ko -->
        </a>
        <!-- /ko -->
        <!-- ko ifnot: product_has_url -->
        <span class="product-item-photo cs-minicart-product__image-container">
            <!-- ko foreach: $parent.getRegion('itemImage') -->
            <!-- ko template: {name: getTemplate(), data: item.product_image} -->
            <!-- /ko -->
            <!-- /ko -->
        </span>
        <!-- /ko -->
        <div class="product-item-details cs-minicart-product__details">
            <div class="cs-minicart-product__overview">
                <div class="cs-minicart-product__name-wrapper">
                    <!-- ko if: $data.product_brand -->
                    <div class="cs-minicart-product__brand-wrapper">
                        <span class="cs-minicart-product__brand" data-bind="text: product_brand"></span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: product_has_url -->
                    <a class="product-item-name cs-minicart-product__name" data-bind="attr: {href: product_url}, html: product_name"></a>
                    <!-- /ko -->
                    <!-- ko ifnot: product_has_url -->
                    <!-- ko text: product_name -->
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
                <div class="product-item-pricing cs-minicart-product__item-pricing">
                    <!-- ko if: canApplyMsrp -->
                    <div class="details-map">
                        <span class="label" data-bind="i18n: 'Price'"></span>
                        <span class="value" data-bind="i18n: 'See price before order confirmation.'"></span>
                    </div>
                    <!-- /ko -->
                    <!-- ko ifnot: canApplyMsrp -->
                    <!-- ko foreach: $parent.getRegion('priceSidebar') -->
                    <!-- ko template: {name: getTemplate(), data: item.product_price, as: 'price'} -->
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- /ko -->
                </div>

                <!-- ko if: options.length -->
                <!-- ko if: $parent.showProductOptions -->
                <div class="product options cs-minicart-product__options-wrapper">
                    <span data-role="title" class="toggle cs-minicart-product__options-title">
                        <!-- ko i18n: 'See Details' -->
                        <!-- /ko -->
                        <img class="inline-svg cs-minicart-product__options-title-svg" data-bind="attr: { src: require.toUrl('images/icons/arrow_down.svg') }" alt="">
                    </span>
                    <div data-role="content" class="content cs-minicart-product__options-content">
                        <strong class="subtitle cs-minicart-product__options-subtitle">
                            <!-- ko i18n: 'Options Details' -->
                            <!-- /ko --></strong>
                        <!-- ko foreach: { data: options, as: 'option' } -->
                        <dl class="product options list cs-minicart-product__options-group">
                            <!-- ko if: (item && item['product_type'] && item['product_type'] !== 'bundle') -->
                            <dt class="label cs-minicart-product__options-label">
                                <!-- ko text: option.label -->
                                <!-- /ko --></dt>
                            <!-- /ko -->
                            <dd class="values cs-minicart-product__options-value">
                                <!-- ko if: Array.isArray(option.value) -->
                                <span data-bind="html: option.value.map(function(value) {
                                    return '<span class=\'cs-minicart-product__options-value__value\'>' + value + '</span>';
                                }).join('')"></span>
                                <!-- /ko -->
                                <!-- ko ifnot: Array.isArray(option.value) -->
                                <span data-bind="html: option.value"></span>
                                <!-- /ko -->
                            </dd>
                        </dl>
                        <!-- /ko -->
                    </div>
                </div>
                <!-- /ko -->
                <!-- /ko -->
            </div>

            <div class="product actions cs-minicart-product__actions">
                <!-- ko if: $parent.useDefaultQty -->
                <div class="details-qty qty cs-minicart-product__qty">
                    <label class="label cs-minicart-product__qty-label" data-bind="i18n: 'Qty', attr: {
                            for: 'cart-item-'+item_id+'-qty'}"></label>
                    <input data-bind="attr: {
                            id: 'cart-item-'+item_id+'-qty',
                            'data-cart-item': item_id,
                            'data-item-qty': qty,
                            'data-cart-item-id': product_sku
                            }, value: qty"
                        type="number" size="4" class="item-qty cart-item-qty cs-minicart-product__qty-input">
                    <button data-bind="attr: {
                            id: 'update-cart-item-'+item_id,
                            'data-cart-item': item_id,
                            title: $t('Update')
                            }"
                        class="update-cart-item cs-minicart-product__qty-button" style="display: none">
                        <img class="inline-svg cs-minicart-product__qty-button-icon" data-bind="attr: { src: require.toUrl('images/icons/minicart-product/icon-update.svg') }"
                            alt="">
                        <span data-bind="i18n: 'Update'" class="cs-minicart-product__qty-button-span"></span>
                    </button>
                </div>
                <!-- /ko -->
                <!-- ko ifnot: $parent.useDefaultQty -->
                <div class="cs-qty-increment">
                    <input  data-bind="attr: {
                            id: 'cart-item-'+item_id+'-qty',
                            'data-cart-item': item_id,
                            'data-item-qty': qty,
                            'data-cart-item-id': product_sku
                            }, value: qty"
                            type="number" size="4" class="item-qty cart-item-qty cs-minicart-product__qty-input cs-qty-increment__input">
                    <span
                        role="button"
                        data-bind="attr: {
                        'data-cart-item': item_id,
                        'disabled': qty <= 1
                        }"
                        tabindex="0"
                        class="cs-qty-increment__button cs-qty-increment__button--decrement"
                        aria-pressed="false"
                    >
                        <img class="inline-svg cs-qty-increment__icon cs-qty-increment__icon--decrement" data-bind="attr: { src: require.toUrl('images/icons/qty-increment/minus.svg') }"
                            alt="Decrement product quantity icon">
                    </span>
                    <span role="button" data-bind="attr: {'data-cart-item': item_id}" tabindex="0" class="cs-qty-increment__button cs-qty-increment__button--increment" aria-pressed="false">
                        <img class="inline-svg cs-qty-increment__icon cs-qty-increment__icon--increment" data-bind="attr: { src: require.toUrl('images/icons/qty-increment/plus.svg') }"
                            alt="Increment product quantity icon">
                    </span>
                    <button data-bind="attr: {
                            id: 'update-cart-item-'+item_id,
                            'data-cart-item': item_id,
                            title: $t('Update')
                            }"
                        class="update-cart-item cs-minicart-product__qty-button" style="display: none">
                        <span data-bind="i18n: 'Update'" class="cs-minicart-product__qty-button-span"></span>
                    </button>
                </div>
                <!-- /ko -->

                <!-- ko if: is_visible_in_site_visibility -->
                <!-- ko if: $parent.showEditProductButton -->
                <div class="primary cs-minicart-product__action-wrapper cs-minicart-product__action-wrapper--primary">
                    <a data-bind="attr: {href: configure_url, title: $t('Edit item')}" class="action edit cs-minicart-product__action cs-minicart-product__action--edit">
                        <img class="inline-svg cs-minicart-product__action-icon cs-minicart-product__action-icon--edit"
                            data-bind="attr: { src: require.toUrl('images/icons/minicart-product/icon-edit.svg') }" alt="">
                        <span class="cs-minicart-product__action-label" data-bind="i18n: 'Edit item'"></span>
                    </a>
                </div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: $parent.showRemoveProductButton -->
                <div class="secondary cs-minicart-product__action-wrapper cs-minicart-product__action-wrapper--secondary">
                    <a href="#" data-bind="attr: {'data-cart-item': item_id, title: $t('Remove item')}" class="action delete cs-minicart-product__action cs-minicart-product__action--remove">
                        <img class="inline-svg cs-minicart-product__action-icon cs-minicart-product__action-icon--remove"
                            data-bind="attr: { src: require.toUrl('images/icons/minicart-product/icon-remove.svg') }"
                            alt="">
                        <span class="cs-minicart-product__action-label" data-bind="i18n: 'Remove item'"></span>
                    </a>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</li>
