
<div class="billing-address-same-as-shipping-block cs-input cs-input--type-checkbox | choice" data-bind="visible: canUseShippingAddress()">
    <input type="checkbox" class="cs-input__checkbox" name="billing-address-same-as-shipping" data-bind="checked: isAddressSameAsShipping, click: useShippingAddress, attr: {id: 'billing-address-same-as-shipping-' + getCode($parent)}"/>
    <label class="cs-input__label" data-bind="attr: {for: 'billing-address-same-as-shipping-' + getCode($parent)}"><span data-bind="i18n: 'My billing and shipping address are the same'"></span></label>
</div>

<render args="detailsTemplate"/>

<fieldset class="cs-form__fieldset" data-bind="visible: !isAddressDetailsVisible()">
    <each args="getRegion('billing-address-list')" render="" />

    <render args="formTemplate"/>

    <render args="actionsTemplate"/>
</fieldset>
