<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="cs-checkout__estimation" data-bind="blockLoader: isLoading">
    <div class="cs-checkout__estimation-block">
        <span class="cs-checkout__estimation-label" data-bind="i18n: 'Estimated Total:'"></span>
        <span class="cs-checkout__estimation-price" data-bind="text: getValue()"></span>
    </div>
    <div class="cs-checkout__estimation-button-wrapper">
        <button type="button" class="cs-checkout__estimation-button | cs-button cs-button--type_wide-mobile cs-button--look_light" data-bind="click: showSidebar" data-toggle="opc-summary">
            Show all products
            <span class="cs-badge cs-badge--amount | cs-button__badge">
                <span class="cs-badge__span" data-bind="text: getQuantity()"></span>
            </span>
        </button>
    </div>
</div>
