<div class="cs-checkout__sidebar-bottom" data-bind="css: { 'cs-no-display': isHidden() }">
    <button data-role="opc-continue" class="cs-checkout__sidebar-button | cs-checkout-button-next"
        data-bind="attr: { 'disabled': isDisabled() }">
        <span class="cs-checkout__sidebar-button-span">
            <!-- ko i18n: 'Next'-->
            <!-- /ko --></span>
        <svg class="cs-checkout__sidebar-button-icon">
            <use xlink:href="#arrow_next"></use>
        </svg>
    </button>
</div>
