<div class="cs-checkout__sidebar-bottom" data-bind="css: { 'cs-no-display': isHidden() }">
    <button data-role="opc-continue" class="cs-button cs-button--type_long cs-button--look_default cs-button--type_wide | cs-checkout-button-next"
        data-bind="attr: { 'disabled': isDisabled() }">
        <span class="cs-button__wrapper">
            <span class="cs-button__span">
                <!-- ko i18n: 'Next'-->
                <!-- /ko --></span>
            <svg class="cs-button__icon">
                <use xlink:href="#arrow_next"></use>
            </svg>
        </span>
    </button>
</div>
