<!--
/**
 * Template overriden to:
 - [0] add wrappers and classes
 - [1] add possibility to navigate to the step using keyboard
 * Aligned with Magento 2.4.9 in 05/2026
 */
-->
<nav class="cs-checkout__progress-bar" data-bind="attr: { 'aria-label': $t('Checkout Progress') }">
    <ul class="cs-progress-bar">
        <!-- ko foreach: { data: steps().sort(sortItems), as: 'item' } -->
        <li class="cs-progress-bar__item" data-bind="css: item.isVisible() ? '_active' : ($parent.isProcessed(item) ? '_complete' : ''), attr: { 'aria-current': item.isVisible() ? 'step' : undefined }">
            <!-- [1] keyboard navigation via native button -->
            <button type="button"
                    class="cs-progress-bar__indicator-wrapper"
                    data-bind="
                        click: $parent.navigateTo,
                        disable: !$parent.isProcessed(item)
                    ">
                <span class="cs-progress-bar__indicator"></span>
            </button>
            <span class="cs-progress-bar__item-text" data-bind="i18n: item.title, click: $parent.navigateTo"></span>
        </li>
        <!-- /ko -->
    </ul>
</nav>
