<!--
/**
 * There is custom design for log in functionality in the checkout
 * There are tabs instead of login modal (special area authentication-tab)
 */
-->
<li id="shipping" class="checkout-shipping-address" data-bind="fadeVisible: visible()">
    <div id="checkout-step-shipping"
         data-role="content">

        <!-- ko ifnot: isCustomerLoggedIn -->
        <!-- ko if: hasEmail() -->
        <div class="cs-checkout__step-tabs" >
            <div class="cs-tabs" data-bind="mageInit: {'tabs':{'openedState': 'cs-tabs__title--active'}}">

                <div class="cs-tabs__triggers">
                    <div class="cs-tabs__title"
                         data-role="collapsible" id="tab-label-new-user">
                        <a class="cs-tabs__title-link"
                           tabindex="-1"
                           data-toggle="switch"
                           href="#tab-new-user"
                           id="tab-new-user-title"
                           click="enableForm"
                           translate="'New user'">
                        </a>
                    </div>

                    <div class="cs-tabs__title"
                         data-role="collapsible" id="tab-label-customer">
                        <a class="cs-tabs__title-link"
                           tabindex="-1"
                           data-toggle="switch"
                           href="#tab-new-user"
                           id="tab-customer-title"
                           click="disableForm"
                           translate="'I have an account'">
                        </a>
                    </div>
                </div>


                <div class="cs-tabs__content" id="tab-new-user" data-role="content">
                    <!-- ko if: (!quoteIsVirtual) -->
                    <!-- ko foreach: getRegion('customer-email') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                    <!--/ko-->
                </div>


                <div class="cs-tabs__content" id="tab-customer" data-role="content">
                    <!-- ko foreach: getRegion('authentication-tab') -->
                    <!-- ko template: 'Magento_Checkout/authentication-tab' --><!-- /ko -->
                    <!--/ko-->
                </div>

            </div>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        
        <div class="cs-checkout__shipping-method-wrapper">

            <h2 class="step-title" translate="'Shipping Address'" data-role="title" />

            <each args="getRegion('address-list')" render="" />
            <each args="getRegion('address-list-additional-addresses')" render="" />

            <!-- Address form pop up -->
            <if args="!isFormInline">
                <button type="button"
                        class="action action-show-popup"
                        click="showFormPopUp"
                        visible="!isNewAddressAdded()">
                    <span translate="'New Address'" />
                </button>
                <div id="opc-new-shipping-address"
                     visible="isFormPopUpVisible()"
                     render="shippingFormTemplate" />
            </if>

            <each args="getRegion('before-form')" render="" />

            <!-- Inline address form -->
            <render if="isFormInline" args="shippingFormTemplate" />
        </div>


    </div>
</li>

<!--Shipping method template-->
<li id="opc-shipping_method"
    class="checkout-shipping-method"
    data-bind="fadeVisible: visible(), blockLoader: isLoading"
    role="presentation">
    <div class="checkout-shipping-method cs-checkout__shipping-method">
        <h2 class="step-title"
             translate="'Shipping Methods'"
             data-role="title" />

        <each args="getRegion('before-shipping-method-form')" render="" />

        <div id="checkout-step-shipping_method"
             class="step-content"
             data-role="content"
             role="tabpanel"
             aria-hidden="false">

            <form id="co-shipping-method-form"
                  class="form methods-shipping"
                  if="rates().length"
                  submit="setShippingInformation"
                  novalidate="novalidate">

                <render args="shippingMethodListTemplate"/>

                <div id="onepage-checkout-shipping-method-additional-load">
                    <each args="getRegion('shippingAdditional')" render="" />
                </div>
                <div role="alert"
                     if="errorValidationMessage().length"
                     class="message notice">
                    <span text="errorValidationMessage()" />
                </div>
                <div class="actions-toolbar" id="shipping-method-buttons-container">
                    <div class="primary">
                        <button data-role="opc-continue" type="submit" class="button action continue primary">
                            <span translate="'Next'" />
                        </button>
                    </div>
                </div>
            </form>
            <div class="no-quotes-block"
                 ifnot="rates().length > 0"
                 translate="'Sorry, no quotes are available for this order at this time'" />
        </div>
    </div>
</li>
