<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: (isVisible()) -->
<div class="shipping-information">
    <div class="ship-to">
        <div class="cs-checkout__summary-title | cs-t-headline cs-t-headline--size_2 cs-t-headline--look_light cs-t-headline--look_bordered">
            <span data-bind="i18n: 'Ship To:'"></span>
            <button class="cs-link" data-bind="click: back">
                <span class="cs-visually-hidden" data-bind="i18n: 'edit'"></span>
                <span class="cs-link__icon cs-link__icon--edit"></span>
            </button>
        </div>
        <div class="cs-checkout__summary-text | cs-t-text cs-t-text--size_300">
            <!-- ko foreach: getRegion('ship-to') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
    </div>
    <div class="ship-via">
        <div class="cs-checkout__summary-title | cs-t-headline cs-t-headline--size_2 cs-t-headline--look_light cs-t-headline--look_bordered">
            <span data-bind="i18n: 'Shipping Method:'"></span>
            <button class="cs-link" data-bind="click: backToShippingMethod">
                <span class="cs-visually-hidden" data-bind="i18n: 'edit'"></span>
                <span class="cs-link__icon cs-link__icon--edit"></span>
            </button>
        </div>
        <div class="cs-checkout__summary-text | cs-t-text cs-t-text--size_300">
            <span class="value" data-bind="text: getShippingMethodTitle()"></span>
        </div>
    </div>
</div>
<!--/ko-->
