<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: (isVisible()) -->
<div class="shipping-information">
    <div class="cs-checkout__shipping-information-to | ship-to">
        <div class="cs-checkout__summary-title cs-checkout__summary-title--bordered">
            <span data-bind="i18n: 'Ship To'"></span>
            <button class="cs-checkout__summary-edit | cs-link" data-bind="click: back">
                <span data-bind="i18n: 'Edit'"></span>
                <svg class="cs-link__icon cs-link__icon--edit">
                    <use xlink:href="#edit"></use>
                </svg>
            </button>
        </div>
        <div class="cs-checkout__summary-text">
            <!-- ko foreach: getRegion('ship-to') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
    </div>
    <div class="cs-checkout__shipping-information-via | ship-via">
        <div class="cs-checkout__summary-title cs-checkout__summary-title--bordered">
            <span data-bind="i18n: 'Shipping Method'"></span>
            <button class="cs-checkout__summary-edit | cs-link" data-bind="click: backToShippingMethod">
                <span data-bind="i18n: 'Edit'"></span>
                <svg class="cs-link__icon cs-link__icon--edit">
                    <use xlink:href="#edit"></use>
                </svg>
            </button>
        </div>
        <div class="cs-checkout__summary-text">
            <span class="value" data-bind="text: getShippingMethodTitle()"></span>
        </div>
    </div>
</div>
<!--/ko-->
