<!--
/**
 * Template overridden in order to:
 * - add additional wrapper to sidebar
 * - remove next button and add it to custom template
 * Aligned with Magento 2.4.7 in 04/2024
 */
-->

<div class="cs-checkout__sidebar">
    <div class="cs-checkout__sidebar-inner">
        <div class="opc-block-shipping-information">
            <!-- ko foreach: getRegion('shipping-information') -->
            <!-- ko template: getTemplate() -->
            <!-- /ko -->
            <!--/ko-->
        </div>

        <!-- ko foreach: getRegion('summary') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>

    <!-- ko foreach: getRegion('next-button') -->
    <!-- ko template: getTemplate() -->
    <!-- /ko -->
    <!--/ko-->
</div>
