@import 'config/variables';
@import 'components/typography/mixin';

$page-title_font-size: $font-size_headline-1 !default;
$page-title_text-transform: none !default;
$page-title_font-weight: 600 !default;

.page-title {
    @include headline($level: $page-title_font-size);
    padding-bottom: 1rem;
    text-transform: $page-title_text-transform;
    font-weight: $page-title_font-weight;
}

