$ns: 'cs-' !default;

.#{$ns}searchresults-switcher {
    $root: &;

    display: none;

    &__triggers {
        overflow: visible !important;
    }

    &__content {
        padding: 2rem 0 !important;

        &:not(&--active) {
            display: none;
        }

        @include media('>=desktop') {
            padding: 3rem 0 !important;
        }

        &--active + &--active {
            border-top: 1px solid $color_alto;
        }
    }

    &__messages:not(&__messages--visible) {
        display: none;
    }

    &__overall-count:not(:empty) {
        &:before {
            content: '(';
        }

        &:after {
            content: ')';
        }
    }
}
