{% include locate( 'components/indicators/fast-shipping.twig' ) with { 
    'namespace': 'cs-',
    'timeLabels': {
        'day': translate('day'),
        'days': translate('days'),
        'hour': translate('hour'),
        'hours': translate('hours'),
        'minute': translate('minute'),
        'minutes': translate('minutes')
    },
    'variants': {
        'today': '<span class="cs-box-addtocart__label | cs-indicators__fast-shipping-label"><svg class="cs-indicators__fast-shipping-icon"><use xlink:href="#truck_fast-shipping"></use></svg></span><span class="cs-indicators__fast-shipping-text"><span class="cs-indicators__fast-shipping-important cs-indicators__fast-shipping-important--positive">' ~ translate('Fast shipping available') ~ '</span> ' ~ translate('Only if you order until %1', '<span class="cs-indicators__fast-shipping-time-left"></span>') ~ '</span>',
        'tomorrow': '<span class="cs-box-addtocart__label | cs-indicators__fast-shipping-label"><svg class="cs-indicators__fast-shipping-icon"><use xlink:href="#truck_in-stock"></use></svg></span><span class="cs-indicators__fast-shipping-text"><span class="cs-indicators__fast-shipping-important cs-indicators__fast-shipping-important--positive">' ~ translate('In stock') ~ '</span> ' ~ translate('Shipping on the next working day') ~ '</span>',
        'other': '<span class="cs-box-addtocart__label | cs-indicators__fast-shipping-label"><svg class="cs-indicators__fast-shipping-icon"><use xlink:href="#truck_in-stock"></use></svg></span><span class="cs-indicators__fast-shipping-text"><span class="cs-indicators__fast-shipping-important cs-indicators__fast-shipping-important--positive">' ~ translate('In stock') ~ '</span> ' ~ translate('Shipping on %1', '<span class="cs-indicators__fast-shipping-delivery-day"></span>') ~ '</span>'
    }
} %}
