// T-text
// T-text is a basic typography text class - it has t- prefix. It has also additional light look modifier
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1
@mixin t-text($font-size, $font-family, $color-base, $color-light) {
    font-size: $font-size;
    @include font-family($font-family);
    font-weight: 400;
    color: $color-base;
    &--look {
        &_light {
            color: $color-light;
            font-weight: 300;
        }
    }
}
