.#{$ns}links-block-addto {
    $root: &;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-top: 0.8rem;

    .page-product-bundle & {
        margin-top: 1rem;
    }

    .#{$ns}product-tile__addon & {
        padding-top: 0;
    }

    &--centered {
        justify-content: center;
    }

    &__item {
        margin: 0 0 0.5rem;

        &:nth-child(2n) {
            text-align: right;

            #{$root}__icon {
                order: 2;
                margin-left: 0.5rem;
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        color: $color_dove-gray;
        transition: color 0.15s linear;

        &:hover {
            color: $color_torea-bay;
            text-decoration: none;
        }
    }

    &__icon {
        width: 1.375em;
        height: 1.375em;
        margin-right: 0.4rem;

        path {
            fill: $color_gray;
        }

        &--wishlist {
            path {
                fill: $color_crimson;
            }
        }

        &--compare {
            path {
                fill: $color_cerulean-blue;
            }
        }
    }
}
