.#{$namespace}links-block-addto {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &--centered {
        justify-content: center;
    }

    &__item {
        margin: 0 0 .5rem;

        &:nth-child( 2n ) {
            text-align: right;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        color: $colorDoveGray;
        transition: color .15s linear;

        &:hover {
            color: $colorCeruleanBlueHover;
            text-decoration: none;
        }
    }

    &__icon {
        width: 1.375em;
        height: 1.375em;
        fill: $colorGray;
        margin-right: .4rem;

        &--wishlist {
            fill: $colorCrimson;
        }

        &--compare {
            fill: $colorCeruleanBlue;
        }
    }
}
