.fotorama {
    &__stage {
        &__shaft {
            margin: 0 auto !important;
        }
    }

    &__nav {
        &__frame {
            box-sizing: border-box !important;
        }

        &__shaft {
            @include media('<tablet') {
                text-align: center !important;
                padding: 2rem 0 0;
            }
        }
    }
}
