/*
  In order to use custom font in child project override this file or change path in Magento_Theme/layout/default.xml `local.fonts.css`
  You can use https://google-webfonts-helper.herokuapp.com/ to generate local fonts
  Store fonts in src/web/fonts
*/

/* libre-franklin-300 - latin-ext_latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local(''),
         url('../fonts/libre-franklin-v11-latin-ext_latin-300.woff2') format('woff2'), 
         url('../fonts/libre-franklin-v11-latin-ext_latin-300.woff') format('woff'); 
  }
  /* libre-franklin-regular - latin-ext_latin */
  @font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('../fonts/libre-franklin-v11-latin-ext_latin-regular.woff2') format('woff2'), 
         url('../fonts/libre-franklin-v11-latin-ext_latin-regular.woff') format('woff'); 
  }
  /* libre-franklin-700 - latin-ext_latin */
  @font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''),
         url('../fonts/libre-franklin-v11-latin-ext_latin-700.woff2') format('woff2'), 
         url('../fonts/libre-franklin-v11-latin-ext_latin-700.woff') format('woff'); 
  }
  /* libre-franklin-900 - latin-ext_latin */
  @font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local(''),
         url('../fonts/libre-franklin-v11-latin-ext_latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/libre-franklin-v11-latin-ext_latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }