/* libre-franklin-300 - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local(''),
        url('../fonts/libre-franklin-v11-latin-300.woff2') format('woff2'),
        url('../fonts/libre-franklin-v11-latin-300.woff') format('woff');
}
/* libre-franklin-regular - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
        url('../fonts/libre-franklin-v11-latin-regular.woff2') format('woff2'),
        url('../fonts/libre-franklin-v11-latin-regular.woff') format('woff');
}
/* libre-franklin-700 - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''),
        url('../fonts/libre-franklin-v11-latin-700.woff2') format('woff2'),
        url('../fonts/libre-franklin-v11-latin-700.woff') format('woff');
}
/* libre-franklin-900 - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local(''),
        url('../fonts/libre-franklin-v11-latin-900.woff2') format('woff2'),
        url('../fonts/libre-franklin-v11-latin-900.woff') format('woff');
}
