@import 'config/variables';
@import 'vendors/include-media';
@import 'utils/visually-hidden';

@import 'components/field/mixin';
@import 'components/button/mixin';

$header-search_height: 2.875em !default;
$header-search_font-size: 1.4rem !default;

// Width of the search field. Works only for `$global_header-searchbox-as-layer-breakpoint` breakpoint, in other case it's always 100%
$header-search-width-as-layer: 50% !default;

$header-search_close-color: $color_text-400 !default;

$header-search_button-type: $button_default-type !default;
$header-search_button-width: 5rem !default;
$header-search_button-border-radius: 0 !important !default;
$header-search_button-transform: $transform_skew-400 translateX(0.7rem) !default;

$header-search_icon-search-color: $color_text-200 !default;
$header-search_icon-search-color-hover: $color_text-200 !default;
$header-search_icon-loader-color: $color_text-200 !default;
$header-search_icon-transform: $transform_skew-400-revert translateX(-0.3rem) !default;

$header-search_button-container-transition: transform 0.5s
        $transition-easing_slowdown-900,
    opacity 0.15s linear !default;

.#{$ns}header-search {
    $root: &;

    width: 100%;
    position: relative;

    @if ($global_header-searchbox-as-layer-breakpoint) {
        @include media($global_header-searchbox-as-layer-breakpoint) {
            width: $header-search-width-as-layer;
        }
    }

    &__input {
        @include field-input();

        font-size: $header-search_font-size;
        position: relative;
        margin-top: 0;
        z-index: 210;
        margin: 0;
        -webkit-appearance: none;

        &:focus {
            + #{$root}__action {
                .ajax-loading & {
                    #{$root}__button-container--search {
                        transform: translateX(100%);
                        opacity: 0;
                    }

                    #{$root}__button-container--loader {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__action {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 220;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top-right-radius: $border-radius_base;
        border-bottom-right-radius: $border-radius_base;
    }

    &__close-icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
        display: block;
        opacity: 0.6;
        transition: opacity 0.3s linear;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }

        @if ($global_header-hide-search-item-trigger-breakpoint) {
            @if ($global_header-hide-search-item-trigger-breakpoint == true) {
                display: none;
            } @else {
                @include media(
                    $global_header-hide-search-item-trigger-breakpoint
                ) {
                    display: none;
                }
            }
        }

        path {
            fill: $header-search_close-color;
        }
    }

    &__close-label {
        @include visually-hidden();
    }

    &__button-container {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        transition: $header-search_button-container-transition;

        &--search {
            transform: translateX(0);
        }

        &--loader {
            transform: translateX(100%);
        }
    }

    &__button {
        @include button(
            $type: $header-search_button-type,
            $icon_pos: 'only-icon'
        );

        width: $header-search_button-width;
        height: 100%;
        overflow: hidden;
        position: relative;
        border-radius: $header-search_button-border-radius;
        backface-visibility: hidden;
        transform: $header-search_button-transform;

        &[disabled] {
            opacity: 1;
        }
    }

    &__button-icon {
        transform: $header-search_icon-transform;

        &--search {
            width: 2rem;
            height: 2rem;

            path {
                fill: $header-search_icon-search-color;
            }
        }

        &--loader {
            stroke: $header-search_icon-loader-color;
            width: 3.2rem;
            height: 3.2rem;
        }
    }

    &__button-label {
        @include visually-hidden();
    }

    &__autocomplete {
        width: 100% !important;
        top: 100%;
        left: 0;
    }
}
