<!--
/**
 * File has been overwritten in order to add Creativeshop classes
 */
-->

<div class="fieldset-wrapper-repertus"
     data-bind="visible: $data.visible === undefined ? true: $data.visible,
                css: $data.additionalClasses,
                attr: {'data-level': $data.level, 'data-index': index}">
    <div class="fieldset-wrapper-content">
        <!-- ko if: opened() || _wasOpened -->
        <fieldset class="cs-form__fieldset">
            <!-- ko foreach: {data: elems, as: 'element'} -->
            <!-- ko if: hasTemplate() -->
                <!-- ko template: getTemplate() -->
                <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
        </fieldset>
        <!-- /ko -->
    </div>
</div>

