<!--
/**
 * File has been overwritten in order to customize markup and fix translation issues
 */
-->

<div class="fieldset-wrapper-repertus"
     data-bind="visible: $data.visible === undefined ? true: $data.visible,
                afterRender: afterRenderFieldSet,
                css: $data.additionalClasses,
                attr: {'data-level': $data.level, 'data-index': index}">
    <div class="fieldset-wrapper-content">
        <!-- ko if: opened() || _wasOpened -->
        <fieldset class="cs-form__fieldset">
            <!-- ko foreach: {data: elems, as: 'element'} -->
            <!-- ko if: hasTemplate() -->
                <!-- ko template: getTemplate() -->
                <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
        </fieldset>
        <!-- /ko -->
    </div>
</div>

<div class="repertus_packstation--search-modal" data-bind="attr: {title: $t('Search for Packstation/Post office')}" data-modal-title="Search for Packstation/Post office">
    <div class="cs-form">
        <div class="tonur_packstation_input">
            <div class="cs-form__fieldset">
                <div class="cs-input | cs-form__field cs-form__field--repertus-zip required">
                    <label class="cs-input__label" for="packstation_zipcode">
                        <span data-bind="i18n: 'Zip Code'"></span>
                    </label>
                    <div class="cs-input__control">
                        <input 
                            name="packstation[zipcode]" 
                            type="text" 
                            id="packstation_zipcode" 
                            value="" 
                            maxlength="5" 
                            class="cs-input__input required" 
                        />
                    </div>
                </div>

                <div class="cs-input | cs-form__field required">
                    <label class="cs-input__label" for="packstation_city">
                        <span data-bind="i18n: 'City'"></span>
                    </label>
                    <div class="cs-input__control">
                        <input 
                            name="packstation[city]" 
                            type="text"  
                            id="packstation_city" 
                            value="" 
                            size="25" 
                            class="cs-input__input required" 
                        />
                    </div>
                </div>
            </div>

            <div class="cs-form__buttons">
                <button 
                    class="cs-button cs-button--type_long cs-button--type_wide-mobile cs-button--look_default | repertus_packstation--search-button-execute" 
                    id="repertus_find_packstation_button_execute"
                >
                    <span class="cs-button__span" data-bind="i18n: 'Search'"></span>
                    <svg class="cs-button__icon">
                        <use xlink:href="#arrow_next"></use>
                    </svg>
                </button>
            </div>
            
        </div>

        <div id="tonur_packstation_map_frame">
            <div id="tonur_packstation_map">
            </div>
            <div id="tonur_packstation_map_overlay">
                <p data-bind="i18n: 'Searching for Packstation(s) and Post office(s)'"></p>
            </div>
        </div>

    </div>
</div>
