@import 'config/variables';
@import 'vendors/include-media';
@import 'components/field/mixin';
@import 'components/button/mixin';
@import 'components/3step-checkout/variables';
@import 'components/3step-checkout/mixins/reset-success';
@import 'components/3step-checkout/mixins/reset-button';
@import 'components/3step-checkout/mixins/reset-button-radius';
@import 'components/3step-checkout/mixins/higher-button';

$tsc-checkout-shipping-tooltip_font-size: 1rem !default;
$tsc-checkout-shipping-tooltip_border-color: $color_border-500 !default;

.tsc-checkout-index {
    .checkout-shipping-address {
        .step-subtitle {
            span {
                @include media('>=tablet') {
                    background-color: transparent;
                    font-size: $tsc-checkout-shipping-tooltip_font-size;
                    border-top: 3px solid $color_primary-800;
                }
            }
        }

        .modal-popup {
            // BUG TSC (z-index)
            &,
            &._show {
                z-index: 10 !important; /* stylelint-disable-line declaration-no-important */
            }

            .modal-footer {
                .action-hide-popup {
                    @include button(
                        $type: $tsc-checkout-secondary-button_type,
                        $icon_pos: $tsc-checkout-secondary-button_icon-pos
                    );

                    span {
                        @include button_span(
                            $type: $tsc-checkout-secondary-button_type,
                            $icon_pos: $tsc-checkout-secondary-button_icon-pos
                        );
                    }
                }

                .action-save-address,
                .action-hide-popup {
                    @include reset-button-radius();
                    @include higher-button();
                }

                .action.secondary {
                    @include media('>=tablet') {
                        @include reset-button();
                    }
                }
            }

            &.tsc-new-address-modal-slide._show {
                // BUG TSC (height/scroll/z-index)
                height: auto;
                overflow-y: scroll;
                z-index: 20 !important;
                padding-bottom: $tsc-checkout-form-popup_padding-botom;

                @include media('>=tablet') {
                    padding-bottom: 0;
                    z-index: 10 !important;
                    overflow: auto;
                }

                // BUG TSC (position/z-index)
                .modal-footer {
                    position: fixed;
                    z-index: 20;

                    @include media('>=tablet') {
                        position: static;
                    }
                }

                .tsc-switcher-container {
                    margin-bottom: 1rem;
                }
            }
        }

        .step-title {
            color: $tsc-checkout-step-title_color;
            font-size: $tsc-checkout-step-title_font-size;
            font-weight: $tsc-checkout-step-title_font-weight;
            line-height: $tsc-checkout-step-title_line-height;

            @include media('>=tablet') {
                margin-bottom: $tsc-checkout-spacing;
            }
        }

        .step-content {
            @include media('>=tablet') {
                border-bottom: 0;
            }

            // Override tsc styling
            button.action {
                &.action-show-popup {
                    @include button(
                        $type: $tsc-checkout-primary-button_type,
                        $icon_pos: $tsc-checkout-primary-button_icon-pos
                    );

                    span {
                        @include button_span(
                            $type: $tsc-checkout-primary-button_type,
                            $icon_pos: $tsc-checkout-primary-button_icon-pos
                        );
                    }
                }
            }

            .shipping-address-items {
                padding: 0 $tsc-checkout-spacing;

                @include media('>=tablet') {
                    padding: 0;
                    border: 0;
                }

                .shipping-address-item {
                    .edit-address-link,
                    .action-select-shipping-item {
                        @include reset-button(
                            transparent,
                            $color_text-200,
                            400
                        );
                    }
                }
            }
        }
    }

    .form-shipping-address {
        // Hide success tick on select
        [name='shippingAddress.country_id'] {
            &._success:not(.warn) {
                @include reset-success();
            }
        }

        // Hide success tick on checkbox
        .field[name='shippingAddress.tsc_switch'] {
            @include reset-success();

            margin: 0;

            > label {
                display: none;
            }
        }
    }

    .tsc-shipping-top-tooltip {
        background-color: transparent;
        font-size: $tsc-checkout-shipping-tooltip_font-size;
        border-color: $tsc-checkout-shipping-tooltip_border-color;
        border-width: 1px;
        transform: translateY(-1px);
        z-index: 0;
    }

    .checkout-shipping-method {
        .step-title {
            color: $tsc-checkout-step-title_color;
            font-size: $tsc-checkout-step-title_font-size;
            font-weight: $tsc-checkout-step-title_font-weight;
            line-height: $tsc-checkout-step-title_line-height;
            margin-bottom: 1rem;
            margin-top: 0;

            h4 {
                text-align: center;
                font-weight: $tsc-checkout-step-title_font-weight;

                @include media('>=tablet') {
                    text-align: left;
                }

                small {
                    display: block;
                    font-size: 1rem;
                    line-height: 1rem;

                    @include media('>=tablet') {
                        display: none;
                    }
                }
            }
        }

        .actions-toolbar {
            // BUG TSC (z-index)
            z-index: 15;

            > .primary {
                button {
                    @include reset-button-radius();
                    @include higher-button();
                }
            }

            > .secondary {
                .action {
                    @include reset-button();
                }
            }
        }
    }

    .new-address-popup {
        margin: $tsc-checkout-spacing;

        @include media('>=tablet') {
            margin: $tsc-checkout-spacing 0;
        }
    }

    .tsc-shipping-top-container {
        @include media('>=tablet') {
            margin-bottom: 0;
        }
    }
}
