@import 'config/variables';
@import 'include-media/dist/include-media';
@import 'components/button/mixin';
@import 'pages/layout/2columns-left/mixin';
@import 'components/field/mixin';

$dashboard-button_type: $button_default-type !default;
$dashboard-button_secondary-type: 'secondary' !default;
$dashboard-button_icon-pos: 'no-icon' !default;

$dashboard-button_small-font-size: 1.2rem !default;

$dashboard_main-separator-apply: false !default;
$dashboard_bottom-border-top: 2px solid $color_border-500 !default;
$dashboard_headline-links-separator: 2px solid $color_border-500 !default;
$dashboard_login-sections-separator: 1px solid $color_border-500 !default;

$dashboard_headline-border: 1px solid $color_border-500 !default;
$dashboard_headline-margin-bottom: 1rem !default;
$dashboard_headline-padding-bottom: 0.8rem !default;
$dashboard_headline-font-size: $font-size_headline-3 !default;
$dashboard_headline-font-weight: 600 !default;
$dashboard_headline-link-font-size: $font-size_paragraph !default;

$dashboard_box-title-font-size: 1.1rem !default;
$dashboard_box-title-font-weight: 600 !default;
$dashboard_box-title-text-transform: uppercase !default;

$dashboard_text-font-weight: 300 !default;
$dashboard_text-color: $color_text-500 !default;
$dashboard_text-line-height: 2.5rem !default;

$dashboard_links-font-size: 1.4rem !default;
$dashboard_links-font-weight: 300 !default;


// Order table
$dashboard_price-font-color: $color_text-500 !default;

.#{$ns}dashboard {
    @include two-columns-left($dashboard_main-separator-apply);
    width: 100%;

    &__columns {
        position: relative;
        margin: 3rem 0;

        @include media('>=tablet') {
            padding: 0 0 2rem;
        }
    }

    &__sidebar {
        //
    }

    &__main {
        padding: 0 1.5rem 2rem;
        margin-bottom: 2rem;

        @include media('>=tablet') {
            padding: 0 0 0 1.5rem;
        }

        @include media('>=laptop') {
            padding: 0 0 0 2.5rem;
        }
    }

    &__top {
        padding: 0 0 2.2rem;
    }

    &__page-title {
        padding-bottom: 1rem;

        .ie11 & {
            @include media('>=tablet') {
                margin-top: 1.5rem;
            }
        }
    }

    &__bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-top: $dashboard_bottom-border-top;
        padding-top: 2rem;

        @include media('>=tablet') {
            width: 100%;
            padding-top: 4rem;
        }
    }
    
    &__wishlist {
        &-line {
            margin: 0;
        }
    }

    &__bottom-wishlist {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        width: 100%;

        &-item {
            width: 100%;

            @include media('>=phoneLg') {
                width: 50%;
            }

            @include media('>=tablet') {
                width: 33.33%
            }

            &:nth-child(n+4) {
                display: none;  
            }
        }
    }

    &__login {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include media('>=tablet') {
            flex-wrap: nowrap;
            padding: 0;
        }
    
        &-section {
            width: 100%;

            @include media('>=tablet') {
                width: 50%;
    
                &:nth-child(2n + 1) {
                    padding-right: 4rem;
                    border-right: $dashboard_login-sections-separator;
                }
    
                &:nth-child(2n + 2) {
                    padding-left: 2rem;
                    margin-left: 2rem;
                }
            }
    
            @include media('>=laptop') {
                &:nth-child(2n + 1) {
                    padding-right: 8rem;
                }
    
                &:nth-child(2n + 2) {
                    padding-left: 3rem;
                    margin-left: 4rem;
                }
            }
        }
    }

    // General User Area styles

    .fieldset, 
    .form {
        width: 100%;
        max-width: 45rem !important;
        min-width: 15rem !important;

        .info {
            margin-bottom: 3rem;
        }
    }

    .fieldset {
        width: 100%;
        border: 0;
        padding: 0;
        margin: 0;
    }

    .field {
        margin-bottom: 1rem;
    }

    select {
        @include field-select();
    }

    .choice {
        .label {
            width: auto;
            font-weight: $dashboard_links-font-weight;
            font-size: $dashboard_links-font-size;
        }
    }

    .field-name-prefix {
        max-width: 12rem;
    }

    .primary {
        > button,
        .create {
            @include button(
                $type: $dashboard-button_type,
                $icon_pos: $dashboard-button_icon-pos
            );
            min-width: 12rem;

            .wishlist-index-index & {
                z-index: 1;
            }

            span {
                @include button_span(
                    $type: $dashboard-button_type,
                    $icon_pos: $dashboard-button_icon-pos
                );
            }
        }

        > button.action.tocart {
            display: none;
        }
    }

    .remind, 
    .back {
        font-size: $dashboard_links-font-size;
        margin-top: 0.7rem;
        display: inline-block;
    }

    .action.tocart button {
        display: none;
    }

    .counter {
        font-weight: $dashboard_links-font-weight;
        transform: translateX(-1rem);
        display: inline-block;
        
        &:before {
            content: '(';
        }

        &:after {
            content: ')';
        }
    }

    .block {
        width: 100%;
        margin: 1.5rem 0 2.5rem;

        @include media('>=tablet') {
            margin: 1.5rem 0 4rem;
        }
    }

    .block-title,
    .legend,
    .order-title {
        border-bottom: $dashboard_headline-border;
        margin-bottom: $dashboard_headline-margin-bottom;
        padding-bottom: $dashboard_headline-padding-bottom;
        font-weight: $dashboard_headline-font-weight;
        font-size: $dashboard_headline-font-size;
        width: 100%;
    
        strong {
            font-weight: $dashboard_headline-font-weight;
            margin-right: 1rem;
        }
    }

    .block-title a {
        font-weight: $dashboard_links-font-weight;
        font-size: $dashboard_headline-link-font-size;
        font-weight: $dashboard_links-font-weight;
        vertical-align: text-bottom;
        white-space: nowrap;
    }

    .box-title {
        font-size: $dashboard_box-title-font-size;
        font-weight: $dashboard_box-title-font-weight;
        text-transform: $dashboard_box-title-text-transform;
    }

    .block-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 2rem 0 0;

        .sales-order-history & {
            @include media('<laptop') {
                margin-top: 0;
            }
        }

        &.no-display {
            display: none;
        }
    }

    .box-actions,
    .actions {
        a + a {
            &:before {
                margin: 0 0.7rem 0 0.5rem;
                content: '';
                display: inline-block;
                width: 1px;
                height: 1.2rem;
                border-right: $dashboard_headline-links-separator;
            }
        }

        a {
            font-weight: $dashboard_links-font-weight;
        }
    }

    .table-wrapper .action {
        margin-right: 0;
    }

    .actions-toolbar > .secondary .action.back {
        display: none;
    }

    .box,
    .addresses {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 2rem;

        @include media('>=phoneLg') {
            width: 48%;
        }

        @include media('>=tablet') {
            width: 100%;
        }

        @include media('>=laptop') {
            width: 48%;
        }
    }

    .box-content,
    .item {
        font-weight: $dashboard_text-font-weight;
        color: $dashboard_text-color;
        line-height: $dashboard_text-line-height;
        margin-bottom: 0;
    }

    .tooltip.wrapper {
        font-size: $dashboard_links-font-size;
        display: inline-block;
        padding-left: 0.5rem;
    }

    .choice.persistent {
        padding-bottom: 1.5rem;
    }


    // Order sction and page
    .table-order-items {
        @include media('<laptop') {
            .#{$ns}table__col:last-child {
                padding-bottom: 2rem;
            }

            .price-excluding-tax,
            .price-including-tax,
            .items-qty,
            .product-item-name {
                display: inline-block;
                font-weight: 400;
                margin: 0;
                color: $dashboard_price-font-color;
            }

            .#{$ns}cart-item__options-label {
                text-transform: none;
                width: auto;
                margin-right: 1rem;

                &:after {
                    content: ':';
                }
            }

            .#{$ns}table__col.subtotal {
                text-align: left;
            }

            .price-excluding-tax .price {
                font-weight: 400;
            }
        }
    }

    .toolbar {
        display: flex;
        justify-content: space-between;

        &::after, 
        &::before {
            display: none;
        }
    }

    .actions {
        .sales-order-view & {
            width: 100%;
            margin-top: 2rem;
            display: flex;
        }

        .order {

            .sales-order-view & {
                @include button(
                    $type: $dashboard-button_type,
                    $icon_pos: $dashboard-button_icon-pos
                );
                font-size: $dashboard-button_small-font-size;
                margin-right: 1rem;
                margin-bottom: .8rem;
    
                &::before {
                    display: none;
                }
    
                span {
                    @include button_span(
                        $type: $dashboard-button_type,
                        $icon_pos: $dashboard-button_icon-pos
                    );
                }
            }

        }

        .print {

            .sales-order-view & {
                @include button(
                    $type: $dashboard-button_secondary-type,
                    $icon_pos: $dashboard-button_icon-pos
                );
                font-size: $dashboard-button_small-font-size;
                margin-right: 1rem;
                margin-bottom: .8rem;
    
                &::before {
                    display: none;
                }
    
                span {
                    @include button_span(
                        $type: $dashboard-button_secondary-type,
                        $icon_pos: $dashboard-button_icon-pos
                    );
                }
            }

        }
    }

    // Reviews section and page
    .block-reviews-dashboard {
        .product-name {
            font-weight: $dashboard_links-font-weight;
        }
    }

    // Address forms sections
    .form.create.account,
    .form-address-edit, 
    .form-edit-account {
        margin-bottom: 3rem;

        .fullname {
            .label {
                text-align: left;
                width: 100%;
            }
    
            .control {
                width: 100%;
            }
        }

        .legend > br {
            display: none;
        }

        .action.primary {
            font-size: 1.4rem;
        }

        .back {
            display: none;
        }

        .fieldset {
            margin-bottom: 2rem;
        }
    }

    // Newsletter section
    .form-newsletter-manage {
        .fieldset {
            margin-bottom: 1rem;
        }
    }

    //Packstation address fieldset styles fix
    fieldset.repertus_address_type_fieldset {
        padding: 0 0 2rem 1.5rem;
        margin: 0;
        max-width: 45rem;

        .repertus_address_type--add-fields.ie11 & {
            display: flex;
            align-items: flex-end;
        }

        .control {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @include media('>=phoneLg') {
                button {
                    margin-left: auto;
                    flex-wrap: nowrap;
                }
            }
        }
    }

    .field.repertus_address_type .nested {
        display: block;
        flex-basis: 100%;
        margin: 1.5rem auto 0;

        @include media('>=phoneLg') {
            display: inline-block;
            flex-basis: auto;
            margin: 0;
        }
    }

    .field.repertus_address_type select {
        max-width: 45rem;
        flex-basis: 100%;

        @include media('>=phoneLg') {
            flex-basis: auto;
        }
    }
}

.account .page-title-wrapper .page-title {
    margin: 0;
}