@import 'config/variables';
@import 'vendors/include-media';
@import 'components/button/mixin';
@import 'pages/layout/2columns-left/mixin';
@import 'components/field/mixin';
@import 'components/typography/mixin';
@import 'utils/component-spacing';

$dashboard-button_type: $button_default-type !default;
$dashboard-button_secondary-type: 'secondary' !default;
$dashboard-button_icon-pos: 'no-icon' !default;
$dashboard_button_forms-font-size: 1.4rem !default;
$dashboard-button_small-font-size: 1.2rem !default;

$dashboard_main-separator-apply: false !default;
$dashboard_sidebar-main-space: 3.5rem !default;
$dashboard_bottom-border-top: 2px solid $color_border-500 !default;
$dashboard_headline-links-separator: 2px solid $color_border-500 !default;
$dashboard_login-sections-separator: 1px solid $color_border-500 !default;

$dashboard_headline-border: 1px solid $color_border-500 !default;
$dashboard_headline-margin-bottom: 1rem !default;
$dashboard_headline-padding-bottom: 0.8rem !default;
$dashboard_headline-font-size: $font-size_headline-3 !default;
$dashboard_headline-font-weight: 600 !default;
$dashboard_headline-link-font-size: $font-size_paragraph !default;

$dashboard_box-title-font-size: 1.1rem !default;
$dashboard_box-title-font-weight: 600 !default;
$dashboard_box-title-text-transform: uppercase !default;

$dashboard_text-font-weight: 300 !default;
$dashboard_text-color: $color_text-500 !default;
$dashboard_text-line-height: 2.5rem !default;

$dashboard_links-font-size: 1.4rem !default;
$dashboard_links-font-weight: 300 !default;

// For shops with darker background elements in user area are placed in separate boxes

// Values specific for shops with background
$dashboard_has-darker-background: false !default;
$dashboard_boxes-background: transparent !default;
$dashboard_hide-sections-separators: false !default;
$dashboard_hide-titles-separators: false !default;
// Set value if $dashboard_has-darker-background is set to true
$dashboard_boxes-inner-padding: 0 !default;
// For shops white white background it is also needed as it is part of spacing system.
// For shops with darker background value here can be smaller of higher
$dashboard_space-between-boxes: 2rem !default;

// Order table
$dashboard_price-font-color: $color_text-500 !default;

.#{$ns}dashboard {
    $root: &;

    @include two-columns-left($dashboard_main-separator-apply);
    width: 100%;

    &__columns {
        position: relative;
        margin: 3rem 0;

        @include media('>=tablet') {
            padding: 0 0 2rem;
        }
    }

    &__sidebar {
        @include media('>=laptop') {
            padding: 0;
        }
    }

    &__main {
        margin-bottom: 2rem;
        box-sizing: border-box;

        @include media('>=tablet') {
            padding: 0 0 0 $dashboard_sidebar-main-space;

            @if ($dashboard_has-darker-background == true) {
                padding: 0 0 0 $dashboard_space-between-boxes;
            }
        }
    }

    &__top {
        @if ($dashboard_has-darker-background == false) {
            @if ($dashboard_hide-sections-separators == false) {
                padding: 0 0 3rem;
            } @else {
                padding: 0;
            }
        } @else {
            @if ($dashboard_hide-sections-separators == false) {
                padding: 0 0 1rem;
            } @else {
                padding: 0;
            }
        }
    }

    &__page-title {
        @if ($dashboard_has-darker-background == false) {
            padding-bottom: 3rem;
        }
    }

    .page-title {
        margin: 0;
        @if ($dashboard_has-darker-background == false) {
            padding: 0 0 1rem 0;
        } @else {
            padding-bottom: 0;
        }
    }

    .columns .column.main {
        padding: 0;
    }

    .message-error,
    .message-success,
    .message-notice {
        margin-bottom: 1rem;
    }

    .page-title-wrapper {
        background: $dashboard_boxes-background;

        @if ($dashboard_has-darker-background == true) {
            padding: $dashboard_space-between-boxes;
            margin-bottom: $dashboard_space-between-boxes;
        }
    }

    &__bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @if ($dashboard_hide-sections-separators == false) {
            padding-top: 2rem;
            border-top: $dashboard_bottom-border-top;
        } @else {
            padding-top: 0;
            border-top: none;
        }

        @include media('>=tablet') {
            width: 100%;
            @if ($dashboard_hide-sections-separators == false) {
                padding-top: 3rem;
            } @else {
                padding-top: 0;
            }
        }
    }

    &__wishlist {
        &-line {
            margin: 0;
        }
    }

    &__wishlist-products-grid {
        @include component-spacing();
    }

    &__bottom-wishlist {
        @include component-spacing();

        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        width: 100%;

        &-item {
            width: 100%;

            @include media('>=phoneLg') {
                width: 50%;
            }

            @include media('>=tablet') {
                width: 33.33%;
            }

            &:nth-child(n + 4) {
                display: none;
            }
        }
    }

    &__login {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include media('>=tablet') {
            flex-wrap: nowrap;
            padding: 0;
        }

        &-section {
            width: 100%;
            background: $dashboard_boxes-background;
            box-sizing: border-box;
            margin-bottom: 2rem;

            @if ($dashboard_has-darker-background == true) {
                @include media('<tablet') {
                    &:nth-child(2n + 1) {
                        margin-bottom: $dashboard_space-between-boxes;
                    }
                }
            }

            @include media('>=tablet') {
                @if ($dashboard_has-darker-background == false) {
                    width: 50%;
                } @else {
                    width: calc(50% - (#{$dashboard_space-between-boxes} / 2));
                }

                &:nth-child(2n + 1) {
                    border-right: $dashboard_login-sections-separator;

                    @if ($dashboard_hide-sections-separators == true) {
                        border-right: none;
                    }

                    @if ($dashboard_has-darker-background == false) {
                        padding-right: $dashboard_space-between-boxes;
                    }
                }

                &:nth-child(2n + 2) {
                    @if ($dashboard_has-darker-background == false) {
                        padding-left: $dashboard_space-between-boxes;
                    }
                }
            }
        }
    }

    &--contact-page {
        .page-title-wrapper {
            @if ($dashboard_has-darker-background == true) {
                margin-top: $dashboard_space-between-boxes;
            }
        }
    }

    &__contact-form {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 2rem;
        background: $dashboard_boxes-background;

        @if ($dashboard_has-darker-background == true) {
            padding: $dashboard_space-between-boxes;
        }
    }

    // General User Area styles

    .fieldset,
    .form {
        width: 100%;
        min-width: 15rem !important;
    }

    .fieldset {
        width: 100%;
        border: 0;
        padding: 0;
        margin: 0;
        max-width: 45rem !important;
    }

    .field {
        margin-bottom: 1rem;
    }

    .field.choice {
        display: flex;
        align-items: center;
    }

    .limiter {
        margin-bottom: 0;
    }

    select {
        @include field-select();
    }

    .choice {
        .label {
            width: auto;
            font-weight: $dashboard_links-font-weight;
            font-size: $dashboard_links-font-size;
        }
    }

    .field-name-prefix {
        max-width: 12rem;
    }

    .primary {
        > button,
        .create {
            @include button(
                $type: $dashboard-button_type,
                $icon_pos: $dashboard-button_icon-pos
            );
            min-width: 12rem;

            .wishlist-index-index & {
                z-index: 1;
            }

            span {
                @include button_span(
                    $type: $dashboard-button_type,
                    $icon_pos: $dashboard-button_icon-pos
                );
            }
        }

        > button.action.update {
            display: none;
        }
    }

    .remind,
    .back {
        font-size: $dashboard_links-font-size;
        margin-top: 0.7rem;
        display: inline-block;
    }

    .counter {
        font-weight: $dashboard_links-font-weight;
        transform: translateX(-1rem);
        display: inline-block;

        &:before {
            content: '(';
        }

        &:after {
            content: ')';
        }
    }

    .block {
        width: 100%;
        margin: 1.5rem 0 2.5rem;
        background: $dashboard_boxes-background;
        padding: $dashboard_boxes-inner-padding;
        box-sizing: border-box;

        @if ($dashboard_has-darker-background == true) {
            margin: 0 0 $dashboard_space-between-boxes;
        }

        @include media('>=tablet') {
            margin: 1.5rem 0 4rem;

            @if ($dashboard_has-darker-background == true) {
                margin: 0 0 $dashboard_space-between-boxes;
            }
        }
    }

    .block-title,
    .legend,
    .order-title {
        border-bottom: $dashboard_headline-border;
        margin-bottom: $dashboard_headline-margin-bottom;
        padding-bottom: $dashboard_headline-padding-bottom;
        font-weight: $dashboard_headline-font-weight;
        font-size: $dashboard_headline-font-size;
        width: 100%;

        @if ($dashboard_hide-titles-separators == true) {
            border-bottom: none;
        }

        strong {
            font-weight: $dashboard_headline-font-weight;
            margin-right: 1rem;
        }
    }

    .table-wrapper {
        width: 100%;
    }

    .block-title a {
        font-weight: $dashboard_links-font-weight;
        font-size: $dashboard_headline-link-font-size;
        vertical-align: text-bottom;
        white-space: nowrap;
    }

    .box-title {
        font-size: $dashboard_box-title-font-size;
        font-weight: $dashboard_box-title-font-weight;
        text-transform: $dashboard_box-title-text-transform;
    }

    .block-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 2rem 0 0;

        .sales-order-history & {
            @include media('<laptop') {
                margin-top: 0;
            }
        }

        &.no-display {
            display: none;
        }
    }

    .block-new-customer .block-content {
        flex-direction: column;

        .fieldset {
            margin-bottom: 1rem;
        }
    }

    .block-reward-history {
        .#{$ns}toolbar__item--amount {
            @include media('<laptop') {
                width: 100%;
                justify-content: center;
            }

            // There is no other way to remove top toolbar elements
            &:nth-child(1) {
                display: none;
            }
        }

        .pages {
            @include media('<laptop') {
                width: 100%;
                justify-content: center;
                display: flex;
                margin: 0.7rem 0 2rem;
            }

            &:nth-child(2) {
                display: none;
            }
        }

        .#{$ns}toolbar__item--limiter {
            @include media('<laptop') {
                margin: 0 auto;
            }

            &:nth-child(3) {
                display: none;
            }
        }
    }

    .box-actions,
    .actions {
        a + a {
            &:before {
                margin: 0 0.7rem 0 0.5rem;
                content: '';
                display: inline-block;
                width: 1px;
                height: 1.2rem;
                border-right: $dashboard_headline-links-separator;
            }
        }

        a {
            font-weight: $dashboard_links-font-weight;
        }
    }

    // Tables not placed inside box in markup
    .table-wrapper,
    .orders-history,
    .form-wishlist-items {
        background: $dashboard_boxes-background;

        @if ($dashboard_has-darker-background == true) {
            margin-bottom: 0;
        }

        & + .toolbar,
        & + .actions-toolbar {
            background: $dashboard_boxes-background;
            padding: $dashboard_boxes-inner-padding;
        }

        &.order-items + .actions-toolbar {
            padding: 0;
        }

        & + .toolbar {
            width: 100%;
        }

        .action {
            margin-right: 0;
        }
    }

    .orders-history,
    .form-wishlist-items,
    .reviews,
    .transactions {
        @if ($dashboard_has-darker-background == true) {
            padding: $dashboard_boxes-inner-padding;
        }
    }

    .form-wishlist-items {
        .actions-toolbar .primary {
            margin-bottom: 2rem;

            @include media('<=laptop') {
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                .action:last-child {
                    margin-top: 1rem;
                }
            }
        }
    }

    .form-pwanotifications-manage {
        .fieldset {
            max-width: initial !important;
        }

        .field {
            flex-wrap: nowrap;
        }

        .actions-toolbar {
            margin-top: $dashboard_space-between-boxes;
        }
    }

    .#{$ns}toolbar__item--amount {
        display: flex;
        align-items: center;
    }

    .toolbar {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include media('<tablet') {
            align-items: center;
        }

        @include media('<laptop') {
            flex-direction: column;
        }

        &::after,
        &::before {
            display: none;
        }

        .#{$ns}toolbar__item {
            @include media('<laptop') {
                display: flex;
                justify-content: center;
                margin: auto;

                p {
                    margin-bottom: 1rem;
                }
            }

            &--amount {
                @include media('<laptop') {
                    margin-bottom: 1.5rem;
                }

                @include media('<tablet') {
                    padding-bottom: 0;
                }

                + .#{$ns}toolbar__item--limiter {
                    margin-top: 0;
                }
            }

            &--limiter {
                @include media('<laptop') {
                    margin-top: 2.5rem;
                }
            }
        }

        .toolbar-amount {
            padding-top: 0;
        }

        .pages {
            @include media('<tablet') {
                margin: 0 auto;
            }

            @include media('>=tablet') {
                position: static;
                display: flex;
                justify-content: center;
                width: auto;
            }
        }

        .limiter {
            @include media('<tablet') {
                display: flex;
                justify-content: center;
            }

            .label {
                @include media('<tablet') {
                    width: auto;
                }
            }
        }

        &.wishlist-toolbar {
            br {
                display: none;
            }
            @if ($dashboard_has-darker-background == true) {
                padding: $dashboard_boxes-inner-padding;
                margin-bottom: 0;
                background: $dashboard_boxes-background;
            }
        }
    }

    .actions-toolbar > .secondary .action.back,
    .secondary .action.edit-email-preferences {
        display: none;
    }

    .box,
    .addresses {
        width: 100%;
        box-sizing: border-box;

        @include media('>=phoneLg') {
            width: 48%;
        }
    }

    .box-content,
    .addresses .item {
        font-weight: $dashboard_text-font-weight;
        color: $dashboard_text-color;
        line-height: $dashboard_text-line-height;
        margin-bottom: 0;
    }

    .tooltip.wrapper {
        font-size: $dashboard_links-font-size;
        display: inline-block;
        padding-left: 0.5rem;
    }

    .choice.persistent {
        padding-bottom: 1.5rem;
    }

    // Order sction and page
    .table-order-items {
        @include media('<laptop') {
            .#{$ns}table__col:last-child {
                padding-bottom: 2rem;
            }

            .price-excluding-tax,
            .price-including-tax,
            .items-qty,
            .product-item-name {
                display: inline-block;
                font-weight: 400;
                margin: 0;
                color: $dashboard_price-font-color;
            }

            .#{$ns}cart-item__options-label {
                text-transform: none;
                width: auto;
                margin-right: 1rem;

                &:after {
                    content: ':';
                }
            }

            .#{$ns}table__col.subtotal {
                text-align: left;
            }

            .price-excluding-tax .price {
                font-weight: 400;
            }
        }
    }

    .actions {
        .sales-order-view &,
        .sales-order-invoice &,
        .sales-order-shipment & {
            width: 100%;
            margin-top: 2rem;
            display: flex;
        }

        .order {
            .sales-order-view &,
            .sales-order-invoice &,
            .sales-order-shipment & {
                @include button(
                    $type: $dashboard-button_type,
                    $icon_pos: $dashboard-button_icon-pos
                );
                font-size: $dashboard-button_small-font-size;
                margin-right: 1rem;
                margin-bottom: 0.8rem;

                &::before {
                    display: none;
                }

                span {
                    @include button_span(
                        $type: $dashboard-button_type,
                        $icon_pos: $dashboard-button_icon-pos
                    );
                }
            }
        }

        .print {
            .sales-order-view &,
            .sales-order-invoice &,
            .sales-order-shipment & {
                @include button(
                    $type: $dashboard-button_secondary-type,
                    $icon_pos: $dashboard-button_icon-pos
                );
                font-size: $dashboard-button_small-font-size;
                margin-right: 1rem;
                margin-bottom: 0.8rem;

                &::before {
                    display: none;
                }

                span {
                    @include button_span(
                        $type: $dashboard-button_secondary-type,
                        $icon_pos: $dashboard-button_icon-pos
                    );
                }
            }
        }
    }

    // Reviews section and page
    .block-reviews-dashboard {
        .product-name {
            font-weight: $dashboard_links-font-weight;
        }
    }

    .rating-result {
        margin-left: 0;
        width: auto;

        &::before {
            display: none;
        }
    }

    .rating-summary.item {
        display: flex;
        overflow: visible;
    }

    .customer-review {
        .product-name {
            @include headline($font-size_headline-4);
        }

        .review-title {
            @include headline($font-size_headline-4);
            text-transform: none;
        }
    }

    // Address forms sections
    .form.create.account,
    .form-address-edit,
    .form-edit-account,
    .form.password.reset,
    .form.send.confirmation,
    .form.password.forget,
    #aw_giftcard__check_code_form {
        background: $dashboard_boxes-background;
        padding: $dashboard_boxes-inner-padding;

        @include media('>=tablet') {
            width: 100%;
        }

        br {
            display: none;
        }

        .fullname {
            .label {
                text-align: left;
                width: 100%;
            }

            // In theme-frontend-blank/Magento_Customer/web/css/source/_module.less this label is visually hidden,
            // and first label width must be 1px here
            > .label {
                width: 1px;
            }

            .control {
                width: 100%;
            }
        }

        .action.primary {
            font-size: $dashboard_button_forms-font-size;
        }

        .back {
            display: none;
        }

        .fieldset {
            margin-bottom: 2rem;
        }

        .fieldset-fullname {
            margin-bottom: 0;
        }
    }

    .form-edit-account,
    .form-address-edit {
        @if ($dashboard_has-darker-background == true) {
            margin-bottom: $dashboard_space-between-boxes;
        }
    }

    .addresses {
        width: 100%;
    }

    .block-addresses-list {
        @if ($dashboard_has-darker-background == true) {
            padding-bottom: 0;
            margin-bottom: 0;

            @include media('>=tablet') {
                margin-bottom: 0;
            }
        }
    }

    .block-addresses-list + .actions-toolbar {
        background: $dashboard_boxes-background;

        @if ($dashboard_has-darker-background == true) {
            padding: 0
                $dashboard_boxes-inner-padding
                $dashboard_boxes-inner-padding;
            margin-bottom: $dashboard_space-between-boxes;
        }
    }

    .box-billing-address {
        @include media('<tablet') {
            margin-bottom: 2rem;
        }
    }

    // Newsletter section
    .form-newsletter-manage {
        background: $dashboard_boxes-background;

        @if ($dashboard_has-darker-background == true) {
            padding: $dashboard_boxes-inner-padding;
            margin-bottom: $dashboard_space-between-boxes;
        }

        .fieldset {
            margin-bottom: 1rem;
        }
    }

    &__button {
        @include button(
            $type: $dashboard-button_type,
            $icon_pos: $dashboard-button-icon-pos
        );
    }

    &__button-span {
        @include button_span(
            $type: $dashboard-button_type,
            $icon_pos: $dashboard-button-icon-pos
        );
    }

    &__button-icon {
        @include button_icon(
            $type: $dashboard-button_type,
            $icon_pos: $dashboard-button-icon-pos
        );
    }

    .order-details-items.ordered {
        @if ($dashboard_has-darker-background == true) {
            padding: $dashboard_boxes-inner-padding;
            padding-top: 0.5rem;
            background: $dashboard_boxes-background;
        }

        @if ($dashboard_hide-sections-separators == true) {
            border-bottom: none;
        }
    }

    .order-links {
        @if ($dashboard_has-darker-background == true) {
            padding: $dashboard_boxes-inner-padding;
            padding-bottom: 1rem;
            margin: 0 0 $dashboard_space-between-boxes;
            background: $dashboard_boxes-background;
        }

        @if ($dashboard_hide-sections-separators == true) {
            border-bottom: none;
        }
    }
}

.#{$ns}container {
    &--create-account-page,
    &--login-page,
    &--success-page,
    &--logout-page {
        padding-top: 2rem;
        padding-bottom: 2rem;

        @include media('>=laptop') {
            padding-top: 3rem;
            padding-bottom: 5rem;
        }
    }

    &--my-account-page {
        @include media('>=tablet', '<laptop') {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
}
