@import 'config/variables';

$dashboard_headline-border: 1px solid $color_border-500 !default;
$dashboard_headline-bordered-margin-bottom: 0.9rem !default;
$dashboard_headline-bordered-padding-bottom: 0.8rem !default;

$dashboard_headline-primary-font-size: 1.8rem !default;
$dashboard_headline-secondary-font-size: 1.1rem !default;
$dashboard_headline-font-weight: 700 !default;
$dashboard_headline-span-color: $color_text-500 !default;
$dashboard_text-color: $color_text-500 !default;

$dashboard_separator-color: $color_border-700 !default;

//Dashboard typography

@mixin dashboard-headline-bordered() {
    border-bottom: $dashboard_headline-border;
    margin-bottom: $dashboard_headline-bordered-margin-bottom;
    padding-bottom: $dashboard_headline-bordered-padding-bottom;
}

@mixin dashboard-headline-primary() {
    font-weight: $dashboard_headline-font-weight;
    font-size: $dashboard_headline-primary-font-size;
}

@mixin dashboard-headline-secondary() {
    font-weight: $dashboard_headline-font-weight;
    font-size: $dashboard_headline-secondary-font-size;
    text-transform: uppercase;
}

@mixin dashboard-headline-span() {
    font-weight: 400;
    margin-right: 0.5rem;
    color: $dashboard_headline-span-color;
}

@mixin dashboard-text() {
    font-weight: 300;
    color: $dashboard_text-color;
    line-height: 2.5rem;
    margin-bottom: 0;
}

//Dashboard structure, former info-block component

@mixin dashboard-block-content() {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0 0;
}

@mixin dashboard-block-box() {
    width: 100%;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

@mixin dashboard-separator() {
    margin: 0 0.5rem;
    content: '';
    display: inline-block;
    width: 0.2rem;
    height: 1.2rem;
    background: $dashboard-separator-color;
}

@mixin fieldset() {
    border: none;
}
