@import 'config/variables';
@import 'components/typography/mixin';
@import 'components/pseudoicon/mixin';
@import 'vendors/include-media';

$product-details-main_item-gutter: 2em !default;
$product-details-main_column-breakpoint: '>=tablet';
$product-details-main_left-column-flex: 0 0 65% !default;
$product-details-main_right-column-flex: 0 0 calc(35% - #{$product-details-main_item-gutter}) !default;

.cs-product-details-main {
    $root: &;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: ($product-details-main_item-gutter * 2);

    &--column {
        flex-direction: column;
    }

    &__column {
        flex: 1 1 100%;

        &--left {
            @include media(#{$product-details-main_column-breakpoint}) {
                flex: $product-details-main_left-column-flex;
            }
        }

        &--right {
            margin-top: $product-details-main_item-gutter;

            @include media(#{$product-details-main_column-breakpoint}) {
                margin-top: 0;
                flex: $product-details-main_right-column-flex;
            }
        }
    }

    &__headline {
        position: relative;
        
        &[tabindex] {
            @include pseudoicon();
        }
    }

    &__headline-title {
        @include headline($level: $font-size_headline-3);
    }

    &__item {
        width: 100%;

        & + & {
            margin-top: $product-details-main_item-gutter;
        }
    }
}
