@import 'config/variables';
@import 'include-media/dist/include-media';
@import 'utils/reset-list-style';

$footer-socials_display: flex !default;
$footer-socials_flex-justify-content: center !default;
$footer-socials_flex-align-items: center !default;
$footer-socials_padding: $page_edge-gutter 0 0 !default;

$footer-socials_list-item-margin: 0 0.4em !default;
$footer-socials_list-item-padding: 0 !default;

$footer-socials_link-display: flex !default;
$footer-socials_link-padding: 1em !default;
$footer-socials_link-height: 3.5em !default;
$footer-socials_link-min-width: 4em !default;
$footer-socials_link-border-radius: $border-radius_base !default;
$footer-socials_link-transition: background-color 0.15s linear !default;
$footer-socials_link-transform: $transform_skew-400 !default;
$footer-socials_link-background: $color_mineshaft !default;
$footer-socials_link-hover-background: $color_primary-800 !default;

$footer-socials_icon-position: absolute !default;
$footer-socials_icon-transform: translate3d(-55%, -55%, 0)
    $transform_skew-400-revert !default;
$footer-socials_icon-color: $color_background-200 !default;
$footer-socials_icon-hover-color: $footer-socials_icon-color !default;
$footer-socials_icon-transition: fill 0.15s linear !default;

@if $footer-socials_icon-position == absolute {
    $footer-socials_icon-transform: translate3d(-50%, -50%, 0)
        $transform_skew-400-revert !default;
}

.#{$ns}footer-socials {
    $root: &;

    @include reset-list-style();

    display: $footer-socials_display;
    padding: $footer-socials_padding;

    @if $footer-socials_display ==
        flex or
        $footer-socials_display ==
        inline-flex
    {
        justify-content: $footer-socials_flex-justify-content;
        align-items: $footer-socials_flex-align-items;

        @include media('>=tablet') {
            justify-content: flex-start;
        }
    }

    @include media('>=tablet') {
        padding-top: 0;
    }

    &__item {
        margin: $footer-socials_list-item-margin;
        padding: $footer-socials_list-item-padding;
    }

    &__link {
        display: $footer-socials_link-display;
        position: relative;
        height: $footer-socials_link-height;
        min-width: $footer-socials_link-min-width;
        background: $footer-socials_link-background;
        color: inherit;
        border-radius: $footer-socials_link-border-radius;
        transform: $footer-socials_link-transform;
        transition: $footer-socials_link-transition;

        @if $footer-socials_link-hover-background !=
            $footer-socials_link-background
        {
            &:hover {
                background: $footer-socials_link-hover-background;
            }
        }
    }

    &__icon {
        position: $footer-socials_icon-position;
        fill: $footer-socials_icon-color;
        transform: $footer-socials_icon-transform;
        transition: $footer-socials_icon-transition;

        @if $footer-socials_icon-position == absolute {
            top: 50%;
            left: 55%;
        }

        @if $footer-socials_icon-hover-color != $footer-socials_icon-color {
            &:hover {
                fill: $footer-socials_icon-hover-color;
            }
        }

        #{$root}__item--fb & {
            width: 0.9em;
            height: 1.8em;
        }

        #{$root}__item--tw & {
            width: 2.5em;
            height: 2em;
        }

        #{$root}__item--yt & {
            width: 1.8em;
            height: 2.1em;
        }
    }
}
