@import 'config/variables';
@import 'include-media/dist/include-media';

@import 'components/button/mixin';

$brands-index_button-type: $button_default-type !default;
$brands-index_button-icon-pos: 'no-icon' !default;

.#{$ns}brands-index {
    $root: &;

    display: block;
    background: $color_white;
    margin: 2rem auto 0;
    max-width: 40rem;
    @include media('>=phoneLg') {
        max-width: none;
    }
    @include media('>=tablet') {
        margin: 0 auto;
        max-width: 93rem;
    }

    &__icons-wrapper {
        width: 100%;
        margin: 0 0 2rem;
        display: flex;
        flex-wrap: wrap;
    }

    &__icon {
        width: calc(50% - 1rem);
        height: 5rem;
        margin: 0.5rem;
        padding: 0.5rem;
        display: flex;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);
        position: relative;
        box-sizing: border-box;

        @include media('>=tablet') {
            width: calc(25% - 1rem);
        }
        @include media('>=laptop') {
            width: calc(20% - 1rem);
        }
    }

    &__img {
        width: auto;
        position: absolute;
        max-width: 90%;
        max-height: 90%;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
    }

    &__list {
        position: relative;

        &-item {
            display: flex;
            box-sizing: border-box;
            width: 100%;
            padding: 2rem 1rem;
            border-bottom: 1px solid $color_gallery;

            @include media('>=tablet') {
                padding: 4rem 2rem;
            }

            //There is a problem with scroll while sticky header is present on mobile.brands-index
            //In that case we do not have to scroll a bit lower than the top edge of this element.
            //The trick with bigger top padding and minus top margin help to achieve it
            @include media('<laptop') {
                padding-top: 10.5rem;
                margin-top: -6.5rem;

                &:first-child {
                    padding-top: 4rem;
                    margin-top: 0;
                }
            }

            @include media('<tablet') {
                padding-top: 7.5rem;
                margin-top: -5.5rem;

                &:first-child {
                    padding-top: 2rem;
                    margin-top: 0;
                }
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    &__section {
        &-left {
            display: inline-block;
            width: 15%;
            line-height: 1.2;

            p {
                font-size: 3rem;
            }

            @include media('>=tablet') {
                width: 25%;

                p {
                    font-size: 11rem;
                }
            }
        }

        &-right {
            display: inline-block;
            width: 70%;
        }
    }

    &__brands {
        display: flex;
        flex-flow: row wrap;
    }

    &__brand {
        color: $color_mineshaft;
        padding-bottom: 0.5rem;
        width: 50%;

        @include media('<tablet') {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        @include media('>=tablet') {
            width: 33.333%;
        }
    }

    &__desc {
        display: block;
        margin: 2rem 0;
    }

    &__letters {
        margin: 2rem 0;
        @include media('>=tablet') {
            margin: 4rem 0;
        }
    }

    &__letters-wrapper {
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem 1rem;
        border-top: 1px solid $color_gallery;
        border-bottom: 1px solid $color_gallery;

        @include media('>=laptop') {
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }

    &__letter-link {
        display: block;
        padding: 1rem 1.5rem;
        cursor: pointer;
        color: $color_mineshaft;
        width: 4.2rem;
        text-align: center;
        box-sizing: border-box;
        flex-shrink: 0;

        @include media('>=phone') {
            width: 4rem;
        }

        @include media('>=tablet') {
            padding: 1rem 1.25rem;
            width: auto;
        }
    }

    &__button-wrapper {
        position: fixed;
        width: 100%;
        display: none;
        bottom: 4rem;
        margin: 0 auto;
        max-width: 40rem;
        @include media('>=phoneLg') {
            max-width: none;
        }
        @include media('>=tablet') {
            max-width: 93rem;
        }

        &--update-position {
            position: absolute;
            bottom: 1rem;
        }
    }

    &__button {
        @include button(
            $type: $brands-index_button-type,
            $icon_pos: $brands-index_button-icon-pos
        );

        position: absolute !important;
        right: 3rem;
        bottom: 0;

        #{$root}__button-wrapper--update-position & {
            @include media('<tablet') {
                right: 1.8rem;
            }
        }
    }

    &__button-span {
        @include button_span(
            $type: $brands-index_button-type,
            $icon_pos: $brands-index_button-icon-pos
        );
    }
}
