@import 'config/variables';
@import 'vendors/include-media';
@import 'components/button/mixin';

$brands-index_max-width: 93rem !default;
$brands-index_background-color: $color_background-200 !default;

$brands-index_icon_box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27) !default;
$brands-index_icon_height: 5rem !default;
$brands-index_icon_margin: 0.5rem !default;
$brands-index_icon-width--mobile: calc(
    50% - 2 * #{$brands-index_icon_margin}
) !default;
$brands-index_icon-width--tablet: calc(
    25% - 2 * #{$brands-index_icon_margin}
) !default;
$brands-index_icon-width--desktop: calc(
    20% - 2 * #{$brands-index_icon_margin}
) !default;

$brands-index_letter-wrapper_border: 1px solid $color_border-200 !default;

$brands-index_list-item_border: 1px solid $color_border-200 !default;

$brands-index_list-item_letter_font-size--mobile: 3rem !default;
$brands-index_list-item_letter_font-size--desktop: 11rem !default;
$brands-index_list-item_brand_flex-direction: row !default;

.#{$ns}brands-index {
    $root: &;

    background: $brands-index_background-color;

    @include media('>=tablet') {
        max-width: $brands-index_max-width;
        margin: 0 auto;
    }

    &__icons-wrapper {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 4rem;
    }

    &__icon {
        display: flex;
        position: relative;
        width: $brands-index_icon-width--mobile;
        height: $brands-index_icon_height;
        margin: $brands-index_icon_margin;
        box-shadow: $brands-index_icon_box-shadow;

        @include media('>=tablet') {
            width: $brands-index_icon-width--tablet;
        }

        @include media('>=laptop') {
            width: $brands-index_icon-width--desktop;
        }
    }

    &__img {
        width: auto;
        position: absolute;
        max-width: 90%;
        max-height: 90%;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
    }

    &__letters-wrapper {
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem 0;
        border-top: $brands-index_letter-wrapper_border;
        border-bottom: $brands-index_letter-wrapper_border;

        @include media('>=tablet') {
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }

    &__letter-link {
        display: block;
        padding: 1rem 1.5rem;
        color: $color_text-800;
    }

    &__list {
        position: relative;
    }

    &__list-item {
        display: flex;
        width: 100%;
        padding: 2rem 1rem;
        border-bottom: $brands-index_list-item_border;

        @include media('>=tablet') {
            padding: 4rem 2rem;
        }

        &:last-child {
            border-bottom: 0;
        }
    }

    &__section-left {
        margin-right: 3rem;

        @include media('>=tablet') {
            margin-right: 0;
            width: 30%;
        }

        p {
            font-size: $brands-index_list-item_letter_font-size--mobile;
            margin: 0;

            @include media('>=tablet') {
                font-size: $brands-index_list-item_letter_font-size--desktop;
            }
        }
    }

    &__brands {
        display: flex;
        flex-wrap: wrap;
        flex-direction: $brands-index_list-item_brand_flex-direction;
    }

    &__brand {
        color: $color_text-800;
    }
}
