@import 'config/variables';
@import 'components/button/mixin';

// MageSuite_BackInStock extension styling
.#{$ns}product-stock-subscription {
    &__field {
        display: flex;
    }

    &__label {
        margin-bottom: .5rem;
    }

    &__input-wrapper {
        padding-right: 1rem;
        flex: 1 1 25rem;
        max-width: 100%;
    }

    &__submit {
        @include button();
        font-size: 1em;
        margin-bottom: .2em;
    }
}
