@import 'config/variables';
@import 'components/button/mixin';

$product-stock-subscription_button-type: $button_default-type !default;
$product-stock-subscription_button-icon-pos: 'right' !default;

// MageSuite_BackInStock extension styling
.#{$ns}product-stock-subscription {
    &__field {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    &__label {
        margin-bottom: 0.5rem;
    }

    &__input-wrapper {
        width: 100%;

        .mage-error {
            margin-bottom: 0.6rem;
        }
    }

    &__submit {
        @include button(
            $type: $product-stock-subscription_button-type,
            $icon_pos: $product-stock-subscription_button-icon-pos
        );

        margin-top: 0.7rem;
    }

    &__submit-label {
        @include button_span(
            $type: $product-stock-subscription_button-type,
            $icon_pos: $product-stock-subscription_button-icon-pos
        );
    }

    &__submit-icon {
        @include button_icon(
            $type: $product-stock-subscription_button-type,
            $icon_pos: $product-stock-subscription_button-icon-pos
        );

        max-width: 2.2rem;
        max-height: 2.2rem;
    }
}
