.cs-reviews {

    &__title {
        @extend .#{$namespace}product-description__headline;
        background: $colorGallery;

        @include media('>=tablet') {
            background: none;
            padding: 0;
        }
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__label {
        float: left;
        line-height: 4rem;
    }

    &__item {
        padding: 0 0 2.5rem !important;
        margin: 0 0 2.5rem !important;
        border-bottom: 1px solid $colorAlto;

        &:before {
            display: none !important;
        }
    }

    &__form {
        text-align: right;
    }

    &__legend {
        margin-bottom: 1em;
        text-align: left;
    }

    &__legend-product-name {
        font-weight: 700;
    }

    &__fieldset {
        margin-bottom: 1.5em;
        text-align: left;

        .cs-form__field {
            margin-bottom: 2rem;
        }
    }

    &__rate {
        height: 4.1rem;
        overflow: hidden;
        margin-top: 0;
        margin-bottom: 2rem;

        + .mage-error {
            margin: -2rem 0 2rem !important; // stylelint-disable-line
        }
    }

    &__rate-feedback {
        position: absolute;
        top: 50%;
        right: 0;
        padding: 0 1rem;
        font-size: 1.08rem;
        font-weight: 700;
        transform: translateY( -50% );
        color: $colorGray;
    }

    &__review-field {
        min-height: 10rem;
    }
}

.review-control-vote {
    background: $colorWhite;
    border-radius: 3px;
    max-width: 40rem;
    width: 100%;

    @include media('>=tablet') {
        background: $colorGallery;
        max-width: 50%;
    }

    &:before,
    label:before {
        font-size: 4rem;
        height: auto;
        line-height: 1;
    }

    &:before {
        color: $colorAlto;
    }

    label:before {
        color: $colorGold;
    }
}
