.cs-reviews {

    &__title {
        @extend .#{$namespace}product-description__headline;
        background: $colorGallery;

        @include media('>=tablet') {
            background: none;
            padding: 0;
        }
    }

    &__list {
        list-style: none;
        margin: 4rem 0 0;
        padding: 4rem 0 0;
        border-top: 1px solid $colorAlto;
    }

    &__label {
        float: left;
        line-height: 4rem;
    }

    &__item {
        padding: 0 0 1.5em;
        margin: 0 0 2em;
        border-bottom: 1px solid $colorAlto;
    }

    &__form-wrapper {
        @include media('>=tablet') {
            margin-right: 45%;
        }
        @include media('>=laptop') {
            margin-right: 35%;
        }
        @include media('<tablet') {
            padding: 3rem;
            background: $colorGallery;
        }
    }

    &__form {
        text-align: right;
    }

    &__legend {
        margin-bottom: 1em;
        text-align: left;
    }

    &__legend-product-name {
        font-weight: 600;
    }

    &__fieldset {
        margin-bottom: 1.5em;
        text-align: left;
    }

    &__rate {
        height: 4.1rem;
        overflow: hidden;
        margin-top: 0;

        + .mage-error {
            margin: -2rem 0 2rem !important; // stylelint-disable-line
        }
    }

    &__content {
        @include media('>=tablet') {
            margin-right: 45%;
        }
        @include media('>=laptop') {
            margin-right: 35%;
        }
        @include media('<tablet') {
            padding: 3rem;

        }
    }
}

.review-control-vote {
    max-width: 30rem;
    background: $colorWhite;
    border-radius: 3px;
    @include media('>=tablet') {
        background: $colorGallery;
    }
    &:before,
    label:before {
        font-size: 4rem;
        height: auto;
        line-height: 1;
    }

    &:before {
        color: $colorAlto;
    }

    label:before {
        color: $colorMySin;
    }
}
