@import '../visually-hidden/visually-hidden';

@include export-once( 'customizations/table' ) {

    .#{$namespace}table {
        $root: &;
        $rootNoChangeMobile: ($root)--no-change-mobile;
        font-size: 1rem;
        max-width: 100%;
        width: 100%;

        @include media( '<tablet' ) {
            border: none;
            display: block;
        }

        &--bordered {
            @include media('>=tablet') {
                border-top: 1px solid $colorAlto;
                margin-top: 2rem;
            }
        }

        &--no-change-mobile {
            #{$root}__col {
                vertical-align: middle;
            }
        }

        &__head {
            border-bottom: 2px solid $colorAlto;
            @include media( '<tablet' ) {
                display: none;
            }

            &--spacious {
                th {
                    padding: 1.3rem 1.5rem 1.3rem .1rem;
                }
            }
        }

        &__col {
            font-size: 1.3rem;
            color: $colorDoveGray;
            font-weight: 300;
            border-bottom: 1px solid $colorAlto;
            padding: .8rem 1rem;

            &:not( #{$rootNoChangeMobile} ) {
                @include media( '<tablet' ) {
                    border: none;
                    display: block;
                    font-size: 1.4rem;
                    padding: .4rem 1rem;

                    &:first-child {
                        padding-top: 2rem;
                    }
                    &:last-child {
                        padding-bottom: 1.2rem;
                    }
                }


                &:before {
                    @include media('<tablet') {
                        padding-right: 10px;
                        content: attr( data-th ) ': ';
                        display: inline-block;
                        color: $colorMineShaft;
                        font-weight: 700;
                    }
                }
            }


            @include media( '>=laptop' ) {
                font-size: 1.4rem;
            }

            &--attention {
                font-weight: 700;
                color: $colorMineShaft;
            }

            &--actions {
                @include media( '<tablet' ) {
                    border-bottom: 1px solid $colorAlto;
                }
                &:before {
                    @include media('<tablet') {
                        @include visually-hidden;
                    }
                }
            }
        }

        &__buttons {
            margin: 2rem 1.5rem 1.5rem;
            @include media( '>=tablet' ) {
                margin: 2rem 0 1.5rem;
            }

            &--right {
                text-align: right;
            }
        }

        &--tablet-small {
            @include media( '<laptop' ) {
                max-width: 40rem;
                border: none;
                display: block;
                font-size: 1.4rem;
                padding: .4rem 1rem;

                &:first-child {
                    padding-top: 2rem;
                }
                &:last-child {
                    padding-bottom: 1.2rem;
                }
            }

            #{$root}__head {
                @include media('<laptop') {
                    display: none;
                }
            }

            #{$root}__col {
                @include media( '<laptop' ) {
                    border: none;
                    display: block;
                    font-size: 1.4rem;
                    padding: .4rem 1rem;

                    &:first-child {
                        padding-top: 2rem;
                    }
                    &:last-child {
                        padding-bottom: 1.2rem;
                    }
                }
                &:before {
                    @include media( '<laptop' ) {
                        padding-right: 10px;
                        content: attr( data-th ) ': ';
                        display: inline-block;
                        color: $colorMineShaft;
                        font-weight: 700;
                    }
                }

                &--actions {
                    @include media( '<laptop' ) {
                        border-bottom: 1px solid $colorAlto;
                    }
                    &:before {
                        @include media('<laptop') {/* stylelint-disable-line */
                            @include visually-hidden;/* stylelint-disable-line */
                        }
                    }
                }
            }

        }

    }
}
