@import 'config/variables';
@import 'vendors/include-media';
@import 'utils/visually-hidden';
@import 'utils/get-value-from-list';
@import 'components/button/mixin';

$push-notification_gutter: 0 !default;
$push-notification--shipping_gutter: 0 1.5rem !default;
$push-notification_background: $color_white !default;
$push-notification_border: none !default;
$push-notification_border-radius: $border-radius_base !default;
$push-notification_box-shadow: none !default;
$push-notification--shipping_box-shadow: 2px 2px 3px rgba($color_black, 0.1),
    -2px -2px 3px rgba($color_black, 0.1) !default;
$push-notification_padding: 0 !default;
$push-notification--shipping_padding: 2rem 1.5rem !default;
$push-notification_margin: 1.5rem 0 !default;
$push-notification_display: block !default;
$push-notification--shipping_display: flex !default;

$push-notification_icon-status-width: 3.5rem !default;
$push-notification_icon-status-height: 3.5rem !default;
$push-notification_icon-status-animation: true !default;
$push-notification_icon-status-animation-repeat: 6s !default;

$push-notification_message-title-font-size: 2rem !default;
$push-notification_message-title-font-weight: 700 !default;
$push-notification_message-title-request-color: $color_black !default;
$push-notification_message-title-browser-color: $color_black !default;
$push-notification_message-title-enabled-color: $color_success-600 !default;

$push-notification_message-description-font-size: 1.4rem !default;
$push-notification_message-description-font-weight: 400 !default;
$push-notification_message-description-color: $color_text-400 !default;

$push-notification_actions-flex-justify: flex-start !default;
$push-notification--shipping_actions-flex-justify: flex-start !default;

$push-notification_button-accept-type: 'secondary' !default;
$push-notification--shipping_button-accept-type: $button_default-type !default;
$push-notification_button-accept-icon-pos: 'no-icon' !default;
$push-notification--shipping_button-accept-icon-pos: 'no-icon' !default;

$push-notification_button-decline-type: 'secondary' !default;
$push-notification_button-decline-icon-pos: 'no-icon' !default;

$push-notification_permission-border: none !default;
$push-notification_permission-border-radius: $border-radius_base !default;
$push-notification_permission-box-shadow: 2px 2px 5px rgba($color_black, 0.1),
    -2px -2px 5px rgba($color_black, 0.1) !default;
$push-notification_permission-font-size: 1.2rem !default;
$push-notification_permission-padding: 1rem 2rem !default;
$push-notification_permission-color: $color_text-400 !default;
$push-notification_permission-button-font-size: 1.1rem !default;
$push-notification_permission-button-padding: 0.2rem 2rem !default;
$push-notification_permission-button-border: 1px solid $color_black !default;
$push-notification_permission-button-color: $color_black !default;
$push-notification_permission-icon-width: 1.2rem !default;
$push-notification_permission-icon-height: 1.2rem !default;

$push-notification_icon-close-width: 1.5rem !default;
$push-notification_icon-close-height: 1.5rem !default;
$push-notification_icon-close-color: $color_text-400 !default;
$push-notification_icon-close-color--hover: $color_black !default;

.#{$ns}push-notification {
    $root: &;

    display: none;

    &._active {
        display: block;
    }

    &__content {
        position: relative;
        display: $push-notification_display;
        background: $push-notification_background;
        padding: $push-notification_padding;
        border: $push-notification_border;
        border-radius: $push-notification_border-radius;
        box-shadow: $push-notification_box-shadow;
        margin: $push-notification_margin;

        #{$root}--shipping & {
            display: $push-notification--shipping_display;
            flex-wrap: wrap;
            align-items: center;
            box-shadow: $push-notification--shipping_box-shadow;
            padding: $push-notification--shipping_padding;
        }
    }

    &__icons {
        margin: $push-notification_gutter;

        @include media('<phoneLg') {
            display: none;
        }
    }

    &__icon {
        width: $push-notification_icon-status-width;
        height: $push-notification_icon-status-height;

        &--animate {
            @if $push-notification_icon-status-animation {
                animation: ringing
                    $push-notification_icon-status-animation-repeat
                    infinite;
            }
        }
    }

    &__message-wrapper {
        margin: $push-notification_gutter;
        flex: 1;

        #{$root}--shipping & {
            margin: $push-notification--shipping_gutter;
        }

        @include media('<laptop') {
            padding-right: 2 *
                (get-value-from-list($push-notification_padding, 'right'));
        }
    }

    &__message {
        display: flex;
        flex-direction: column;

        &-title {
            font-size: $push-notification_message-title-font-size;
            font-weight: $push-notification_message-title-font-weight;
        }

        &-description {
            font-size: $push-notification_message-description-font-size;
            font-weight: $push-notification_message-description-font-weight;
            color: $push-notification_message-description-color;
        }
    }

    &__actions {
        display: flex;
        justify-content: $push-notification_actions-flex-justify;
        flex-wrap: wrap;

        #{$root}--shipping & {
            justify-content: $push-notification--shipping_actions-flex-justify;
        }

        @include media('<laptop') {
            flex: 1 1 100%;
            margin-top: get-value-from-list($push-notification_padding, 'up');
        }

        @include media('>=phoneLg') {
            flex-wrap: nowrap;
        }
    }

    &__button {
        @include media('<phoneLg') {
            width: 100%;
        }

        &:first-of-type {
            margin: 0 0 0.5rem;

            @include media('>=phoneLg') {
                margin: 0
                    get-value-from-list($push-notification_gutter, 'right') 0 0;

                #{$root}--shipping & {
                    margin: 0
                        get-value-from-list(
                            $push-notification--shipping_gutter,
                            'right'
                        )
                        0 0;
                }
            }
        }

        &--accept {
            @include button(
                $type: $push-notification_button-accept-type,
                $icon_pos: $push-notification_button-accept-icon-pos
            );

            #{$root}__button-span {
                @include button_span(
                    $type: $push-notification_button-accept-type,
                    $icon_pos: $push-notification_button-accept-icon-pos
                );
            }

            #{$root}__button-icon {
                @include button_icon(
                    $type: $push-notification_button-accept-type,
                    $icon_pos: $push-notification_button-accept-icon-pos
                );
            }

            #{$root}--shipping & {
                @include button(
                    $type: $push-notification--shipping_button-accept-type,
                    $icon_pos:
                        $push-notification--shipping_button-accept-icon-pos
                );

                #{$root}__button-span {
                    @include button_span(
                        $type: $push-notification--shipping_button-accept-type,
                        $icon_pos:
                            $push-notification--shipping_button-accept-icon-pos
                    );
                }

                #{$root}__button-icon {
                    @include button_icon(
                        $type: $push-notification--shipping_button-accept-type,
                        $icon_pos:
                            $push-notification--shipping_button-accept-icon-pos
                    );
                }
            }
        }

        &--decline {
            @include button(
                $type: $push-notification_button-decline-type,
                $icon_pos: $push-notification_button-decline-icon-pos
            );

            #{$root}__button-span {
                @include button_span(
                    $type: $push-notification_button-decline-type,
                    $icon_pos: $push-notification_button-decline-icon-pos
                );
            }

            #{$root}__button-icon {
                @include button_icon(
                    $type: $push-notification_button-decline-type,
                    $icon_pos: $push-notification_button-decline-icon-pos
                );
            }
        }
    }

    &__permission {
        display: flex;
        flex-direction: column;
        border: $push-notification_permission-border;
        border-radius: $push-notification_permission-border-radius;
        box-shadow: $push-notification_permission-box-shadow;
        font-size: $push-notification_permission-font-size;
        color: $push-notification_permission-color;
        padding: $push-notification_permission-padding;

        &-icon {
            width: $push-notification_permission-icon-width;
            height: $push-notification_permission-icon-height;
            margin-right: 0.5rem;
        }

        &-button-wrapper {
            display: flex;
            justify-content: flex-end;
            margin-top: 1rem;
        }

        &-button {
            padding: $push-notification_permission-button-padding;
            margin: 0 0.2rem;
            border: $push-notification_permission-button-border;
            color: $push-notification_permission-button-color;
            font-size: $push-notification_permission-button-font-size;

            &--block {
                opacity: 0.3;
            }
        }
    }

    &__close {
        margin: 0 0 0 get-value-from-list($push-notification_padding, 'right');
        padding: get-value-from-list($push-notification_padding, 'right');

        #{$root}--shipping & {
            padding: get-value-from-list(
                $push-notification--shipping_padding,
                'right'
            );
        }

        @include media('<laptop') {
            position: absolute;
            top: 1rem;
            right: get-value-from-list($push-notification_padding, 'right');

            #{$root}--shipping & {
                right: get-value-from-list(
                    $push-notification--shipping_padding,
                    'right'
                );
            }
        }

        &-icon {
            display: block;
            width: $push-notification_icon-close-width;
            height: $push-notification_icon-close-height;
            fill: $push-notification_icon-close-color;
        }

        &:hover {
            #{$root}__close-icon {
                fill: $push-notification_icon-close-color--hover;
            }
        }
    }
}

@keyframes ringing {
    0%,
    12% {
        transform: scale(1) rotate(0deg);
    }
    3%,
    7% {
        transform: scale(1.3) rotate(27deg);
    }
    5%,
    9% {
        transform: scale(1.3) rotate(-27deg);
    }
}
