@import 'components/products-grid/products-grid.scss';

/* This map contains breakpoint names as keys according to the breakpoints map for RWD
 * Value represens count of columns per row for given breakpoint
 * If you need to show all products for given breakpoint, the value should be 0
 * */
$colsByBreakpoint: (
    phone: 1,
    phone-lg: 2,
    tablet: 3,
    laptop: 4,
    laptop-lg: 4,
    desktop: 4,
    tv: 4,
);

/* This map contains breakpoint names as keys according to the breakpoints map for RWD
 * Value represens size of hero item for given breakpoint
 * If you don't have any hero items in your project, put 'none' as value for all keys
 * */
$heroSizeByBreakpoint: (
    phone: 0,
    phone-lg: 0,
    tablet: 2,
    laptop: 2,
    laptop-lg: 2,
    desktop: 2,
    tv: 2,
);
$fontSizeBaseHeadline: 13vw;
$fontSizeBaseSubheadline: 9vw;

.#{$ns}products-grid {
    $root: &;

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    /* Get Basic styles and show only N first rows logic
     * @param $colsByBreakpoint { map } - columns configuration for each breakpoint
     * @param $heroSizeByBreakpoint { map } - hero size (how many tiles it take) for each breakpoint
    */
    @include productsGrid(
        $colsByBreakpoint,
        $heroSizeByBreakpoint,
        $fontSizeBaseHeadline,
        $fontSizeBaseSubheadline
    );

    &__hero {
        &-image {
            height: 100%;
            max-height: 100%;
            max-width: none;
        }

        &-content-wrapper {
            top: 0;
            left: 0;
            align-items: flex-start;

            .#{$ns}products-grid__hero-content {
                height: 100%;
                display: flex;
                flex-direction: column;
            }

            &--variant-1 {
                .#{$ns}products-grid__hero-content {
                    justify-content: center;
                }
            }

            &--variant-2 {
                .#{$ns}products-grid__hero-content {
                    justify-content: flex-end;
                }
            }

            &--variant-3 {
                .#{$ns}products-grid__hero-content {
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
            }

            &--variant-4 {
                .#{$ns}products-grid__hero-content {
                    align-items: center;
                    justify-content: flex-end;
                    text-align: right
                }
            }
        }

        &-content {
            width: 100%;
        }

        &-headline {
            @extend .#{$ns}hero__headline;

            #{$root}__hero--scheme-light & {
                color: $color_white !important;
            }

            @media screen and (min-width: 1200px) {
                font-size: 4rem;
            }
        }

        &-subheadline {
            @extend .#{$ns}hero__subheadline;

            #{$root}__hero--scheme-light & {
                color: $color_white !important;
            }

            @media screen and (min-width: 1200px) {
                font-size: 2.7rem;
            }
        }

        &-text {
            @extend .#{$ns}hero__text;
            max-width: 75%;

            #{$root}__hero--scheme-light & {
                color: $color_white !important;
            }
        }
    }
}
