<div class="cs-container">
    <div class="cs-container__inner">
        {% include locate( 'components/products-grid/products-grid.twig' ) with { 
            namespace: 'cs-',
            items: products,
            hero: hero
        } %}
    </div>
</div>
