<div class="cs-payment | payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="cs-payment__title | cs-input cs-input--type-radio">
        <input type="radio"
               name="payment[method]"
               class="cs-input__radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="cs-input__label cs-input__label--big">
            <span data-bind="text: getTitle()"></span>
            <span class="cs-input__label-icon-wrapper">
                <svg class="cs-input__label-icon">
                    <use xlink:href="#direct_debit"></use>
                </svg>
            </span>
        </label>
    </div>

    <div class="cs-payment__content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="cs-payment__billing | payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <form class="debit_form" action="#" method="post" data-bind="attr: {'id': getCode() + '-form'}">
            <fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode()}">
                <div class="cs-input | field required">
                    <label data-bind="attr: {for: 'bankaccountowner'}" class="cs-input__label">
                        <span><!-- ko i18n: 'Bank Account Owner'--><!-- /ko --></span>
                    </label>
                    <div class="cs-input__control">
                        <input type="text" name="bankaccountowner" class="cs-input__input" value=""
                               data-bind="attr: {
                                    autocomplete: off,
                                    id: 'bankaccountowner',
                                    title: $t('Bank Account Owner')}"
                        />
                    </div>
                </div>
                <div class="cs-input | field required">
                    <label data-bind="attr: {for: 'iban'}" class="cs-input__label">
                        <span><!-- ko i18n: 'IBAN'--><!-- /ko --></span>
                    </label>
                    <div class="cs-input__control">
                        <input type="text" name="iban" class="cs-input__input" value=""
                               data-bind="attr: {
                                    autocomplete: off,
                                    id: 'iban',
                                    title: $t('IBAN')}"
                        />
                    </div>
                </div>
                <div class="cs-input | field required">
                    <label data-bind="attr: {for: 'bic'}" class="cs-input__label">
                        <span><!-- ko i18n: 'BIC'--><!-- /ko --></span>
                    </label>
                    <div class="cs-input__control">
                        <input type="text" name="bic" class="cs-input__input" value=""
                               data-bind="attr: {
                                    autocomplete: off,
                                    id: 'bic',
                                    title: $t('BIC')}"
                        />
                    </div>
                </div>
                <div class="cs-input | field required">
                    <label data-bind="attr: {for: 'bankcompany'}" class="cs-input__label">
                        <span><!-- ko i18n: 'Bank Company'--><!-- /ko --></span>
                    </label>
                    <div class="cs-input__control">
                        <input type="text" name="bankcompany" class="cs-input__input" value=""
                               data-bind="attr: {
                                    autocomplete: off,
                                    id: 'bankcompany',
                                    title: $t('Bank Company')}"
                        />
                    </div>
                </div>
            </fieldset>
        </form>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="cs-payment__buttons">
            <button class="cs-button cs-button--look_default cs-button--type_long | cs-button-payment-method | checkout"
                    type="submit"
                    data-bind="
                    click: placeOrder,
                    attr: {title: $t('Place Order')},
                    enable: (getCode() == isChecked()),
                    css: {disabled: !isPlaceOrderActionAllowed()}
                    "
                    disabled>
                <span data-bind="i18n: 'Place Order'"></span>
            </button>
        </div>

    </div>
</div>
