.#{$namespace}special-attributes {

    display: flex;
    align-items: center;
    color: $colorBombay;
    box-sizing: border-box;

    @include media( '>=tablet', '<laptop' ) {
        width: 100%;
    }

    &__group {
        display: flex;
        margin-right: 1rem;
        align-items: center;

        &:last-child {
            margin-right: 0;
        }
    }

    &__icon {
        fill: $colorBombay;
        width: 3rem;
        height: 2.1rem;
        flex-shrink: 0;
        margin-right: .5rem;

        &--package {
            width: 1.9rem;
            height: 1.9rem;
            stroke: $colorBombay;
        }
    }

    &__text {
        font-size: 1rem;
        padding-right: 1rem;
        @include media('>=tablet') {
            padding-right: .5rem;
        }
    }
}
