.#{$namespace}special-attributes {

    display: flex;
    color: $colorBombay;
    border-top: 1px solid $colorAlto;
    margin-top: 1.5rem;
    padding: 2rem 2.8rem 0;
    width: calc( 100% + 5.6rem );
    transform: translateX( -2.8rem );
    box-sizing: border-box;


    &__group {
        display: flex;
        margin-right: 1rem;
        align-items: center;

        &:last-child {
            margin-right: 0;
        }
    }

    &__icon {
        fill: $colorBombay;
        width: 3rem;
        height: 2.1rem;
        flex-shrink: 0;
        margin-right: .8rem;

        &--package {
            width: 1.9rem;
            height: 1.9rem;
            stroke: $colorBombay;
        }
    }

    &__text {
        font-size: 1rem;
        padding-right: 1rem;
        @include media('>=tablet') {
            padding-right: .5rem;
        }
    }
}
