<div data-role="checkout-messages" class="cs-messages cs-checkout__messages " data-bind="visible: isVisible(), click: removeAll">
    <!-- ko foreach: messageContainer.getErrorMessages() -->
    <div role="alert" class="cs-messages__message cs-messages__message--error error">
        <div class="cs-messages__text" data-ui-id="checkout-cart-validationmessages-message-error" data-bind="text: $data"></div>
    </div>
    <!--/ko-->
    <!-- ko foreach: messageContainer.getSuccessMessages() -->
    <div role="alert" class="cs-messages__message cs-messages__message--success success">
        <div class="cs-messages__text" data-ui-id="checkout-cart-validationmessages-message-success" data-bind="text: $data"></div>
    </div>
    <!--/ko-->
</div>
