
.#{$namespace}cms-block {

    h1 {
        @extend .#{$namespace}t-headline;
        @extend .#{$namespace}t-headline--size_1;
        margin: 1rem 0 2rem;
    }
    h2 {
        @extend .#{$namespace}t-headline;
        @extend .#{$namespace}t-headline--size_2;
        margin: 1rem 0 2rem;
    }
    h3 {
        @extend .#{$namespace}t-headline;
        @extend .#{$namespace}t-headline--size_3;
        margin: 1rem 0 2rem;
    }
    h4 {
        @extend .#{$namespace}t-headline;
        @extend .#{$namespace}t-headline--size_4;
        margin: 1rem 0 2rem;
    }
    h5 {
        @extend .#{$namespace}t-headline;
        @extend .#{$namespace}t-headline--size_5;
        margin: 1rem 0 2rem;
    }
    h6 {
        @extend .#{$namespace}t-headline;
        @extend .#{$namespace}t-headline--size_6;
        margin: 1rem 0 2rem;
    }

    p {
        @extend .#{$namespace}t-text;
    }

    a {
        @extend .#{$namespace}link;
    }

    ul {
        @extend .#{$namespace}list;
        @extend .#{$namespace}list--unstyled;
        margin-bottom: 2rem;
    }

    li {
        @extend .#{$namespace}list__item;
        color: $colorDoveGray;

        &:before {
            content: '';
            display: inline-block;
            width: 1.2rem;
            height: 1.2rem;
            background-image: url( 'images/check@2x.png' );
            background-size: 1.2rem auto;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 1rem;
        }

    }

    img {
        margin: 1rem 1rem 1rem 0;
    }

    strong {
        color: $colorMineShaft;
        font-weight: 700;
    }

    .widget.block-product-link,
    .widget.block-category-link {
        display: inline;
    }
}
