// cs-overlay
// Full-screen overlay for modals etc
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1
.cs-overlay {
    display: none;

    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);

    &--is-visible {
        display: block;
    }
}
