// products-grid
// This component displays products grid configured in M2C PG component
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1

/* Get Basic styles and show only N first rows logic 
 * @param $colsByBreakpoint { map } - columns configuration for each breakpoint
 * @param $heroSizeByBreakpoint { map } - hero size (how many tiles it take) for each breakpoint
*/
@mixin productsGrid( $colsByBreakpoint, $heroSizeByBreakpoint, $fontSizeBaseHeadline: 10vw, $fontSizeBaseSubheadline: 8vw ) {
    $root: &;

    display: none;

    &__hero-link,
    &__hero-figure {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0;
        padding: 0;
    }

    &__hero-figure {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
    }

    &__hero-image {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        max-height: 800px;
        max-width: 640px;
        min-height: 100%;
        min-width: 100%;
        transform: translate3d( -50%, -50%, 0 );
    }

    &__hero-content-wrapper {
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 2rem;
        display: flex;
        align-items: flex-end;
    }

    &__hero-headline {
        line-height: 1.15;
        font-size: 2rem;

        @include media( '>=phone-lg' ) {
            font-size: calc( #{$fontSizeBaseHeadline} / #{map-get( $colsByBreakpoint, phone-lg )} );
        }

        @include media( '>=tablet' ) {
            font-size: calc( #{$fontSizeBaseHeadline} / #{map-get( $colsByBreakpoint, tablet )} );
        }

        @include media( '>=laptop' ) {
            font-size: calc( #{$fontSizeBaseHeadline} / #{map-get( $colsByBreakpoint, laptop )} );
        }

        @include media( '>=laptop-lg' ) {
            font-size: calc( #{$fontSizeBaseHeadline} / #{map-get( $colsByBreakpoint, laptop-lg )} );
        }

        @include media( '>=desktop' ) {
            font-size: calc( #{$fontSizeBaseHeadline} / #{map-get( $colsByBreakpoint, desktop )} );
        }
    }

    &__hero-subheadline {
        line-height: 1.15;
        font-size: 1.8rem;

        @include media( '>=phone-lg' ) {
            font-size: calc( #{$fontSizeBaseSubheadline} / #{map-get( $colsByBreakpoint, phone-lg )} );
        }

        @include media( '>=tablet' ) {
            font-size: calc( #{$fontSizeBaseSubheadline} / #{map-get( $colsByBreakpoint, tablet )} );
        }

        @include media( '>=laptop' ) {
            font-size: calc( #{$fontSizeBaseSubheadline} / #{map-get( $colsByBreakpoint, laptop )} );
        }

        @include media( '>=laptop-lg' ) {
            font-size: calc( #{$fontSizeBaseSubheadline} / #{map-get( $colsByBreakpoint, laptop-lg )} );
        }

        @include media( '>=desktop' ) {
            font-size: calc( #{$fontSizeBaseSubheadline} / #{map-get( $colsByBreakpoint, desktop )} );
        }
    }

    &__hero-text {
        font-size: 1.5rem;
    }

    @supports ( display: grid ) and ( grid-auto-flow: row ) {
        &__item {
            display: list-item;
        }
    }
}
