<!-- <div class="field search" data-bind="if: hasMoreItems">
    <div class="control">
        <input id="search"
               type="text" 
               data-bind="attr: {placeholder: searchPlaceholder}, value: fulltextSearch, event: {change: onSearchChange}"/>
    </div>
</div>
 -->
 
<ol class="cs-aftersearch-nav__filter-items | items" data-bind="foreach: getDisplayedItems()">
    <li class="cs-aftersearch-nav__filter-item | item">
        <a class="cs-input cs-input--type-checkbox | cs-aftersearch-nav__filter-input cs-aftersearch-nav__filter-input--type_checkbox" data-bind="attr: {href:url}, visible: count >= 1">
            <label onclick="this.parentNode.click();">
                <input class="cs-input__checkbox" type="checkbox" data-bind="checked: is_selected" />
                <span class="cs-input__label">
                    <span data-bind="html: label"></span>
                    <span class="cs-aftersearch-nav__filter-count | count"><span data-bind="text: count"></span></span>
                </span>
            </label>
        </a>
        
        <div data-bind="visible: count < 1">
            <span data-bind="html: label"></span>
            <span class="cs-aftersearch-nav__filter-count | count"><span data-bind="text: count"></span></span>
        </div>
    </li>
</ol>

<div data-bind="if: enableExpansion()">
    <button type="button" class="cs-aftersearch-nav__more-filters-button | cs-button cs-button--look_light cs-button--size_300 | action show-more" data-bind="visible: displayShowMore(), event: {click: onShowMore}"><span data-bind="text: showMoreLabel"></span><svg class="cs-button__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow_next"></use></svg></button>
    <button type="button" class="cs-aftersearch-nav__more-filters-button | cs-button cs-button--look_light cs-button--size_300 | action show-less" data-bind="visible: displayShowLess(), event: {click: onShowLess}"><span data-bind="text: showLessLabel"></span><svg class="cs-button__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow_next"></use></svg></button>
</div>
