.#{$namespace}wishlist {
  font-size: 1rem;

  &__line {
    margin: 0;
  }

  &__buttons {
    margin-top: 1rem;
    padding-top: 2rem;
    border-top: 1px solid $colorAlto;
  }

  &__button {
    display: inline-block;
    padding: 0 1rem 1rem 0;
    width: 100%;
    @include media('>=phone-lg') {
      width: 45%;
    }

    @include media('>=tablet') {
      width: auto;
    }
  }
}
