@import 'config/variables';
@import 'vendors/include-media';
@import 'utils/font-family';
@import 'utils/component-spacing';
@import 'components/button/mixin';
@import 'components/typography/mixin';
@import 'components/headline/mixin';

$product-finder_font-size: 1rem !default;

// If switched to yes then there will be a separate back button displayed
// inside each step instead of the shared one.
$product-finder_back-button-per-step: false !default;
// Tells how many options should per each row should be supported at maximum.
$product-finder_step-option-max-per-row: 6 !default;
// Vertical gap size between step options.
$product-finder_step-option-gap: 1rem !default;
// Value for justify-content of options boxes.
$product-finder_justify-options: center !default;
// Value option-sizes padding hack. 100% means that option will be square.
$product-finder_vertical-ratio: 100% !default;
// Value of back button transition
$product-finder_back-button-transition: opacity 0.3s 0.4s, 0.15s linear,
    border-color 0.15s linear, color 0.15s linear !default;
$product-finder_back-button-type: 'secondary' !default;
$product-finder_back-button-icon-position: 'left' !default;
// Previous step button position variables
$product-finder_back-button-horizontal-position: 50% !default;
$product-finder_back-button-horizontal-translation: translateX(-50%) !default;

$product-finder_title-color: $headline_title-color !default;
$product-finder_title-font-size: $headline_title-font-size !default;
$product-finder_title-font-weight: $headline_title-font-weight !default;
$product-finder_title-lines-enabled: $headline_title-lines-enabled !default;
$product-finder_title-lines-color: $headline_title-lines-color !default;

$product-finder_description-color: $color_text-400 !default;
$product-finder_option-border-width: 1px !default;
$product-finder_option-border-color: $color_background-500 !default;
$product-finder_option-border-hover: $color_primary-500 !default;
$product-finder_option-border-radius: 0.5rem !default;

.#{$ns}product-finder {
    $root: &;

    font-size: $product-finder_font-size;
    position: relative;
    padding-bottom: 2rem;
    transition: height 0.3s, padding-bottom 0.3s;
    overflow: hidden;
    @include component-spacing();

    &__back-button {
        @include button(
            $type: $product-finder_back-button-type,
            $icon_pos: $product-finder_back-button-icon-position
        );

        position: absolute;
        bottom: 0;
        opacity: 0;
        transition: $product-finder_back-button-transition;
        left: $product-finder_back-button-horizontal-position;
        transform: $product-finder_back-button-horizontal-translation scale(0);

        &-span {
            @include button_span(
                $type: $product-finder_back-button-type,
                $icon_pos: $product-finder_back-button-icon-position
            );
        }

        &-icon {
            @include button_icon(
                $type: $product-finder_back-button-type,
                $icon_pos: $product-finder_back-button-icon-position
            );
        }

        &--visible {
            opacity: 1;
            transform: $product-finder_back-button-horizontal-translation
                scale(1);

            @if $product-finder_back-button-per-step {
                display: none;

                #{$root}__step & {
                    display: inline-block;
                }
            } @else {
                #{$root}__step & {
                    display: none;
                }
            }
        }
    }

    &__form {
        display: none;
    }

    &__step {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        opacity: 0;
        transition: opacity 0.3s 0.4s;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;

        &--current {
            position: static;
            opacity: 1;
            z-index: 1;
        }
    }

    &__step-header {
        @include headline();
        width: 100%;
    }

    &__step-title {
        @include headline-title(
            $color: $product-finder_title-color,
            $font-size: $product-finder_title-font-size,
            $font-weight: $product-finder_title-font-weight,
            $lines-enabled: $product-finder_title-lines-enabled,
            $lines-color: $product-finder_title-lines-color
        );
    }

    &__step-description {
        @include headline-subtitle($color: $product-finder_description-color);
    }

    &__step-options {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: $product-finder_justify-options;
    }

    &__step-option {
        flex: 0 1 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        cursor: pointer;
        position: relative;
        box-sizing: border-box;
        margin-bottom: $product-finder_step-option-gap;
        border: $product-finder_option-border-width solid
            $product-finder_option-border-color;
        border-radius: $product-finder_option-border-radius;
        transition: 0.3s border-color;
        overflow: hidden;

        &--checked,
        &:hover {
            border-color: $product-finder_option-border-hover;
        }
        // Below declarations have to be split into 3 different loops because
        // of the cascade - we need all mobile declarations, then tablet, then desktop.
        @for $i from 1 to $product-finder_step-option-max-per-row + 1 {
            $step-option-num-of-gaps: $i - 1;

            @include media('<tablet') {
                #{$root}__step--options-mobile_#{$i} & {
                    flex-basis: calc(
                        #{100% / $i} - #{$step-option-num-of-gaps * $product-finder_step-option-gap /
                            $i}
                    );
                    margin-right: $product-finder_step-option-gap;

                    &:nth-child(#{$i}n + #{$i}) {
                        margin-right: 0;
                    }
                }
            }
        }

        @for $i from 1 to $product-finder_step-option-max-per-row + 1 {
            $step-option-num-of-gaps: $i - 1;

            #{$root}__step--options-tablet_#{$i} & {
                @include media('>=tablet', '<laptop') {
                    flex-basis: calc(
                        #{100% / $i} - #{$step-option-num-of-gaps * $product-finder_step-option-gap /
                            $i}
                    );
                    margin-right: $product-finder_step-option-gap;

                    &:nth-child(#{$i}n + #{$i}) {
                        margin-right: 0;
                    }
                }
            }
        }

        @for $i from 1 to $product-finder_step-option-max-per-row + 1 {
            $step-option-num-of-gaps: $i - 1;

            #{$root}__step--options-desktop_#{$i} & {
                @include media('>=laptop') {
                    flex-basis: calc(
                        #{100% / $i} - #{$step-option-num-of-gaps * $product-finder_step-option-gap /
                            $i}
                    );
                    margin-right: $product-finder_step-option-gap;

                    &:nth-child(#{$i}n + #{$i}) {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    &__option-sizer {
        padding-bottom: $product-finder_vertical-ratio;
    }

    &__option-content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /**
         * We do not autoprefix grid since IE11 has many bugs in its implementation
         * but in this small case it is working fine as tested.
         */
        // stylelint-disable declaration-block-no-duplicate-properties
        display: -ms-grid;
        display: grid;
        // stylelint-enable
        -ms-grid-rows: minmax(0, 1fr);
        grid-template-rows: minmax(0, 1fr);

        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    &__option-image {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        -ms-grid-row: 1;
        -ms-grid-column-align: center;
        grid-row: 1;
    }

    &__option-label {
        width: 100%;
        font-size: 1.4rem;
        justify-self: flex-end;
        margin-top: auto;
        font-weight: bold;
        padding-top: 1rem;
        text-align: center;
        -ms-grid-row: 2;
        grid-row: 2;
    }
}
