// t-headline
// t-headline is basic typography class for headlines - it has t- prefix to differ it from block that consists of headline and subheadline. It has 6 sizes and additional light look
//
// See http://warpspire.com/kss/ for documentation guidelines.
// Version 0.0.1

@mixin t-headline(
    $color,
    $font-family,
    $font-size-1,
    $font-size-2,
    $font-size-3,
    $font-size-4,
    $font-size-5,
    $font-size-6
) {
    @include font-family($font-family);
    color: $color;
    font-weight: 700;
    margin: 0;

    &--size {
        &_1 {
            font-size: $font-size-1;
        }
        &_2 {
            font-size: $font-size-2;
        }
        &_3 {
            font-size: $font-size-3;
        }
        &_4 {
            font-size: $font-size-4;
        }
        &_5 {
            font-size: $font-size-5;
        }
        &_6 {
            font-size: $font-size-6;
        }
    }

    &--look {
        &_light {
            font-weight: 400;
        }
    }
}
