<div class="cs-container cs-container--edge-to-edge">
    <div class="cs-container__inner">
        {% include locate('components/hero/hero.twig') with {
            namespace: 'cs-',
            mix: 'cs-hero--centered',
            sizes: '(max-width: 48em) 100vw, (max-width: 1200px) 80vw, 960px',
            navigation: {
                show: true,
                icons: {
                    prev: {
                        mix: 'cs-hero__nav--large',
                        src: '#icon_arrow-left'
                    },
                    next: {
                        mix: 'cs-hero__nav--large',
                        src: '#icon_arrow-right'
                    },
                }
            },
            pagination: {
                show: true
            },
            button: {
                class: 'cs-button cs-button--type_long cs-button--look_default',
                icon: {
                    class: 'cs-button__icon',
                    src: '#arrow_next'
                },
                labelClass: 'cs-button__span'
            },
            items: items
        } %}
    </div>
</div>
