<section class="cs-container cs-container--edge-to-edge">
    <div class="cs-container__inner">
        {% include locate('components/hero/hero.twig') with {
            namespace: 'cs-',
            mix: 'cs-hero--centered',
            navigation: {
                show: true,
                icons: {
                    prev: {
                        mix: 'cs-hero__nav--large',
                        src: asset( 'images/sprites.svg#icon_arrow-left' )
                    },
                    next: {
                        mix: 'cs-hero__nav--large',
                        src: asset( 'images/sprites.svg#icon_arrow-right' )
                    },
                }
            },
            pagination: {
                show: true
            },
            'button': {
                'classes': 'cs-button cs-button--type_long cs-button--look_default',
                'arrow': true,
                'arrowClass': 'cs-button__icon'
            },
            items: items
        } %}
    </div>
</section>
