<section class="cs-container cs-container--edge-to-edge">
    {% include locate('components/hero/hero.twig') with {
    'namespace': 'cs-',
    'button': {
        'classes': 'cs-button cs-button--type_long cs-button--look_default',
        'arrow': true,
        'arrowClass': 'cs-button__icon'
    },
    'items': items
    } %}
</section>
