/**
 * Shop customizations for collapse component
 */

.#{$namespace}collapse {
    $root: &;
    @include collapse;

    &__trigger {
        &--arrowed {
            transition: transform .15s linear, fill .15s linear;

            &:before,
            &:after {
                display: none !important;
            }
        }

        &--arrow-right {
            justify-content: space-between;
        }
    }

    &__trigger-icon {
        margin-left: 1.5rem;
        width: 6px;
        height: 10px;
        fill: $colorGray;
        transform: rotate( 90deg );
        transition: transform .3s;

        #{$root}__trigger--in & {
            transform: rotate( -90deg );
        }
    }
}

.#{$namespace}collapse-inside {
    $root: &;
    @include collapse;

    &__trigger {
        @include media('<tablet') {
            display: none !important;
        }
        &--arrowed {
            transition: transform .15s linear, fill .15s linear;

            &:before,
            &:after {
                display: none !important;
            }
        }

        &--arrow-right {
            justify-content: space-between;
        }
    }

    &__trigger-icon {
        margin-left: 1.5rem;
        width: 6px;
        height: 10px;
        fill: $colorGray;
        transform: rotate( 90deg );
        transition: transform .3s;

        #{$root}__trigger--in & {
            transform: rotate( -90deg );
        }
    }

    &__content {
        @include media('<tablet') {
            transition: none;
            height: auto !important;
            opacity: 1 !important;
            visibility: visible;
            transform: translateY( 0 ) !important;
        }
    }
}
