<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="cs-checkout__agreements | checkout-agreements-block">
    <div data-role="checkout-agreements">
        <div class="checkout-agreements" data-bind="visible: isVisible">
            <!-- ko foreach: agreements -->
            <!-- ko if: ($parent.isAgreementRequired($data)) -->
            <div class="checkout-agreement | cs-input cs-input--type-checkbox | required">
                <input type="checkbox" class="cs-input__checkbox | required-entry"
                       data-bind="checked: $parent.checkboxState, attr: {
                                        'id': $parent.getCheckboxId($parentContext, agreementId),
                                        'name': 'agreement[' + agreementId + ']',
                                        'value': agreementId
                                    }"/>
                <label class="cs-input__label"
                       data-bind="attr: {'for': $parent.getCheckboxId($parentContext, agreementId)}">
                    <span class="cs-link"
                          data-bind="click: function(data, event) { return $parent.showContent(data, event) }"
                        >
                        <span data-bind="html: checkboxText"></span>
                    </span>
                </label>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: ($parent.isAgreementRequired($data)) -->
            <div class="checkout-agreement">
                <span class="cs-link"
                      data-bind="click: function(data, event) { return $parent.showContent(data, event) }"
                    >
                    <span data-bind="html: checkboxText"></span>
                </span>
            </div>
            <!-- /ko -->
            <!-- /ko -->
            <div id="checkout-agreements-modal" data-bind="afterRender: initModal" style="display: none">
                <div class="checkout-agreements-item-content" data-bind="html: modalContent"></div>
            </div>
        </div>
    </div>
</div>
