@import 'components/product-finder/product-finder.scss';

.#{$ns}product-finder {
    @include product-finder();

    &__step-header {
        text-align: center;
        font-size: 1rem;
        padding: 2em 0;
        margin: 2rem 0;
        padding-bottom: 2rem;
    }

    &__step-title {
        display: flex;
        align-items: center;
        margin: 0;
        @extend .#{$ns}t-headline;
        @extend .#{$ns}t-headline--size_1;

        @include media('<tablet') {
            display: block;
        }

        &:before,
        &:after {
            display: flex;
            height: 1px;
            flex-grow: 1;
            background-color: $color_alto;
            @include media('>=tablet') {
                content: '';
            }
        }

        &:before {
            margin-right: 0.6em;
        }

        &:after {
            margin-left: 0.6em;
        }
    }

    &__step-description {
        color: $color_gray;
        font-size: 1.3em;
        margin: 0;
    }

    &__step-option {
        margin-bottom: 1rem;
        border: 0.5rem solid $color_gallery;
        transition: 0.3s border-color;

        &--checked {
            border-color: $color_cerulean-blue;
        }
    }

    &__option-label {
        padding-top: 1rem;
    }

    &__back-button {
        transition: opacity 0.3s 0.4s, 0.15s linear, border-color 0.15s linear,
            color 0.15s linear;

        @extend .cs-button;
        @extend .cs-button--look_light;
    }
}
