@import 'config/variables';
@import 'vendors/include-media';

$pseudoicon-plus-animate: true !default;
$pseudoicon-plus-color: $color_border-700 !default;
$pseudoicon-plus-hover-color: $color_border-700 !default;
$pseudoicon-plus-expanded-color: $color_border-700 !default;
$pseudoicon-plus-size: 1.2em !default;
$pseudoicon-plus-weight: 0.2em !default;
$pseudoicon-plus-position-side-offset: $page_edge-gutter !default;

@mixin pseudoicon-plus(
    $animated: $pseudoicon-plus-animate,
    $color: $pseudoicon-plus-color,
    $color-hover: $pseudoicon-plus-hover-color,
    $color-expanded: $pseudoicon-plus-expanded-color,
    $size: $pseudoicon-plus-size,
    $weight: $pseudoicon-plus-weight,
    $position-side-offset: $pseudoicon-plus-position-side-offset
) {
    $transition: '';

    @if $animated {
        $transition: transform 0.3s ease-out, opacity 0.2s ease-out,
            background-color 0.15s linear;
    } @else {
        @if $color-hover != $color {
            $transition: background-color 0.15s linear;
        }
    }

    position: relative;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: $position-side-offset;
        left: auto;
        width: $size;
        height: $weight;
        background: $color;
        transform: translate3d(0, -50%, 0) !important;
        backface-visibility: hidden;
        transition: $transition;
    }

    &:after {
        transform: translate3d(0, -50%, 0) rotate(90deg) !important;
    }

    @if $color-hover != $color {
        &:hover {
            &:before,
            &:after {
                background: $color-hover;
            }
        }
    }

    &[aria-expanded='true'] {
        &:before {
            transform: translate3d(0, -50%, 0) rotate(-90deg) !important;
            opacity: 0;

            @if $color-expanded != $color {
                background: $color-expanded;
            }
        }

        &:after {
            transform: translate3d(0, -50%, 0) rotate(0) !important;

            @if $color-expanded != $color {
                background: $color-expanded;
            }
        }
    }
}
