@import 'utils/breakpoint/breakpoint.scss';

@mixin gridProduct() {
    $root: &;

    padding: 0;
    position: relative;
    z-index: 2;
    background-color: transparent;
    box-sizing: border-box;

    @include media('>=laptop') {
        &:before {
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            z-index: -1;
            background-color: #fff;
            content: '';
            height: 100%;
            top: 0;
            opacity: 0;
            transition: opacity 0.15s ease-in-out;
            box-shadow: 1px 3px 3rem 0 rgba(30, 48, 67, 0.34);

            #{$root}.no-transition & {
                transition: none;
            }
        }

        &:hover {
            z-index: 7;

            &:before {
                opacity: 1;
            }
        }
    }

    &__main {
        z-index: 2;
        box-shadow: none;
        background-color: #fff;
        padding: 1rem;
        transform: translate3d(0, 0, 0); // Fixes z-index issue in Safari
        transition: box-shadow 0.15s ease-in-out;

        #{$root}.no-transition & {
            transition: none;
        }

        @include media('>=laptop') {
            &:after {
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 0;
                z-index: -1;
                background-color: #fff;
                content: '';

                #{$root}:hover & {
                    height: 3rem;
                }
            }
        }
    }

    &__addons {
        width: 100%;
        background-color: #fff;
        text-align: center;
        padding: 0 1rem 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        overflow: hidden;
        z-index: -2;
        opacity: 0;
        transform: translateY(-100%);
        transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
        box-shadow: 1px 3px 3rem 0 rgba(30, 48, 67, 0.34);

        #{$root}.no-transition & {
            transition: none;
        }

        @include media('>=laptop') {
            #{$root}:hover & {
                opacity: 1;
                transform: translateY(0);
                z-index: -1;

                &:after {
                    height: 3rem;
                }
            }
        }

        &-left,
        &-right {
            width: 50%;
            box-sizing: border-box;
            min-height: 1px;
        }

        &-left {
            padding-left: 0;
            padding-right: 0.5rem;
            text-align: left;
        }

        &-right {
            padding-right: 0;
            padding-left: 0.5rem;
            text-align: right;
        }

        &-top,
        &-bottom {
            width: 100%;
        }
    }

    &__addon {
        padding: 0.5rem 0;
        width: 100%;
        box-sizing: border-box;

        &--in-stock {
            color: #008000;
        }

        &--out-of-stock {
            color: #f00;
        }
    }

    &__figure-wrapper,
    &__name-link {
        display: block;
        text-align: center;

        &:hover {
            color: inherit;
            text-decoration: none;
        }

        &:visited {
            color: inherit;
        }
    }

    &__figure-wrapper {
        margin: -1rem -1rem 0;
        padding: 1rem;
    }

    &__figure {
        position: relative;
        margin: 0;
        height: 14rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @include media('>=tablet') {
            height: 18rem;
        }
    }

    &__image {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        flex-shrink: 0;
    }

    &__badges {
        position: absolute;
        top: 1rem;
        left: 1rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__badge {
        display: flex;
        align-items: center;

        &:empty {
            display: none;
        }
    }

    $swatchesHeight: 1.375rem;
    &__swatches {
        display: flex;
        justify-content: center;
        height: $swatchesHeight;
        margin-bottom: 0.75rem;

        + #{$root}__name {
            margin-top: 0;
        }
    }

    $nameLineHeight: 1.265rem;
    &__name {
        margin-top: calc(#{$swatchesHeight} + 0.75rem);
        margin-bottom: 0.5 * $nameLineHeight;
        height: 2 * $nameLineHeight;
        line-height: $nameLineHeight;
        font-weight: 600;
        overflow: hidden;
    }

    /* disabled because autoprefixer can't build this */
    /* stylelint-disable value-no-vendor-prefix */
    /* stylelint-disable property-no-vendor-prefix */
    &__name-link {
        text-overflow: -o-ellipsis-lastline;

        @supports (line-clamp: 2) or (-webkit-line-clamp: 2) {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            -webkit-box-pack: center;
            line-clamp: 2;
            max-width: 100%;
        }
    }
    /* stylelint-enable value-no-vendor-prefix */
    /* stylelint-enable property-no-vendor-prefix */

    &__price {
        text-align: center;
    }

    &__comment {
        margin-bottom: 1rem;

        &-input {
            max-height: 4rem;
        }
    }

    &__stock {
        margin: 0;
    }

    &__links {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__link-item {
        display: inline-block;
    }

    &__remove {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 2;
    }

    &--static {
        padding: 1rem;
        background-color: #fff;

        #{$root}__main {
            padding: 0;
        }

        #{$root}__addons {
            position: relative;
            transform: none;
            opacity: 1;
            height: auto;
            transition: none;
            box-shadow: none !important;
            padding: 0.5rem 0 0;
            margin-bottom: -0.5rem;

            &:after {
                display: none !important;
            }
        }
    }

    &--in-carousel {
        #{$root}__main {
            width: 100%;
            box-sizing: border-box;
        }

        #{$root}__addons {
            top: 100%;
        }
    }

    &--hidden {
        #{$root}__main,
        #{$root}__addons,
        #{$root}:before {
            visibility: hidden !important;
        }
    }
}
