//Switcher background color for tablet & desktop.
$dropdown_switcher-background: $color_background-210 !default;
//Color of the trigger in offcanvas navigation.
$dropdown_switcher-trigger-color: $color_primary-500 !default;
//Color of the active list border.
$dropdown_switcher-list-border-color: $color_border-200 !default;
//Bottom border configuration for the switcher in offcanvas navigation.
$dropdown_switcher-border: 1px $color_border-500 solid !default;

.cs-dropdown-switcher {
    $root: &;
    white-space: nowrap;
    cursor: pointer;

    @include media('>=laptop') {
        position: relative;
        display: inline-flex;
        align-items: stretch;
        flex-basis: 12%;

        &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 1.3rem;
            content: '';
            border-left: 0.2rem solid $color_white;
            transform: skew(-18deg);
        }
    }
    &__option {
        &-icon {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.6rem;
            display: inline-block;
            vertical-align: top;
        }
    }

    &__trigger {
        @include media('<laptop') {
            position: relative;
            padding: 2.4rem 2rem;
            font-size: 1.4rem;
            font-weight: 700;
            border-bottom: $dropdown_switcher-border;
        }

        @include media('>=laptop') {
            height: 100%;
            display: inline-flex;
            align-items: center;
            margin-left: 2rem;
            font-size: 1.1rem;
            padding: 0 0.8rem;
        }

        &-icon {
            margin-left: 0.5rem;
            width: 0.8rem;
            height: 0.7rem;
            transition: transform 0.3s ease-out;

            @include media('<laptop') {
                position: absolute;
                top: calc(50% - 0.35rem);
                right: 2rem;
                height: 1rem;
                width: 1rem;
                fill: $dropdown_switcher-trigger-color;
            }
        }

        &.active {
            background: $dropdown_switcher-background;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-color: $dropdown_switcher-list-border-color;
            border-style: solid;
            border-width: 1px 1px 0;
            position: relative;
            width: 100%;

            @include media('<laptop') {
                padding: 2.4rem 2rem;
                border-style: none;
            }

            @include media('>=laptop') {
                padding: 0 2rem 0 0.8rem;
            }

            &:before {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                content: '';
                border-bottom: 1px solid $color_alto;
                z-index: 1;
            }

            #{$root}__trigger-span {
                margin-top: -0.2rem;
            }

            #{$root}__trigger-icon {
                transform: rotate(180deg);
            }
        }
    }

    &__list {
        @extend .#{$ns}list;
        display: none;
        list-style: none;
        font-size: 1.1rem;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-color: $dropdown_switcher-list-border-color;
        border-style: solid;
        border-width: 0 1px 1px;
        width: 100%;
        @include media('<laptop') {
            border-style: none;
        }

        @include media('>=laptop') {
            position: absolute;
            top: 100%;
            left: 1rem;
            right: 0;
            background: $color_white;
        }

        &-item {
            margin: 0;
        }

        &-item-link {
            display: block;
            color: $color_mineshaft !important;

            &:hover {
                color: $color_cerulean-blue;
                text-decoration: none;
            }

            @include media('<laptop') {
                padding: 1.4rem 2rem;
                font-size: 1.4rem;
            }

            @include media('>=laptop') {
                padding: 0.6rem 1.8rem;
                font-size: 1.1rem;
            }
        }
    }
}
