@import 'config/variables';
@import 'vendors/include-media';
@import 'utils/reset-list-style';

//Switcher background color for tablet & desktop.
$dropdown-switcher_background: $color_background-210 !default;
//Color of the trigger in offcanvas navigation.
$dropdown-switcher_trigger-color: $color_primary-500 !default;
//Color of the active list border.
$dropdown-switcher_list-border-color: $color_border-200 !default;
//Bottom border configuration for the switcher in offcanvas navigation.
$dropdown-switcher_border: 1px $color_border-500 solid !default;
//Switcher hover
$dropdown-switcher_hover-background: $color_background-500 !default;

.cs-dropdown-switcher {
    $root: &;

    white-space: nowrap;
    cursor: pointer;

    @include media('>=laptop') {
        position: relative;
        display: inline-flex;
        align-items: stretch;
        flex-basis: 14%;
        flex-shrink: 0;

        .page-layout-checkout & {
            flex-basis: 18%;
        }

        &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 1.3rem;
            content: '';
            border-left: 0.2rem solid $color_white;
            transform: skew(-18deg);
            display: block;
        }
    }

    &__option {
        &-icon {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.6rem;
            margin-bottom: 0.2rem;
            display: inline-block;
        }
    }

    &__trigger {
        @include media('<laptop') {
            position: relative;
            padding: 2.4rem 2rem;
            font-size: 1.4rem;
            font-weight: 700;
            border-bottom: $dropdown-switcher_border;
        }

        @include media('>=laptop') {
            height: 100%;
            display: inline-flex;
            align-items: center;
            margin-left: 2rem;
            font-size: 1.1rem;
            padding: 0 0.8rem;
        }

        &-icon {
            margin-left: 0.5rem;
            width: 0.8rem;
            height: 0.7rem;
            transition: transform 0.3s ease-out;

            @include media('<laptop') {
                position: absolute;
                top: calc(50% - 0.35rem);
                right: 2rem;
                height: 1rem;
                width: 1rem;

                path {
                    fill: $dropdown-switcher_trigger-color;
                }
            }
        }

        &.active {
            background: $dropdown-switcher_background;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border: none;
            position: relative;
            width: 100%;

            @include media('<laptop') {
                padding: 2.4rem 2rem;
                border-style: none;
            }

            &:before {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                content: '';
                z-index: 1;
            }

            #{$root}__trigger-icon {
                transform: rotate(180deg);
            }
        }

        &-span {
            display: flex;
            align-items: center;
        }
    }

    &__list {
        @include reset-list-style();
        display: none;
        font-size: 1.1rem;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-color: $dropdown-switcher_list-border-color;
        border-style: solid;
        border-width: 0 1px 1px;
        width: 100%;

        @include media('<laptop') {
            border-style: none;
        }

        @include media('>=laptop') {
            position: absolute;
            top: 100%;
            left: 1rem;
            right: 0;
            background: $color_white;
        }

        &-item {
            margin: 0;
            white-space: normal;
        }

        &-item-link {
            display: block;
            color: $color_mineshaft !important;
            display: flex;
            align-items: center;

            &:hover {
                background-color: $dropdown-switcher_hover-background;
                text-decoration: none;
            }

            @include media('<laptop') {
                padding: 1.4rem 2rem;
                font-size: 1.4rem;
            }

            @include media('>=laptop') {
                padding: 0.6rem 1.8rem;
                font-size: 1.1rem;
            }
        }
    }
}
