@import 'config/variables';
@import 'vendors/include-media';
@import 'utils/reset-list-style';
@import 'components/pseudoicon/mixin';

$dropdown-switcher_background: transparent !default;

$dropdown-switcher_offcanvas-bottom-border: 1px $color_border-500 solid !default;

// Offcanvas trigger options
$dropdown-switcher_offcanvas-trigger-enabled: true !default;
$dropdown-switcher_offcanvas-trigger-color: $color_primary-500 !default;
$dropdown-switcher_offcanvas-trigger-color--active: $dropdown-switcher_offcanvas-trigger-color !default;
$dropdown-switcher_offcanvas-trigger-type: 'arrow' !default;
$dropdown-switcher_offcanvas-trigger-arrow-default: 'down' !default;
$dropdown-switcher_offcanvas-trigger-arrow-active: 'up' !default;
$dropdown-switcher_offcanvas-trigger-width: 0.7rem !default;
$dropdown-switcher_offcanvas-trigger-height: 0.1rem !default;
$dropdown-switcher_offcanvas-trigger-arrow-offset: 3rem !default;
$dropdown-switcher_offcanvas-trigger-position-side-offset: 2.5rem !default;

// Dropdown trigger options
$dropdown-switcher_trigger-enabled: true !default;
$dropdown-switcher_trigger-color: $color_background-800 !default;
$dropdown-switcher_trigger-color--active: $dropdown-switcher_trigger-color !default;
$dropdown-switcher_trigger-type: 'arrow' !default;
$dropdown-switcher_trigger-arrow-default: 'down' !default;
$dropdown-switcher_trigger-arrow-active: 'up' !default;
$dropdown-switcher_trigger-width: 0.7rem !default;
$dropdown-switcher_trigger-height: 0.1rem !default;
$dropdown-switcher_trigger-arrow-offset: 0.5rem !default;
$dropdown-switcher_trigger-position-side-offset: 0 !default;

$dropdown-switcher_list-border-color: $color_border-200 !default;
$dropdown-switcher_list-background-color: $color_background-200 !default;
$dropdown-switcher_list-item-color: $color_text-800 !default;

$dropdown-switcher_hover-background: $color_background-500 !default;

$dropdown-switcher_topbar-separator-border: 0.2rem solid $color_border-100 !default;
$dropdown-switcher_topbar-separator-transform: $transform_skew-400 !default;

$dropdown-switcher_border-radius: 3px !default;
$dropdown-switcher_language-flag-width: 1.5rem !default;
$dropdown-switcher_language-flag-height: 1.5rem !default;

$dropdown-switcher_font-size-primary: 1.4rem !default;
$dropdown-switcher_font-size-secondary: 1.1rem !default;

.#{$ns}dropdown-switcher {
    $root: &;

    white-space: nowrap;
    cursor: pointer;
    width: 100%;

    @include media('>=laptop') {
        .mage-dropdown-dialog {
            position: absolute;
            top: 100%;
            right: -1rem;
            left: 1rem;
        }
    }

    &--currency {
        .mage-dropdown-dialog {
            right: -1rem;
        }
    }

    @include media('>=laptop') {
        position: relative;
        display: inline-flex;
        align-items: center;
        flex-shrink: 0;

        &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 1.3rem;
            content: '';
            border-left: $dropdown-switcher_topbar-separator-border;
            transform: $dropdown-switcher_topbar-separator-transform;
            display: block;
        }
    }

    &--stores {
        @include media('>=laptop') {
            &:before {
                display: none;
            }
        }
    }

    &__option {
        &-icon {
            min-width: $dropdown-switcher_language-flag-width;
            height: $dropdown-switcher_language-flag-height;
            margin-right: 0.6rem;
            margin-bottom: 0.2rem;
            display: inline-block;

            #{$root}--language & {
                @include media('>=laptop') {
                    width: $dropdown-switcher_language-flag-width;
                }
            }
        }
    }

    .switcher-options {
        @include media('>=laptop') {
            display: flex;
        }
    }

    &__trigger {
        padding: 2.4rem 2rem;
        font-size: $dropdown-switcher_font-size-primary;
        font-weight: 700;
        border-bottom: $dropdown-switcher_offcanvas-bottom-border;
        position: relative;

        @if $dropdown-switcher_offcanvas-trigger-enabled {
            @include pseudoicon(
                $type: $dropdown-switcher_offcanvas-trigger-type,
                $arrow-default:
                    $dropdown-switcher_offcanvas-trigger-arrow-default,
                $arrow-active: $dropdown-switcher_offcanvas-trigger-arrow-active,
                $width: $dropdown-switcher_offcanvas-trigger-width,
                $height: $dropdown-switcher_offcanvas-trigger-height,
                $arrow-offset: $dropdown-switcher_offcanvas-trigger-arrow-offset,
                $position-side-offset:
                    $dropdown-switcher_offcanvas-trigger-position-side-offset,
                $color: $dropdown-switcher_offcanvas-trigger-color,
                $color-expanded:
                    $dropdown-switcher_offcanvas-trigger-color--active,
                $active-selector: '&.active'
            );
        }

        @include media('>=laptop') {
            height: 100%;
            display: inline-flex;
            align-items: center;
            margin-left: 2rem;
            font-size: $dropdown-switcher_font-size-secondary;
            font-weight: 400;
            padding: 0 1.5rem 0 0;
            border-bottom: none;

            @if $dropdown-switcher_trigger-enabled {
                @include pseudoicon(
                    $type: $dropdown-switcher_trigger-type,
                    $arrow-default: $dropdown-switcher_trigger-arrow-default,
                    $arrow-active: $dropdown-switcher_trigger-arrow-active,
                    $width: $dropdown-switcher_trigger-width,
                    $height: $dropdown-switcher_trigger-height,
                    $arrow-offset: $dropdown-switcher_trigger-arrow-offset,
                    $position-side-offset:
                        $dropdown-switcher_trigger-position-side-offset,
                    $color: $dropdown-switcher_trigger-color,
                    $color-expanded: $dropdown-switcher_trigger-color--active,
                    $active-selector: '&.active'
                );
            } @else {
                &:before,
                &:after {
                    display: none;
                }
            }
        }

        &.active {
            background: $dropdown-switcher_background;
            border-top-left-radius: $dropdown-switcher_border-radius;
            border-top-right-radius: $dropdown-switcher_border-radius;
            border: none;
            position: relative;
            width: 100%;

            @include media('<laptop') {
                padding: 2.4rem 2rem;
                border-style: none;
            }
        }

        &-span {
            display: flex;
            align-items: center;
        }
    }

    &__list {
        @include reset-list-style();
        display: none;
        list-style: none;
        font-size: $dropdown-switcher_font-size-secondary;
        border-bottom-left-radius: $dropdown-switcher_border-radius;
        border-bottom-right-radius: $dropdown-switcher_border-radius;
        border-color: $dropdown-switcher_list-border-color;
        border-style: solid;
        border-width: 0 1px 1px;
        width: 100%;

        @include media('>=laptop') {
            background: $dropdown-switcher_list-background-color;
            min-width: 100%;
        }

        &-item {
            margin: 0;
            white-space: nowrap;
        }

        &-item-link {
            width: 100%;
            color: $dropdown-switcher_list-item-color !important;
            display: flex;
            align-items: center;

            &:hover {
                background-color: $dropdown-switcher_hover-background;
                text-decoration: none;
            }

            @include media('<laptop') {
                padding: 1.4rem 2rem;
                font-size: $dropdown-switcher_font-size-primary;
            }

            @include media('>=laptop') {
                padding: 0.6rem 1.8rem;
                font-size: $dropdown-switcher_font-size-secondary;
            }
        }
    }
}
