@import 'config/variables';
@import 'vendors/include-media';
@import 'utils/reset-list-style';

$dropdown-switcher_background: transparent !default;

$dropdown-switcher_offcanvas-bottom-border: 1px $color_border-500 solid !default;
$dropdown-switcher_offcanvas-trigger-icon-color: $color_primary-500 !default;
$dropdown-switcher_trigger-icon-color: $color_background-800 !default;

$dropdown-switcher_list-border-color: $color_border-200 !default;
$dropdown-switcher_list-background-color: $color_background-200 !default;
$dropdown-switcher_list-item-color: $color_text-800 !default;

$dropdown-switcher_hover-background: $color_background-500 !default;

$dropdown-switcher_topbar-separator-border: 0.2rem solid $color_border-100 !default;
$dropdown-switcher_topbar-separator-transform: $transform_skew-400 !default;
$dropdown-switcher_trigger-icon-transform: rotate(180deg) !default;

$dropdown-switcher_border-radius: 3px !default;
$dropdown-switcher_language-flag-width: 1.5rem !default;
$dropdown-switcher_language-flag-height: 1.5rem !default;

$dropdown-switcher_font-size-primary: 1.4rem !default;
$dropdown-switcher_font-size-secondary: 1.1rem !default;

.cs-dropdown-switcher {
    $root: &;

    white-space: nowrap;
    cursor: pointer;
    width: 100%;

    @include media('>=laptop') {
        .mage-dropdown-dialog {
            position: absolute;
            top: 100%;
            right: -1rem;
            left: 1rem;
        }
    }

    &--currency {
        .mage-dropdown-dialog {
            right: -1rem;
        }
    }

    @include media('>=laptop') {
        position: relative;
        display: inline-flex;
        align-items: center;
        flex-shrink: 0;

        &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 1.3rem;
            content: '';
            border-left: $dropdown-switcher_topbar-separator-border;
            transform: $dropdown-switcher_topbar-separator-transform;
            display: block;
        }
    }

    &__option {
        &-icon {
            min-width: $dropdown-switcher_language-flag-width;
            height: $dropdown-switcher_language-flag-height;
            margin-right: 0.6rem;
            margin-bottom: 0.2rem;
            display: inline-block;
        }
    }

    .switcher-options {
        @include media('>=laptop') {
            display: flex;
        }
    }

    &__trigger {
        padding: 2.4rem 2rem;
        font-size: $dropdown-switcher_font-size-primary;
        font-weight: 700;
        border-bottom: $dropdown-switcher_offcanvas-bottom-border;
        position: relative;

        @include media('>=laptop') {
            height: 100%;
            display: inline-flex;
            align-items: center;
            margin-left: 2rem;
            font-size: $dropdown-switcher_font-size-secondary;
            font-weight: 400;
            padding: 0 0.5rem 0 0.8rem;
            border-bottom: none;
        }

        &-icon {
            position: absolute;
            top: calc(50% - 0.35rem);
            right: 2rem;
            height: 1rem;
            width: 1rem;
            fill: $dropdown-switcher_offcanvas-trigger-icon-color;

            @include media('>=laptop') {
                position: static;
                margin-left: 0.5rem;
                width: 0.8rem;
                height: 0.7rem;
                transition: transform 0.3s ease-out;
                fill: $dropdown-switcher_trigger-icon-color;
            }
        }

        &.active {
            background: $dropdown-switcher_background;
            border-top-left-radius: $dropdown-switcher_border-radius;
            border-top-right-radius: $dropdown-switcher_border-radius;
            border: none;
            position: relative;
            width: 100%;

            @include media('<laptop') {
                padding: 2.4rem 2rem;
                border-style: none;
            }

            &:before {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                content: '';
                z-index: 1;
            }

            #{$root}__trigger-icon {
                transform: $dropdown-switcher_trigger-icon-transform;
            }
        }

        &-span {
            display: flex;
            align-items: center;
        }
    }

    &__list {
        @include reset-list-style();
        display: none;
        list-style: none;
        font-size: $dropdown-switcher_font-size-secondary;
        border-bottom-left-radius: $dropdown-switcher_border-radius;
        border-bottom-right-radius: $dropdown-switcher_border-radius;
        border-color: $dropdown-switcher_list-border-color;
        border-style: solid;
        border-width: 0 1px 1px;
        width: 100%;

        @include media('>=laptop') {
            background: $dropdown-switcher_list-background-color;
            min-width: 100%;
        }

        &-item {
            margin: 0;
            white-space: nowrap;
        }

        &-item-link {
            display: block;
            width: 100%;
            color: $dropdown-switcher_list-item-color !important;
            display: flex;
            align-items: center;

            &:hover {
                background-color: $dropdown-switcher_hover-background;
                text-decoration: none;
            }

            @include media('<laptop') {
                padding: 1.4rem 2rem;
                font-size: $dropdown-switcher_font-size-primary;
            }

            @include media('>=laptop') {
                padding: 0.6rem 1.8rem;
                font-size: $dropdown-switcher_font-size-secondary;
            }
        }
    }
}
