@import 'config/variables';
@import 'include-media/dist/include-media';

$offcanvas_top-offset-mobile: 5rem !default; // Move below the navigation on mobile.
$offcanvas_top-offset-tablet: 8.3rem !default; // Move below the navigation on tablet.

$offcanvas_overlay-background: rgba($color_background-800, 0.7) !default;

$offcanvas_drawer-background: $color_background-200 !default;

.#{$ns}offcanvas {
    $root: &;

    position: relative;
    z-index: 300;

    &__drawer,
    &__overlay {
        position: fixed;
        left: 0;
        top: $offcanvas_top-offset-mobile;

        @include media('>=tablet') {
            top: $offcanvas_top-offset-tablet;
        }

        @include media('>=laptop') {
            display: none;
        }
    }

    &__overlay {
        width: 100%;
        height: 100%;
        background-color: transparent;
        // Setting 1ms because 0 doesn't seem to work and we need seamless transition for scale here.
        transition: background-color 0.3s, transform 1ms 0.3s;
        transform: scale(0);
        cursor: pointer;

        &--visible {
            transform: scale(1);
            background: $offcanvas_overlay-background;
            transition: background-color 0.3s;
        }
    }

    &__drawer {
        position: fixed;
        bottom: 0;
        background: $offcanvas_drawer-background;
        transform: translate3d(-105%, 0, 0);
        transition: transform 0.3s;
        width: 90%;
        max-width: 40rem;
        overflow: auto;

        #{$root}--slide-from-right & {
            left: auto;
            right: 0;
            transform: translate3d(105%, 0, 0);
        }

        &--visible {
            transform: translate3d(0, 0, 0) !important;
        }
    }
}
