@import 'config/variables';
@import 'vendors/include-media';

@import 'components/button/mixin';

$minicart_padding: 2rem 0 !default;

$minicart_close-button-color: $color_text-200 !default;

$minicart_item-border: 1px solid $color_border-500 !default;
$minicart_item-headline-color: $color_text-800 !default;
$minicart_item-padding: 1.5rem !default;

$minicart_background: $color_background-500 !default;
$minicart_box-shadow: 0 0 21px 0 rgba($color_background-800, 0.27) !default;

$minicart_width: 40rem !default;

$minicart_content-background: $color_background-200 !default;

$minicart_button-checkout-type: $button_default-type !default;
$minicart_button-checkout-icon-pos: $button_default-icon-pos !default;

$minicart_button-viewcart-type: 'secondary' !default;
$minicart_button-viewcart-icon-pos: $button_default-icon-pos !default;

.#{$ns}minicart {
    $root: &;

    &__close {
        display: inline-block;
        background: none;
        box-sizing: content-box;
        border: 0;
        box-shadow: none;
        line-height: inherit;
        margin: 0;
        padding: 0;
        text-decoration: none;
        text-shadow: none;
        font-weight: 400;
        position: absolute;
        right: 0;
        width: 5rem;
        height: 3rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        &:focus,
        &:active,
        &:hover {
            background: transparent;
            border: none;
            color: inherit;
        }

        &:before {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 5rem;
            line-height: 3rem;
            color: inherit;
            content: '\e616';
            /* stylelint-disable-next-line */
            font-family: 'icons-blank-theme';
            margin: 0;
            vertical-align: top;
            display: inline-block;
            font-weight: normal;
            overflow: hidden;
            speak: none;
            text-align: center;
        }
    }

    &__close-text {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    &__title-wrapper {
        position: relative;
        padding: $minicart_padding;
        display: flex;
        color: $minicart_item-headline-color;
        font-weight: 700;
        font-size: 1.8rem;
        margin: 0;
    }

    &__items-total {
        margin-left: 0.5rem;

        &:before {
            content: '(';
        }

        &:after {
            content: ')';
        }
    }

    &__edit-link {
        font-weight: 700;

        .#{$ns}link__icon {
            padding: 0 0 0 1rem;
        }
    }

    &__content {
        height: auto !important;
        background-color: $minicart_content-background;
        position: relative;

        .load.indicator:before {
            height: unset;
        }
    }

    &__list {
        padding: 0;
        list-style: none;
        margin-bottom: 0;

        &--scroll {
            height: auto !important;
            max-height: calc(100vh - 36rem);
            overflow-y: auto;

            @include media('>=tablet') {
                max-height: calc(100vh - 38rem);

                .is-tablet & {
                    max-height: calc(100vh - 43rem);
                }
            }
        }
    }

    &__list-item {
        padding: $minicart_item-padding;
        border-bottom: $minicart_item-border;
        margin-bottom: 0;

        &:last-child {
            border-bottom: none;
        }
    }

    &__actions-wrapper {
        padding: $minicart_padding;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0 -5px 5px -5px rgba($color_background-800, 0.27);
            z-index: 1;
        }

        &.empty {
            &:after {
                display: none;
            }
        }
    }

    &__actions {
        margin-top: 1rem;

        &:first-child {
            margin-top: 0;
        }
    }

    &__empty {
        padding: $minicart_padding;
        display: inline-block;
        font-size: 1.4rem;
        text-align: center;
    }

    &__subtotal {
        font-weight: 700;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.2rem;
    }

    &__subtotal-price {
        .price {
            font-weight: 700;
            font-size: 1.5rem !important;
        }
    }

    &__button-checkout {
        @include button(
            $type: $minicart_button-checkout-type,
            $icon_pos: $minicart_button-checkout-icon-pos
        );

        width: 100%;

        &-span {
            @include button_span(
                $type: $minicart_button-checkout-type,
                $icon_pos: $minicart_button-checkout-icon-pos
            );
            /* stylelint-disable-next-line */
        }

        &-icon {
            @include button_icon(
                $type: $minicart_button-checkout-type,
                $icon_pos: $minicart_button-checkout-icon-pos
            );
            /* stylelint-disable-next-line */
        }
    }

    &__button-viewcart {
        @include button(
            $type: $minicart_button-viewcart-type,
            $icon_pos: $minicart_button-viewcart-icon-pos
        );

        width: 100%;

        &-span {
            @include button_span(
                $type: $minicart_button-viewcart-type,
                $icon_pos: $minicart_button-viewcart-icon-pos
            );
            /* stylelint-disable-next-line */
        }

        &-icon {
            @include button_icon(
                $type: $minicart_button-viewcart-type,
                $icon_pos: $minicart_button-viewcart-icon-pos
            );
            /* stylelint-disable-next-line */
        }
    }
}

.minicart-wrapper {
    .ui-dialog {
        position: absolute;
        top: 100%;
        right: 0.5rem;
        z-index: 99999;

        @include media('>=laptop') {
            right: -1rem;
        }

        @if ($global_header-height-desktop > $global_header-height-tablet) {
            @include media('>=laptopLg') {
                top: calc(
                    100% -
                        (
                            (
                                    #{$global_header-height-desktop} - #{$global_header-height-tablet}
                                ) / 2
                        )
                );
            }
        }
    }

    .block-minicart {
        background: $minicart_background;
        box-shadow: $minicart_box-shadow;
        border: none;
        width: 31rem;
        right: 0;
        margin: 0;
        padding: 0 2rem;
        position: relative;

        @include media('>=phoneLg') {
            width: $minicart_width;
        }

        &:before {
            display: none;
        }

        &:after {
            content: '';
            position: absolute;
            width: 1.5rem;
            height: 1.5rem;
            background: $minicart_background;
            transform: rotate(45deg);
            top: -0.8rem;
            right: 1.5rem;
            left: auto;

            @include media('>=laptop') {
                right: 4.5rem;
            }
        }
    }
}
