@import 'config/variables';
@import 'vendors/include-media';
@import 'components/button/mixin';
@import 'etc/view.scss';
@import 'utils/deep-get/deep-get.scss';
@import 'components/pseudoicon/mixin';

$minicart-offcanvas: deep-get(
    $view-xml,
    vars,
    Magento_Checkout,
    minicart_offcanvas,
    enabled
) !default;

$minicart-offcanvas-carousel: deep-get(
    $view-xml,
    vars,
    Magento_Checkout,
    minicart_offcanvas,
    products_carousel,
    enabled
) !default;

$minicart_offcanvas-wrapper: 0 !default;
$minicart_offcanvas-padding: 1.5rem 2rem !default;
$minicart_offcanvas-title-padding: 1rem 2rem !default;
$minicart_offcanvas-item-padding: 1.5rem 2rem !default;
$minicart_offcanvas-free-shipping-indicator: false !default;
$minicart_offcanvas-offset-iphone-fix: 40rem !default;

$minicart__close-include-pseudoicon: true !default;
$minicart__close-width: 2rem !default;
$minicart__close-line-width: 0.2rem !default;
$minicart__close-color: $color_text-600 !default;
$minicart__close-color-hover: $color_text-500 !default;

$minicart_offcanvas-carousel-background: $color_background-200 !default;
$minicart_offcanvas-carousel-spacing: 2rem !default;
$minicart_offcanvas-carousel-position: 'center' !default; // Default value: center. Possible values: center / top / bottom
$minicart_offcanvas-carousel-position-offset: $minicart_offcanvas-carousel-spacing !default;
$minicart_offcanvas-carousel-button-position: 'center' !default; // Default value: center. Possible values: center / left / right
$minicart_offcanvas-carousel-button-border: 1px solid $color_border-500 !default;
$minicart_offcanvas-carousel-button-spacing: 3rem !default;
/* prettier-ignore */
$minicart_offcanvas-carousel-transition: opacity $transition-default-time ease-in !default;
$minicart_offcanvas-carousel-spinner-size: 11rem !default;

$minicart_padding: 2rem 0 !default;

$minicart_close-button-color: $color_text-200 !default;

$minicart_item-border: 1px solid $color_border-500 !default;
$minicart_item-headline-color: $color_text-800 !default;
$minicart_item-padding: 1.5rem !default;

$minicart_background: $color_background-500 !default;
$minicart_box-shadow: 0 0 21px 0 rgba($color_background-800, 0.27) !default;

$minicart_width: 40rem !default;

$minicart_content-background: $color_background-200 !default;
$minicart_action-wrapper_box-shadow: 0 -5px 5px -5px
    rgba($color_background-800, 0.27) !default;

$minicart_button-checkout-type: $button_default-type !default;
$minicart_button-checkout-icon-pos: $button_default-icon-pos !default;

$minicart_button-viewcart-type: 'secondary' !default;
$minicart_button-viewcart-icon-pos: $button_default-icon-pos !default;

$minicart_button-carousel-type: 'secondary' !default;
$minicart_button-carousel-icon-pos: $button_default-icon-pos !default;

.#{$ns}minicart {
    $root: &;

    &__close {
        display: inline-block;
        background: none;
        box-sizing: content-box;
        border: 0;
        box-shadow: none;
        line-height: inherit;
        margin: 0;
        padding: 0;
        text-decoration: none;
        text-shadow: none;
        font-weight: 400;
        position: absolute;
        right: -1.5rem;
        width: 5rem;
        height: 5rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        &:focus,
        &:active,
        &:hover {
            background: transparent;
            border: none;
            color: inherit;
        }

        @if $minicart-offcanvas {
            right: 0.5rem;
        }
    }

    &__close-icon {
        @if ($minicart__close-include-pseudoicon) {
            @include pseudoicon(
                $color: $minicart__close-color,
                $color-hover: $minicart__close-color-hover,
                $width: $minicart__close-width,
                $height: $minicart__close-line-width
            );
        }

        transform: rotate(45deg);
        width: 100%;
        height: 100%;
        display: inline-block;
    }

    &__close-text {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    &__title-wrapper {
        position: relative;
        padding: $minicart_padding;
        display: flex;
        color: $minicart_item-headline-color;
        font-weight: 700;
        font-size: 1.8rem;
        margin: 0;

        @if $minicart-offcanvas {
            padding: $minicart_offcanvas-title-padding;
            font-size: 2.1rem;
            text-transform: uppercase;
            border-bottom: $minicart_item-border;
        }
    }

    &__items-total {
        margin-left: 0.5rem;

        &:not(#{$root}__items-total--empty) {
            &:before {
                content: '(';
            }

            &:after {
                content: ')';
            }
        }

        &--empty {
            .count {
                display: none;
            }
        }

        @if $minicart-offcanvas {
            color: $color_text-500;
            font-weight: 400;
        }
    }

    &__edit-link {
        font-weight: 700;

        .#{$ns}link__icon {
            padding: 0 0 0 1rem;
        }
    }

    &__content {
        height: auto !important;
        background-color: $minicart_content-background;
        position: relative;

        .load.indicator:before {
            height: unset;
        }
    }

    &__list {
        padding: 0;
        list-style: none;
        margin-bottom: 0;

        &--scroll {
            height: auto !important;
            max-height: calc(100vh - 36rem);
            overflow-y: auto;

            @include media('>=tablet') {
                max-height: calc(100vh - 38rem);

                .is-tablet & {
                    max-height: calc(100vh - 43rem);
                }
            }

            @if $minicart_offcanvas-free-shipping-indicator {
                /* iPhone X and Xs Max */
                /* prettier-ignore */
                @media only screen 
                and (min-device-width: 375px) 
                and (min-device-height: 812px) 
                and (-webkit-device-pixel-ratio: 3)
                and (orientation: portrait) {
                    max-height: calc(100vh - #{$minicart_offcanvas-offset-iphone-fix}) !important;
                }

                /* iPhone XR */
                /* prettier-ignore */
                @media only screen 
                and (min-device-width: 414px) 
                and (min-device-height: 896px) 
                and (-webkit-device-pixel-ratio: 2) 
                and (orientation: portrait) {
                    max-height: calc(100vh - #{$minicart_offcanvas-offset-iphone-fix}) !important;
                }
            }
        }
    }

    &__list-item {
        padding: $minicart_item-padding;
        border-bottom: $minicart_item-border;
        margin-bottom: 0;

        &:last-child {
            border-bottom: none;
        }

        @if $minicart-offcanvas {
            padding: $minicart_offcanvas-item-padding;
        }
    }

    &__actions-wrapper {
        padding: $minicart_padding;
        position: relative;

        @if $minicart-offcanvas {
            padding: $minicart_offcanvas-padding;
            box-shadow: $minicart_action-wrapper_box-shadow;
        }
    }

    &__actions {
        margin-top: 1rem;

        &:first-child {
            margin-top: 0;
        }
    }

    &__empty {
        padding: $minicart_padding;
        display: inline-block;
        font-size: 1.4rem;
        text-align: center;
    }

    &__subtotal {
        font-weight: 700;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.2rem;
    }

    &__subtotal-price {
        .price {
            font-weight: 700;
            font-size: 1.5rem !important;

            @if $minicart-offcanvas {
                font-size: 2.1rem !important;
            }
        }
    }

    &__button-checkout {
        @include button(
            $type: $minicart_button-checkout-type,
            $icon_pos: $minicart_button-checkout-icon-pos
        );

        width: 100%;

        &-span {
            @include button_span(
                $type: $minicart_button-checkout-type,
                $icon_pos: $minicart_button-checkout-icon-pos
            );
            /* stylelint-disable-next-line */
        }

        &-icon {
            @include button_icon(
                $type: $minicart_button-checkout-type,
                $icon_pos: $minicart_button-checkout-icon-pos
            );
            /* stylelint-disable-next-line */
        }
    }

    &__button-viewcart {
        @include button(
            $type: $minicart_button-viewcart-type,
            $icon_pos: $minicart_button-viewcart-icon-pos
        );

        width: 100%;

        &-span {
            @include button_span(
                $type: $minicart_button-viewcart-type,
                $icon_pos: $minicart_button-viewcart-icon-pos
            );
            /* stylelint-disable-next-line */
        }

        &-icon {
            @include button_icon(
                $type: $minicart_button-viewcart-type,
                $icon_pos: $minicart_button-viewcart-icon-pos
            );
            /* stylelint-disable-next-line */
        }
    }

    &__button-carousel {
        &-wrapper {
            display: flex;
            justify-content: center;
            padding-top: $minicart_offcanvas-carousel-button-spacing;
            margin: $minicart_offcanvas-carousel-button-spacing 0;
            border-top: $minicart_offcanvas-carousel-button-border;

            @if $minicart_offcanvas-carousel-button-position == 'left' {
                justify-content: flex-start;
            } @else if $minicart_offcanvas-carousel-button-position == 'right' {
                justify-content: flex-end;
            }
        }

        @include button(
            $type: $minicart_button-carousel-type,
            $icon_pos: $minicart_button-carousel-icon-pos
        );

        &-span {
            @include button_span(
                $type: $minicart_button-carousel-type,
                $icon_pos: $minicart_button-carousel-icon-pos
            );
            /* stylelint-disable-next-line */
        }

        &-icon {
            @include button_icon(
                $type: $minicart_button-carousel-type,
                $icon_pos: $minicart_button-carousel-icon-pos
            );
            /* stylelint-disable-next-line */
        }
    }

    &__messages {
        padding: 0 2rem;
    }

    &-offcanvas__wrapper {
        padding: $minicart_offcanvas-wrapper;
    }
}

@if $minicart-offcanvas and $minicart-offcanvas-carousel {
    /* prettier-ignore */
    .#{$ns}minicart__carousel {
        $root: &;
        position: relative;
        z-index: 10;

        &-container {
            opacity: 0;
            transition: $minicart_offcanvas-carousel-transition;
            background: $minicart_offcanvas-carousel-background;

            #{$root}-wrapper--ready & {
                opacity: 1;
            }
        }

        &-wrapper {
            display: none;
            top: 50%;
            right: calc(#{$minicart_width} + #{$minicart_offcanvas-carousel-spacing});
            transform: translateY(-50%);
            width: calc(100vw - (#{$minicart_width} + (2 * #{$minicart_offcanvas-carousel-spacing})));
            max-width: 120rem;
            padding: 0;
            margin: 0;
            background: transparent;

            @at-root .drawer--visible & {
                position: absolute;
            }

            @include media('>=tablet') {
                display: block;
            }

            @include media('>=laptopLg') {
                max-height: 80vh;
            }

            @include media('>=laptopLg') {
                right: calc(#{$minicart_width} + (2 * #{$minicart_offcanvas-carousel-spacing}));
                width: calc(100vw - (#{$minicart_width} + (4 * #{$minicart_offcanvas-carousel-spacing})));
            }

            @if $minicart_offcanvas-carousel-position == 'top' {
                top: $minicart_offcanvas-carousel-position-offset;
                transform: translateY(0%);
            } @else if $minicart_offcanvas-carousel-position == 'bottom' {
                top: auto;
                bottom: $minicart_offcanvas-carousel-position-offset;
                transform: translateY(0%);
            }

            .#{$ns}headline {
                margin: 0 0 $minicart_offcanvas-carousel-spacing;
                padding: $minicart_offcanvas-carousel-spacing 0 0;
            }
        }

        &-spinner {
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            width: $minicart_offcanvas-carousel-spinner-size;
            height: $minicart_offcanvas-carousel-spinner-size;
            padding: $minicart_offcanvas-carousel-spacing 0;
            transform: translate3d(-50%, -50%, 0);
            transition: $minicart_offcanvas-carousel-transition;

            #{$root}-wrapper--loading & {
                opacity: 1;
                z-index: 10;
            }
        }

        .#{$ns}products-carousel {
            margin: 0;
            background: $minicart_offcanvas-carousel-background;
        }
    }
} @else {
    .#{$ns}minicart__carousel {
        &-spinner {
            display: none;
        }
    }
}

@if $minicart-offcanvas != true {
    .minicart-wrapper {
        .ui-dialog {
            position: absolute;
            top: 100%;
            right: 0.5rem;
            z-index: 99999;

            @include media('>=laptop') {
                right: -1rem;
            }

            @if ($global_header-height-desktop > $global_header-height-tablet) {
                @include media('>=laptopLg') {
                    top: calc(
                        100% -
                            (
                                (
                                        #{$global_header-height-desktop} - #{$global_header-height-tablet}
                                    ) / 2
                            )
                    );
                }
            }
        }

        .block-minicart {
            background: $minicart_background;
            box-shadow: $minicart_box-shadow;
            border: none;
            width: 31rem;
            right: 0;
            margin: 0;
            padding: 0 2rem;
            position: relative;

            @include media('>=phoneLg') {
                width: $minicart_width;
            }

            &:before {
                display: none;
            }

            &:after {
                content: '';
                position: absolute;
                width: 1.5rem;
                height: 1.5rem;
                background: $minicart_background;
                transform: rotate(45deg);
                top: -0.8rem;
                right: 1.5rem;
                left: auto;

                @include media('>=laptop') {
                    right: 4.5rem;
                }
            }
        }
    }
} @else {
    .minicart-wrapper {
        .ui-dialog {
            display: block !important;
        }
    }
}
