<div class="cs-minicart__wrapper">
    <div class="cs-minicart__title-wrapper">
        <button type="button"
            id="btn-minicart-close"
            class="action close cs-minicart__close"
            data-action="close"
            data-bind="attr: { title: $t('Close') }">
            <span class="cs-minicart__close-text" translate="'Close'"/>
        </button>
        <span class="text cs-minicart__title" translate="'My Cart'"/>
    </div>
    <div class="cs-minicart__content-wrapper">
        <div class="cs-minicart__content">
            <if args="getCartParam('summary_count')">
                <ol id="mini-cart" class="cs-minicart__list cs-minicart__list--scroll" data-bind="foreach: { data: getCartParam('items'), as: 'item' }">
                    <each args="$parent.getRegion($parent.getItemRenderer(item.product_type))"
                        render="{name: getTemplate(), data: item, afterRender: function() {$parents[1].initSidebar()}}"
                    />
                </ol>
            </if>
        </div>
        <div class="cs-minicart__actions-wrapper">
            <if args="getCartParam('summary_count')">
                <each args="getRegion('subtotalContainer')" render=""/>
                <each args="getRegion('extraInfo')" render=""/>
                <div class="actions cs-minicart__actions" if="getCartParam('possible_onepage_checkout')">
                    <button
                        id="top-cart-btn-checkout"
                        type="button"
                        class="action primary checkout cs-minicart__button-checkout"
                        data-action="close"
                        data-bind="
                            attr: {
                                title: $t('Proceed to Checkout')
                            },
                            click: closeMinicart()
                        "
                    >
                        <span class="cs-minicart__button-checkout-span" translate="'Proceed to Checkout'" />
                        <img class="inline-svg cs-minicart__button-checkout-icon" data-bind="attr: { src: require.toUrl('images/icons/minicart/icon-checkout.svg') }" alt="">
                    </button>
                    <div class="cs-minicart__extra-buttons" data-bind="html: getCartParam('extra_actions')"></div>
                </div>
            </if>
            <ifnot args="getCartParam('summary_count')">
                <strong class="subtitle empty cs-minicart__empty"
                    data-bind="visible: closeSidebar()"
                    translate="'You have no items in your shopping cart.'"
                />
                <if args="getCartParam('cart_empty_message')">
                    <p class="minicart empty text cs-minicart__empty" text="getCartParam('cart_empty_message')"/>
                    <div class="cs-minicart__actions">
                        <a class="action viewcart cs-minicart__button-viewcart" data-bind="attr: {href: shoppingCartUrl}">
                            <span class="cs-minicart__button-viewcart-span" translate="'View and Edit Cart'"/>
                            <img class="inline-svg cs-minicart__button-viewcart-icon" data-bind="attr: { src: require.toUrl('images/icons/minicart/icon-edit-cart.svg') }" alt="">
                        </a>
                    </div>
                </if>
            </ifnot>
            <div class="actions cs-minicart__actions" if="getCartParam('summary_count')">
                <a class="viewcart cs-minicart__button-viewcart" data-bind="attr: {href: shoppingCartUrl}">
                    <span class="cs-minicart__button-viewcart-span" translate="'View and Edit Cart'"/>
                    <img class="inline-svg cs-minicart__button-viewcart-icon" data-bind="attr: { src: require.toUrl('images/icons/minicart/icon-edit-cart.svg') }" alt="">
                </a>
            </div>
            <div id="minicart-widgets" class="minicart-widgets cs-minicart__widgets">
                <each args="getRegion('promotion')" render=""/>
            </div>
        </div>
    </div>
    <each args="getRegion('sign-in-popup')" render=""/>
</div>
