$namespace: 'cs-';
@import '../../components/container/container';

.#{$namespace}container {
    @include container();

    @media ( min-width: 1200px ) {
        margin: 0 calc( ( ( 100vw - 100% ) / 2 ) * -1 );
    }

    &__inner {
        @include container-wrapper();

        &:after {
            content: '';
            display: table;
            clear: both;
        }

        &--flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @include media('>=tablet') {
                flex-wrap: nowrap;
            }

            &:after {
                display: none;
            }
        }
    }

    &__main-column {
        @include media( '>=laptop' ) {
            padding-right: 35%;
        }

        &:after {
            content: '';
            display: table;
            clear: both;
        }
    }

    &__aside {
        width: 100vw;
        @include media('>=tablet') {
            width: 40%;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            padding-top: 4.5rem;
        }
        @include media('>=laptop') {
            width: 32%;
        }
        @include media('>=desktop') {
            right: 0;
            width: 30%;
        }
    }

    &--contrast {
        background-color: $colorGallery;

        &-mobile {
            @include media( '<tablet' ) {
                background-color: $colorGallery;
            }
        }

        @include media( '>=tablet' ) {
            background-image: url( 'images/background.png' );
        }
    }

    &--spacious {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    &--checkout-type {
        @include media('<tablet') {
            padding-left: 0;
            padding-right: 0;
            width: 100vw;
        }
        @include media('>=tablet') {
            padding-bottom: 5rem;
        }
    }

    &--edge-to-edge {
        margin-left: -15px;
        margin-right: -15px;

        @include media('>=tablet') {
            margin-left: 0;
            margin-right: 0;
        }

        @include media('>=tablet') {
            margin: 0 calc( ( ( 100vw - 100% ) / 2 ) * -1 );
        }
    }

    &--breadcrumbs {
        background-image: url( 'images/breadcrumbs.png' );
        background-size: auto 4.8rem;
        background-position: right;
        background-repeat: no-repeat;
        display: none;

        @include media('>=tablet') {
            display: block;
        }
    }

    &--details {
        background-color: $colorGallery;
        background-size: cover;
        background-repeat: no-repeat;

        @include media('>=tablet') {
            padding: 0 2rem;
        }

        @include media('>=desktop') {
            padding: 2rem 0 0;
            background-image: url( 'images/background.png' );
        }
    }

}
