.#{$namespace}container {
    $root: &;

    @include container();
    margin: 0 calc( ( (100vw - 100%) / 2 ) * -1 );

    &__inner {
        @include container-wrapper();

        position: relative;

        &:after {
            content: '';
            display: table;
            clear: both;
        }

        &--flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @include media( '>=tablet' ) {
                flex-wrap: nowrap;
            }

            &:after {
                display: none;
            }
        }

        #{$root}--edge-to-edge & {
            @include media( '>=tablet' ) {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }

    &__aside {
        @include media( '>=tablet' ) {
            width: 40%;
            position: absolute;
            top: 0;
            right: 2.2rem;
            height: 100%;
        }
        @include media( '>=laptop' ) {
            width: 32%;
        }
        @include media( '>=desktop' ) {
            right: 0;
            width: 30%;
        }
        &--space-top {
            @include media( '>=tablet' ) {
                padding-top: 5.6rem;
            }
        }
    }

    &__main-column {
        width: 56%;
        position: relative;

        @include media( '>=laptop' ) {
            width: 61%;
        }

        @include media( '>=desktop' ) {
            width: 67%;
        }

        @include media( '<tablet' ) {
            max-width: 100% !important;
            width: 100% !important;
            min-height: 30rem;
        }

        &--space-top {
            @include media( '>=laptop' ) {
                padding-top: 3rem;
            }
        }
    }

    &__reviews {
        @extend .#{$namespace}container__inner;

        @include media( '>=tablet' ) {
            background: $colorWhite;
            margin-top: 3rem;
            padding: 0 2rem;
        }

        @include media( '>=desktop' ) {
            padding: 2rem 0 0;
        }

        &:after {
            content: '';
            display: table;
            clear: both;
        }

        padding-bottom: 2rem;
    }

    &--contrast {
        background-color: $colorGallery;

        @include media( '>=laptop' ) {
            background-image: url( 'images/background.png' );
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    &--spacious {
        padding-top: 2rem;
        padding-bottom: 2rem;

        @include media( '>=laptop' ) {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }

        .catalog-category-view &,
        .catalogsearch-result-index & {

            @include media( '>=tablet' ) {
                padding-top: 0;
            }
        }
    }

    &--edge-to-edge {
        padding-left: 0;
        padding-right: 0;
        width: 100vw;
        max-width: 100vw;
        overflow-x: hidden;
    }

    &--breadcrumbs {
        background-image: url( 'images/breadcrumbs.png' );
        background-size: auto 4.8rem;
        background-position: right;
        background-repeat: no-repeat;
        display: none;
        @include media('>=tablet') {
            display: block;
        }
    }

    &--pdp {
        @include media( '>=laptop' ) {
            padding-top: 0;
        }
    }

    &--checkout-type {
        @include media( '<tablet' ) {
            padding-left: 0;
            padding-right: 0;
        }
        @include media( '>=tablet' ) {
            padding-bottom: 5rem;
        }
    }
}
