$namespace: 'cs-';

@import '../../../node_modules/creative-patterns/packages/components/select/src/select';

.#{$namespace}select {
    min-width: .5px !important;
}

.#{$namespace}html-select {
    $root: &;

    &__trigger {
        @extend .cs-input__select;
        min-width: 13rem;
        display: flex !important;
        align-items: center;
        font-weight: 400 !important;
        background: none !important;
        border-color: $colorAlto !important;
        cursor: default;

        &-text {
            font-size: 1.4rem;
            color: $colorMineShaft;
        }

        #{$root}--open & {
            border-top-color: $colorCeruleanBlue !important;
            border-left-color: $colorCeruleanBlue !important;
            border-right-color: $colorCeruleanBlue !important;
        }

        &:hover {
            border-color: $colorCeruleanBlue !important;

            #{$root}--open & {
                border-bottom-color: $colorAlto !important;
                box-shadow: none !important;
            }
        }
    }

    &__trigger-caret {
        top: 20%;
        height: 60%;
        border-left-color: lighten( $colorAlto, 8% );
    }

    &__trigger-caret-arrow {
        #{$root}--open & {
            transform: translate3d( 50%, -50%, 0 ) !important;

            &:before,
            &:after {
                background-color: $colorCeruleanBlue;
            }
        }
    }

    &__menu {
        border-color: $colorCeruleanBlue;
        background-color: #fff;
        font-size: 1.4rem;
        line-height: auto;
        padding: 0 0 .5rem;

        &-item {
            margin: 0;
            padding: 0;
        }

        &-link {
            height: 4rem;
            display: flex;
            align-items: center;
            padding: 0 1rem;
            color: $colorMineShaft;
            background-color: #fff;
            cursor: default;

            #{$root}__menu-item--selected & {
                color: $colorCeruleanBlue;
                background-color: #fff;
            }

            &:hover {
                color: #fff !important;
                background-color: $colorCeruleanBlue !important;
            }
        }
    }
}
