@import 'components/select/select.scss';

.cs-select {
    min-width: 0.5px !important;
}

.cs-html-select {
    $root: &;

    &__trigger {
        @extend .cs-input__select;
        min-width: 13rem;
        display: flex !important;
        align-items: center;
        font-weight: 400 !important;
        background: none !important;
        border-color: $color_alto !important;
        cursor: default;

        &-text {
            font-size: 1.4rem;
            color: $color_mineshaft;
            line-height: 2.7rem;
        }

        #{$root}--open & {
            border-top-color: $color_cerulean-blue !important;
            border-left-color: $color_cerulean-blue !important;
            border-right-color: $color_cerulean-blue !important;
        }

        &:hover {
            border-color: $color_cerulean-blue !important;

            #{$root}--open & {
                border-bottom-color: $color_alto !important;
                box-shadow: none !important;
            }
        }
    }

    &__trigger-caret {
        top: 20%;
        height: 60%;
        border-left-color: lighten($color_alto, 8%);
    }

    &__trigger-caret-arrow {
        #{$root}--open & {
            transform: translate3d(50%, -50%, 0) !important;

            &:before,
            &:after {
                background-color: $color_cerulean-blue;
            }
        }
    }

    &__menu {
        border-color: $color_cerulean-blue;
        background-color: #fff;
        font-size: 1.4rem;
        line-height: 1.125;
        padding: 0 0 0.5rem;

        &-item {
            margin: 0;
            padding: 0;

            &--header {
                #{$root}__menu-item-text {
                    @extend #{$root}__menu-link;
                    text-transform: uppercase;
                    font-size: 1.1rem;
                    font-weight: 700;
                }
            }
        }

        &-link {
            height: 4rem;
            display: flex;
            align-items: center;
            padding: 0 1rem;
            color: $color_mineshaft;
            background-color: #fff;
            cursor: default;

            #{$root}__menu-item--selected & {
                color: $color_cerulean-blue;
                background-color: #fff;
            }

            &:hover,
            &:focus,
            #{$root}__menu-item--focused & {
                color: #fff !important;
                background-color: $color_cerulean-blue !important;
                text-decoration: none !important;
            }
        }

        &-text {
            line-height: 4rem;
        }
    }

    &__text-image-wrapper {
        display: flex;
        align-items: center;
    }

    &__thumbnail {
        width: 2.5rem;
        height: 2.5rem;
        display: block;
        margin-right: 1rem;
    }

    &--autosuggest {
        padding: 0;

        #{$root}__menu {
            overflow-y: hidden;
            max-height: 220px;
        }

        #{$root}__menu-list {
            overflow-y: scroll;
            max-height: 220px;
        }
    }
}
