
.#{$namespace}title-block {
    @include title-block();
    font-size: 1rem;
    width: 100%;
    display: block;

    &__span {
        margin-right: 1rem;
    }

    &--bordered {
        border-bottom: 1px solid $colorAlto;
        padding-bottom: .8rem;
    }

    &--space-bottom {
        margin-bottom: 2rem;
    }
}
