.#{$ns}title-block {
    $root: &;
    font-size: 1rem;
    width: 100%;
    display: block;

    &__span {
        margin-right: 1rem;
        display: inline-block;

        .#{$ns}link {
            padding-left: 0.5rem;
            display: inline-block;
        }

        &--middle {
            vertical-align: middle;
        }
    }

    &--bordered {
        border-bottom: 1px solid $color_alto;
        padding-bottom: 0.8rem;
    }

    &--space-bottom {
        margin-bottom: 2rem;
    }
}
