.#{$namespace}title-block {
  $root: &;
  font-size: 1rem;
  width: 100%;
  display: block;

  &__span {
    margin-right: 1rem;
    display: inline-block;

    .#{$namespace}link {
      padding-left: .5rem;
      display: inline-block;
    }

    &--middle {
      vertical-align: middle;
    }
  }

  &--bordered {
    border-bottom: 1px solid $colorAlto;
    padding-bottom: .8rem;
  }

  &--space-bottom {
    margin-bottom: 2rem;
  }
}
