// =============================================================================
// Asynchronously loaded bundle entry point.
// =============================================================================

// =============================================================================
// Configs
// =============================================================================

@import 'configs/breakpoints';
@import 'configs/colors';
@import 'configs/base';

// =============================================================================
// Vendors
// =============================================================================

@import 'vendors/include-media';

// =============================================================================
// Utilities
// =============================================================================

@import 'utilities/font-family';
@import 'utilities/utility-classes';

// =============================================================================
// Layout - override M2 theme styles by their classes
// =============================================================================

@import 'mage/gallery/gallery';
@import 'customizations/page-title/page-title';
@import 'customizations/comparison/comparison';
@import 'Magento_Catalog/web/css/source/module/module';
@import 'Magento_Theme/web/css/source/layout';
@import 'Creativestyle_BrandManagementExtension/web/css/brands-index';
@import 'Aheadworks_Faq/web/css/faq-index';
@import 'Amasty_Promo/web/css/promo-products';

// =============================================================================
// Components
// =============================================================================

@import 'components/display-controller/display-controller';
@import 'components/container/container';
@import 'components/list/list';
@import 'components/information-stripe/information-stripe';
@import 'components/collapse/collapse';
@import 'components/title-block/title-block';
@import 'components/dropdown/dropdown';
@import 'components/collapsible-text/collapsible-text';
@import 'components/lazyload/lazyload';
@import 'components/product-info-brand/product-info-brand';
@import 'components/filter-horizontal/filter-horizontal';
@import 'components/switcher-language/switcher-language';
@import 'components/reviews-summary/reviews-summary';
@import 'components/captcha/captcha';

// =============================================================================
// Customizations
// =============================================================================

@import 'customizations/visually-hidden/visually-hidden';
@import 'customizations/modal/modal';
@import 'customizations/table/table';
@import 'customizations/button/button';
@import 'customizations/link/link';
@import 'customizations/t-text/t-text';
@import 'customizations/t-headline/t-headline';
@import 'customizations/list/list';
@import 'customizations/paragraph/paragraph';
@import 'customizations/container/container';
@import 'customizations/separator/separator';
@import 'customizations/select/select';
@import 'customizations/input/input';
@import 'customizations/logo/logo';
@import 'customizations/headline/headline';
@import 'customizations/messages/messages';
@import 'customizations/stack-nav/stack-nav';
@import 'customizations/side-nav/side-nav';
@import 'customizations/info-block/info-block';
@import 'customizations/form/form';
@import 'customizations/sticky-block/sticky-block';
@import 'customizations/pager/pager';
@import 'customizations/dropdown/dropdown';
@import 'customizations/collapse/collapse';
@import 'customizations/pagination/pagination';
@import 'customizations/information-stripe/information-stripe';
@import 'customizations/header-search/header-search';
@import 'customizations/header-user-area/header-user-area';
@import 'customizations/header/header';
@import 'customizations/offcanvas/offcanvas';
@import 'customizations/offcanvas-navigation/offcanvas-navigation';
@import 'customizations/navigation/navigation';
@import 'customizations/breadcrumbs/breadcrumbs';
@import 'customizations/footer-list/footer-list';
@import 'customizations/footer/footer';
@import 'customizations/login-page/login-page';
@import 'customizations/product-gallery/product-gallery';
@import 'customizations/swatches/swatches';
@import 'customizations/product-sale-block/product-sale-block';
@import 'customizations/special-attributes/special-attributes';
@import 'customizations/box-addtocart/box-addtocart';
@import 'customizations/qty-increment/qty-increment';
@import 'customizations/links-block-addto/links-block-addto';
@import 'customizations/product-description/product-description';
@import 'customizations/reviews/reviews';
@import 'customizations/products-promo/products-promo';
@import 'customizations/image-teaser/image-teaser';
@import 'customizations/category-links/category-links';
@import 'customizations/hero/hero';
@import 'customizations/grid-product/grid-product';
@import 'customizations/items-grid/items-grid';
@import 'customizations/items-grid-layout/items-grid-layout';
@import 'customizations/category-page/category-page';
@import 'customizations/aftersearch-nav/aftersearch-nav';
@import 'customizations/info-page/info-page';
@import 'customizations/dashboard/dashboard';
@import 'customizations/checkout/checkout';
@import 'customizations/progress-bar/progress-bar';
@import 'customizations/tabs/tabs';
@import 'customizations/grid-layout/grid-layout';
@import 'customizations/products-grid/products-grid';
@import 'customizations/cookie-message/cookie-message';
@import 'customizations/wishlist/wishlist';
@import 'customizations/password-strength-meter/password-strength-meter';
@import 'customizations/calendar/calendar';
@import 'customizations/page-bottom/page-bottom';
@import 'customizations/review/review';
@import 'customizations/attributes-list/attributes-list';
@import 'customizations/brand-carousel/brand-carousel';
@import 'customizations/price-box/price-box';
@import 'customizations/button-social/button-social';
@import 'customizations/star-rating/star-rating';
@import 'customizations/cms-block/cms-block';
@import 'customizations/title-block/title-block';
@import 'customizations/cart-item/cart-item';
@import 'customizations/cart-summary/cart-summary';
@import 'customizations/discount/discount';
@import 'customizations/minicart/minicart';
@import 'customizations/minicart-product/minicart-product';
@import 'customizations/payment/payment';
@import 'customizations/bundle-box/bundle-box';
@import 'customizations/styleguide/styleguide';
@import 'customizations/item-cloner/item-cloner';
