.#{$namespace}bundle-box {
    $root: &;

    margin: 2rem 0 3rem;

    &__title {
        @extend .#{$namespace}t-headline;
        @extend .#{$namespace}t-headline--size_2;
        @extend .#{$namespace}t-headline--look_bordered;
        width: 100%;
    }

    .product-add-form form {
        display: flex;
        flex-wrap: wrap;

        @include media( '>=tablet' ) {
            flex-wrap: nowrap;
        }
    }

    &__customization {
        flex-basis: 100%;

        @include media( '>=tablet' ) {
            flex-basis: 60%;
            padding-right: 4rem;
        }

        @include media( '>=laptop' ) {
            flex-basis: 70%;
        }
    }

    &__summary {
        flex-basis: 100%;

        @include media( '>=tablet' ) {
            flex-basis: 40%;
        }

        @include media( '>=laptop' ) {
            flex-basis: 30%;
        }
    }

    &__fieldset {
        border: none;
        padding: 0;
        display: inline-block;
        width: 100%;
    }

    &__options-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include media( '>=laptop' ) {
            flex-wrap: nowrap;
        }
    }

    &__option {
        padding: .8rem 0;

        &--small-space {
            padding: .4rem 0;
        }
    }

    &__product-name {
        font-size: 1.6rem;
        font-weight: 700;
        margin: 2rem 0 1rem;
        display: inline-block;

        &--small-space {
            margin: 1rem 0 .5rem;
        }

        .required & {
            &:after {
                content: '\002a';
                display: inline-block;
                color: $colorCrimson;
            }
        }
    }

    &__qty {
        padding-right: 2rem;
        @include media('<laptop') {
            flex-basis: 100%;
            .cs-box-addtocart__label {
                max-width: 6rem;
            }
        }
    }

    .product-add-form {
        display: block;
    }


    .product-name {
        font-size: 1.5rem;
        font-weight: 400;
        color: $colorMineShaft;
    }

    .price {
        font-weight: 700;
        color: $colorCeruleanBlue;
    }

    .price-notice {
        color: $colorMineShaft;
        font-size: 1.4rem;
    }

    &__required {
        font-size: 1.3rem;
        margin-top: 2rem;
        &:before {
            content: '\002a';
            display: inline-block;
            color: $colorCrimson;
            margin-right: .3rem;
        }
    }

    &__field {
        border-top: 1px solid $colorAlto;

        &:first-of-type {
            border-top: none;
        }
    }

    &__availability {
        float: right;
        transform: translateY( 4.5rem );
        text-align: right;
        font-size: 1.2rem;
        color: $colorDoveGray;
        margin: 0;
        order: 2;
        @include media( '>=tablet' ) {
            transform: translateY( 4rem );
        }

        &--unavailable {
            color: $colorCrimson;
        }
    }

    &__add {
        display: flex;
        flex-direction: column;

        .price-box {
            order: 1;
        }

        .price {
            font-size: 1.8rem;
            margin-top: 1rem;
        }

        .#{$namespace}box-addtocart {
            order: 3;
        }

        .#{$namespace}links-block-addto {
            order: 4;
        }
    }

}

.page-product-bundle {
    .cs-sticky-block--pdp {
        position: static; //Disable sticky box
    }
}