@import 'config/variables';
@import 'vendors/include-media';
@import 'components/button/mixin';
@import 'components/pseudoicon/mixin';
@import 'components/3step-checkout/variables';
@import 'components/3step-checkout/mixins/reset-button';
@import 'components/3step-checkout/mixins/reset-button-radius';
@import 'components/3step-checkout/mixins/higher-button';
@import 'utils/visually-hidden';

$tsc-checkout-payment-method-title_color: $tsc-checkout-step-title_color !default;

$tsc-checkout-billing-address-details_padding: 0 2rem 2rem 4rem !default;
$tsc-checkout-billing-address-details_margin-top: -1rem !default;

.tsc-checkout-index {
    .checkout-payment-method {
        .step-title {
            color: $tsc-checkout-step-title_color;
            font-size: $tsc-checkout-step-title_font-size;
            font-weight: $tsc-checkout-step-title_font-weight;
            line-height: $tsc-checkout-step-title_line-height;
        }

        .opc-payment-additional {
            margin-top: $tsc-checkout-spacing;

            .actions-toolbar {
                > .primary {
                    .next-step {
                        @include reset-button-radius();
                        @include higher-button();
                    }
                }
            }

            .payment-option-title {
                font-weight: $tsc-checkout-step-title_font-weight;
                color: $tsc-checkout-step-title_color;

                &.choice {
                    @include pseudoicon(
                        $type: 'arrow',
                        $arrow-default: 'down',
                        $arrow-active: 'up',
                        $width: 0.7rem,
                        $height: 1px,
                        $arrow-offset: 0.5rem,
                        $position-side-offset: 0
                    );
                }

                .action-toggle {
                    cursor: pointer;
                }
            }
        }

        .payment-next-step {
            // BUG TSC (z-index)
            .actions-toolbar {
                z-index: 15;

                > .secondary {
                    .action {
                        @include reset-button();
                    }
                }
            }
        }

        .step-content {
            .checkout-billing-address {
                @include media('>=tablet') {
                    margin-top: 0;
                    padding-top: 0;
                    border: 0;
                }

                .step-title {
                    text-align: center;

                    @include media('>=tablet') {
                        padding: $tsc-checkout-spacing;
                        text-align: left;
                        margin-bottom: 0;
                    }

                    small {
                        display: block;
                    }
                }

                .billing-address-same-as-shipping-block {
                    flex-wrap: nowrap;

                    @include media('>=tablet') {
                        border-right: 0;
                        border-top: 0;
                    }

                    &:before {
                        @include media($tsc-checkout-desktop-breakpoint) {
                            border-radius: 0;
                        }
                    }
                }

                .billing-address-details {
                    padding: $tsc-checkout-billing-address-details_padding;
                    margin-top: $tsc-checkout-billing-address-details_margin-top;

                    @include media('>=tablet') {
                        margin-bottom: 0;
                        border-bottom: 0;
                        border-right: 0;
                    }

                    button {
                        padding: $button_padding;
                        line-height: $button_line-height;
                    }
                }

                // BUG TSC (position/z-index)
                .actions-toolbar {
                    position: fixed;
                    z-index: 15;

                    @include media('>=tablet') {
                        position: static;
                    }

                    .action.action-cancel {
                        @include reset-button();

                        max-width: 50%;
                        width: 100%;
                    }

                    .action.action-cancel,
                    .action.action-update {
                        @include media('>=tablet') {
                            max-width: 48%;
                        }
                    }
                }

                > .fieldset {
                    &.show-address-form._show {
                        // BUG TSC (height/scroll/z-index)
                        &._show {
                            height: auto;
                            overflow-y: scroll;
                            z-index: 20 !important;
                            padding-bottom: $tsc-checkout-form-popup_padding-botom;

                            @include media($tsc-checkout-desktop-breakpoint) {
                                overflow: auto;
                                z-index: 10 !important;
                                padding: $tsc-checkout-spacing;
                            }
                        }
                    }

                    &.list-of-addresses {
                        @include media('>=tablet') {
                            padding-top: 0;
                        }

                        .actions-toolbar {
                            display: block;

                            @include media('>=tablet') {
                                padding: $tsc-checkout-spacing;

                                .action-cancel {
                                    @include button(
                                        $type:
                                            $tsc-checkout-secondary-button_type,
                                        $icon_pos:
                                            $tsc-checkout-secondary-button_icon-pos
                                    );

                                    span {
                                        @include button_span(
                                            $type:
                                                $tsc-checkout-secondary-button_type,
                                            $icon_pos:
                                                $tsc-checkout-secondary-button_icon-pos
                                        );
                                    }
                                }

                                .action-update {
                                    @include button(
                                        $type: $tsc-checkout-primary-button_type,
                                        $icon_pos:
                                            $tsc-checkout-primary-button_icon-pos
                                    );

                                    span {
                                        @include button_span(
                                            $type:
                                                $tsc-checkout-primary-button_type,
                                            $icon_pos:
                                                $tsc-checkout-primary-button_icon-pos
                                        );
                                    }
                                }
                            }
                        }
                    }

                    .field-select-billing {
                        @include visually-hidden();
                    }

                    .billing-address-form {
                        padding: $tsc-checkout-spacing;
                        margin-top: 1rem;

                        @include media('>=tablet') {
                            margin-top: 0;
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }

        .legend {
            h2 {
                @include media('>=tablet') {
                    color: $tsc-checkout-payment-method-title_color;
                }
            }
        }

        .payment-method {
            // Fix MageSuite radio input styling
            .radio {
                display: block !important; /* stylelint-disable-line declaration-no-important */
            }

            .payment-method-title {
                flex-wrap: nowrap;
                margin-bottom: 0;
                padding: $tsc-checkout-spacing;

                .label {
                    margin-bottom: 0;
                }
            }

            .payment-method-content {
                .show-address-form {
                    &._show {
                        // BUG TSC (display)
                        .actions-toolbar {
                            display: block;
                        }
                    }

                    .action-cancel {
                        @include button(
                            $type: $tsc-checkout-secondary-button_type,
                            $icon_pos: $tsc-checkout-secondary-button_icon-pos
                        );

                        span {
                            @include button_span(
                                $type: $tsc-checkout-secondary-button_type,
                                $icon_pos:
                                    $tsc-checkout-secondary-button_icon-pos
                            );
                        }
                    }

                    .action-update {
                        @include button(
                            $type: $tsc-checkout-primary-button_type,
                            $icon_pos: $tsc-checkout-primary-button_icon-pos
                        );

                        span {
                            @include button_span(
                                $type: $tsc-checkout-primary-button_type,
                                $icon_pos: $tsc-checkout-primary-button_icon-pos
                            );
                        }
                    }

                    .action-cancel,
                    .action-update {
                        @include reset-button-radius();
                        @include higher-button();
                    }
                }

                // We only show agreements block in Review step
                .checkout-agreements-block {
                    display: none;
                }
            }
        }
    }
}
