$namespace: 'cs-';

@import '../../../node_modules/creative-patterns/packages/components/items-grid-layout/src/items-grid-layout';

.#{$namespace}items-grid-layout {
    @include itemsGridLayout();
    position: relative;
    z-index: 4;
}
