.#{$namespace}tabs {
    $root: &;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .27);

    &__triggers {
        display: flex;
        overflow: hidden;
    }

    &__title {
        flex-basis: 50%;
        background: $colorGallery;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .27) inset;
        margin-top: -.2rem;
        margin-left: -.2rem;
        padding-top: .2rem;
        padding-left: .2rem;

        &--active {
            background: $colorWhite;
            box-shadow: none;
            margin: 0;
            padding: 0;

            #{$root}__title-link {
                cursor: default;
                color: $colorCeruleanBlue;
                &:visited {
                    color: $colorCeruleanBlue;
                }
            }
        }
    }

    &__title-link {
        color: $colorMineShaft;
        text-decoration: none;
        line-height: 4rem;
        height: 4rem;
        padding: .1rem 2rem;
        display: block;
        position: relative;
        z-index: 2;
        font-weight: 700;
        font-size: 1.2rem;
        @include media( '>=tablet' ) {
            font-size: 1.8rem;
            line-height: 5.5rem;
            height: 5.5rem;
        }

        &:visited {
            color: $colorMineShaft;
        }

        &:hover {
            text-decoration: none;
        }
    }

    &__content {
        padding: 2rem;
    }
}
