.#{$ns}tabs {
    $root: &;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);

    &--bar {
        margin: 0 -1.5rem;
        padding: 0 1.5rem;
        border-bottom: 1px solid $color_alto;
        box-shadow: inset 0 -5px 10px -10px $color_mineshaft;

        @include media('>=tablet') {
            margin: 0 -3rem;
            padding: 0 3rem;
            box-sizing: border-box;
            width: calc(100% + 3rem);
        }
    }

    &__triggers {
        display: flex;
        overflow: hidden;
    }

    &__title {
        flex-basis: 50%;
        background: $color_gallery;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27) inset;
        margin-top: -0.2rem;
        margin-left: -0.2rem;
        padding-top: 0.2rem;
        padding-left: 0.2rem;

        &--active {
            background: $color_white;
            box-shadow: none;
            margin: 0;
            padding: 0;

            #{$root}__title-link {
                cursor: default;
                color: $color_cerulean-blue;

                #{$root}--bar & {
                    color: $color_mineshaft;
                    box-shadow: none;

                    &:after {
                        position: absolute;
                        bottom: -1px;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: $color_white;
                        content: '';
                        z-index: 3;
                    }

                    &:visited,
                    &:hover {
                        color: $color_mineshaft;
                    }
                }

                &:visited {
                    color: $color_cerulean-blue;

                    #{$root}--bar & {
                        color: $color_mineshaft;
                    }
                }
            }
        }

        #{$root}--bar & {
            margin: 0;
            padding: 0;
            flex-basis: auto;
            text-align: center;
            border: 1px solid $color_alto;
            border-bottom: none;
            border-left-width: 0;
            box-shadow: none;
            transition: background-color 0.15s linear, color 0.15s linear;

            &:not(#{$root}__title--active):hover {
                background-color: lighten($color_gallery, 5%);
                color: $color_gray;
            }

            &:first-child {
                border-left-width: 1px;
                border-top-left-radius: 5px;
            }

            &:last-child {
                border-top-right-radius: 5px;
            }
        }
    }

    &__title-link {
        color: $color_gray;
        text-decoration: none;
        line-height: 4rem;
        height: 4rem;
        padding: 0.1rem 2rem;
        display: block;
        position: relative;
        z-index: 2;
        font-weight: 700;
        font-size: 1.2rem;

        @include media('>=tablet') {
            font-size: 1.8rem;
            line-height: 5.5rem;
            height: 5.5rem;
        }

        &:visited {
            color: $color_mineshaft;
        }

        &:hover {
            text-decoration: none;
        }

        #{$root}--bar & {
            position: relative;
            height: auto;
            line-height: 1.45;
            font-size: 1.2rem;
            padding: 0.6rem 0.5rem;
            font-weight: 300;
            box-shadow: inset 0 -5px 10px -10px $color_mineshaft;
            white-space: nowrap;

            @include media('>=phoneLg') {
                padding: 0.8rem 1.5rem;
            }

            &:hover,
            &:active,
            &:focus,
            &:visited {
                color: $color_mineshaft;
            }
        }
    }

    &__title-span:not(:empty) {
        #{$root}--bar & {
            &:before {
                content: '(';
            }

            &:after {
                content: ')';
            }
        }
    }

    &__content {
        padding: 2rem;
    }
}
