@import 'config/variables';
@import 'vendors/include-media';

@import 'components/badge/mixin';

$cart-item_border: 1px solid $color_border-500 !default;

$cart-item_icon-color: $color_primary-500 !default;
$cart-item_icon-color--hover: $color_primary-800 !default;

$cart-item_brand-font-size: 1.2rem !default;
$cart-item_brand-color: $color_text-400 !default;

$cart-item_name-color: $color_text-800 !default;
$cart-item_price-color: $color_text-800 !default;

$cart-item_options-in-row: false !default;
$cart-item_options-label-color: $color_text-800 !default;
$cart-item_options-value-color: $color_text-500 !default;

$cart-item_qty-input-width: 10rem !default;
$cart-item_qty-input-width--laptop-and-up: 11rem !default;

.#{$ns}cart-item {
    $root: &;

    border-top: $cart-item_border;
    position: relative;

    @include media('>=laptop') {
        padding-right: 11rem;
        padding-bottom: 0;
        border-top: none;
    }

    tbody:nth-child(3) & {
        border-top: none;
    }

    tbody:last-child & {
        border-bottom: $cart-item_border;

        @include media('>=laptop') {
            border-bottom: none;
        }
    }

    &--no-icons {
        @include media('>=laptop') {
            padding-right: 0;
        }
    }

    td {
        vertical-align: top;

        @include media('>=laptop') {
            vertical-align: middle;
        }
    }

    &__product {
        display: flex;
    }

    &__image {
        width: 13rem;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media('>=laptop') {
            width: 10rem;
        }
        @include media('>=desktop') {
            width: 15rem;
        }
    }

    &__brand {
        width: 100%;
        padding-top: 1.5rem;

        + #{$root}__name {
            padding-top: 0;
        }
    }

    &__brand-text {
        font-size: $cart-item_brand-font-size;
        color: $cart-item_brand-color;
    }

    &__name {
        width: 100%;
        padding: 1.5rem 0;
        font-size: 1.5rem;
        font-weight: 700;
        color: $cart-item_name-color;
    }

    &__name a {
        font-size: 1.5rem;
        font-weight: 700;
        text-decoration: none;
        color: $cart-item_name-color;

        &__name {
            width: 100%;
            padding: 1.5rem 0;

            a {
                font-size: 1.4rem;
            }
        }
    }

    &__badge {
        @include badge();

        // fix IE issue - text vertical alignment inside flexbox (non-column)
        &:after {
            content: '';
            min-height: inherit;
            font-size: 0;
        }

        &--free {
            @include badge_type('free');

            #{$root}__badge-text {
                @include badge_span('free');
            }
        }

        + #{$root}__name {
            padding-top: 0.5rem;
        }
    }

    &__badge-text {
        @include badge_span();
    }

    &__details {
        padding: 0 1rem 1rem 2rem;

        @include media('>=laptop') {
            padding: 0 1rem 0 2rem;
        }
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
    }

    &__options {
        @if ($cart-item_options-in-row) {
            @include media('>=laptop') {
                display: flex;
            }
        }
    }

    &__options-group {
        margin: 0 2rem 0 0;

        @include media('>=laptop') {
            margin: 0 2rem 1rem 0;
        }
    }

    &__options-label {
        width: 7rem;
        display: inline-block;
        color: $cart-item_options-label-color;
        font-size: 1.4rem;
        font-weight: 700;

        @include media('>=tablet') {
            width: auto;
            display: block;
        }
    }

    &__options-value {
        margin-bottom: 0;
        display: inline-block;
        color: $cart-item_options-value-color;
        font-size: 1.4rem;

        @include media('>=laptop') {
            width: auto;
            display: block;
        }
    }

    &__price {
        padding: 0.4rem 0 0.4rem 2rem !important;

        @include media('<laptop') {
            text-align: left;
        }

        @include media('>=laptop') {
            padding: 0.4rem 2rem 0.4rem 0 !important;
        }
    }

    &__subtotal {
        padding: 0.4rem 2rem 0.4rem 0 !important;

        @include media('>=laptop') {
            padding-right: 0;
        }

        @include media('<laptop') {
            text-align: right;
        }

        #{$root}--no-icons & {
            @include media('>=laptop') {
                text-align: right;
            }
        }
    }

    &__price,
    &__subtotal,
    &__qty {
        @include media('<laptop') {
            box-sizing: border-box;
            width: 31%;
            display: inline-block !important;
            height: 9rem;
            overflow: hidden;

            &:before {
                content: attr(data-th) !important;
                font-size: 1rem;
                text-transform: uppercase;
                padding: 0 0 2.1rem !important;
            }

            @include media('>=phoneLg') {
                &:before {
                    font-size: 1.1rem;
                }
            }
        }

        @include media('>=laptop') {
            padding-left: 0;
        }
    }

    &__qty {
        padding: 0.4rem 0 !important;

        @include media('>=laptop') {
            padding: 0.4rem 2rem 0.4rem 0 !important;
        }

        @include media('<laptop') {
            padding-right: 0;
            padding-left: 0;
            text-align: center;
            width: 36%;
            height: auto;
            min-height: 9rem;

            &:before {
                padding: 0 0 1rem !important; /* stylelint-disable-line declaration-no-important */
            }
        }
    }

    &__item {
        @include media('<laptop') {
            padding-top: 1rem;

            &:before {
                display: none !important; /* stylelint-disable-line declaration-no-important */
            }
        }
    }

    &__qty-input {
        margin: 0 auto;
        width: $cart-item_qty-input-width;

        @include media('>=laptop') {
            width: $cart-item_qty-input-width--laptop-and-up;
        }
    }

    &__subtotal-inner {
        @include media('>=laptop') {
            display: flex;
            align-items: center;
            height: 2.5rem;
        }
    }

    &__buttons {
        width: 100%;
        align-items: center;
        position: relative;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
    }

    &__link {
        display: flex;
        align-items: center;

        &--remove {
            margin-left: 0.3rem;
            margin-right: 0.3rem;
        }
    }

    &__link-wrapper {
        display: flex;
        margin: 0 0.5rem;

        &:hover {
            #{$root}__link-icon {
                path {
                    fill: $cart-item_icon-color--hover;
                }
            }
        }
    }

    &__link-icon {
        width: 2rem;
        height: 2rem;

        path {
            fill: $cart-item_icon-color;
        }
    }

    &__bottom {
        @include media('<laptop') {
            padding: 0 2rem 2rem !important; /* stylelint-disable-line declaration-no-important */
        }

        @include media('>=laptop') {
            padding-right: 0;
            padding-left: 0;
        }

        &:before {
            display: none !important; /* stylelint-disable-line declaration-no-important */
        }
    }
}
