@import 'config/variables';
@import 'config/breakpoints';
@import 'vendors/include-media';
@import 'components/typography/mixin';
@import 'components/pseudoicon/mixin';
@import 'utils/component-spacing';
@import 'utils/reset-list-style';

$accordion_group-margin: 0 0 3rem !default;

$accordion_group-headline-margin: 0 0 0.5rem !default;
$accordion_group-headline-font-size: $font-size_headline-3 !default;

$accordion_item-separator: 1px solid $color_border-500 !default;
$accordion_item-font-weight: inherit !default;
$accordion_item-padding: 1rem 0 !default;

$accordion_item-headline-icon-use-pseudoicon-instead-svg: true !default;
$accordion_item-headline-icon-position: left !default;
$accordion_item-headline-icon-spacing-from-text: 1rem !default;
$accordion_item-headline-icon-width: 1rem !default;
$accordion_item-headline-icon-height: 0.2rem !default;
$accordion_item-headline-icon-fill: $color_primary-500 !default;
$accordion_item-headline-icon-fill--hover: $accordion_item-headline-icon-fill !default;
$accordion_item--active-headline-icon-fill: $accordion_item-headline-icon-fill !default;
$accordion_item--active-headline-icon-rotate: true !default;
$accordion_item--active-content-display: block !default;
// Below navigation_icon settings are usable only if you use pseudoicon
$accordion_item-headline-icon-type: 'arrow' !default;
$accordion_item-headline-icon-default--opened: 'up' !default;
$accordion_item-headline-icon-default--closed: 'down' !default;

$accordion_item-headline-icon-position-side-offset: 1.5rem !default;
$accordion_item-headline-icon-arrow-left-offset: $accordion_item-headline-icon-position-side-offset +
    0.6rem !default;

.#{$ns}accordion {
    $root: &;

    @include component-spacing();

    &__groups,
    &__items {
        @include reset-list-style();
    }

    &__group {
        margin: $accordion_group-margin;
    }

    &__group-headline {
        @include headline($level: $accordion_group-headline-font-size);
        margin: $accordion_group-headline-margin;
    }

    &__item {
        margin: 0;
        border-bottom: $accordion_item-separator;
        padding: $accordion_item-padding;

        &:first-child {
            border-top: $accordion_item-separator;
        }

        &--active {
            #{$root}__item-content {
                display: $accordion_item--active-content-display;
            }
        }
    }

    &__item-headline {
        @if ($accordion_item-headline-icon-use-pseudoicon-instead-svg) {
            @include pseudoicon(
                $type: $accordion_item-headline-icon-type,
                $animated: $accordion_item--active-headline-icon-rotate,
                $color: $accordion_item-headline-icon-fill,
                $color-hover: $accordion_item-headline-icon-fill--hover,
                $color-expanded: $accordion_item--active-headline-icon-fill,
                $width: $accordion_item-headline-icon-width,
                $height: $accordion_item-headline-icon-height,
                $arrow-default: $accordion_item-headline-icon-default--closed,
                $arrow-active: $accordion_item-headline-icon-default--opened,
                $position-side-offset:
                    $accordion_item-headline-icon-position-side-offset,
                $arrow-offset: $accordion_item-headline-icon-arrow-left-offset
            );

            @if ($accordion_item-headline-icon-position == left) {
                &:before,
                &:after {
                    right: auto;
                }

                &:before {
                    left: $accordion_item-headline-icon-position-side-offset;
                }

                &:after {
                    left: $accordion_item-headline-icon-arrow-left-offset;
                }
            }
        }

        cursor: pointer;
    }

    &__item-headline-span {
        position: relative;
        display: inline-flex;
        align-items: center;
        font-weight: $accordion_item-font-weight;

        @include media('<tablet') {
            width: 100%;

            @if ($accordion_item-headline-icon-position == right) {
                justify-content: space-between;
            }
        }

        @if ($accordion_item-headline-icon-use-pseudoicon-instead-svg) {
            @if ($accordion_item-headline-icon-position == right) {
                padding-right: 3 *
                    $accordion_item-headline-icon-position-side-offset;
            } @else {
                padding-left: 3 *
                    $accordion_item-headline-icon-position-side-offset;
            }
        }
    }

    @if not($accordion_item-headline-icon-use-pseudoicon-instead-svg) {
        &__item-headline-icon {
            width: $accordion_item-headline-icon-width;
            height: $accordion_item-headline-icon-height;
            fill: $accordion_item-headline-icon-fill;
            flex-shrink: 0;
            transition: all $transition_default-time;

            @if ($accordion_item-headline-icon-position == right) {
                margin: 0 0 0 $accordion_item-headline-icon-spacing-from-text;

                @include media('<tablet') {
                    margin-left: auto;
                    padding-left: 1.5rem;
                    box-sizing: content-box;
                }
            } @else {
                margin: 0 $accordion_item-headline-icon-spacing-from-text 0 0;
                order: -1;
            }

            #{$root}__item--active & {
                fill: $accordion_item--active-headline-icon-fill;
                @if ($accordion_item--active-headline-icon-rotate) {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &__item-content {
        display: none;
        margin: 1rem 0 0;

        @if ($accordion_item-headline-icon-position == left) {
            @include media('>=tablet') {
                @if not(
                    $accordion_item-headline-icon-use-pseudoicon-instead-svg
                )
                {
                    padding-left: calc(
                        #{$accordion_item-headline-icon-spacing-from-text} +
                            #{$accordion_item-headline-icon-width}
                    );
                } @else {
                    padding-left: 3 *
                        $accordion_item-headline-icon-position-side-offset;
                }
            }
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    &--mode-optimal {
        max-width: 40em;
        margin-left: auto;
        margin-right: auto;
    }
}
