.#{$namespace}messages {
    $root: &;

    &--short {
        max-width: 40rem;
        margin-bottom: 0;
    }

    &--space-top {
        margin-top: 1.5rem;
    }

    &__message {
        margin-bottom: 1rem;
        padding: 1.2rem 1rem 1rem;
        border-radius: 0.3rem;
        background-repeat: no-repeat;
        background-position: 1rem center;
        padding-left: 4.3rem;

        &--success {
            background-color: $colorPeppermint;
            background-image: url('images/message-success.png');
        }

        &--info {
            background-color: $colorHalfColonialWhite;
            background-image: url('images/message-info.png');
        }

        &--notice {
            background-color: $colorHalfColonialWhite;
            background-image: url('images/message-warning.png');
        }

        &--error {
            background-color: $colorAzaela;
            background-image: url('images/message-error.png');
        }
    }

    &__text {
        color: $colorDoveGray;
        font-size: 1.4rem;
    }

    .checkout-cart-index & {
        @include media('<=phone-lg') {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }

}
