.cs-switcher-language {
    $root: &;
    white-space: nowrap;

    @include media('>=laptop') {
        position: relative;
        display: inline-flex;
        align-items: stretch;

        &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 1.3rem;
            content: '';
            border-left: 0.2rem solid $color_white;
            transform: skew(-18deg);
        }
    }

    &__trigger {
        @include media('<laptop') {
            position: relative;
            padding: 0.9rem;
            font-size: 1.4rem;
        }

        @include media('>=laptop') {
            height: 100%;
            display: inline-flex;
            align-items: center;
            margin-left: 2rem;
            font-size: 1.1rem;
            padding: 0 1.3rem;
        }

        &-icon {
            margin-left: 0.5rem;
            width: 0.8rem;
            height: 0.7rem;
            transition: transform 0.3s ease-out;

            @include media('<laptop') {
                position: absolute;
                top: calc(50% - 0.35rem);
                right: 0.8rem;
            }
        }

        &.active {
            background: $color_white;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-color: $color_cerulean-blue;
            border-style: solid;
            border-width: 1px 1px 0;
            position: relative;

            @include media('<laptop') {
                padding: 0.8rem;
            }

            @include media('>=laptop') {
                padding: 0 1.2rem;
            }

            &:before {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                content: '';
                border-bottom: 1px solid $color_alto;
                z-index: 1;
            }

            #{$root}__trigger-span {
                margin-top: -0.2rem;
            }

            #{$root}__trigger-icon {
                transform: rotate(180deg);
            }
        }
    }

    &__list {
        @extend .#{$ns}list;
        display: none;
        list-style: none;
        font-size: 1.1rem;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-color: $color_cerulean-blue;
        border-style: solid;
        border-width: 0 1px 1px;

        @include media('>=laptop') {
            position: absolute;
            top: 100%;
            left: 2rem;
            right: 0;
            background: $color_white;
        }

        &-item {
            margin: 0;
        }

        &-item-link {
            display: block;
            color: $color_mineshaft !important;

            &:hover {
                color: $color_cerulean-blue;
                text-decoration: none;
            }

            @include media('<laptop') {
                padding: 0.8rem;
                font-size: 1.4rem;
            }

            @include media('>=laptop') {
                padding: 0.6rem 1.3rem;
                font-size: 1.1rem;
            }
        }
    }
}
