<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<tr class="totals">
    <th class="cs-checkout__summary-table-label | mark" scope="row" colspan="2" data-bind="text: title"></th>
    <td class="cs-checkout__summary-table-value | amount">
        <span class="price" data-bind ="text: getValue(), attr:{'data-label': title}"></span>
        <!-- ko foreach: elems() -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </td>
</tr>
