<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isDisplayed() -->
<table class="cs-checkout__summary-table | table table-totals">
    <caption data-bind="i18n: 'Order Summary'" class="cs-checkout__summary-title cs-checkout__summary-title--summary"></caption>
    <tbody>
    <!-- ko foreach: elems() -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
    </tbody>
</table>
<div class="cs-checkout__place-order">
    <button class="cs-button cs-button--look_default cs-button--type_wide cs-button--type_long | cs-place-order-button" disabled>
        <span class="cs-button__span" data-bind="i18n: 'Place order'"></span>
        <span class="cs-button__icon cs-button__icon--bg"></span>
    </button>
</div>
<!-- /ko -->
