@import 'config/variables';
@import 'vendors/include-media';
@import 'components/button/mixin';
@import 'components/3step-checkout/variables';
@import 'utils/reset-list-style';

$tsc-checkout-mobile-header_height: 2.7rem !default;
$tsc-checkout-mobile-header_background: $color_background-500 !default;
$tsc-checkout-mobile-header_color: $color_text-800 !default;
$tsc-checkout-mobile-header_content-side-margins: 0.6rem !default;

$tsc-checkout-mobile-header_backlink-color: $tsc-checkout-mobile-header_color !default;
$tsc-checkout-mobile-header-backlink-font-size: 0.8rem !default;
$tsc-checkout-mobile-header_backlink-line-height: $tsc-checkout-mobile-header_height !default;

$tsc-checkout-mobile-header_title-color: $tsc-checkout-mobile-header_color !default;
$tsc-checkout-mobile-header_title-font-size: 1.1rem !default;
$tsc-checkout-mobile-header_title-font-weight: 700 !default;
$tsc-checkout-mobile-header_title-line-height: $tsc-checkout-mobile-header_height !default;
$tsc-checkout-mobile-header_title-letter-spacing: 0.1rem !default;

$tsc-checkout-mobile-header_summary-color: $tsc-checkout-mobile-header_color !default;
$tsc-checkout-mobile-header_summary-font-size: 1rem !default;
$tsc-checkout-mobile-header_summary-line-height: $tsc-checkout-mobile-header_height !default;
$tsc-checkout-mobile-header_summary-font-weight: 300 !default;

$tsc-checkout-header-border: $color_border-500 !default;
$tsc-checkout-header_form-button_type: $tsc-checkout-secondary-button_type !default;
$tsc-checkout-header_form-button_icon-pos: $tsc-checkout-secondary-button_icon-pos !default;
$tsc-checkout-header_auth-button_type: $tsc-checkout-primary-button_type !default;
$tsc-checkout-header_auth-button_icon-pos: $tsc-checkout-primary-button_icon-pos !default;

.mobile-pre-header {
    background: $tsc-checkout-mobile-header_background;

    .cart-back-link {
        padding-left: $tsc-checkout-mobile-header_content-side-margins;

        a {
            font-size: $tsc-checkout-mobile-header-backlink-font-size;
            line-height: $tsc-checkout-mobile-header_backlink-line-height;
            color: $tsc-checkout-mobile-header_backlink-color;
        }
    }

    .title-block {
        span {
            font-size: $tsc-checkout-mobile-header_title-font-size;
            line-height: $tsc-checkout-mobile-header_title-line-height;
            color: $tsc-checkout-mobile-header_title-color;
            font-weight: $tsc-checkout-mobile-header_title-font-weight;
            letter-spacing: $tsc-checkout-mobile-header_title-letter-spacing;
        }
    }

    .show-order-sidebar {
        padding-right: $tsc-checkout-mobile-header_content-side-margins;

        span {
            color: $tsc-checkout-mobile-header_summary-color;
            line-height: $tsc-checkout-mobile-header_summary-line-height;
            font-size: $tsc-checkout-mobile-header_summary-font-size;
            font-weight: $tsc-checkout-mobile-header_summary-font-weight;
        }
    }
}

.tsc-checkout-index {
    .page-wrapper {
        padding-top: $tsc-checkout-mobile-header_height;

        @include media('>=tablet') {
            padding-top: 0;
        }
    }

    .page-header {
        border-bottom: 1px solid $tsc-checkout-header-border;
    }

    .steps-header-mobile {
        @include media('>=tablet') {
            display: none;
        }

        ul {
            @include reset-list-style();
            display: flex;
            flex-wrap: nowrap;
            border-bottom: 1px solid $tsc-checkout-header-border;

            .tsc-action-form {
                @include button(
                    $type: $tsc-checkout-header_form-button_type,
                    $icon_pos: $tsc-checkout-header_form-button_icon-pos
                );

                span {
                    @include button_span(
                        $type: $tsc-checkout-header_form-button_type,
                        $icon_pos: $tsc-checkout-header_form-button_icon-pos
                    );
                }
            }

            .tsc-action-auth {
                @include button(
                    $type: $tsc-checkout-header_auth-button_type,
                    $icon_pos: $tsc-checkout-header_auth-button_icon-pos
                );

                span {
                    @include button_span(
                        $type: $tsc-checkout-header_auth-button_type,
                        $icon_pos: $tsc-checkout-header_auth-button_icon-pos
                    );
                }
            }

            li {
                flex-basis: 50%;

                .ie11 & {
                    width: 50%;
                }

                button {
                    width: 100%;
                    border-radius: 0 !important; /* stylelint-disable-line declaration-no-important */
                }
            }
        }
    }
}
