@import 'config/variables';
@import 'vendors/include-media';
@import 'utils/reset-list-style';
@import 'utils/visually-hidden';

$product-details-nav_font-size: 1.1rem !default;

$product-details-nav_item-separator-border: 1px solid $color_border-500 !default;

$product-details-nav_list-padding: 2em 0 !default;
$product-details-nav_link-gutter: 2em !default;
$product-details-nav_link-padding: 0.5em $product-details-nav_link-gutter !default;
$product-details-nav_link-color: $color_text-800 !default;

$product-details-nav_container-background: $color_background-200 !default;
$product-details-nav_container-box-shadow: 0px 0px 5px 0px
    rgba($color_background-700, 0.2) !default;

.#{$ns}product-details-nav {
    display: none;
    font-size: $product-details-nav_font-size;

    @include media('>=tablet') {
        display: block;
    }

    &__title {
        @include visually-hidden();
    }

    &__list {
        @include reset-list-style();

        overflow: hidden;
        display: flex;
        padding: $product-details-nav_list-padding;
    }

    &__item {
        margin: 0;
        padding: 0;
        font-size: 1em;

        &:first-child {
            margin-left: -$product-details-nav_link-gutter;
        }

        &:last-child {
            margin-right: -$product-details-nav_link-gutter;
        }

        & + & {
            border-left: $product-details-nav_item-separator-border;
        }
    }

    &__link {
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        padding: $product-details-nav_link-padding;

        &,
        &:visited {
            color: $product-details-nav_link-color;
        }
    }

    .counter {
        &:before {
            content: '(';
        }

        &:after {
            content: ')';
        }
    }
}

.cs-container {
    &--page-pdp-details-nav {
        background: $product-details-nav_container-background;
        box-shadow: $product-details-nav_container-box-shadow;
    }
}
