
<!-- ko foreach: getRegion('amazon-button-region') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->

<!-- ko ifnot: isCustomerLoggedIn() -->

<!-- ko foreach: getRegion('before-login-form') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<form class="cs-form | form-login" data-role="email-with-possible-login"
      data-bind="submit:login"
      method="post">
    <fieldset id="customer-email-fieldset" class="cs-form__fieldset" data-bind="blockLoader: isLoading">
        <div class="cs-form__field | cs-input | required">
            <label class="cs-input__label" for="customer-email">
                <span data-bind="i18n: 'Email Address'"></span>
            </label>
            <div class="cs-input__control _with-tooltip">
                <input class="cs-input__input"
                       type="email"
                       data-bind="
                            textInput: email,
                            hasFocus: emailFocused"
                       name="username"
                       data-validate="{required:true, 'validate-email':true}"
                       id="customer-email" />
                <svg class="cs-input__icon">
                    <use xlink:href="#validation-icon"></use>
                </svg>
                <!-- ko template: 'ui/form/element/helper/tooltip' --><!-- /ko -->
                <span class="cs-input__note" data-bind="fadeVisible: isPasswordVisible() == false"><!-- ko i18n: 'You can create an account after checkout.'--><!-- /ko --></span>
            </div>
        </div>

        <!--Hidden fields -->
        <fieldset class="cs-form__fieldset cs-form__fieldset--space-bottom | hidden-fields" data-bind="fadeVisible: isPasswordVisible">
            <div class="cs-form__field | cs-input">
                <label class="cs-input__label" for="customer-password">
                    <span data-bind="i18n: 'Password'"></span>
                </label>
                <div class="cs-input__control">
                    <input class="cs-input__input"
                           placeholder="optional"
                           type="password"
                           name="password"
                           id="customer-password"
                           data-validate="{required:true}" autocomplete="off"/>
                    <span class="cs-input__note" data-bind="i18n: 'You already have an account with us. Sign in or continue as guest.'"></span>
                </div>

            </div>
            <!-- ko foreach: getRegion('additional-login-form-fields') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
            <div class="cs-form__buttons">
                <input name="context" type="hidden" value="checkout" />
                <button type="submit" class="cs-button cs-button--type_long cs-button--type_wide-mobile cs-button--look_default" data-action="checkout-method-login">
                    <span data-bind="i18n: 'Login'"></span>
                </button>
                <div class="cs-form__reminder">
                    <a data-bind="attr: { href: forgotPasswordUrl }">
                        <span data-bind="i18n: 'Forgot Your Password?'"></span>
                    </a>
                </div>

            </div>
        </fieldset>
        <!--Hidden fields -->
    </fieldset>
</form>
<!-- /ko -->
